[2022-01-19 14:26] Jiandong-Guo commented on #240
if really want to combine 2 lists into 1 list, the solution will be:
1)combine  2 lists into 1 list, and just save id
2)When in saved Screen, always call API to get info in required language

[2022-01-19 14:37] #217 closed

[2022-01-19 14:39] zhuelle commented on #72
@goodyke would you please verify if this is an improvement? If yes, we can do it post MVP. Thanks!

[2022-01-19 15:33] ForumG-SC commented on #234
Fixed

[2022-01-19 17:45] Rajat-Sen commented on #242
Also, I did tested on the iPad and the screen was not loading at all. It was empty!

[2022-01-19 18:01] payeisa commented on #237
@Rajat-Sen Can we launch with the icon we have and change it after or must this change be done for MVP launch?

[2022-01-19 18:02] ForumG-SC commented on #171
Done

[2022-01-19 18:03] payeisa commented on #228
@Rajat-Sen The FAQ link (Settings/Support and feedback/Help and FAQ/Support/FAQ) will need to be updated to point to the web page we are finalizing.

[2022-01-19 18:09] Jiandong-Guo commented on #212
The icon is not feasible, others are ready to test in next release

[2022-01-19 18:12] ForumG-SC commented on #197
Updated.

[2022-01-19 18:16] Pharste commented on #99
Hi,

Here is the updated promo text for in English and French for **January 31 - Feb 8, 2022**:

EN: 2021 Census data on Canada's growing population and where they are living will be available February 9, 2022.
FR: Les données du Recensement de 2021 sur la population croissante du Canada et où elle habite seront disponibles le 9 février 2022.

On February 9, it should be updated to:
EN: 2021 Censu

[2022-01-19 18:25] ForumG-SC commented on #176
Done

[2022-01-19 18:33] ForumG-SC commented on #207
@Rajat-Sen Could you please email me the document as I have no access to GCDocs rn? Thanks

[2022-01-19 18:37] Pharste commented on #91
Hi,

I've validated that the subjects are all showing up now after I follow them. However, they are appearing in the order they were followed, and not in alphabetical order:
![Following 1](https://user-images.githubusercontent.com/89025880/150193120-29bb2ade-9245-48c3-b10d-978879101f4b.png)
![Following 2](https://user-images.githubusercontent.com/89025880/150193165-857885e8-5223-4910-a1b8-8aadd207

[2022-01-19 18:42] ForumG-SC commented on #99
New ticket is not required, I will update this in the store and attach the screenshot in the comments when done. Thanks

[2022-01-19 18:45] ForumG-SC commented on #99
![image](https://user-images.githubusercontent.com/84411852/150194311-cd26fb2c-d207-4e61-a92f-c2bdc3b15e79.png)
![image](https://user-images.githubusercontent.com/84411852/150194383-f11b7ebf-d2b0-43a2-bb87-f065be6d2b2d.png)

Updated.

[2022-01-19 18:48] Pharste commented on #202
Thank you Forum.

I also just noticed today that on iPad, the checkboxes aren't visible on the Manage subjects list:
![ipad subjects list](https://user-images.githubusercontent.com/89025880/150194713-b2edeb28-9b92-4acc-bd97-f613f4682af4.jpg)

[2022-01-19 19:16] Jiandong-Guo commented on #73
fixed, please test more in next release due to the complexity of the mobile navigation system,

[2022-01-19 19:17] Jiandong-Guo commented on #73
make sure not to affect others

[2022-01-19 19:33] Pharste commented on #99
Thank you @ForumG-SC
@payeisa FYI

[2022-01-19 19:35] Pharste commented on #190
@ForumG-SC it should be changed in the settings and the level 2 drop down menu

[2022-01-19 19:40] Pharste commented on #233
Hi, I can confirm it is not a link. The screenshots posted in the ticket are of how it's showing in app vs. How the article is in Alpha (with the bold text and two links underneath)

[2022-01-19 19:48] payeisa commented on #99
Thank you :)

[2022-01-19 20:17] ForumG-SC commented on #209
@Pharste Fixed

[2022-01-19 21:38] Rajat-Sen opened #243 "App crashing iOS"
Hi Jiandong, the app is crashing for some reason and sometimes I am getting a blank screen.

[2022-01-20 12:37] goodyke opened #244 "Bug when opening an article from the Saved segment of the For you screen"
**This is a bug that was found through Mobility testing by taking the following steps (it can be reproduced):**
1. Launch app
2. Go to For you screen and ensure there are no saved items there (unsave if required)
3. Select 'go to publications'
4. Open any article and click the heart icon to save it
5. Close app and then relaunch
6. Test opening the saved article and it will open an empty Publicati

[2022-01-20 12:46] goodyke commented on #242
@Rajat-Sen I tried testing removing the subject using both methods and both worked for me (including using the three dot menu to unfollow a subject from a specific subject screen).
I noticed a new version of the app was deployed yesterday... perhaps this is fixed?

[2022-01-20 13:19] goodyke commented on #223
@Rajat-Sen the only error they reported was when the device language and the app language was not the same... therefore the associated Jira ticket QLTY-136 has been set to Done with a comment explaining that the device language setting must be set to match the display app language setting when using a screen reader.

[2022-01-20 14:00] Jiandong-Guo commented on #243
Is that api or offline related ?

[2022-01-20 14:06] Jiandong-Guo commented on #240
fixed, please test in next release

[2022-01-20 14:47] zhuelle commented on #236
44 * 44 P

[2022-01-20 14:50] goodyke commented on #240
@Jiandong-Guo if you have updated the Saved items to only save the article id (and always refresh to display based on display language that the user has in the app) then this bug should be fixed.  In addition... this fix may result in GitHub #244

[2022-01-20 15:22] ForumG-SC opened #245 "Final Screenshots for the stores"
Please provide the final screenshots  whenever it is available so that I can upload it to the stores and make sure that apple and google are not rejecting the screenshots due to dimensions or any other issue.

[2022-01-20 15:24] ForumG-SC commented on #202
Could you specify what is the version of the app ? Thanks

[2022-01-20 15:54] zhuelle commented on #243
@Jiandong-Guo could this crash caused by some fixes we recently added as it was not seeing before?
@Rajat-Sen, if possible, please provide details/steps to get the crash so Jiandong can further investigate on it.

[2022-01-20 15:59] goodyke commented on #226
Kerry and Rajat to discuss possible solutions for MVP (keeping in mind the future enhancements desired for the sorting of search results).  This ticket will be updated once the solution for MVP is determined.

[2022-01-20 17:02] Pharste commented on #99
Hi @ForumG-SC
Since the promo text requires a new release to publish, and we cannot guarantee a release on February 9, please remove it. We will have to discuss this more and iron out the process/timeline for promo text with releases.

Thank you!

[2022-01-20 17:37] zhuelle commented on #244
@Rajat-Sen and @goodyke, please confirm if we should add "Before MVP" for this ticket ASAP. This way we can finalize all the bugs tickets so the two developers can complete them by this weekend. Thanks!

[2022-01-20 19:21] Rajat-Sen commented on #207
Terms of Use
StatsCAN app
The following Terms of Use arise from Statistics Canada's character as a public institution that must operate transparently and in conformity with the provisions of federal legislation, notably, but not exclusively, the Statistics Act, the Privacy Act and the Access to Information Act.
Statistics Canada (StatCan) maintains the StatsCAN app (“the app”) to provide Canadians

[2022-01-20 19:21] Rajat-Sen commented on #207
Terms of Use
StatsCAN app
The following Terms of Use arise from Statistics Canada's character as a public institution that must operate transparently and in conformity with the provisions of federal legislation, notably, but not exclusively, the Statistics Act, the Privacy Act and the Access to Information Act.
Statistics Canada (StatCan) maintains the StatsCAN app (“the app”) to provide Canadians

[2022-01-20 19:59] goodyke commented on #244
@zhuelle  This GitHub ticket is based on a Jira ticket created by the mobility testing team.  This bug _should not exist_ when we deliver MVP.  However, I do not believe there is any work to be done by the dev team right now because @Jiandong-Guo fixed GitHub #240 during this sprint and that should result in this bug disappearing as well.  Therefore, we will not add this ticket to this sprint but

[2022-01-20 20:18] Pharste commented on #234
validated

[2022-01-20 20:36] goodyke commented on #170
@Rajat-Sen should this bug be fixed with the next deployment (as a result of Jiandong completing #212 and #232)? If so then I can close this ticket as done and we can test after the next deployment.

[2022-01-20 20:38] Pharste commented on #232
Hi, I am seeing the updated text- thank you!
I noticed when switching to French and sharing, the 'check it out/Jetez-y un coup d'oeil' text doesn't change to French first:
![Share publication FR](https://user-images.githubusercontent.com/89025880/150418205-d01ea24e-9fec-456b-a57f-3078de7559ab.jpg)

[2022-01-20 20:47] Pharste commented on #218
Hi @Rajat-Sen  I've validated that the subjects list is displaying properly on the screen, but the apply button is still not showing in light mode on iPad.

[2022-01-20 21:03] Pharste commented on #216
Hi, This seems to be working now, but I noticed that the no notifications screen seems to be lagging and showing up while publications are loading:

https://user-images.githubusercontent.com/89025880/150421809-1c02d3a8-244e-4aa7-a6e6-cbf01cc6ea91.mov

[2022-01-20 21:15] goodyke commented on #226
The sorting functionality is not working as expected.  Sometimes the user has to click the sort they want to have applied multiple times in order for it to switch the sort and the arrow on the dropdown is confusing.
**Here are the changes that would fix this bug for MVP:**
1. The sorting dropdown should not display the title 'Sort'
2. The sorting dropdown should have a label of 'Sort' (EN) or 'Tri

[2022-01-20 21:15] Pharste opened #246 "Shadow on options menu in dark mode"
The shadow behind the options menu is very large/showing weird:
![Dark mode shadow options menu](https://user-images.githubusercontent.com/89025880/150423197-f0367308-9744-4d6d-a22f-a2857f56ab93.jpg)

[2022-01-20 21:16] goodyke commented on #226
@Rajat-Sen would you be able to review the comment that I added to this ticket.  If you think that it is clear then please assign this ticket to Jiandong.  Thanks!

[2022-01-20 21:33] Pharste commented on #209
Validated

[2022-01-20 21:33] #209 closed

[2022-01-20 21:35] Pharste commented on #197
validated

[2022-01-20 21:35] #197 closed

[2022-01-20 21:40] Pharste commented on #180
Hi,

I've validated that all of the issues have been resolved. However, now on the French saved screen, the publications button is cut off at the end:
![saved french](https://user-images.githubusercontent.com/89025880/150426510-e3df17a2-1e22-4bb7-b0fe-76709e1d2f9e.jpg)

[2022-01-20 21:41] Pharste commented on #176
validated

[2022-01-20 21:41] #176 closed

[2022-01-20 21:43] #175 closed

[2022-01-20 21:45] goodyke commented on #243
@Rajat-Sen this ticket remains in triage.  Once we can give Jiandong instructions on how to reproduce this bug then we can assign it to him and move it into this sprint.

[2022-01-20 21:53] Rajat-Sen commented on #170
@goodyke Please move this ticket, to done as they were linked.

[2022-01-20 22:46] Jiandong-Guo commented on #226
1)if add a label for sort, better add a label for filter too , to make them nicely align together
2)if change the button label to "Newest to oldest" or "Oldest to newest", the label will be cut-off for small size screen especially in French,  if want to show the whole label, have to make that button a rectangle.  is it looking nice ?
is it still need to show the triangle icon?
3)if the triangle ic

[2022-01-20 23:52] goodyke commented on #91
@Pharste - I will close this ticket as done and create a new one for ordering the display of subjects alphabetically on the Following tab.  I will link that ticket here once created.

[2022-01-21 00:23] goodyke commented on #205
@payeisa - the changes to the api should have fixed this bug.  You should be able to verify if it is fixed or not in the app.  If it is working as expected then please close this ticket.

[2022-01-21 00:37] goodyke commented on #92
This issue was fixed with #240 - so this issue can be closed once validated.

[2022-01-21 13:54] goodyke commented on #226
Hi @Jiandong-Guo
your concerns and suggestions do need to be discussed with the clients.  Please do not work on this ticket for now (until we confirm what _if anything_ will be done during this sprint).
Thanks! Kerry

[2022-01-21 14:19] Jiandong-Guo commented on #91
I think the alphabetical order is for category(subject), how about the articles inside each category ?

[2022-01-21 15:05] goodyke commented on #91
Okay we will keep this issue in this ticket (alphabetical ordering of subjects in Following) and not create a new one.
@Jiandong-Guo please ensure the subjects on the Following screen are displayed in alphabetical order and that the actual articles continue to be shown in most recent order.

[2022-01-21 15:12] goodyke commented on #181
@Jiandong-Guo we will get back to you by the end of the day with the client decision about the dark mode tickets.

[2022-01-21 15:12] goodyke commented on #210
@Jiandong-Guo we will get back to you by the end of the day with the client decision about the dark mode tickets.

[2022-01-21 15:15] goodyke commented on #232
@Pharste the original concern has been fixed and the display of the languages in order will be done in a future development.

[2022-01-21 15:28] goodyke commented on #226
We discussed this during our review and the solution that was communicated in my comment should be simple (and fulfill the client's priorities).  @Rajat-Sen will add more details to help you understand.

[2022-01-21 15:50] Rajat-Sen commented on #226
@Jiandong-Guo, I like your solution but, I would like to add a minor change. Nothing will change in functionality. Give me 15 minutes, you will have the exact design.

[2022-01-21 16:04] Jiandong-Guo commented on #226
If fix it following my solution, no need drawing new UX, but fix it following Kerry's solution, better have a draft ux. Thanks

[2022-01-21 16:04] Rajat-Sen commented on #226
@Jiandong-Guo, Please find the updated link attached to this message.

When the user searches for the first time, it is searching in the order newest to oldest and we are not going to change anything, we will let it be as it is. I just added a checkmark next to it to show the option was already implemented.

Thus, the only other option the user is left with is oldest to newest and when the user se

[2022-01-21 17:49] zhuelle commented on #210
@Jiandong-Guo please do not work on this ticket this weekend.
@payeisa,  Rajat, Kerry and I discussed this ticket. This is a complex issue and requires time to fix it properly. In the nutshell, the app is not synchronizing the mode change with the device system setting in the run time. Given the time constraints, we recommend to leave this issue outside of MVP release but put it as a priority bug

[2022-01-21 17:51] zhuelle commented on #181
@Jiandong-Guo please do not work on this ticket this weekend.
@payeisa, Rajat, Kerry and I discussed this ticket. This is a complex issue and requires time to fix it properly. In the nutshell, the app is not synchronizing the mode change with the device system setting in the run time. Given the time constraints, we recommend to leave this issue outside of MVP release but put it as a priority bug f

[2022-01-21 17:55] Rajat-Sen commented on #243
I think the app is crashing due to recent changes made on the settings screen.

If you go to settings scree, select any sub item and then start going back and forth between the tabs (Publications, Search, For you and Settings); The app will crash.

I have tested this way on multiple devices and it crashes every single time I do this.

Thanks!

[2022-01-21 18:24] goodyke commented on #106
I verified the latest example given by @payeisa in this ticket (to ensure the problem was not with the content and not with the api).  It is not... this is something that needs to be fixed by the developers.
If you check the content you will see that FT-UCASS has been set up as an acronym (I will append a screenshot for this).  Then I checked the api and it is returning FT-UCASS as an acronym (not

[2022-01-21 18:26] goodyke commented on #106
@Jiandong-Guo below is the returned JSON for article 412 in alpha (I have highlighted the returned acronym in **bold**)

// 20220121132010
// https://sdr-daily-alpha.cloud.statcan.ca/o1/en/api/plus/article/412

{
  "id": "412",
  "title": "Data availability: Number and Salaries of Full-time Teaching Staff at Canadian Universities, 2020/2021",
  "url": "https://sdr-daily-alpha.cloud.statcan.ca/o1/e

[2022-01-21 18:27] goodyke commented on #106
Here is a screenshot of how it appears on the website.
![image](https://user-images.githubusercontent.com/88500621/150580728-3979d8be-25c9-4037-a607-75f317d91bf2.png)

[2022-01-21 18:29] payeisa commented on #205
The following articles were booked this morning, for publishing at 9:45, but they are not showing up on the Publications screen:
![image](https://user-images.githubusercontent.com/89025704/150580880-6517f9fa-8455-4b7c-9df8-6d12d0b765a6.png)

[2022-01-21 19:00] zhuelle commented on #210
@Jiandong-Guo , just let you know that we discussed this ticket with the clients and we found a solution for this one. @Rajat-Sen is going to select a color for the search bar so that it works for both Light and Dark mode. Once Rajat has the color, he will assign this ticket back to you so you can complete it during this weekend. Thanks!

[2022-01-21 19:10] goodyke commented on #210
Sorry @Rajat-Sen I updated this ticket by mistake (I have fixed it now and updated #210 as discussed)

[2022-01-21 19:32] goodyke commented on #233
Hi @Jiandong-Guo,
this ticket is similar to #106 in that we are displaying BOLD text as if it is a hyperlink because we add an underline in the display on the mobile app (in #106 we are displaying ACRONYM content as if it is hyperlinked as it is underlined).
I verified the content and the api and there is no concerns with either.
Here is the api call that I made to Alpha for verification (and high

[2022-01-21 19:35] goodyke commented on #233
Jiandong if you look at this example that you gave then you can also see that 'For further reading' is just in bold (it is not set as a hyperlink).  If you have any concerns please let me know.

[2022-01-21 19:57] Jiandong-Guo commented on #243
I didn't find this problem on device and simulator.

Also this ticket was reported 2 days ago, but the setting change was happened yesterday

[2022-01-21 19:57] goodyke commented on #205
I have verified that there are many more articles that should be showing on the Publications screen but they are missing.  @Jiandong-Guo I tried calling the api for the latest highlights and the first five returned returned are not showing in the app.  Here is a copy of the call that I made showing that there are 5 more articles returned that are not being shown:
// 20220121145219
// https://sdr-d

[2022-01-21 20:00] goodyke commented on #205
@Jiandong-Guo based on the information in the comment above can you please look into this over the weekend? Could it be a problem with how you are calling the api? I did not add a date parameter when I called it... feel free to reach out to me if you still think it is an api problem.

[2022-01-21 20:06] Jiandong-Guo commented on #243
Do you remember which subject you select ?
I didn't find it on ipad

[2022-01-21 20:17] goodyke commented on #205
@Jiandong-Guo I tried calling the api using the "published_after" parameter and I am still getting the additional 5 articles on the first page.  And the "published_after" is working as it is not showing any articles that were published before November 15, 2021.
to see the first 5 call: https://sdr-daily-alpha.cloud.statcan.ca/en/api/plus/article?published_after=2021-11-15
to see there are none bef

[2022-01-21 20:34] goodyke opened #247 "Order for writing the English and French text when sharing is not matching the language setting"
@Pharste mentioned in #232 that the order of the text shown in the email is not aligning with the language setting that the user has in the app.  I looked at the requirements for Feature 3.3 Share article and it was not specified that the order of the automated text must match the language setting in the app.  If we want to have it match then we need to update the requirements.  This ticket has be

[2022-01-21 20:36] goodyke commented on #232
Hi @Pharste.  I am closing this ticket so that you can verify that the implementation reflects the original ask for this ticket (except we can not put an icon in the message).  The only concern remaining is the leading language and that was not in the requirements.. but a new GitHub ticket #247 has been created and tagged to 'Post MVP' so that we can look at it after MVP.

[2022-01-21 20:40] Jiandong-Guo commented on #226
![image](https://user-images.githubusercontent.com/58485300/150597238-a4e3660d-7dce-45ba-8253-0552c51e12e0.png)

[2022-01-21 20:51] goodyke commented on #243
@Jiandong-Guo I will send you an email now with a video that Rajat prepared.  I also have to reopen this issue as I closed it by mistake when I was trying to append the video (it is too big for GitHub).

[2022-01-21 21:04] Jiandong-Guo commented on #243
I followed the video steps and didn't find any problem

[2022-01-21 21:13] goodyke commented on #226
Fantastic fix Rajat and Jiandong! 😊

[2022-01-21 21:21] Jiandong-Guo commented on #233
You see the content the api returns:
<p><a><strong>For future reading</strong></a></p>
<p>:  tells it is a seperated paragraph
<a>: tells it is a hyperlink even if the href is not set(empty)
<strong>: tells it is a bold style
all those tags will take effection to the inner-most content: For future reading, actually it is a text tag in html

[2022-01-21 21:29] Jiandong-Guo commented on #233
sorry, the github itself is a html, it automatically format the string even in Kerry's paste.
I have to use image:
![image](https://user-images.githubusercontent.com/58485300/150602031-52345741-5b5b-4d95-b272-42e5203d3330.png)
The angle bracket p tells it is a seperated paragraph
the angle bracket a tells it is a hyperlink
the angle bracket strong tells it is bold
 all those brackets are tags whic

[2022-01-21 21:37] goodyke commented on #233
@Jiandong-Guo if the angle bracket 'a' signifies that it is a hyperlink then why is GitHub formatting it correctly? GitHub shows it automatically as bold but no underline when I pasted the results in this ticket above (but the results that I saw showed the same tagging that you have above) Can you change your code to only treat angle bracket 'a Href =' as a hyperlink?

[2022-01-21 21:47] goodyke commented on #243
@Jiandong-Guo I tested with my iPhone and app version 27 and I can replicate the bug too... I can reproduce this bug anytime by switching between the bottom menu items quickly (and more than once).  Do you have an iOS phone? Can you try that?

[2022-01-21 21:55] Jiandong-Guo commented on #106
I still use Kerry's sample  https://sdr-daily-alpha.cloud.statcan.ca/o1/en/api/plus/article/412
This api call will return
![image](https://user-images.githubusercontent.com/58485300/150604690-74ae8d35-86ab-4eca-b73d-febe27c3f2ad.png)

put focus on last line:
 \u003Ca\u003EFT-UCASS\u003C\/a\u003E
the \u003C   ="<"
following by a
next is \u003E   =">"
following by FT-UCASS
next is \u003C="<"
followi

[2022-01-21 21:55] zhuelle commented on #243
@Jiandong-Guo I tested on my Android phone with app version 27 and I can NOT reproduce the crash. This could be only an iOS issue. I know you has an Android phone not an iPhone. But you can test it on your iPad.  Thanks!

[2022-01-21 22:06] goodyke commented on #106
when I run the api the code that I see is:
<abbr title=\"Full-time University and College Academic Staff System\"><a>FT-UCASS</a></abbr>
This should signify an abbreviation... only the "<a href = " should signify a hyperlink.

[2022-01-21 22:07] goodyke commented on #106
<abbr title="Full-time University and College Academic Staff System">FT-UCASS

This is a copy of the code above with GitHub formatting the HTML... it is not underlined.

[2022-01-21 22:12] goodyke commented on #106
Here is the plain text with real hyperlinks:
"<section class=\"panel panel-info\"><header class=\"panel-heading\"><h2 class=\"panel-title\"> Contact information </h2></header>\n<div class=\"panel-body\">\n          \n            <div class=\"field field--name-field-highlight field--type-text-long field--label-hidden field--item\"><p>For more information, or to enquire about the concepts, methods o

[2022-01-21 22:13] goodyke commented on #106
And here is how GitHub formats the above text:
"<section class="panel panel-info"><header class="panel-heading"><h2 class="panel-title"> Contact information \n<div class="panel-body">\n \n <div class="field field--name-field-highlight field--type-text-long field--label-hidden field--item">

For more information, or to enquire about the concepts, methods or data quality of this release, contact us

[2022-01-22 13:59] Jiandong-Guo commented on #243
I don't have iphone, but I have ipad, and didn't find that problem.
Can you remember step by step you replicate that problem. Thanks

[2022-01-22 14:00] Jiandong-Guo commented on #243
on my ipad, it show 1.0.27,  what version number is on you iphone?

[2022-01-22 14:26] Rajat-Sen commented on #243
You don't need to have an iPhone or iPad; you can test it on your simulator.

Yes, it is occurring on version 27. I have tested on my iPad and iPhone. On both the devices, I can see it crashing. The step by step process  is already mentioned on my comment above.

[2022-01-22 14:27] Jiandong-Guo commented on #236
Fixed, test in next release

[2022-01-22 14:33] ForumG-SC commented on #190
Done

[2022-01-22 14:35] ForumG-SC commented on #210
@Rajat-Sen  No need for the new color for search bar as I have fixed the issue.

@Pharste Assigning it back to you for validation.

[2022-01-22 14:36] ForumG-SC commented on #238
Done

[2022-01-22 14:39] ForumG-SC commented on #246
Fixed

[2022-01-22 14:41] ForumG-SC commented on #103
@Pharste Can we close this ticket ?

[2022-01-22 14:41] ForumG-SC commented on #102
@Pharste Can we close this ticket??

[2022-01-22 14:41] ForumG-SC commented on #101
@payeisa Can we close this ticket?

[2022-01-22 14:43] ForumG-SC commented on #99
@Pharste We can update the promotion text without doing new release.

[2022-01-22 14:45] ForumG-SC commented on #98
@Pharste New email has been added to the stores, can we close this ticket?

[2022-01-22 14:58] ForumG-SC opened #248 "Blocking to create new release"
App Store is complaining about the support for the iPad as they have changed their policies and google store is not letting to create new release as it has identified some location permissions in our app , this is major blocker for the production.
![IMG-0312](https://user-images.githubusercontent.com/84411852/150643573-f5fe6542-ecf8-4a1e-8b58-5967d72fec88.jpg)
![ATT69449 1](https://user-images.git

[2022-01-22 14:59] ForumG-SC commented on #248
Fix for this issue is in progress.

[2022-01-22 16:59] ForumG-SC commented on #207
Done

[2022-01-22 17:33] Rajat-Sen commented on #227
![image](https://user-images.githubusercontent.com/38566088/150649298-267087a5-7cb0-4d8b-a148-57206ddf5046.png)

[2022-01-22 18:24] ForumG-SC commented on #180
Fixed

[2022-01-22 18:26] ForumG-SC commented on #158
Fixed

[2022-01-22 18:51] Jiandong-Guo commented on #233
I can not change the tag name, because that involves parsing the content string, for example, there could be many unknown tags inside the "a" tag, What I can do is manually give a style let it not showing underline, but not able to change the tag name or remove tag name which is inside the "a" tag(at least  not able to do it for now, it will take along time to write a parsing function, maybe later

[2022-01-22 18:53] Jiandong-Guo commented on #233
Please test in next release

[2022-01-22 19:48] Jiandong-Guo commented on #106
I just follow the same pattern of #233, add a style to it(Github is a website, has its own header and global style, for us, we only have html content, it may not working for all the situation due to you don't know how many level parent tags this "a" tag locates).
the result:  see the abbreviation

![image](https://user-images.githubusercontent.com/58485300/150653332-1e2766a5-d13e-4e22-8d15-83fa5c9

[2022-01-22 20:09] Jiandong-Guo commented on #91
Please test it in next release

[2022-01-22 20:31] Jiandong-Guo commented on #205
@goodyke, in the app we are calling api using
https://sdr-daily-alpha.cloud.statcan.ca/**o1**/en/api/plus/article?published_after=2021-11-09&page=0
and I tested in browser, the latest artile Id is 461,

The api you are calling is without O1, and I tested the latest artile Id is 468.
but we are asked to using the url with O1 in the app and nobody asked us to change it. Please confirm with Dave.

[2022-01-23 01:25] ForumG-SC commented on #248
Fixed

[2022-01-23 01:25] #248 closed

[2022-01-23 13:35] goodyke commented on #205
Hi @Jiandong-Guo

you are correct in that I should have been using the 'o1' in the call.  So I did more testing with the 'o1' in the parameter.

Here are the tests that I did and the results for each:
1. /o1/en/api/plus/article?published_after=2021-11-15&page=0 LATEST article id is 268 CORRECT
2. /o1/en/api/plus/article?published_after=2021-11-09&page=0 LATEST article id is 261 **INCORRECT**
3. /o

[2022-01-23 13:47] goodyke commented on #233
@Jiandong-Guo I agree with the solution that you have implemented and I will test with the next release.

In addition, I will speak with Dave on Monday to see if he can remove the 'a' tag in the results of the api (so that only hyperlinks will have an 'a' tag and they will have the actual "a ref" html tags with a target url).

[2022-01-23 13:51] goodyke commented on #106
@Jiandong-Guo I think the solution you implemented for this is the best that can be done for now (remove the underline which signifies a hyperlink).  However, I think we are going to need to learn how to parse an acronym tag of <abbr title> so that the full text can be shown (when a user clicks the abbreviation).

I will talk to Dave about this on Monday to see if my understanding is correct or no

[2022-01-23 14:54] Jiandong-Guo commented on #106
In web, when user move the mouse over(not click, just over) an abbreviation,  it will show the abbr tag's title attribute text. it's done by javascript, and this piece of javascript code may stay in header or dynamically generated during run time.
In mobile, there is no mouse over and no finger over at all.  how to trigger it to show something even if api returns the abbr tag's title attribute tex

[2022-01-23 16:13] Jiandong-Guo commented on #243
Cannot find the crash, just doubt maybe you switch the tab too quickly.
added some code to slow-down the switching tab, please test if there is a improvement

[2022-01-23 18:50] Rajat-Sen commented on #231
Validated!

[2022-01-23 18:50] #231 closed

[2022-01-23 18:51] Rajat-Sen commented on #241
Validated!

[2022-01-23 18:51] #241 closed

[2022-01-23 18:58] Rajat-Sen commented on #156
Validated!

[2022-01-23 18:58] #156 closed

[2022-01-23 19:07] Rajat-Sen commented on #189
For the time being, I am closing this ticket as it is better than before but, not perfect.

[2022-01-23 19:07] #189 closed

[2022-01-23 19:10] Rajat-Sen commented on #216
I am closing this ticket for now, as it is working. I tested it by closing the app and going back and forth between different screens.

[2022-01-23 19:10] #216 closed

[2022-01-23 19:14] Rajat-Sen commented on #218
@ForumG-SC, This is same as search screen input field bug, the colour needs to be changed when the system OS is in Dark mode and the app is switched to light mode.

[2022-01-23 19:27] ForumG-SC commented on #202
Fixed

[2022-01-23 19:44] Rajat-Sen commented on #245
@Pharste, I had a chance to look at the size of the screenshots and they are not matching with the required sizes for the stores.

Please mention it to Comms to make sure they are using the right sizes to upload it to store.

[2022-01-23 20:16] ForumG-SC commented on #218
Fixed

[2022-01-23 22:12] payeisa commented on #207
@Pharste Can you please validate English and French Terms of use?

[2022-01-23 22:13] Rajat-Sen commented on #242
It is working but, not smoothly! Closing this ticket for now.

[2022-01-23 22:13] #242 closed

[2022-01-23 22:14] payeisa commented on #27
Validated.

[2022-01-23 22:14] #27 closed

[2022-01-23 22:17] Rajat-Sen commented on #240
Validated!

It is working but, takes some time to load the whole screen. Closing for now!

[2022-01-23 22:17] #240 closed

[2022-01-23 22:24] Rajat-Sen commented on #236
Validated!

[2022-01-23 22:24] #236 closed

[2022-01-23 22:24] Rajat-Sen commented on #226
Validated!

[2022-01-23 22:24] #226 closed

[2022-01-23 22:27] payeisa opened #249 "For you: Display of text size when switching language"
If I look at the "For you" screen in French, the size of the text is smaller than the one in English.

French:
![image](https://user-images.githubusercontent.com/89025704/150700273-4ed3c186-6340-4015-96f0-e6503539fab1.png)

English:
![image](https://user-images.githubusercontent.com/89025704/150700337-b091326d-54fa-4382-99ca-a8c916eb5888.png)

**As of Feb 11, 2022, this is no longer an issue:** Th

[2022-01-23 22:30] payeisa commented on #73
Validated.

[2022-01-23 22:30] #73 closed

[2022-01-23 22:32] payeisa commented on #92
Validated.

[2022-01-23 22:32] #92 closed

[2022-01-23 22:34] Rajat-Sen opened #250 "Colour in dark mode"
If the Colour theme is set to auto and the app launches in Dark mode, on the For you screen; the colours are not matching for the segmented options (Following and Saved). Please match it with Dark mode.

[2022-01-23 22:45] payeisa commented on #158
Search screen (English) - largest text setting
If searching for a string of text that expands on two lines, and does not return any results, there is no space between the "Recent searches" entry and the "No results found" text.

![image](https://user-images.githubusercontent.com/89025704/150700860-700e6cec-1cfc-40e8-9ac2-a0ec103ac7fc.png)

Publications level 2 screen, in French, options menu - lar

[2022-01-23 23:45] payeisa commented on #171
Settings - Help and FAQ
If I select the " Send email" option, the email address that gets automatically populated in the "To" field of the email should be "infostats@statcan.gc.ca"

[2022-01-24 00:01] payeisa commented on #195
Validated my issue. Assigning to @ Rajat to validate his before closing this ticket.

[2022-01-24 00:14] payeisa commented on #201
Validated, however, for some reason, we are always brought back to Jan 12 if we navigate away from the Publications screen. For example, if I scroll down to Dec 3, select an article, go to level 2, save the article and then go back to the Publications screen, I should be going back to where I was, but instead I'm brought back to Jan 12, and then have to scroll all the way back down again.

Same th

[2022-01-24 00:38] payeisa commented on #212
If sharing by email:
In the subject, in French, please remove the space between "StatsCAN" and "?". (appli StatsCAN?)
In the subject, in English, the text should not break (should be continuous, just like it is in French)
In the body, in English, please add abspace between "not" and "you". (If not, you should download it."
In the body, in French, please replace "le" with "la". (Sinon, vous devriez

[2022-01-24 03:07] Rajat-Sen commented on #195
Validated.

[2022-01-24 03:07] #195 closed

[2022-01-24 03:13] Rajat-Sen opened #251 "Navigation problem For you Screen"
When the user goes to For you Screen after following a subject, click on See more and then select an article inside the screen.

After clicking on Go back button, it should take the user to See more screen where I should see all the articles instead, it takes to the For you screen.

[2022-01-24 11:18] payeisa commented on #221
The Contact Us option now works on Android.

For the "Share this publication" function, if sharing by email:
The subject should be "Interesting publication from StatCan/Publication intéressante de StatCan" (***since in this case, we should be referring to Statistics Canada, and not the app)
The links to Apple and Google are missing from the email
The heading "StatsCAN" should be changed to "StatsC

[2022-01-24 11:26] payeisa commented on #247
The leading language is working on Android. For example, if I set my app language to French, and share a level 2 article, then the leading language of the bilingual email will be French.
@Pharste FYI

[2022-01-24 11:28] payeisa commented on #232
The leading language is working on Android. For example, if I set my app language to French, and share a level 2 article, then the leading language of the bilingual email will be French (in both the subject and the body)
@Pharste FYI

[2022-01-24 12:58] goodyke commented on #244
@zhuelle The fix made with #240 did not result in this bug going away.  I have added the 'Before MVP' label to this ticket as this bug should not exist for MVP.
**Details**
I tried marking many articles as saved (using version 28 which was deployed on Jan 23) and often when I choose to open one of the saved article highlights from the 'Following' segment of the 'For you' screen the application ope

[2022-01-24 13:12] goodyke commented on #91
Validated... @Pharste please close if you agree that this has been fixed with version 28.

[2022-01-24 13:33] payeisa commented on #205
I tried to publish content yesterday afternoon, and the articles are not publishing to the Publications screen:
![image](https://user-images.githubusercontent.com/89025704/150792068-1bafea1a-c35a-4f01-a9ee-3d59e2f98495.png)

[2022-01-24 13:47] Rajat-Sen commented on #225
Hi Jiandong, when the user clicks on Send email button; the subject and the body should be empty. The only thing that needs to be changed is the old email address.

Please change the email to "infostats@statcan.gc.ca"

It should be matching with the email address above send email. Thanks!

[2022-01-24 13:52] Rajat-Sen commented on #228
Update: the links haven't been approved yet! Most likely we will have it today or tomorrow.

[2022-01-24 14:04] Pharste commented on #103
@ForumG-SC Hi, the new content for the developer page has been signed off and is available here:
https://gcdocs.gc.ca/statcan/llisapi.dll?func=ll&objaction=overview&objid=20118112
I will also send to you by email. Please confirm when the page has been updated, and then we can close the ticket.

[2022-01-24 14:09] goodyke commented on #205
@Jiandong-Guo this is a problem with the api (and the cache).  Dave P-D is looking into it.

[2022-01-24 14:15] Rajat-Sen opened #252 "Publications not listed properly under a following subject"
For tablet,

When the user goes to For you screen after following a subject, click on See more; the user cannot see the cars properly.
Please reference to the attached image.

[2022-01-24 14:37] Pharste commented on #218
Validated, thanks!

[2022-01-24 14:37] #218 closed

[2022-01-24 14:59] payeisa commented on #202
Reviewed and updated status of tablet-related issues. Comments have been added to each item listed above. Assigning to Steph to validated iPad issues.

[2022-01-24 16:46] zhuelle commented on #201
@payeisa This ticket cannot be fixed before MVP as it is a complex one and we don't have enough time. I am going to remove the Before MVP tag and put Post MVP Priority tag. Please let me know if you have any questions so we can discuss.

[2022-01-24 16:48] ForumG-SC commented on #103
New details have been updated, waiting for header image with correct dimensions.

[2022-01-24 16:56] Jiandong-Guo opened #255 "The following screen display in English when setting is in French"
Problem:  the following screen is always showing in English, even in French setting.
Reason: The French api returns data is in English
![image](https://user-images.githubusercontent.com/58485300/150828173-20f3e354-02c6-4da6-81a8-5e9adbb7ea32.png)

[2022-01-24 16:59] ForumG-SC commented on #158
@payeisa To fit it in one line because it is 3 words in French , I would have to decrease the text size and it would look like this when text size is max:

![image](https://user-images.githubusercontent.com/84411852/150828876-702f9cdc-c7e7-4afe-b943-0e4b18a1e23f.png)

[2022-01-24 17:04] ForumG-SC commented on #158
I would have to decrease the text size for French to fix alignment issues:
This is how it would look when text size is in middle:
![image](https://user-images.githubusercontent.com/84411852/150829520-2cf178e2-8e61-4f95-ae36-5029b7ba9d9b.png)
When text size is maxed out:
![image](https://user-images.githubusercontent.com/84411852/150829591-2dc758e0-d3bb-459c-8601-30c0121bdf2d.png)

[2022-01-24 17:11] ForumG-SC commented on #158
Space has been added between recent searches and no results found:
![image](https://user-images.githubusercontent.com/84411852/150830914-5b598d34-29ff-4acf-b668-273ab39b585b.png)

[2022-01-24 17:18] ForumG-SC commented on #250
@Rajat-Sen Fixed has been applied, however I cannot test in simulator as it doesn't gives me option to switch to dark mode. I cannot test on my personal device as it is not responding properly.

[2022-01-24 17:24] ForumG-SC commented on #225
@Rajat-Sen Hi Rajat, you can close this ticket as the email will be updated in the ticket https://github.com/StatCan/StatcanPublicationUAT/issues/171#issuecomment-1019594178

[2022-01-24 17:26] ForumG-SC commented on #171
Fixed

[2022-01-24 17:40] ForumG-SC commented on #103
Developer page has been updated:
![image](https://user-images.githubusercontent.com/84411852/150835488-77718ee0-7327-4b14-b535-935e007f1843.png)
![image](https://user-images.githubusercontent.com/84411852/150835519-46bbe2ae-d068-4b7e-87d1-94f12279a9cd.png)

[2022-01-24 17:49] Rajat-Sen commented on #255
@goodyke, when you will be discussing API issues with Dave, would you be able to mention this? Thanks!

[2022-01-24 17:53] Rajat-Sen commented on #225
Thanks!

[2022-01-24 17:53] #225 closed

[2022-01-24 17:54] Rajat-Sen commented on #250
@ForumG-SC, I will validate this in the new release!

[2022-01-24 18:14] payeisa opened #256 "Publication level 1: Alignment of images (tablet)"
The image tiles on the Publications screen level 1 are not aligned on tablet. (Galaxy Tab S6 Lite)

![image](https://user-images.githubusercontent.com/89025704/150840397-0c9e3343-e0f7-431c-a4bf-3f03999d0d9c.png)

[2022-01-24 18:16] payeisa opened #257 "Publication level 2: Error message when tapping on email address"
From an article (Publication level 2), if I tap on the "Ifostats" or "Media relations" email address, I'm presented with an error message:

[2022-01-24 18:39] Rajat-Sen commented on #257
This issue seems to only exist in Android, I tested it on iOS and it seems to be working fine.

On Android, it takes the user to their default mail app and when the user comes back it tries to the app, it gives an error. Please return the user to level-2 article instead of loading the same function again which results in error.

[2022-01-24 18:51] Pharste commented on #180
Valildated, thank you

[2022-01-24 18:51] #180 closed

[2022-01-24 19:00] payeisa opened #258 "For you/Options/Tablet/Large text"
When setting the text size to largest on my tablet, and then navigating to Pour Vous/Options/ the "Gérer les sujets" button does not adjust in French. It's very small and very hard to see. This issue applies in French only.

![image](https://user-images.githubusercontent.com/89025704/150845828-3eed6e00-bbf5-44ab-a94f-a500294bb178.png)

[2022-01-24 19:03] goodyke commented on #255
@Jiandong-Guo I have reached out to Dave P-D with your concern.  I can not replicate your 'POST' call because I do not have the development tools to do so (and I might not be able to use them correctly if I did).  However, I have created a Teams chat with you and Dave to inform Dave about the issue.  When you have time could you attach your POST example above to that conversation? I gave Dave an e

[2022-01-24 19:04] Pharste commented on #246
validated, thank you

[2022-01-24 19:04] #246 closed

[2022-01-24 19:05] Pharste commented on #210
Validated, thank you!

[2022-01-24 19:05] #210 closed

[2022-01-24 19:07] payeisa opened #259 "For you: content not loading in tablet when selecting "See more""
On my tablet, if I select the "See more" option on the For you/Following screen, the content doesn't load:
This is issue happens in both English and French.
The issues does not happen on my phone.

![image](https://user-images.githubusercontent.com/89025704/150847605-792fa5ba-c4c6-4cb9-91fe-002cad2ac7c3.png)

[2022-01-24 19:09] Pharste commented on #232
Validated the original issue has been fixed.

[2022-01-24 19:10] payeisa commented on #202
For you/Saved: the content is not displaying properly, in both E and F, when text is set to largest setting:
![image](https://user-images.githubusercontent.com/89025704/150848278-d4c404c6-5954-4035-912b-e96cbf2d1b4a.png)

[2022-01-24 19:12] Rajat-Sen commented on #259
@payeisa, I am closing this ticket as we are already working on this issue and it linked to ticket #252.

Additionally, I am attaching the your screenshot in that ticket.

[2022-01-24 19:12] #259 closed

[2022-01-24 19:13] Rajat-Sen commented on #252
This issue is happening is also happening on Android tablets as well. Please reference to the attached image. Thanks!
![See_more_screen](https://user-images.githubusercontent.com/38566088/150848739-06d3beef-77d1-47d1-8c4a-498b86064db1.png)

[2022-01-24 19:14] Pharste commented on #247
Hi, I tested this again today and it seems to be working now. However, when sharing the app by text, because there is no subject line, the message just says "if not, you should download it..." I'll open a new ticket for this.

[2022-01-24 19:14] #247 closed

[2022-01-24 19:15] Rajat-Sen commented on #258
@ForumG-SC, please add shadow to the button. Thanks!

[2022-01-24 19:16] payeisa opened #260 "Tablet & small text setting issue"
If I switch the text size setting from largest to smallest, all the screens adjust, except for the "For you/Following" screen, in both E and F.

Text is set to smallest:
![image](https://user-images.githubusercontent.com/89025704/150848939-941cbd20-e597-4dbb-97a2-b20311878a89.png)

But the "For you" screen does not adjust:
![image](https://user-images.githubusercontent.com/89025704/150849028-810ec

[2022-01-24 19:18] Pharste commented on #232
Hi, I just noticed there is a space missing in the English part of the message, to be fixed please:

("If not, you should...")
![Email sharing](https://user-images.githubusercontent.com/89025880/150849399-432bfc55-f9b0-4606-a9d2-7884c1016fae.jpg)

[2022-01-24 19:24] Pharste opened #261 "Sharing app by text: To add subject line from email"
When sharing the app by text, the first line (included as the email subject) should be included. Right now, it shows like this:
![French share text](https://user-images.githubusercontent.com/89025880/150850235-74ecd8e8-5e34-4ec0-a05b-99880324efe1.jpg)

[2022-01-24 19:31] #261 closed

[2022-01-24 19:34] Pharste commented on #232
Closing as this is addressed in issue #212

[2022-01-24 19:34] #232 closed

[2022-01-24 20:24] Rajat-Sen opened #262 "Following screen bug"
When the user follows only a single subject in dark mode, the half of background screen colour remains white. Please make the background applicable to the whole screen.

Please reference to the attached image.
![IMG_5376](https://user-images.githubusercontent.com/38566088/150858979-b5f04575-e582-46f3-bc4a-4011a82e5d56.PNG)

[2022-01-24 20:27] Rajat-Sen commented on #227
Great work, Thanks!

Validated.

[2022-01-24 20:27] #227 closed

[2022-01-24 20:30] ForumG-SC commented on #250
Came across the issue, fix didn't work. Investigating it.

[2022-01-24 20:33] Rajat-Sen commented on #106
Validated. Thanks!

[2022-01-24 20:33] #106 closed

[2022-01-24 20:46] Pharste commented on #103
Hi Forum,

A couple of minor tweaks:

[2022-01-24 20:49] Jiandong-Guo commented on #252
Cautionally saying it's fixed, please test it in next release

[2022-01-24 20:51] Jiandong-Guo commented on #251
fixed, please test it in next release

[2022-01-24 21:02] Rajat-Sen opened #263 "Search screen bug"
When the makes a search and select any article and tap on Heart icon.

Go back to search results and open any other article, the Heart icon will show as filled even if it is not clicked.

[2022-01-24 21:06] ForumG-SC commented on #103
@Pharste Hi Stephanie , I am confused because the screenshot that I shared it is already 'Statistique Canada' , there is no 's'.

The promo text is already Bilingual , we are displaying English and French both, we cannot combine them due to limited words but we can still see them both when respective language option is selected.

[2022-01-24 21:08] Rajat-Sen opened #264 "Notifications screen bug"
When the user starts following some subjects > Go to Notifications when you can see the red dot.

1. The user should not get any previous notifications.
2. When tapped on a notification, the user sees a glance of empty screen which shouldn't be there.
3. After reading a notification, the dot should completely disappear away. However, the user can see the light colour of the dot which shouldn't be

[2022-01-24 21:09] Pharste commented on #103
@ForumG-SC sorry, I should have clarified, the screenshots look great, but the Developer page link is displaying the s, and English only: https://play.google.com/store/apps/dev?id=4804805194854452523

Unless this takes time to publish?

[2022-01-24 21:25] ForumG-SC commented on #103
If you see the above screenshot , there is pop-up stating that the name is under review, it will take some time to update. Rest assured all the content has been updated as per the doc you provided.

[2022-01-24 21:26] ForumG-SC commented on #103
![image](https://user-images.githubusercontent.com/84411852/150867587-c60dc6dc-742d-4084-aa2c-ace844ea1cef.png)

[2022-01-24 21:26] Pharste commented on #103
Thank you Forum. Sorry about that!!

[2022-01-24 21:26] #103 closed

[2022-01-24 21:28] ForumG-SC commented on #103
It's all good.  :)

[2022-01-24 21:35] ForumG-SC commented on #260
Fixed

[2022-01-24 21:47] payeisa commented on #228
@Rajat-Sen What I was referring the the URLs for the Settings -Support and feedback - Help and FAQ - Support section. We now have the web page URLs for the FAQs. When the user selects the FAQ icon, they should navigate to the URLs provided below.

![image](https://user-images.githubusercontent.com/89025704/150870344-d4a57a4f-9463-490b-adaf-04d6735f13a6.png)

In English:
![image](https://user-image

[2022-01-24 21:47] ForumG-SC commented on #258
Fixed

[2022-01-24 21:50] Rajat-Sen commented on #228
@payeisa Thank you, we will replace the links now only and can test once the app goes live!

[2022-01-24 21:55] Pharste commented on #245
Followed up with Comms by email today, and waiting on updated screens. I'll send via email and add a comment here when the final versions are available.

[2022-01-24 21:57] Pharste commented on #238
Validated, thank you

[2022-01-24 21:57] #238 closed

[2022-01-24 21:59] Pharste commented on #233
Validated

[2022-01-24 21:59] #233 closed

[2022-01-24 22:03] payeisa commented on #207
Hi,

Would it be possible to reload the Terms of Use, by copying/pasting directly from the source documents:
EN: https://gcdocs.gc.ca/statcan/llisapi.dll?func=ll&objaction=overview&objid=20076328
FR: https://gcdocs.gc.ca/statcan/llisapi.dll?func=ll&objaction=overview&objid=20076335

This will ensure the final content is reflected and formatted accordingly.

[2022-01-24 22:04] Pharste commented on #190
validated

[2022-01-24 22:04] #190 closed

[2022-01-24 22:09] payeisa commented on #148
@zhuelle Can you please confirm which part of this ticket is Post MVP?

[2022-01-24 22:13] #137 closed

[2022-01-24 22:15] Pharste commented on #102
Hi @ForumG-SC , can you please add the updated screenshots of the Apple product page here? We will do a final review, and then can close the ticket. Thanks!

[2022-01-24 22:15] Pharste commented on #101
Hi @ForumG-SC , can you please add the screenshots of the Google Product page here? We will do a final review, and then can close the ticket. Thanks!

[2022-01-24 22:19] Pharste commented on #98
The Apple store set up is complete, but the new gmail needs to be added for the Google Play Console (statscanapp.applistatscan@gmail.com).

[2022-01-24 22:20] ForumG-SC commented on #250
@Jiandong-Guo Hi Jiandong, I can see that you did some code changes on Favourite tab previously, could you please look into this issue, last time you set for global theme 2 and not 0

[2022-01-24 22:21] Pharste commented on #91
Validated, thank you

[2022-01-24 22:21] #91 closed

[2022-01-24 22:24] ForumG-SC commented on #98
Invitation Sent

[2022-01-24 22:33] Pharste commented on #202
Hi, The same is happening on iPad pro with the large text setting:
![Large saved FR](https://user-images.githubusercontent.com/89025880/150876225-3e81d83c-9f42-4341-9335-1a04f8cfc282.jpg)
![Large saved EN](https://user-images.githubusercontent.com/89025880/150876229-791ed7f8-410b-4109-a255-c8173feac607.jpg)

[2022-01-24 22:39] Pharste commented on #202
I notice the subjects are still italicized here too- can we edit the subject text to match changes on the Publications page:
![Ipad publications home](https://user-images.githubusercontent.com/89025880/150876853-918cf256-8ada-4941-949d-394277f80c20.png)

On the Publications page, on iPad there are also some titles which are indented slightly.

[2022-01-24 22:43] ForumG-SC commented on #202
Fixed

[2022-01-24 22:45] ForumG-SC commented on #202
@Pharste For Level 1 regarding subject name issue , I couldn't replicate the issue, could you please try reinstalling app ?

[2022-01-24 22:51] Pharste opened #265 "Search screen/ large text"
The search results aren't adjusting with the large text (iPad and iPhone):
![iPhone large text search](https://user-images.githubusercontent.com/89025880/150878124-7436c75a-c469-4cae-9245-1bec9329dff6.jpg)
![Search results large text](https://user-images.githubusercontent.com/89025880/150878127-a9181194-7f64-4b4d-bfdd-36c888d9ac06.jpg)

[2022-01-24 22:53] Pharste commented on #202
@ForumG-SC On the publications screen, the subjects are showing correctly (not italicized), but on the Saved page, they are still italicized (like screenshot attached above). Can we change the saved subjects to match the publications screen?

[2022-01-24 22:54] ForumG-SC commented on #202
I will change that.

[2022-01-24 22:54] ForumG-SC commented on #202
@Pharste You can validate these two changes in the next release. Thanks.

[2022-01-24 22:57] Pharste commented on #202
@ForumG-SC Thank you! Will do.

[2022-01-24 22:59] ForumG-SC commented on #265
@Pharste Investigating the issue. Thanks.

[2022-01-24 23:01] Pharste commented on #265
@payeisa Is this happening on Android too?

[2022-01-24 23:03] ForumG-SC commented on #265
@Pharste Do you want to remove italic subject name and date in this screen too ?

[2022-01-24 23:03] ForumG-SC commented on #265
yes

[2022-01-24 23:05] Pharste commented on #265
Yes, please. Thanks for catching that.
This should also be consistent with the Publications page.

[2022-01-24 23:09] Pharste commented on #98
Accepted, thank you!

[2022-01-24 23:09] #98 closed

[2022-01-24 23:15] ForumG-SC commented on #265
@Pharste If we want fonts to be adjusted from the settings than we cannot set fixed font size like how it is looking right now instead the size will be reduced the you land on the page for the first time as we are setting dynamic styling now , though the size will be small but can be enlarged from the settings.

[2022-01-24 23:18] ForumG-SC commented on #265
This is how by default it will look when landing on this page for the first time :
![image](https://user-images.githubusercontent.com/84411852/150881004-5c9bcc99-26ee-41f3-a86b-f9072fd0c2bf.png)

When increasing text size to the max , this is how it will look:
![image](https://user-images.githubusercontent.com/84411852/150881129-8f79f776-0b43-43b5-98d2-bb1b6f44cedc.png)

@Pharste

[2022-01-25 01:09] Rajat-Sen commented on #207
It would not be possible before the MVP because of the way it has been implemented. We can format it afterwards as it will affect other screens and we are short on time at this point.

[2022-01-25 11:05] payeisa commented on #207
@Rajat-Sen I can live without the formatting for MVP, however, the content must be reloaded before MVP because what's there right now has typos/errors.

For example:
The second paragraph has "Statistics Canada (StatsCAN) maintains...." this should be "Statistics Canada (StatCan) maintains..."
The third paragraph, there's a space missing between "Statistics Canadais" (should be "Statistics Canada i

[2022-01-25 13:56] zhuelle commented on #148
@payeisa The function has been provided and we will provide screen shots after MVP.

[2022-01-25 14:05] payeisa commented on #148
@zhuelle So for this ticket, IT is validating that the proper text will be displayed in English and French?

[2022-01-25 14:30] zhuelle commented on #148
@payeisa This is very good point. I think you can test Network Error fairly easily. For server down and technical difficulties, it might be a bit tricky to test. I will discuss the team to see there is a way to test them.

[2022-01-25 14:46] payeisa commented on #148
@zhuelle I believe that's why screenshots were going to be provided to us for validation (so we don't need to actually trigger the messages).

[2022-01-25 14:57] zhuelle commented on #148
@payeisa I discussed with the team. @Jiandong-Guo  will provide the screen shots in simulator later this week (earliest Wednesday) for you to validate as the developer is busy to complete bug tickets today to prepare for tomorrow's deployment.

[2022-01-25 14:59] payeisa commented on #148
@zhuelle That sounds good! :)

[2022-01-25 15:08] ForumG-SC commented on #252
@Jiandong-Guo Hi Jiandong I tested this screen, on iPhone 11 Pro when setting the text size to max , image is not big to cover.

[2022-01-25 15:17] ForumG-SC commented on #101
@ForumG-SC Hi Stephanie, yesterday I sent you invite on new email id to add to the Google store, which will allow you to view Main store listing section , for you to review the posting. Please let me know if you are having trouble accessing it. However , here are the screenshots:

![image](https://user-images.githubusercontent.com/84411852/151004210-bc2c5a9b-cebb-4011-81e4-8f2c4c32b83c.png)
![imag

[2022-01-25 15:23] ForumG-SC commented on #101
@Pharste
![image](https://user-images.githubusercontent.com/84411852/151005475-ee45257b-35c7-4c09-b80a-46c61354195c.png)
Once you accept the invite, you should be able to view/edit the store listing. If having any trouble accessing the page, please let me know.

[2022-01-25 16:24] ForumG-SC commented on #102
![image](https://user-images.githubusercontent.com/84411852/151016437-6267d1f5-ca49-455f-9dd6-117f915a44d0.png)
![image](https://user-images.githubusercontent.com/84411852/151016522-e4f2192e-e5d9-4339-af8f-34dc3715ad12.png)
![image](https://user-images.githubusercontent.com/84411852/151016715-065f58e4-e0e2-4f03-93fd-2fd01e02aa24.png)
![image](https://user-images.githubusercontent.com/84411852/1510

[2022-01-25 16:53] #170 closed

[2022-01-25 16:56] Rajat-Sen commented on #228
English: www.statcan.gc.ca/en/sc/mobile-applications/statscan-faq

French: www.statcan.gc.ca/fr/rb/applications-mobiles/statscan-faq

[2022-01-25 17:02] Jiandong-Guo commented on #250
It's fixed, please test it in next release

[2022-01-25 18:05] Pharste commented on #102
@ForumG-SC Can you please remove the promotional text, and update the keywords in English, as well as the support URL? It looks like the wellbeing app info is here...

[2022-01-25 18:32] ForumG-SC commented on #102
@Pharste I shared wrong screenshot, my apologies. Here is the correct screenshot:
![image](https://user-images.githubusercontent.com/84411852/151037535-2334dfdc-be2e-40c6-9bec-e3d88270b011.png)

[2022-01-25 18:51] Pharste commented on #102
Thank you @ForumG-SC
It all looks good, just one thing-- the '?' should be removed from the French support URL. :)

[2022-01-25 18:55] ForumG-SC commented on #102
Fixed,
![image](https://user-images.githubusercontent.com/84411852/151040817-f90d22be-5595-4136-a127-592d63be1d41.png)

[2022-01-25 19:04] Pharste commented on #102
Thank you! Also just realizing the Welcome image will have to be updated in both languages, with 'StatsCAN'

[2022-01-25 19:06] ForumG-SC commented on #102
Welcome image?

[2022-01-25 19:08] Pharste commented on #102
Sorry, the welcome screen image. The one above still says 'Welcome to StatCan'.

[2022-01-25 19:24] ForumG-SC commented on #102
The screenshots are yet to be updated, I am waiting to receive it.

[2022-01-25 20:03] spotzero commented on #255
Oops, this is me.  I'm caching the result payloads, but not separating by language.  I'll implement a fix.

[2022-01-25 20:32] Jiandong-Guo commented on #252
Tested on iphone 12 pro max, iphone 11 pro, ipad 9.7, ipad 12.9,android pixel 5, android tab Nexus 7

[2022-01-25 20:34] Jiandong-Guo commented on #252
Tested the text size

[2022-01-25 20:36] Jiandong-Guo commented on #257
fixed, please test it in next release

[2022-01-25 20:43] Jiandong-Guo commented on #244
It's fixed, please test in next release

[2022-01-25 20:45] Jiandong-Guo commented on #263
fixed, please test in next release

[2022-01-25 20:46] ForumG-SC commented on #252
Tested, it works now, thanks.

[2022-01-25 21:21] ForumG-SC commented on #101
Screenshots has been updated in the store.

[2022-01-25 21:22] ForumG-SC commented on #102
Screenshots has been updated in the store.

[2022-01-25 21:22] ForumG-SC commented on #245
Screenshots has been updated in the store.

[2022-01-25 21:22] #245 closed

[2022-01-25 21:26] Jiandong-Guo commented on #235
What is the Reset the app number to 1 ?  do you mean the version number ?

[2022-01-25 21:26] Rajat-Sen commented on #235
yes, it is the version number

[2022-01-25 21:27] Jiandong-Guo commented on #235
What is the links on Share this app feature ?

[2022-01-25 21:28] #102 closed

[2022-01-25 21:28] #101 closed

[2022-01-25 21:33] Jiandong-Guo commented on #235
What about the  prod api url ?
I can do those 2 now
Delete user profile button
Change the year to 2022 copyright.
please confirm if the version number changed, cannot change back

[2022-01-25 21:35] Rajat-Sen commented on #235
Did you tested the app with PROD url?

[2022-01-25 21:35] Jiandong-Guo commented on #235
Better leave after MVP,
if I delete the user profile button, It may affect the MVP people to demo

[2022-01-25 21:36] Jiandong-Guo commented on #235
Yes, I am testing the prod url now, may have problem

[2022-01-25 21:45] ForumG-SC commented on #235
@Jiandong-Guo Hi Jiandong, please don't change app.json file. Just replace expo build with version number like how it was before because tomorrow in the deployment I will be changing version from 0.0.3 to 1.0.0 as it will be final version.

Copyright is already 2022 right now.

[2022-01-25 21:45] Rajat-Sen commented on #235
Hi Jiandong,

For the version number, please change the expo build number to the version number.

Please remove the "Delete user profile" button and "Check notification list" button.

[2022-01-25 21:48] Rajat-Sen commented on #235
Also, what problem we may have with Prod url?

[2022-01-25 21:51] ForumG-SC commented on #95
@Pharste Do we still need this ticket?

[2022-01-25 21:53] ForumG-SC commented on #265
Fixed

[2022-01-25 22:10] ForumG-SC commented on #221
@payeisa Fixed as follow:

EN_Screenshot_TextMsg_Email :

![IMG-0353](https://user-images.githubusercontent.com/84411852/151068011-db82d4af-9c9f-4aa0-8415-0e5a53827f86.jpg)

![IMG-0354](https://user-images.githubusercontent.com/84411852/151068022-decf51ce-f70b-4917-aa29-cb62c340318c.jpg)

FR_Screenshot_TextMsg_Email :

![IMG-0356](https://user-images.githubusercontent.com/84411852/151068078-e2eeb0

[2022-01-25 23:09] ForumG-SC commented on #207
Done

[2022-01-26 13:48] ForumG-SC commented on #205
![Simulator Screen Shot - iPhone 11 Pro - 2022-01-26 at 08 47 47](https://user-images.githubusercontent.com/84411852/151174485-23331704-effd-44b1-bc67-76a93a91f565.png)
![Simulator Screen Shot - iPhone 11 Pro - 2022-01-26 at 08 47 58](https://user-images.githubusercontent.com/84411852/151174506-8c64c3ff-50f0-489c-8c76-bf2916c02976.png)

Issue is fixed in alpha.

[2022-01-26 13:49] ForumG-SC commented on #255
![Simulator Screen Shot - iPhone 11 Pro - 2022-01-26 at 08 49 18](https://user-images.githubusercontent.com/84411852/151174749-c2f75151-9d76-474d-8a25-cc7daac98fcd.png)

Issue is fixed in alpha.

[2022-01-26 14:26] Rajat-Sen commented on #257
Hi Isabelle, I have validated from my end, it seems to be working; assigning it back to you to test on your device as well.

[2022-01-26 14:45] Pharste opened #266 "Dark mode: Publication screen"
![Dark mode - publication screen](https://user-images.githubusercontent.com/89025880/151184088-e4a39651-b2e3-471b-908b-d874e1ed85a8.jpg)

The dark mode publication screen is showing with a border of the lighter blue colour around the publication. The title of the page isn't bolded, although this text setting is on.

[2022-01-26 14:50] Pharste commented on #265
Validated, thank you!

[2022-01-26 14:50] #265 closed

[2022-01-26 15:05] Pharste commented on #202
Validated in Jan 26 release

[2022-01-26 15:07] ForumG-SC commented on #266
@Pharste Hi Stephanie, the heading issue is fixed. For the background color it is looking like this because we have given margins on left and right of 16px as it was mentioned in one of the tickets long time back. Do you want me to remove the margins ?

[2022-01-26 15:08] ForumG-SC commented on #266
@Pharste This is how it is going to look after removing markings:
![Simulator Screen Shot - iPhone 11 Pro - 2022-01-26 at 10 08 34](https://user-images.githubusercontent.com/84411852/151189347-c243cfa1-02bc-4412-8dd9-be9b4c637a06.png)

[2022-01-26 15:10] Pharste opened #267 "iPad: saved screen not functioning properly"
I can't get saved articles to display on the screen when using iPad (it is working as expected on my phone
![Cant get saved articles- iPad](https://user-images.githubusercontent.com/89025880/151189630-9769f947-f8b5-41fe-9cee-a51fd3120cff.jpg)
)

[2022-01-26 15:10] payeisa commented on #158
Validated.

[2022-01-26 15:10] #158 closed

[2022-01-26 15:12] payeisa opened #268 "Display of No search results & recent searches"
We should consider enhancing the display of the "No search results" and the "Recent searches" to separate the two a bit better. Maybe add a line?

![image](https://user-images.githubusercontent.com/89025704/151190101-319b237a-9775-4034-a6f8-48cc89bc658d.png)

[2022-01-26 15:13] ForumG-SC commented on #266
@Pharste If we want to keep margins and we change it to margin to 1% this is how it will look:
![Simulator Screen Shot - iPhone 11 Pro - 2022-01-26 at 10 10 08](https://user-images.githubusercontent.com/84411852/151189662-d35de302-0a5b-4b47-ae12-01be5f0962c5.png)

Alternative option will be to keep margin on left and right 16px as it is right now and to change background color to bland it with the

[2022-01-26 15:14] payeisa commented on #168
Requirements to be reviewed after launch.

[2022-01-26 15:16] Pharste opened #269 "Alignment of buttons on iPad"
The alignment of the on/off buttons for notifications are not centred:
![Alignment of manage notifications button iPad](https://user-images.githubusercontent.com/89025880/151190573-2529bc77-6e17-4714-9d3f-4e24db084116.jpg)

The link out to new window button (?) is not centred on the social media page:

![Alignment of link icon on SM screen iPad](https://user-images.githubusercontent.com/89025880/1

[2022-01-26 15:17] payeisa commented on #171
Validated.

[2022-01-26 15:17] #171 closed

[2022-01-26 15:18] Pharste commented on #266
@Rajat-Sen Can you please confirm which option should be implemented? I was basing this off of the prototype which doesn't seem to have the margins.

[2022-01-26 15:19] payeisa opened #270 "Settings/Help & FAQ/FAQ button"
The alignment of the FAQ button is off.

Regular text size:
![image](https://user-images.githubusercontent.com/89025704/151191344-f0284e02-4e5e-4ac3-90eb-e8f44e06f4d5.png)

Large text setting
![image](https://user-images.githubusercontent.com/89025704/151191409-19c519fa-799a-4622-88e9-959df0b6e805.png)

[2022-01-26 15:26] ForumG-SC commented on #269
@Pharste Working on fixing this issue right now.

[2022-01-26 15:32] Pharste commented on #212
The "Do you have the StatsCAN app" line is still missing when sharing the app via messenger, text, whatsapp, etc.:
![Whats app share this app](https://user-images.githubusercontent.com/89025880/151193791-2c58b8dd-fb54-4d17-bd84-17c0ff58afe2.jpg)
![Share via text](https://user-images.githubusercontent.com/89025880/151193795-01a01f8b-9ab5-45d9-80dd-f94efada812a.jpg)
![Share this app 1](https://user-

[2022-01-26 15:32] Rajat-Sen commented on #266
Please implement the third option.

[2022-01-26 15:35] payeisa commented on #212
Email is ok, however text is missing when sharing on social media (Messenger/Snapchat) or by text.
The text should read:
FR: Avez-vous l'appli StatsCAN? Sinon, vous devriez la télécharger. / Do you have the StatsCAN app? If not, you should download it.
EN: Do you have the StatsCAN app? If not, you should download it. / Avez-vous l'appli StatsCAN? Sinon, vous devriez la télécharger.

![image](https

[2022-01-26 15:39] Rajat-Sen commented on #267
Hi Steph, Please uninstall the app and install again. I came across the same issue.

[2022-01-26 15:40] ForumG-SC commented on #266
Fixed

[2022-01-26 15:45] Rajat-Sen commented on #263
Hi Jiandong, this ticket has not been fixed; please double check again. Thanks!

[2022-01-26 15:45] Pharste commented on #212
When sharing on LinkedIn, only the Google Play link is displayed --
![LinkedIn 2](https://user-images.githubusercontent.com/89025880/151196456-e312f983-00a8-4b3d-8d68-9c28e6a283ca.jpg)
<img width="414" alt="LinkedIn" src="https://user-images.githubusercontent.com/89025880/151196459-53e4d4ae-f5b0-425e-a4c2-bcdc47fdcef2.png">

(Shared in private message with Martyna)

[2022-01-26 15:48] Pharste commented on #267
Thanks @Rajat-Sen Uninstalling and installing fixes it!

[2022-01-26 15:48] #267 closed

[2022-01-26 15:48] Rajat-Sen commented on #212
Please create new tickets for all three issues as the initial issue is fixed.

[2022-01-26 15:52] Rajat-Sen commented on #270
@payeisa, Please uninstall the app and install it again as, per my testing it is working fine. Thanks!

[2022-01-26 15:54] payeisa commented on #221
Email looks good.
For social media/text, the text should read:
EN: Interesting publication from StatCan. Check it out! / Publication intéressante de StatCan. Jetez-y un coup d'oeil!
FR: Publication intéressante de StatCan. Jetez-y un coup d'oeil! / Interesting publication from StatCan. Check it out!

[2022-01-26 15:54] Rajat-Sen commented on #263
Also, please let me know if you need any help understanding the ticket!

[2022-01-26 15:59] Pharste opened #271 "Share app via LinkedIn - Only GooglePlay link displaying"
When sharing on LinkedIn, only the Google Play link is displayed --
![LinkedIn 2 png](https://user-images.githubusercontent.com/89025880/151199078-b6b97f17-8ffd-424f-8b8f-489ff8b0e84d.jpg)
<img width="414" alt="LinkedIn 1" src="https://user-images.githubusercontent.com/89025880/151199082-0ce22b78-cd21-47b7-9f0f-b05cf5ee9275.png">

[2022-01-26 16:04] Pharste opened #272 "Share app via text, WhatsApp, Snapchat, Messenger"
text is missing when sharing on social media (Messenger/Snapchat) or by text/WhatsApp.
The text should read:
FR: Avez-vous l'appli StatsCAN? Sinon, vous devriez la télécharger. / Do you have the StatsCAN app? If not, you should download it.
EN: Do you have the StatsCAN app? If not, you should download it. / Avez-vous l'appli StatsCAN? Sinon, vous devriez la télécharger.
![Share via messenger](http

[2022-01-26 16:05] Pharste commented on #212
Submitted tickets 271 and 272

[2022-01-26 16:15] payeisa commented on #230
Validated.

[2022-01-26 16:15] #230 closed

[2022-01-26 16:18] payeisa opened #273 "Publication level 2 & contact information"
When tapping an email address in the Contact information box, the publication's title should auto populate the subject field of the email.

[2022-01-26 16:20] payeisa commented on #257
Validated.

[2022-01-26 16:20] #257 closed

[2022-01-26 16:27] payeisa commented on #258
Validated.
@Rajat-Sen Can you please validate at your end (re: shadow), and then close if fixed?

[2022-01-26 16:37] goodyke commented on #255
The api concern that was causing this issue has been fixed with the latest deployment of the web services to the Production content (it was deployed at 9:21 am on January 26).  Validated the fix with production using version 29 of the mobile app and this concern is now resolved.  Closing this ticket.

[2022-01-26 16:37] #255 closed

[2022-01-26 16:40] payeisa opened #274 "For you: Following & secondary subject"
The For you page is displaying articles tagged to secondary subjects. It should be displaying articles based on primary subjects only.

For example "Flooding and landslides in British Columbia: Measuring the costs"
Primary subject is "International trade"

![image](https://user-images.githubusercontent.com/89025704/151205922-deb03da0-6ddf-4a31-b165-22226540d663.png)

However, it's also showing up

[2022-01-26 16:42] goodyke commented on #244
Validated the fix with production using version 29 of the mobile app and there were still issues.  However, un-installing the application on my phone and onboarding again shows that this issue is now resolved... the issues remaining were do to articles that I had saved previously that were not opening properly before.  Closing this ticket.

[2022-01-26 16:42] #244 closed

[2022-01-26 16:44] payeisa commented on #260
Validated.

[2022-01-26 16:44] #260 closed

[2022-01-26 16:44] goodyke commented on #205
The api concern that was causing this issue has been fixed with the latest deployment of the web services to the Production content (it was deployed at 9:21 am on January 26). Validated the fix with production using version 29 of the mobile app and this concern is now resolved. Closing this ticket.

[2022-01-26 16:47] payeisa opened #275 "Small text setting: For you screen"
A thorough review of display based on text size needs to be done to ensure the accuracy across all screens and functions.
For example, if I set the text size to smallest, the display on the For you/Saved screen is much smaller than then the other screens.
If I set the text size to smallest, the buttons on the For you/Following and For you/Saved don't adjust.

[2022-01-26 16:51] goodyke commented on #252
Validated the fix with production using version 29 of the mobile app and this concern is not a problem with my iPhone... but leaving it to @Rajat-Sen to close as he may wish to do further validation (such as test the fix on other device types and versions).

[2022-01-26 16:52] payeisa opened #276 "Changes to intro message on Search screen"
Can we please remove the following text from the intro message on the Search screen?
(since January 2022)
(depuis janvier 2022)

**since StatsCAN Plus content in the app goes as far back as November 2021**

The updated text would be:
Find publications published in the StatsCAN app.
Trouver des publications diffusées dans l'application StatsCAN.

Not a showstopper and not critical, but would be nic

[2022-01-26 16:59] payeisa commented on #228
I received updated URLs from DISS yesterday. I'm not sure if it matters or not, but these are the final ones:

![image](https://user-images.githubusercontent.com/89025704/151210278-876012a7-6005-414e-9ca0-6211bd5ef0e8.png)

[2022-01-26 17:02] payeisa commented on #207
@Rajat-Sen I will go ahead and validate this ticket.

[2022-01-26 17:04] ForumG-SC commented on #228
@payeisa Yesterday, the urls were changed and currently in v29 we have the following urls:
"http://www.statcan.gc.ca/fr/rb/applications-mobiles/statscan-faq"
"http://www.statcan.gc.ca/en/sc/mobile-applications/statscan-faq"

[2022-01-26 17:15] payeisa commented on #228
@ForumG-SC
This is perfect then! I wasn't sure if they included the "s" in http:

Sorry about that - no changes required then.

[2022-01-26 17:15] #228 closed

[2022-01-26 17:18] ForumG-SC commented on #221
Changing this will also result in text being changed in the email as well, for example:
![IMG-0383](https://user-images.githubusercontent.com/84411852/151213360-9e511708-da27-4d3a-a39a-318245c0bc70.jpg)
![IMG-0386](https://user-images.githubusercontent.com/84411852/151213371-bdd6fa3a-71b0-45ca-a09f-f1ad1e9f516b.jpg)

[2022-01-26 17:23] payeisa commented on #207
Validated.

[2022-01-26 17:23] #207 closed

[2022-01-26 17:24] goodyke commented on #274
Hi @payeisa,

The concern you have is not due to a bug with the mobile application (as it is showing articles based on what is returned by the api).  Therefore, we do not need to pass this concern to the mobility team.  In addition, I did specify to the Drupal team how the web services should behave and _**it has been implemented according to those specifications**_.  This is the consistent way th

[2022-01-26 17:28] ForumG-SC opened #277 "Update CanadaWord mark logo in light mode in the settings screen"
Currently the logo is of low quality and blurry , update the new high quality logo which will be provided by Rajat.

[2022-01-26 17:29] #277 closed

[2022-01-26 17:29] ForumG-SC commented on #276
Done.

[2022-01-26 17:38] ForumG-SC commented on #221
@payeisa Please confirm if that's okay. Thanks.

[2022-01-26 17:41] payeisa commented on #221
@ForumG-SC , it's not perfect, but a much better solution. Let's go ahead with the change. Thank you :)

[2022-01-26 17:45] goodyke commented on #271
@Rajat-Sen I have verified this ticket and I am getting the same result as Stephanie described (using my iPhone and version 29 of the app).  The LinkedIn share that is created (that I obviously did not actually post) only contains the Google Play version when it should give links to download for both Android and iOS.  I have assigned this to you for prioritizing with the developers.

[2022-01-26 17:49] ForumG-SC commented on #269
@Pharste Fixed both the issues, in addition also fixed alignment issue of Bold switch on iPad.

[2022-01-26 17:51] Rajat-Sen commented on #252
Validated!

[2022-01-26 17:51] #252 closed

[2022-01-26 17:54] Jiandong-Guo commented on #263
I know the problem but still struggling find how to fixed, the problem is the state not switch immediately

[2022-01-26 17:57] Pharste opened #278 "Notifications screen bug"
When I tap on a new notification, and then tap the 'Continue reading' link, the web browser is brought up (as expected).

However, when I close the browser and click back from the publication, I'm brought to the Publications home page and not back to my notifications.

[2022-01-26 18:13] payeisa opened #279 "Images in article level 2"
We had removed the level 2 images, but they are being displayed with the latest deployment.
Refer to Jan 25 Robbie Burns article as an example

@Pharste FYI

[2022-01-26 18:13] Pharste opened #280 "Share publication - ipad"
I'm not sure if this is an app-related issue, or if this is standard with iPad, but when I click share publication, there is no 'x' to navigate away from the pop-up. (It does disappear when I click elsewhere on the screen though).
![Share publication ipad](https://user-images.githubusercontent.com/89025880/151222060-0607e237-8715-48b7-a566-7439fa3284df.jpg)

[2022-01-26 18:19] payeisa commented on #202
Here are outstanding issues as of Jan 26, Samsung S6 Lite Tablet:
Publications screen, level 2, English and French, Share this publication button at the bottom, alignment is off:
![image](https://user-images.githubusercontent.com/89025704/151219705-f7c8fcb0-7783-4b51-ae8b-c89367c658a7.png)

Publications screen, level 2, French only, icon alignment is off, English and French

![image](https://user-

[2022-01-26 18:21] goodyke commented on #278
I just re-produced the same concern that Stephanie is reporting with this bug and adding the additional clarification for anyone testing the fix:
Opening an article through the notification list to read it (but not opening any other links while reading that article so not being re-directed to the browser before closing) will return the user to the notification list as expected.
**_HOWEVER_**
Openi

[2022-01-26 18:26] payeisa commented on #274
@goodyke I unfortunately do have time to discuss this issue today, however, this was discussed a couple weeks ago (I don't recall the ticket #), and I thought the understanding was to use primary. @Rajat-Sen @Pharste perhaps I misunderstood?

[2022-01-26 18:30] payeisa commented on #278
I wouldn't consider this a showstopper if we need to prioritize against other more pressing issue.

[2022-01-26 18:39] Pharste commented on #202
iPad issues above have been validated, but the spacing is still off with the large text setting on the saved screen in French:
(There should be some space after Elements sauvegardes)

![saved FR large text](https://user-images.githubusercontent.com/89025880/151225647-7c448702-a457-47a1-8173-713a3480a3a4.jpg)

[2022-01-26 18:40] Pharste commented on #274
Yes, this was my understanding after we had discussed as well.

[2022-01-26 18:41] Pharste commented on #278
Agreed @payeisa. Thank you @goodyke for adding the clarification!

[2022-01-26 18:50] Pharste commented on #279
I took a look in ORPS, and it seems like the images were added to the Plus articles in the content block, as well as the home page image:

![International day of education](https://user-images.githubusercontent.com/89025880/151227407-0b8850a5-11a2-42f1-a4f4-9db78c0a364a.jpg),
![Robbie Burns](https://user-images.githubusercontent.com/89025880/151227404-ef9dd7b4-5730-470b-9056-6731281735c6.jpg)

[2022-01-26 18:53] payeisa commented on #279
@Pharste That's correct. The Plus teams always has a Home page image, as well as an article image. However, on the app side, we were excluding the article image. I'll try to find the ticket.

[2022-01-26 19:04] Pharste commented on #279
Oh, sorry! I didn't realize and thought it was only the home page image we were excluding.

[2022-01-26 19:05] Jiandong-Guo commented on #263
cautionally saying it's fixed, please test in next release

[2022-01-26 19:13] payeisa commented on #279
I found ticket 107 https://github.com/StatCan/StatcanPublicationUAT/issues/107 but it doesn't include the decision made.
@Rajat-Sen Could you please weigh in?

[2022-01-26 19:21] Rajat-Sen commented on #274
@goodyke, we did discussed this in the meeting with Dave and he said he going to make changes to the API and everything should work smoothly. Please reach out to him. Thanks!

[2022-01-26 19:24] payeisa opened #281 "Delay in publishing new content"
Two StatsCAN Plus articles were published at 2:00p.m. ad at 2:22p.m. they are still not showing up on the Publications screen of the app.
https://www.statcan.gc.ca/o1/en/plus

Is this related to the api issue Dave fixed?

@Pharste FYI

[2022-01-26 19:25] Rajat-Sen commented on #280
Hi Steph, it is the UI for iPad. Thanks!

[2022-01-26 19:27] Rajat-Sen commented on #279
@payeisa, we did removed the featured image and decided to only show images the included in the article.

[2022-01-26 19:32] payeisa commented on #279
oh ok, sorry, my bad! I thought we were removing (all) images from level 2 due to loading. I will close this ticket!

[2022-01-26 19:32] #279 closed

[2022-01-26 19:36] Rajat-Sen commented on #271
Right now, you are seeing the link from Google because it is taking you to the Statistics Canada developer page.

For iOS, the link should be working once we release the app to public.

[2022-01-26 19:43] Pharste commented on #280
Thanks for confirming! I'll close this ticket.

[2022-01-26 19:43] #280 closed

[2022-01-26 19:45] Rajat-Sen commented on #281
Yes, it is related to that as we are facing caching issue on the Prod side.

[2022-01-26 20:05] goodyke commented on #281
Hi @Rajat-Sen.  I just verified that the articles that were published to the Plus website at 2pm today are being returned by the api.  Here is the call that I made to verify: https://www.statcan.gc.ca/o1/api/plus/article which gives all required articles when used with the language parameters too: https://www.statcan.gc.ca/o1/en/api/plus/article and https://www.statcan.gc.ca/o1/fr/api/plus/article

[2022-01-26 20:06] goodyke commented on #281
The fix for #205 was deployed in Production by Drupal at 9:21 this morning and it appears that everything is working... I could also talk to Jiandong about this myself.  @Rajat-Sen which would you prefer?

[2022-01-26 20:15] Jiandong-Guo commented on #235
2 test buttons were removed

[2022-01-26 20:20] ForumG-SC commented on #235
I already removed Jiandong, did you pull changes?

[2022-01-26 20:23] ForumG-SC commented on #235
Merge conflicts resolved.

[2022-01-26 20:23] #235 closed

[2022-01-26 20:26] Jiandong-Guo commented on #281
The app is calling:
https://www.statcan.gc.ca/o1/en/api/plus/article?published_after=%272021-11-09%27&page=0
it doesn't return new release published 2:00PM.

[2022-01-26 20:40] goodyke commented on #281
Hi Jiandong... I called with those parameters and I am getting the new articles still....
https://www.statcan.gc.ca/o1/en/api/plus/article?published_after="2021-11-09"&page=0

[2022-01-26 20:51] ForumG-SC commented on #281
![image](https://user-images.githubusercontent.com/84411852/151244736-3c88bcff-f1a8-4097-84c0-9de310290697.png)

Currently, the app is using this parameter   "article?published_after='2021-11-09'&page=" , if you notice in the date it is single quotes and if you see screenshot above it doesn't return the 2 latest articles.

However, when I change the single quotes to double quotes in date parameter

[2022-01-26 20:53] Jiandong-Guo commented on #281
double quote was used

[2022-01-26 20:54] ForumG-SC commented on #281
No, I just checked the code it is single quotes:
![image](https://user-images.githubusercontent.com/84411852/151245337-db07444e-a0a3-4634-9661-6c5de7401187.png)

[2022-01-26 20:55] ForumG-SC commented on #281
When I change the parameters to   `article?published_after="2021-11-09"&page=` , it is returning the latest 2 articles in the app.

[2022-01-26 20:55] Jiandong-Guo commented on #281
get latest

[2022-01-26 20:58] Jiandong-Guo commented on #281
fixed, please test in next release

[2022-01-26 20:58] ForumG-SC commented on #281
Jiandong, change the single quotes to back tabs and it will fix the issue, I just pulled the latest code and I can see that you have used single quotes:
![image](https://user-images.githubusercontent.com/84411852/151245706-7ef68268-b406-4384-bfaf-0f0c93704321.png)

I am replacing the single quote to the back tabs and it will fix the issue,... please pull the latest changes
![image](https://user-im

[2022-01-26 20:59] ForumG-SC commented on #281
@goodyke
![image](https://user-images.githubusercontent.com/84411852/151246107-253f020a-ab13-4411-a788-88f42d0c7598.png)
****

[2022-01-26 21:42] goodyke commented on #274
@Rajat-Sen I will reach out to Dave and then talk with the clients about what change he is proposing.  Thanks!

[2022-01-27 13:26] Jiandong-Guo commented on #148
![Screenshot_1643288645](https://user-images.githubusercontent.com/58485300/151367899-d17494db-a4c1-4c80-9ad9-3be90d945cb7.png)
![Screenshot_1643288660](https://user-images.githubusercontent.com/58485300/151367915-d93ae5bb-697a-4068-8fe6-58d76245cf25.png)
![Screenshot_1643288797](https://user-images.githubusercontent.com/58485300/151367921-21b80e22-272c-4455-99a8-f6e466fe2764.png)
![Screenshot_164

[2022-01-27 16:28] Pharste opened #282 "ORPS Content not published in app"
There were four daily articles published in ORPS this morning that did not publish in-app.

The articles are:
Payroll employment, earnings and hours, and job vacancies
Monthly civil aviation statistics
Aircraft movement statistics: Major airports
Railway carloadings

[2022-01-27 16:29] Pharste commented on #282
Although they aren't appearing on the Publications home page, I did receive notifications for them, and can search for them

[2022-01-28 14:27] ForumG-SC opened #283 "Remove Testers from the store"

[2022-01-31 13:32] Rajat-Sen opened #284 "Publication screen (level-2) scroll bar"
Please move it to the side and make it consistent with level-1.

[2022-01-31 13:35] Rajat-Sen opened #285 "Search screen first time"
When the user focuses on search bar, the image should not go away.

It should also show the cancel button, even if there is no text entered.

[2022-01-31 13:37] Rajat-Sen opened #286 "Search mode > filter by subject > Decrease padding"
Filter by subject(s) option has excessive padding from top and bottom (Apply button). That should be decreased.

The close icon should be aligned with the checkboxes as well.

[2022-01-31 13:38] Rajat-Sen opened #287 "Buttons consistency"
Define everything in detail and then assign.

[2022-01-31 13:39] Rajat-Sen opened #288 "Cards consistency on all screens."
Cards on different screens have different sizes. They should be consistent with the Actual size and font size. Please refer to the prototype for the font size.

Also, I have attached images for reference.

[2022-01-31 13:39] Rajat-Sen opened #289 "Font and Font size consistency"

[2022-01-31 13:40] Rajat-Sen opened #290 "Margin between cards consistency"

[2022-01-31 13:41] Rajat-Sen opened #291 "Icons and their quality"
Icons used with in the app should be changed and they were provided earlier.

For instance, Checkbox and Checkmark on Settings screen used on Colour theme and Manage subjects. Please see the latest prototype.

https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/43a64204-945d-4bf4-a0b0-eedc100c4de0/

[2022-01-31 13:44] Rajat-Sen opened #293 "For you screen consistency"
There should be padding underneath the Following and Saved bar to represent navigation status.

[2022-01-31 13:46] Rajat-Sen opened #294 "Consistent shadow across all sub-menus"

[2022-01-31 13:47] Rajat-Sen opened #295 "Navigation issue for the whole app"
Will be updated shortly!

[2022-01-31 14:11] Rajat-Sen opened #296 "Tab bar sliding"
Hi Jiandong, please fix the tab sliding issue that we discussed over the call for bigger devices.

[2022-01-31 15:10] goodyke commented on #168
@payeisa please publish an article in production after 12pm today so that we can verify if this bug still exists now that the caching seems to be resolved.  It would help if you let us know the time and the article id once booked.

[2022-01-31 15:38] payeisa commented on #168
@goodyke The article "Off to hit the...slopes" will be published at 2:00 p.m. today.

[2022-01-31 15:51] goodyke commented on #168
Thanks Isabelle! :-)

[2022-01-31 19:16] goodyke commented on #168
I verified in the mobile application at 2:15pm today and the "Off to hit the... slopes' article is showing up under the 'Latest' grouping as expected.
However, all the articles that were posted earlier this morning remain under the 'Latest' grouping as well when a separate grouping should be shown for these with the label 'Earlier today'.

[2022-02-01 20:30] Pharste opened #297 "Functionality of 'back' button on Android"
The universal back button on Android devices is not working to navigate in the app, and has been pointed out by a few users.

[2022-02-01 20:43] Pharste opened #298 "Text on welcome screens cut off - Samsung S20 FE."
Hi,

A user submitted these screenshots, showing cut-off text on her Samsung S20 FE device. I've asked for what software the device is running, and will update the ticket when I hear back.
![Samsung S20 FE 3](https://user-images.githubusercontent.com/89025880/152048014-bc1e8419-4574-48ae-81df-847240ff1ae5.jpg)
![Samsung S20 FE 1](https://user-images.githubusercontent.com/89025880/152048080-3e7fc00

[2022-02-01 21:19] Pharste commented on #298
From the user - "showing last update was installed on November 22, 2021.  Is says it is Android version 11.  And One UI version 3.1 is in the list just above the Android version"

[2022-02-01 21:23] goodyke commented on #297
Hi @Rajat-Sen,
I will remove myself as an assignee as I have no method to test an Android device.  Please look into this concern when you have time.  Thanks!

[2022-02-01 21:24] goodyke commented on #298
Hi @Rajat-Sen,
I will remove myself as an assignee as I have no method to test an Android device. Please look into this concern when you have time. Thanks!

[2022-02-02 13:46] Pharste opened #299 "Delay in loading ORPS content to English Publications screen"
On February 2, two new publications were booked (around 8:35) and there was a 3-4 minute delay in English. French loaded right away, and the English notifications came in right away.

The two articles were Building permits, December 2021 and Accommodation services, 2020.

[2022-02-02 13:49] Pharste opened #300 "Publishing failure: ORPS"
This morning, the booking tool failed to publish the article Accommodation Services, 2020.

I tried to publish at 8:35 am, and it didn't give me any error message when I hit save.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/89025880/152166118-2a1bad41-63a0-42e4-a895-c94499f9dd9e.png)

[2022-02-02 16:16] goodyke commented on #300
However, this issue could be related to the bug reported in ticket #299.  We should keep both of these GitHub tickets open so we can document the findings clearly.

[2022-02-02 16:21] goodyke commented on #299
If this issue is not related or caused by the concern in #300 then we will need to set up a verification test to execute when the next article is published through ORPS (with the tag to go to the mobile app).
@Pharste does PLUS have any additional articles to be published this afternoon? If so then we can test when it appears in the mobile app (on both the EN and FR publication screen) to determin

[2022-02-02 16:37] goodyke commented on #299
An article is booked to be published to the PLUS website and mobile app at 2pm today (February 2nd).  As soon as the article appears on the PLUS website the clients will verify what is shown in the mobile app on the publications screen using the display language of EN and FR.  At the same time... I will verify what articles are returned when using both the EN and FR parameters in the api call that

[2022-02-02 17:51] Rajat-Sen commented on #297
The universal back button should be enabled at all times.

Once the user has completed the onboarding screen steps, the user should not be able to go back to the previous screens.

While the user is completing the onboarding screens, the back button should be enabled.

[2022-02-03 14:09] goodyke commented on #300
The cause of the failed booking was discovered.  The Booking Tool was not verifying the article entered by the user so it was possible to create an invalid booking.  If you look at the image submitted in this ticket then you can see that the value for the **StatCan Plus article** was _Accommodation Services, 2020_.  When a booking is created with a valid article name then the value for StatCan Plu

[2022-02-03 14:10] goodyke commented on #300
Actually I can not update this to DONE as we did not put it in a Sprint.
@Pharste - please close this ticket if satisfied with the outcome.

[2022-02-03 14:13] #300 closed

[2022-02-03 14:13] Pharste commented on #300
Closed, thank you @goodyke

[2022-02-03 14:23] goodyke commented on #299
- **February 2nd** a test was conducted to ensure the article published at 2pm was returned in the api calls and appeared in the mobile app (EN and FR).  Test PASSED
- **February 3rd** another test was conducted after 8:30am to ensure the four articles created for today's _Daily_ releases were showing up after their publishing time.  Those four articles appeared in the api calls and the mobile app

[2022-02-03 14:40] payeisa opened #301 "Search results & image alt text"
The search should not include the Alternative text field for images. For example, if I search for "fire" then the article "Curling up with a good book" returns. The word "fire" is not in the title, or in the body of the article. It's only in the alt text of the image. So it doesn't make sense for us to search that field.

@Pharste @goodyke @weglmar FYI

[2022-02-03 15:51] Pharste opened #302 "Update Apple Store Keywords"
The app store was recognizing the keywords as two long strings (with the commas) because of how they were first submitted:
<img width="414" alt="Apple keywords 1 jpg" src="https://user-images.githubusercontent.com/89025880/152376583-463fccf9-dfcb-430c-84a6-e93280df71dc.png">
![Apple keywords 2](https://user-images.githubusercontent.com/89025880/152376640-c075e18d-b02a-446f-9372-0c876b8c16bc.jpg)

[2022-02-03 17:19] payeisa opened #303 "Enhance message when saving a publication"
To add...

[2022-02-04 20:35] ForumG-SC commented on #302
@Pharste It can only be updated when we push first updated version to the stores(i.e doing new release).

[2022-02-04 20:44] ForumG-SC commented on #297
@Pharste Hi Stephanie, we have only disabled back button on the android phones for the onboarding screen as user should not be able to repeat the onboarding process. After Onboarding process is completed, the back button is not disabled. Could you please provide further information like on which particular screen user were not able to use the back button ?

[2022-02-04 20:51] Pharste opened #304 "Notifications page loading as blank"
The app is loading a blank notifications screen (screenshot attached). This was noticed by Martyna after the following:

1. App was deleted and re-downloaded.
2.	Followed onboarding screens to set up the app.
3.	Selected the Notifications button.
4.	The page loaded blank
5.	Force closed the app and tried opening again, the screen still loaded blank.
6.	Accessed Manage Subjects from the Settings an

[2022-02-07 14:04] Rajat-Sen opened #305 "Enhance message when sharing the app"
As per accessibility team, the message is not great for accessible users.

[2022-02-07 16:13] Rajat-Sen opened #306 "App unstable on Android 12"
The app is crashing for Android 12 users. Need to take a look into this.

[2022-02-07 18:30] Pharste commented on #302
Thank you @ForumG-SC

[2022-02-07 18:32] #299 closed

[2022-02-07 18:37] Pharste commented on #297
Hi @ForumG-SC we have had two users email us with this issue-- it seems like it is happening on all screens for them, not just the back button. One user specified it didn't work when navigating to the article view, and back to the publications screen. They were using a Samsung Galaxy S8 (Software version unknown).

The other user was using Google Pixel 6, Android 12 (security update Jan 5th 2022)

[2022-02-07 18:42] Pharste commented on #243
Hi, adding this here but please let me know if I should open a new ticket. We received this feedback from a user last week:

I would like to submit a bug report for the StatsCan app on iOS 14.3 (iPhone
13 Pro). After some time, when switching between tabs or opening a
publication, the application will crash abruptly.

[2022-02-07 18:47] Rajat-Sen commented on #243
Hi Steph, this is the same issue and there will be no need to create a new ticket for this. Thanks!

[2022-02-07 18:58] Rajat-Sen opened #307 "Language screen"
In English:

1. "Language/Langue" should be read as a heading
2. English should be labelled as "Select English " button
3. French should be labelled as "Select French " button

In French:

1. "Langue/Language" should be read as a heading
2. It should be read as "Selectionnez Anglais" bouton
3. It should be read as "Selectionnez Francais" bouton

[2022-02-07 19:07] Rajat-Sen opened #308 "Considered Focus"
While using accessibility controls; the focus is going random.

The focus should go to title of screen and then to rest of the elements.

To exemplify: When the user goes from Publications screen (Level-1) to Publication (Level-2).

Applicable to other screens such as Search, For you, Settings.

[2022-02-07 19:10] Rajat-Sen opened #309 "Tab bar remains in English while the language has been switched to French"
When using accessibility controls, the tab bar of the application is read in English even after changing the language to French.

Also, it repeats the unnecessary information when you go from one tab bar icon to another or select another tab bar icon.

[2022-02-07 19:16] Rajat-Sen opened #310 "Consistency between both platforms"
When using other than default app on iOS, the subject line is missing.

[2022-02-07 19:20] Rajat-Sen opened #311 "French Search screen bugs"
The following button labels are still read in English, after changing the language in French:

Search –  “Clear text” button should be labelled as “Effacez le texte” bouton
Search – Sort by options should be labelled as “trier par”

[2022-02-07 19:25] Rajat-Sen opened #312 "Publications screen headings"
When using voiceover on Publications screen:

Latest, Earlier today, dates should be identified as headings.

[2022-02-07 19:28] Rajat-Sen opened #313 "Settings screen not accessible anymore"
When using voiceover on Settings screen:

When swiping from left to right, the focus will not go to anywhere. Earlier, the focus could be moved to next item.

[2022-02-07 19:29] Rajat-Sen opened #314 "Welcome to StatsCAN screen"
When using accessibility controls:

Welcome to StatsCAN should be labelled as heading

[2022-02-07 19:35] Rajat-Sen opened #315 "Terms of Use screen"
When using accessibility controls

1. Terms of use should be identified as a heading
2. When coming from Welcome screen, the focus should go to Terms of use (heading) and then the rest of the content.
3. When swiped from left to right, Focus should move like Heading> Switch language Button> the body of terms of use.
4. For the content, it should not select the whole content. The focus should go fr

[2022-02-07 19:39] Rajat-Sen opened #316 "iOS and Android button issues when using voiceover."
When using voiceover on iOS, all the buttons are identified two times. I believe it might be happening because of the way they are labelled.

For instance, Notifications button should be labelled only "Notifications" as it identifies button by itself.

[2022-02-07 19:42] Rajat-Sen opened #317 "Notifications screen- Intro"
On notifications screen, while using accessibility controls

When swiping from left to right, the focus goes on to the three dots even though they are not visible. (should be removed)

For the Go back button, invisible area should be added to make it easy to use. the minimum area is 44px by 44px.

[2022-02-07 19:46] Rajat-Sen opened #318 "Level-3 enhancement"
When the user goes to level-3 from any screen. the device should use the default browser instead of using our own custom browser.

Please make sure it is working properly on both the platforms.

[2022-02-07 19:52] Rajat-Sen opened #319 "Test new Android screenshots"
Before next deployment to Play store, please test Google is accepting screenshots of latest sizes. (Sent via email)

[2022-02-08 13:57] payeisa commented on #305
Hi Rajat! I believe this can be tracked in ticket 212, 271 or 272.

[2022-02-08 16:22] ForumG-SC commented on #309
@Rajat-Sen Currently it is saying tab bar 1 of 4 and so on as mentioned in this ticket >> https://github.com/StatCan/StatcanPublicationUAT/issues/143  , tab description word is by default.

[2022-02-10 12:07] payeisa commented on #148
@Jiandong-Guo Are these ready for review? If so, could you please assign this ticket to me? Thanks, Isabelle

[2022-02-10 18:52] ForumG-SC opened #320 "Update Language Screen Buttons for accessibility"
Link of updated prototype:
https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/1b03f7d3-db6b-418a-9a55-ce535436baef/specs/

[2022-02-10 18:54] ForumG-SC commented on #320
In progress.

[2022-02-10 18:59] ForumG-SC opened #321 "Update Button and Description on Welcome Screen for accessibility"
https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/44560205-8980-4763-a7af-331bb20b217a/

[2022-02-10 19:02] ForumG-SC opened #322 "Update Terms and Conditions Screen for accessibility"
https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/f4a0f799-4755-478e-bafb-432b1846f44d

[2022-02-10 19:02] ForumG-SC commented on #322
In progress

[2022-02-11 16:04] ForumG-SC commented on #320
Done

[2022-02-11 16:04] ForumG-SC commented on #321
Done

[2022-02-11 16:05] ForumG-SC commented on #322
Done

[2022-02-11 16:05] ForumG-SC commented on #314
Done

[2022-02-11 16:05] #314 closed

[2022-02-11 16:06] ForumG-SC commented on #307
Done

[2022-02-11 16:06] #307 closed

[2022-02-11 16:06] ForumG-SC commented on #191
Done

[2022-02-11 16:07] ForumG-SC commented on #319
Tested and updated.

[2022-02-11 16:07] #319 closed

[2022-02-11 16:09] ForumG-SC commented on #296
@Rajat-Sen Tagging you in this ticket as Jiandong has applied fix for this ticket for you to test in today's deployment. Thanks.

[2022-02-11 16:11] ForumG-SC commented on #99
@Pharste Can we close this ticket as the new promo text was updated to the apple store during Census release?

[2022-02-11 17:19] payeisa commented on #276
Validated.

[2022-02-11 17:19] #276 closed

[2022-02-11 17:21] payeisa commented on #274
@goodyke Would it be possible to get an update on the status of this ticket? Thanks, Isabelle

[2022-02-11 17:26] payeisa commented on #270
@Rajat-Sen I uninstalled and re-installed the app, and the issue remain (Samsung Galaxy S9)

[2022-02-11 17:27] payeisa commented on #269
Is this ticket ready for validation?

[2022-02-11 17:31] payeisa commented on #266
Is this ticket ready for validation?

[2022-02-11 17:32] payeisa commented on #258
@Rajat-Sen I believe this one can be closed after you validate.

[2022-02-11 17:37] Rajat-Sen commented on #317
@Jiandong-Guo, please remove the dots completely instead of hiding. Thanks!

[2022-02-11 17:40] #283 closed

[2022-02-11 17:41] payeisa commented on #221
@ForumG-SC Is this ticket ready for validation?

[2022-02-11 17:43] ForumG-SC commented on #269
Yes , it was ready for validation in the previous release that's why I assigned it back to Stephanie.

[2022-02-11 17:44] payeisa commented on #140
@Pharste Are the enhanced screens ready to go?

[2022-02-11 17:46] ForumG-SC commented on #266
Yes

[2022-02-11 17:47] ForumG-SC commented on #221
Yes

[2022-02-11 17:47] payeisa commented on #95
@Pharste Can you please review?

[2022-02-11 17:48] ForumG-SC commented on #140
I have updated the the latest screenshots in the google store which is under review right now. I am waiting to receive the latest screenshots for the apple store. Thanks.

[2022-02-11 17:49] Jiandong-Guo commented on #168
Please test the "Early today" in next release, also click "Grouping test" button in setting screen to test the algorithm.

[2022-02-11 17:49] Rajat-Sen commented on #305
Linked with #212, #271, #272

I think the problem is we are dividing the message into subject and body. Thus, when sharing between different platforms the message gets divided as the subject is not applicable to all the platforms.

[2022-02-11 17:56] Rajat-Sen commented on #296
It has been fixed!

[2022-02-11 17:56] #296 closed

[2022-02-11 18:06] Rajat-Sen commented on #251
Validated!

[2022-02-11 18:06] #251 closed

[2022-02-11 20:43] #310 closed

[2022-02-14 12:24] payeisa commented on #148
Validated.

[2022-02-14 12:24] #148 closed

[2022-02-14 12:33] payeisa commented on #294
Hi - has this ticket been validated?

[2022-02-14 12:56] payeisa commented on #99
Assigning to Steph for validation.

[2022-02-14 13:04] payeisa commented on #221
Sharing a publication looks good on Android, for email, text and social media. @weglmar Can you please test on iOS and assign back to me once done? Thanks, Isabelle

[2022-02-14 13:12] Rajat-Sen commented on #294
It has been validated on iOS devices, would you be able to please validate on Android devices as well?

[2022-02-14 14:07] Pharste commented on #99
Validated, thank you. I will close this ticket and submit a new one when the text needs to be updated again.

[2022-02-14 14:15] payeisa commented on #272
@Pharste Can you test and let me know if it has been resolved? (Looks good for Android).

[2022-02-14 14:18] payeisa commented on #294
@Rajat-Sen Yes, I can validate for sure! Can you please include a screenshot of what's expected and assign the ticket to me once done?

[2022-02-14 14:39] Pharste commented on #272
I'm still seeing the same old text on Apple without the first line:
![Feb14 DL](https://user-images.githubusercontent.com/89025880/153884547-4da3cdb4-01c6-4af7-ada7-036defb36e11.jpg)

[2022-02-14 18:32] Rajat-Sen commented on #322
Validated!

[2022-02-14 18:32] #322 closed

[2022-02-14 18:33] Rajat-Sen commented on #321
Validated!

[2022-02-14 18:33] #321 closed

[2022-02-14 18:33] Rajat-Sen commented on #320
Validated!

[2022-02-14 18:33] #320 closed

[2022-02-14 19:30] Pharste opened #323 "Changes to French Apple Store info"
Hi,

The Apple  French store page requires some changes, to be implemented as soon as possible please:  https://apps.apple.com/ca/app/statscan/id1581143394?l=fr

StatCan should be StatsCAN
Short description should be in French: Histoire de données du Canada.
Statistics Canada should be Statistique Canada

Statistics Canada should be “Statistique Canada”.

Thanks,
Stephanie

![French apple 1](https

[2022-02-14 19:51] weglmar commented on #221
![1](https://user-images.githubusercontent.com/98898969/153934941-e5b75e80-42e2-42c9-8c7d-e1134517b31a.jpg)
![2](https://user-images.githubusercontent.com/98898969/153934957-47f2102e-ca97-4218-91ef-5518e16af48d.jpg)

It looks good on my iPhone when sharing a text message, email, tweet or on FB Messenger. When I check Facebook and Pinterest, it doesn't display ideally. I'm not sure if Pinterest is

[2022-02-14 21:05] Rajat-Sen commented on #294
Hi Isabelle, these are the screenshots from iOS. The shadow around the element is subtle and helps differentiate from the background. However, I tested on android I cannot see the shadow. Would you be able to please verify from your end. Thanks!

![image](https://user-images.githubusercontent.com/38566088/153945931-c0c91674-6f55-4fbb-9944-bff459e8e831.png)
![image](https://user-images.githubuserco

[2022-02-14 21:14] Rajat-Sen commented on #297
I tested this functionality again and the back button seems to be disabled on all screens. The OS version of android is 12

[2022-02-14 22:25] Jiandong-Guo commented on #243
App crash:
Problem: The app will crash if user switching the tab navigator too quickly.
Reason:  (could be)
1)	The react native tab component (github.com/react-navigation/react-navigation/issues/10083)
2)	The api call is made during each time the tab gets focused
Potential Fixes:
•	For the reason 1, we can try upgrading package version or use different tab component
We need re-coding the tab compo

[2022-02-15 11:57] payeisa commented on #294
@Rajat-Sen It doesn't look like there's a shadow on these ones:
![image](https://user-images.githubusercontent.com/89025704/154057519-37ce8c60-487b-43dd-b33b-7c6c2d468a96.png)
![image](https://user-images.githubusercontent.com/89025704/154057633-e8ad6950-f5be-48a3-87ad-dd2ba2af8718.png)

Does this one have it?
![image](https://user-images.githubusercontent.com/89025704/154057600-f7c0c213-e3f4-4a9c

[2022-02-15 19:34] payeisa commented on #168
Validated that the "Latest" and "earlier today" sections were updated at 2:00 p.m. when a StatsCAN Plus article was published at 2:00p.m. I will be able to close this ticket after validating the behaviour tomorrow morning, when new content is published.

[2022-02-15 20:04] ForumG-SC commented on #272
@Pharste Updated SS EN Text and Email:
![IMG_0600](https://user-images.githubusercontent.com/84411852/154140187-89a5bad2-5250-45a5-a60c-9bc11b7d5d1c.jpeg)
![IMG_0601](https://user-images.githubusercontent.com/84411852/154140208-7db1d9e5-d1f7-4b56-9851-6341ba69b74f.jpeg)

Updated SS FR Text and Email:
![IMG_0598](https://user-images.githubusercontent.com/84411852/154140252-685e0ffc-0228-490a-bb55-0

[2022-02-15 20:05] ForumG-SC commented on #272
@Pharste Assigning it back to you for validation in tomorrow's release.

[2022-02-16 14:22] payeisa commented on #168
Validated.

[2022-02-16 14:22] #168 closed

[2022-02-16 16:53] Rajat-Sen opened #324 "Release notes for the app"
English:
We introduced a new category on the Publications screen. The “Earlier today” section will now feature content that was published earlier in the day while the “Latest” section will feature the most recently published content. We also implemented bug fixes and accessibility improvements.

French:
Nous avons introduit une nouvelle catégorie sur l’écran « Publications ». La section « Plus tôt

[2022-02-16 16:54] ForumG-SC opened #325 "After Sign off Tasks"
Delete User profile and grouping test button from the settings screen.
Update store info such as >>
https://github.com/StatCan/StatcanPublicationUAT/issues/302
https://github.com/StatCan/StatcanPublicationUAT/issues/323

[2022-02-16 17:13] ForumG-SC commented on #191
@Rajat-Sen As per our conversation, this should be changed to Help and Frequently asked questions.

[2022-02-17 11:34] Rajat-Sen opened #326 "Translation for Dark mode in French"
In French, 'Dark' (mode) should be 'sombre' and not 'Foncé'.

[2022-02-17 11:51] Rajat-Sen commented on #294
Hi Isabelle, it's been hard to see shadows on Android devices since the very beginning. I will make design changes to make sure it will be seen easily on Android devices as well.

[2022-02-17 11:56] Rajat-Sen commented on #250
Validated!

[2022-02-17 11:56] #250 closed

[2022-02-17 12:09] Rajat-Sen commented on #191
It's been partially fixed, the FAQ button at the bottom of the screen is still being read as FAQ instead of "Frequently asked questions".

[2022-02-17 19:40] AJBouzidi opened #327 "Best practice research: Switching between backend Alpha and Prod"
Solution Options:
1- Create different channels for release.
https://docs.expo.dev/distribution/release-channels/
https://docs.expo.dev/distribution/advanced-release-channels/
2- Use the master branch
-   Create the app_Alpha.json
-   Name: StatsCan Alpha
-   iOS BundleIdentifier: com.statcan.statcanpublication (exist already in the store)
-   Android package :   com.statcan.statcanpublication (exi

[2022-02-18 14:39] payeisa commented on #187
@Rajat-Sen That sounds great! :)

[2022-02-21 23:40] AJBouzidi commented on #302
@ForumG-SC the keyword should not separate with space..? could you validate that?

[2022-02-22 16:10] ForumG-SC commented on #302
@Pharste In the next release to the store, we would have to revert back the keywords using commas and remove space as according to the apple's guidelines:

Keywords are limited to 100 characters total, with terms separated by commas and no spaces. (Note that you can use spaces to separate words within keyword phrases. For example: Property,House,Real Estate.) Maximize the number of words that fit

[2022-02-22 16:47] Pharste commented on #302
@ForumG-SC if this is how it should be according to Apple that's ok, but if the keywords are supposed to be separated by commas, do we know why they weren't working before and showing as one long word?

[2022-02-23 14:07] payeisa commented on #274
Hi, Just following up on this ticket. Would it be possible to get an update on next steps? Thanks, Isabelle
@goodyke @Rajat-Sen

[2022-02-23 14:59] Pharste commented on #323
Hi @ForumG-SC , is there any way to change the developer to show in French on the French page?
![image](https://user-images.githubusercontent.com/89025880/155345166-0d3a9801-6dc8-4d66-b5bb-49dd48042f75.png)

[2022-02-23 15:26] ForumG-SC commented on #326
Done

[2022-02-23 15:26] #326 closed

[2022-02-23 15:27] #324 closed

[2022-02-23 16:09] Pharste commented on #323
The French page is also listing the category and header (developer name) in English here: https://apps.apple.com/ca/developer/statistics-canada/id1496401126?l=fr

Can we fix this?
![image](https://user-images.githubusercontent.com/89025880/155358992-f5832b88-09ea-4316-9091-510768d6a576.png)

[2022-02-23 18:38] Pharste commented on #297
@payeisa Can you please test on Android?

[2022-02-23 18:50] Pharste commented on #272
Hi @ForumG-SC,

Validated, everything is working as expected except for sharing the app to Facebook (tested by both me and Martyna)

It is only showing the Google Play link when sharing to Facebook:
![image](https://user-images.githubusercontent.com/89025880/155387218-62160aa1-02b7-488b-ade2-372f61c756d4.png)

Also, are we able to replace the AI icon with the app icon?
![image](https://user-images

[2022-02-23 18:52] ForumG-SC commented on #272
@Pharste Hi, I think that's separate issue. As per my conversation with @Rajat-Sen , he mentioned about adding the missing text "Do you have the StatsCAN app" when sharing app via message which was fixed.

[2022-02-23 18:52] Pharste commented on #269
validated

[2022-02-23 18:52] #269 closed

[2022-02-23 18:57] ForumG-SC commented on #297
This ticket can be validated in the next testing release not in the current version of the app. Thanks.

[2022-02-23 18:58] ForumG-SC commented on #323
I will look into this and get back to you. Thanks.

[2022-02-23 19:16] payeisa commented on #297
@Rajat-Sen Can you please include a screenshot of what the "expected" back button should be? I've never had issues with navigating back, from any screens, from my Android S9, so I'm not too sure if I can replicate the issue. Thanks, Isabelle

[2022-02-24 13:08] Jiandong-Guo opened #328 "Deploy AppCrash branch for testing"
Please deploy AppCrash branch for testing only.
It is for testing #306 and #243.

[2022-02-24 13:15] AJBouzidi commented on #323
@ForumG-SC  this is the developer name it's located on the Membership Details page.
this need to be communicate to apple to be change because it's linked to the contract.
we can change the developer name to Statistics Canada/ Statistique Canada instead.
This is an example how it's done for Covid alert:
https://apps.apple.com/ca/app/id1520284227?l=en
https://apps.apple.com/ca/app/id1520284227?l=fr

[2022-02-24 14:10] #305 closed

[2022-03-02 13:40] #140 closed

[2022-03-02 16:03] ForumG-SC commented on #323
@Pharste Hi Stephanie, we reached out to apple regarding the name change and they told us that it cannot be done as the organization is registered as Statistics Canada and not Statistics Canada/ Statistique Canada.  We will still continue to reach out to apple to solve this issue.

[2022-03-02 18:58] Rajat-Sen commented on #297
@payeisa, I am using Google Pixel to test on Android devices. I cannot use the default back button on some screens which follows:

1. Publications: Going from Level-2 to Level-1.
2. Search: Tapping back button after Searching for results.
3. Following: After clicking on an article without going into a particular subject. I am not able to go back.
4. Following after tapping see more: Can't go back

[2022-03-02 19:00] Rajat-Sen commented on #297
![Screenshot_20220302-135938.png](https://user-images.githubusercontent.com/38566088/156429948-55dde55e-6b9f-494e-8b89-1f1155b218ce.png)

[2022-03-02 19:07] Rajat-Sen commented on #294
Hi Ali,

On Android, we can see the shadow on this particular screen. However on rest of the screens, the shadow is not visible.

On iOS, we are are able to see all the shadows. On this particular Search screen, it is darkest as compared to rest of screens.

I think we are using different values for shadows on different screens. Would you be able to please confirm?

Thanks,
Rajat

[2022-03-02 19:22] Rajat-Sen commented on #288
![image](https://user-images.githubusercontent.com/38566088/156433687-9fe4ccb2-5584-4f9a-9f23-f01eb8abcf4e.jpeg)
![image](https://user-images.githubusercontent.com/38566088/156433704-90518765-2e2d-4e51-8f08-30b30f16b50e.jpeg)
![image](https://user-images.githubusercontent.com/38566088/156433716-d93a236a-e53a-4bda-9411-0c141d97a7bf.jpeg)

[2022-03-02 19:30] Rajat-Sen commented on #274
@payeisa, waiting to hear back! Will update you shortly. Thanks for your patience, Rajat

[2022-03-02 19:40] Rajat-Sen commented on #271
When sharing the app, on LinkedIn; it is not showing link for iOS. However, on regular messages or email, it is showing both the links.

[2022-03-02 19:44] Rajat-Sen commented on #125
We have been receiving inquires regarding this feature not working properly.

[2022-03-02 19:50] payeisa commented on #297
@Rajat-Sen , For Galaxy S9 and S20, I have both, the default back button, as well as the back button at the top of the screen for all the screens, except for Search (where I only have the default back button at the bottom, an no back button at the top of the screen).

Publications: Going from Level-2 to Level-1:

![image](https://user-images.githubusercontent.com/89025704/156437990-8f4fee9f-26b3-4

[2022-03-02 19:53] Rajat-Sen commented on #297
@payeisa, if you click on the back button at the bottom. Are you able to navigate back?

[2022-03-02 20:03] payeisa commented on #72
Hi, This ticket had not been validated before being closed.

[2022-03-02 20:17] payeisa commented on #72
Publication level 2: In French, the first day of the month should be superscript. This has been fixed on the Publications screen level 1, the Search screen and the For you/Saved screens). For example, refer to the article "C'est si simple, mais tellement bon!", published on March 1, 2022.
![image](https://user-images.githubusercontent.com/89025704/156442592-7896dc75-334d-4964-b213-77e3b80ede23.png

[2022-03-02 20:18] payeisa commented on #304
@Pharste Has this ticket been validated?

[2022-03-02 20:20] Pharste commented on #304
@payeisa no, I haven't validated yet. I'll re-open. (It's on my list for tomorrow, and I will get Martyna to validate as well).

[2022-03-02 20:22] payeisa commented on #297
@Rajat-Sen Yes, both the S9 and S20 allow me to navigate back, using the default back button, on all screens.

[2022-03-02 20:40] payeisa commented on #274
Thanks @Rajat-Sen !

[2022-03-03 18:39] weglmar commented on #304
Validated on my end, functions as it should!

[2022-03-03 18:40] #304 closed

[2022-03-03 19:38] payeisa commented on #72
@AJBouzidi Is there a way that we can include this ticket in this week's release, or does it automatically move to the next one since it didn't pass the validation?

[2022-03-04 13:15] AJBouzidi commented on #72
@payeisa  because it didn't pass the validation then we have to added to the current sprint.

[2022-03-04 19:50] Rajat-Sen commented on #297
It seems to be working now!

[2022-03-04 19:50] #297 closed

[2022-03-04 19:59] Rajat-Sen commented on #191
Validated!

[2022-03-04 19:59] #191 closed

[2022-03-04 20:02] Rajat-Sen commented on #263
Validated!

[2022-03-04 20:02] #263 closed

[2022-03-07 14:19] Jiandong-Guo commented on #72
![image](https://user-images.githubusercontent.com/58485300/157051440-493aa8a5-71ae-4180-8665-e160a9387205.png)

[2022-03-07 14:20] Jiandong-Guo commented on #72
![image](https://user-images.githubusercontent.com/58485300/157051664-7eb995f1-df67-47b0-bda9-afb8010e31d3.png)

[2022-03-07 14:20] AJBouzidi commented on #326
@Rajat-Sen is this been validated?

[2022-03-07 14:27] Rajat-Sen commented on #326
Yes, I just validated it.

[2022-03-07 15:08] #328 closed

[2022-03-07 15:11] ForumG-SC commented on #153
@AJBouzidi I don't have working device currently for this issue. Accessibility on my emulator is not responding.

[2022-03-07 19:10] ForumG-SC commented on #309
@Rajat-Sen Please confirm the translations:
barre d'onglets = tab bar

[2022-03-07 19:11] ForumG-SC commented on #237
@AJBouzidi Not sure about the status of this ticket.

[2022-03-07 19:12] ForumG-SC commented on #95
@AJBouzidi Not sure regarding status of this ticket.

[2022-03-07 19:13] ForumG-SC commented on #212
@AJBouzidi Seems to be duplicate of #271

[2022-03-07 21:33] AJBouzidi commented on #327
Option 1 has been implemented.

[2022-03-07 21:33] #327 closed

[2022-03-08 13:40] AJBouzidi opened #329 "Deployment to Prod"
This will be done when business and IT will agree on deployment to prod and signoff:
https://confluenceb.statcan.ca/pages/viewpage.action?pageId=945738321
1- Send the app for approval (play store and apple store)
2- Push the app to prod in the 2 stores in same time (wait until the app approved in the play store and apple store)
 Note: If only one store approve it then we will not send the app to p

[2022-03-08 16:49] AJBouzidi commented on #329
@ForumG-SC need to revert back this : https://github.com/StatCan/StatcanPublicationUAT/issues/302

[2022-03-09 14:53] AJBouzidi opened #330 "Changing the flow"

[2022-03-09 15:20] Rajat-Sen opened #331 "Google Play data safety form"
Hi Ali, we did completed the Google Play data safety form before submitting to the store. I am not 100% sure if we filled out all the required information. Even if we did, it would be great to have double checked.
[Google Play Data Safety-updated.docx](https://github.com/StatCan/StatcanPublicationUAT/files/8215828/Google.Play.Data.Safety-updated.docx)

[2022-03-09 15:21] Jiandong-Guo commented on #330
Please take a look at the updated solution for fix app crash.
https://confluenceb.statcan.ca/pages/viewpage.action?spaceKey=SPMA&title=Updated+workflow+to+fix+crash

[2022-03-09 15:48] ForumG-SC commented on #256
@payeisa Fixed, please test in the new upcoming release. Thanks.

[2022-03-09 16:03] Rajat-Sen commented on #309
@ForumG-SC, Yes that's the right translation. Thanks!

[2022-03-09 18:23] #331 closed

[2022-03-10 02:28] ForumG-SC opened #332 "Investigate Rejection from apple store and resubmit the new version with fixes"

[2022-03-10 12:31] payeisa commented on #243
Just to add, I also tried to replicate on Android and was not able to able (i.e. the app does not crash). Thanks, Isabelle

[2022-03-10 14:49] #332 closed

[2022-03-11 12:23] payeisa commented on #323
Tagging this one as "Major".

As a federal government, we have to comply with the Policy on Communications and Federal Identity, which states:

The Government of Canada is visible and recognizable to the public in Canada and abroad, **and is projected equally in both official languages.**

https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=30683

Thanks,
Isabelle

[2022-03-11 12:24] payeisa commented on #301
Tagging as "Major".

[2022-03-11 12:30] payeisa commented on #289
I think this is a duplicate of Ticket #275

[2022-03-11 12:47] payeisa commented on #258
@Rajat-Sen Can this ticket be closed?

[2022-03-11 12:54] payeisa commented on #303
Can we please change the toast message from :
Added to saved items on For you
Ajouté aux éléments sauvegardés dans l'onglet Pour vous

To:
Added to the "Saved" menu of the "For you" screen
Ajouté au menu "Éléments sauvegardés" de l'écran "Pour vous"

[2022-03-11 12:54] payeisa commented on #303
@Rajat-Sen Can you please review and let me know if you agree with the proposed chage?

[2022-03-11 12:55] AJBouzidi opened #333 "Prioritize Accessibility tickets"

[2022-03-11 13:04] AJBouzidi commented on #301
@Jiandong-Guo is this a backend issue and should be sent to David?

[2022-03-11 13:23] AJBouzidi commented on #187
@Rajat-Sen did you change the design for this? what's the status.

[2022-03-11 13:36] AJBouzidi opened #334 "Merge the branch for fixing the app crash."
Based on the business testing result, you can go a head and merge back to master:
make sure that the new tab navigation doesn't create the UX issue.

[2022-03-11 14:55] Jiandong-Guo commented on #334
Done

[2022-03-11 15:09] Rajat-Sen commented on #243
I have tested the app on iOS and Android. The app does not crash anymore while switching fast between tabs.

[2022-03-11 15:23] Rajat-Sen opened #335 "Cancel button on Search Screen"
When Search bar is in focused state, the Cancel button that appears is small.

The text size should be increased and add invisible area around it to make it easier to click.

[2022-03-11 18:47] Rajat-Sen commented on #258
Yes, it's been validated!

[2022-03-11 18:47] #258 closed

[2022-03-11 18:51] Rajat-Sen commented on #289
Closing this issue as it's duplicate!

[2022-03-11 18:51] #289 closed

[2022-03-16 14:00] ForumG-SC opened #336 "Update promo text"
EN: Check out Statistics Canada’s podcast, Eh Sayers! Season 2 is out now—available wherever you get your podcasts.
FR : Consultez le balado Hé-coutez bien! de Statistique Canada. La saison 2 est maintenant disponible sur les plateformes où vous trouvez vos balados.

[2022-03-16 14:05] ForumG-SC commented on #336
Done

[2022-03-16 14:05] #336 closed

[2022-03-17 13:48] weglmar commented on #249
Validated, content displays correctly on my end.

[2022-03-18 12:22] AJBouzidi commented on #298
@Pharste  could you add device information?

[2022-03-18 12:24] AJBouzidi commented on #311
SearchScreen. line 434.

[2022-03-18 12:27] AJBouzidi commented on #298
OS: Android version 11.
Device: Samsung S20 FE

[2022-03-18 12:38] AJBouzidi commented on #278
@Jiandong-Guo navigation issue.

[2022-03-18 12:52] AJBouzidi commented on #72
@weglmar this ticket for the date format only, if there are issues for the font size for the pages please create a different issue.

[2022-03-18 18:59] AJBouzidi commented on #129
@Jiandong-Guo There is two issues in this ticket:

1.  **_"Avis de confidentialité should link to the French page: https://www.statcan.gc.ca/fr/reference/privee"_**  (this is done already)
2. The header and footer for the Privacy notice should be removed same as contact us.

[2022-03-18 19:10] AJBouzidi commented on #212
Duplicate of 271 and 272

[2022-03-18 19:10] #212 closed

[2022-03-18 20:05] AJBouzidi commented on #264
@Rajat-Sen could you add screenshot of this issue.

[2022-03-18 20:14] AJBouzidi commented on #229
@Rajat-Sen @payeisa this is need to be redesigned (ux) before we start to work on.

[2022-03-22 13:26] Jiandong-Guo commented on #72
"1 er mars 2022" is a string and using one font size, just er is using unicode superscript font family, which is from system.  on my testing, the e r are  same.  is any body else found them in different size on different device?
![image](https://user-images.githubusercontent.com/58485300/159490519-d04fe71c-c8f9-4c00-ada9-898afe8b6218.png)

[2022-03-22 13:45] Jiandong-Guo commented on #72
Which phone has the problem ?

[2022-03-22 14:00] Jiandong-Guo commented on #72
@weglmar: Please let me know which phone you are using to test

[2022-03-22 14:02] weglmar commented on #72
@Jiandong-Guo it is appearing on my iPhone X, and it is happening on iPhone XR too

[2022-03-22 14:23] ForumG-SC commented on #202
It has been fixed.Please validate this issue in the next release. Thanks

[2022-03-23 14:33] ForumG-SC commented on #125
@Rajat-Sen Hi Rajat, this ticket was opened for design/color scheme which had been discussed and implemented. Please create separate ticket for the feature's functionality. Thanks.

[2022-03-24 11:09] payeisa commented on #72
@Jiandong-Guo I can confirm that the superscript is displaying ok on Android (Samsung Galaxy S9  and Galaxy Tab S6). It looks like the issue with the superscript formatting is specific to iOS. Can you please assign this ticket to Martyna once it's ready for validation in iOS? Thanks, Isabelle

[2022-03-24 11:16] payeisa commented on #249
I was also able to validate - the text displays in the appropriate language on the "For you" screen when I switch languages.
@weglmar, I believe the headings of the "For you" screen are smaller in French due to the length of the text. @ForumG-SC Can you please confirm? If that's in fact the case, this ticket can be closed.

[2022-03-24 11:18] payeisa commented on #256
Validated.

[2022-03-24 11:18] #256 closed

[2022-03-24 12:47] payeisa commented on #221
Validated. @weglmar I added an item to the enhancement list to improve the messaging for the "Share this publication" feature.

[2022-03-24 12:47] #221 closed

[2022-03-24 13:14] Rajat-Sen opened #337 "Fix the UX for Tab bar on iOS"
The icons on the tab bar needs to be moved up as there needs to be room between home indicator and the icons itself.

Attaching image for reference.

[2022-03-24 13:15] Rajat-Sen commented on #337
![image](https://user-images.githubusercontent.com/38566088/159924038-6b024994-198a-4571-a577-0536d51d8088.png)

[2022-03-24 13:16] Rajat-Sen commented on #337
This is normal tab bar on other apps.

![image](https://user-images.githubusercontent.com/38566088/159924286-45fef130-0f01-4f15-96e0-70ab86a60104.png)

[2022-03-24 13:24] AJBouzidi commented on #301
@zhuelle which project we should log on this ticket as it's a backend issue?

[2022-03-24 13:38] ForumG-SC commented on #337
Related to #334

[2022-03-24 13:44] ForumG-SC commented on #334
@Jiandong-Guo Related to #337 , seems to be something to do with the height.

[2022-03-24 13:51] ForumG-SC commented on #249
@payeisa Yes, that's correct. We can close this ticket.

[2022-03-24 14:56] #249 closed

[2022-03-25 16:53] AJBouzidi commented on #337
@ForumG-SC this is will be part of the 29th deployment. Improvement needed for the spacing.

[2022-03-28 14:46] Rajat-Sen opened #338 "Focus on Publication screen"
When the user goes to publication screen, the focus should be given in this priority order:

1. Go back button
2. Publication (Heading)
3. Save item (Button)
3a) When the save button is tapped, it should specify (Selected save button)

4. More options (Button)
4a) When the More options button tapped, the focus should go to the menu items of the button which are
      Share this publication
      C

[2022-03-28 17:56] Rajat-Sen commented on #309
Validated!

[2022-03-28 17:56] #309 closed

[2022-03-28 18:01] #264 closed

[2022-03-28 18:07] Rajat-Sen commented on #317
Update: Still hasn't been fixed.

[2022-03-28 18:24] #308 closed

[2022-03-28 18:35] Rajat-Sen opened #339 "Search screen bug on Android"
When the user goes to the search screen, the tab bar moves up when typing something.

The intended functionality is to hide the tab bar and show the keyboard. Screenshot attached for reference.

[2022-03-28 18:36] Rajat-Sen commented on #339
![Screenshot_20220328-142648.png](https://user-images.githubusercontent.com/38566088/160464154-15646daf-1234-4d7b-aa92-5b685e280fa0.png)

[2022-03-28 18:38] Rajat-Sen opened #340 "Error screen bug"
Image is not showing properly. See attached screenshot for reference.

[2022-03-28 18:39] Rajat-Sen commented on #340
![image](https://user-images.githubusercontent.com/38566088/160464637-f43c59bc-38b1-486d-a66d-5b4498dc1c02.png)

[2022-03-28 18:42] Rajat-Sen opened #341 "Hide the Tab bar on Publication screen"
You can see the Prototype for reference.

Link : https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/2aa4ac33-0a97-4174-9108-648c95265fe8

[2022-03-28 18:52] Rajat-Sen opened #342 "Adjustment of text"
On settings screen, on both platforms there are following bugs:

1. iOS: Copyright logo is missing.
1a) - The text and the Canada wordmark is not aligned vertically. (Refer to the attached screenshot)

2. Android:
2a) - Version number of app is not in the aligned horizontally. (Refer to the attached screenshot)
2b) - Similar to iOS, The text and the Canada wordmark is not aligned vertically. (Refe

[2022-03-28 18:56] Rajat-Sen commented on #342
![image](https://user-images.githubusercontent.com/38566088/160467457-223e6462-b1f0-49cf-8471-c3a85c869626.png)

[2022-03-28 18:57] Rajat-Sen opened #343 "Back button on Android"
By pressing the back button on Android device, I am able to go back to Welcome and Terms of use screens.

[2022-03-28 19:01] Rajat-Sen commented on #343
https://user-images.githubusercontent.com/38566088/160468253-d8fb4a25-810c-4f80-a3b8-1155012b208b.mp4

[2022-03-29 16:58] Jiandong-Guo commented on #278
I think it's fixed long time ago with another ticket, please make sure

[2022-03-29 17:06] Jiandong-Guo commented on #337
It doesn't exist in new component.  we can say it fixed

[2022-03-29 17:07] Jiandong-Guo commented on #337
Please test it in next release

[2022-03-29 17:11] Jiandong-Guo commented on #317
There is no hidden thing for three dots,  The label was fixed, Test it in next release

[2022-03-29 18:40] Jiandong-Guo commented on #72
Due to unicode has problem with ios, have to write superscript style code manually.   Please test it more in next release

[2022-03-30 15:22] Pharste opened #344 "Update to Apple promo text"
We would like to update the Apple Promo text on April 1 and 27.

April 1:
EN: 2021 Census data on Canada's shifting demographic profile will be available April 27, 2022.
FR: Les données du Recensement de 2021 sur la transformation démographique du Canada seront disponibles le 27 avril 2022.

April 27:
EN: 2021 Census data on Canada's shifting demographic profile are now available!
FR: Les données

[2022-03-30 18:36] Rajat-Sen commented on #337
Was this tested properly on simulator before releasing?

Please see the attached screenshot.

[2022-03-30 18:37] Rajat-Sen commented on #337
![image](https://user-images.githubusercontent.com/38566088/160907259-5853f5ac-d838-44bf-a783-33f4844e8b00.png)

[2022-03-30 20:54] Jiandong-Guo commented on #337
Yes, The screen shot was what I tested on simulator.

[2022-03-31 11:02] Rajat-Sen commented on #337
This is not how it was supposed to look like. I have attached screenshot from other app. Please make changes accordingly.

[2022-03-31 11:04] Rajat-Sen commented on #337
![image](https://user-images.githubusercontent.com/38566088/161041081-753f48a0-4591-4ee5-8e67-4ab0102e059a.png)

[2022-03-31 11:13] Rajat-Sen opened #345 "Delete user profile not removed properly"
Please remove it completely and for reference see the attached screenshot.

[2022-03-31 11:22] Rajat-Sen opened #346 "Notification screen bug"
When the user goes to Notification screen > click on a notification > Before seeing an article, you can see the empty notification screen for a split second.

Please see the video attached for reference.

[2022-03-31 11:23] Rajat-Sen commented on #346
https://user-images.githubusercontent.com/38566088/161044218-58e425d4-16ac-4ecc-9383-f2af2e467c65.MOV

[2022-03-31 11:28] Rajat-Sen commented on #337
Also, please test on iPad as well and attach screenshot for reference. Thanks!

[2022-03-31 13:31] Jiandong-Guo commented on #337
@Rajat-Sen What you want to change exactly ?

[2022-03-31 13:54] Pharste commented on #337
Tested on iPad Pro:
![Bottom menu bar ipad dark](https://user-images.githubusercontent.com/89025880/161071879-d49f27f7-3ba8-4997-b7a6-0841e55fe22c.png)
![Bottom menu bar ipad](https://user-images.githubusercontent.com/89025880/161071886-797f15b3-43d7-41ef-9696-403ca6552079.png)

[2022-03-31 15:43] Jiandong-Guo commented on #337
This is for iphone
![iphone 8](https://user-images.githubusercontent.com/58485300/161095613-5d661068-1bb2-40b0-a456-c893ea3a7dde.png)
8

[2022-03-31 15:44] Jiandong-Guo commented on #337
That is for iphone 8

[2022-03-31 15:48] Rajat-Sen commented on #337
@Jiandong-Guo It's still not fixed well.

In light mode, there is colour difference between home indicator and tab bar.
In dark mode, the home indicator should be in white colour.

[2022-03-31 15:53] Jiandong-Guo commented on #337
If the problem is to cover the bottom border, it seems only for iphone 12 pro max, for iphone 8, it is a physical border, for the iphone 12, it is a virtual border, we can extend the our screen to cover the bottom, but in dark mode, the virtual button is almost invisible, the virtual button is from system, don't know how to style it yet. that needs time to research

[2022-03-31 15:54] Jiandong-Guo commented on #337
I didn't fix it yet, just start to test the feasibility

[2022-03-31 17:25] Rajat-Sen commented on #337
Also, the Tab Bar doesn't change colour in dark mode. Please see the attached screenshot.

[2022-03-31 18:47] weglmar opened #347 "Search Results displaying incorrectly (StatsCAN v1.0.4)"
The Search Results on the Search page are displaying incorrectly (every second image is not displaying to the right, but underneath, and the date is duplicated).
App: StatsCAN (v1.0.4)

iPhone X, iOS 15.3.1. 

![IMG-7449](https://user-images.githubusercontent.com/98898969/161126949-cced787c-6333-41d7-af6d-e27316bf7830.PNG)
![IMG-7450](https://user-images.githubusercontent.com/98898969/161126964-af

[2022-03-31 18:47] weglmar opened #348 "Search Results displaying incorrectly (StatsCAN Alpha v1.0.5)"
The Search Results on the Search page are displaying incorrectly (every second image is not displaying to the right, but underneath, and the date is duplicated).
App: StatsCAN Alpha (v1.0.5)

iPhone X, iOS 15.3.1. 

![IMG-7449](https://user-images.githubusercontent.com/98898969/161127614-b68f5751-ed4f-4ffd-8743-91bd29db47df.PNG)
![IMG-7450](https://user-images.githubusercontent.com/98898969/161127

[2022-03-31 19:25] Jiandong-Guo commented on #337
After searching awhile and found:
The home indicator was introduced in after iphone X, and will be phase out in the future.
The home indicator’s color is determined by the system and cannot be modified directly.
The home indicator’s color is determined by the content underneath, and it is not always a solid color. you can change the underneath color to let system to change the color for you, but t

[2022-04-01 12:10] weglmar opened #349 "Issues with screen menu tab at bottom in dark/light mode - StatsCAN App (PRD)"
The screen menu tab at the bottom does not follow the display setting of Dark or Light. If I switch from Dark to Light, then the menu at the bottom remains in Dark mode (image 1 below).
If I switch to Dark, then then menu bar is white and the menu items are not visible (image 2 below).
I first noticed this issue in StatsCAN App (test), and then noticed it was doing the same thing in PRD.

![1](htt

[2022-04-01 15:45] ForumG-SC commented on #344
@Pharste April 1 promo text updated.

[2022-04-01 17:13] payeisa commented on #202
Here are outstanding issues as of April 1, 2022, Samsung S6 Lite Tablet:
[](https://user-images.githubusercontent.com/89025704/151219705-f7c8fcb0-7783-4b51-ae8b-c89367c658a7.png)
Publications screen, level 2, English and French, Share this publication button at the bottom, alignment is off:
[](https://user-images.githubusercontent.com/89025704/151219705-f7c8fcb0-7783-4b51-ae8b-c89367c658a7.png)

[

[2022-04-01 17:44] payeisa commented on #202
I reviewed the outstanding issues for Tablet (listed above). Assigning to Steph to validate iPad issues, and re-assign to Forum once done. Thanks, Isabelle

[2022-04-01 18:10] Pharste opened #350 "StatsCAN Testing (V 1.0.2) and StatsCAN (PRD V 1.0.2) Share article"
The link shared does not open in StatsCAN when shared with a user who has the app downloaded. Martyna had shared a link by text with me, and although I had the app downloaded, it opens in the web browser. We tested it with the app in prd (from app store, not latest release to test) and it is happening for both of us.

[2022-04-01 18:16] Pharste opened #351 "StatsCAN Testing (V 1.0.2) /Prd (v 1.0.2): Share publication to social media"
When sharing a publication to social media, there is no text populated with the link. It should be the same as sharing via text/email: "Publication intéressante de StatCan. Jetez-y un coup d'oeil! / Interesting publication from StatCan. Check it out!"

[2022-04-01 18:18] Pharste opened #352 "StatsCAN Testing (V 1.0.2): Manage subjects from For you- Following"
The manage subjects button from the For you - Following page menu (…) does not work before selecting subjects from the settings screen.
We can click on the menu (...) and see the Manage Subjects button, but clicking on it doesn't do anything.

Once subjects have been selected from the Manage Subjects button on the settings screen, the button from the For you- Following page menu (…) was functional

[2022-04-01 18:25] Pharste opened #353 "StatsCAN Testing (V 1.0.2): Filtering searches by subject"
When filtering by subject, it seems like other subjects are being pulled. When I search 'COVID', it pulls 20 results. I clicked 'filter by subject' and 'health' then applied the change. It reduced the list of results to 13, but displays subjects that are not health. I confirmed in the Alpha environment that it was not selected as a secondary subject. (See attached example of subjects selected for

[2022-04-01 18:59] weglmar opened #354 "StatsCAN Testing (v1.0.2): Image on Search Screen cut off"
When in large text mode, the image on the search screen when no search results are available,  is cut off (even more so when there are 5 keywords in the recent searches list.

![image](https://user-images.githubusercontent.com/98898969/161324924-b17e8416-fbe2-47a2-9b59-92abeb25eb72.png)
![image](https://user-images.githubusercontent.com/98898969/161324950-b0023699-3a56-4cb2-9265-a98c3e61740c.png)

[2022-04-01 19:03] weglmar opened #355 "StatsCAN Testing (v1.0.2): Changes required to text when Sharing a publication"
When sharing a publication by email, the heading "Application StatsCAN" should be bilingual.
In French it should be "Application StatsCAN / StatsCAN app" and in English it should be "StatsCAN app / Application StatsCAN".

![image](https://user-images.githubusercontent.com/98898969/161325626-d015a14d-b5fa-41e8-8b9e-60a32aa71183.png)

[2022-04-01 19:11] weglmar opened #356 "StatsCAN Testing (v1.0.2): Manage notifications menu option on Notifications page not responding"
When on the Notifications page, and selecting "..." to manage notifications, clicking the manage notifications menu option does not result in the desired outcome (nothing happens). I need to click back to the Settings, and then go back into the Notifications, then it responds and I am brought to the Manage notifications page.

[2022-04-01 19:16] weglmar opened #357 "StatsCAN Testing (v1.0.2): Red dot disappearing from notifications bell when there are still unread notifications"
I clicked one of the unread notifications and then navigated back to the Publications screen. The red dot from the bell disappeared, even though I had more unread notifications.

[2022-04-04 13:12] AJBouzidi commented on #357
@Rajat-Sen I think this is was done based on the requirement.

[2022-04-04 13:57] Jiandong-Guo commented on #337
the answer from apple:    https://developer.apple.com/forums/thread/86906

so we have to decide which way to implement: 1)leave a bottom border, 2)ignore the dark home indicator

[2022-04-04 14:15] Rajat-Sen commented on #357
@AJBouzidi Yes, it is working based on the requirements.

[2022-04-06 17:25] #357 closed

[2022-04-06 18:07] #353 closed

[2022-04-07 14:25] Jiandong-Guo commented on #129
Please test in next release

[2022-04-07 17:28] AJBouzidi opened #358 "Home Indicator Color on Dark and light mode"
Home Indicator Color on Dark and light mode:
looking for a solution how to change the home Indicator when the theme changes
![image](https://user-images.githubusercontent.com/58231743/162262137-23eed57d-960f-41d3-8aa4-495279a01512.png)

[2022-04-07 17:44] AJBouzidi opened #359 "Switching theme for the app"
When user change the dark mode the theme doesn't change for the tab bar.
![image](https://user-images.githubusercontent.com/58231743/162262553-bb9deb06-21c3-449b-9c0f-45ea09fae79b.png)

[2022-04-07 18:06] AJBouzidi commented on #337
@Rajat-Sen this ticket contain basically 3 issues.
1-Space with and size icons and the spacing current ticket (https://github.com/StatCan/StatcanPublicationUAT/issues/337)
2-Home indicator (https://github.com/StatCan/StatcanPublicationUAT/issues/358)
3-Darkmode for the tab navigator (https://github.com/StatCan/StatcanPublicationUAT/issues/359)

For now we create a ticket for each issue.
As best pr

[2022-04-08 13:05] Rajat-Sen commented on #295
### Publications, Publication & For you screen

When the user goes to Publication screen to see an article and then goes to For your screen after following a subject, then taps on an article on the For you screen, first it shows the article from Publication screen and then loads the article from For you screen. Additionally, the tab bar changes from For you to publications. [The tab bar should be

[2022-04-08 15:43] Pharste commented on #350
Created in JIRA (SMA-98)

[2022-04-08 15:43] #350 closed

[2022-04-08 15:47] Pharste commented on #351
Created in JIRA (SMA-100)

[2022-04-08 15:47] #351 closed

[2022-04-08 15:50] Pharste commented on #352
Created in JIRA (SMA-101)

[2022-04-08 15:50] #352 closed

[2022-04-08 16:00] weglmar commented on #354
As discussed, this issue is being closed. It has been recreated in JIRA: SMA-102.

[2022-04-08 16:00] #354 closed

[2022-04-08 16:05] weglmar commented on #355
As discussed, this issue is being closed. It has been recreated in JIRA: SMA-103.

[2022-04-08 16:05] #355 closed

[2022-04-13 16:11] Rajat-Sen opened #360 "App not synchronizing with the device"
When the device is in dark mode, and the app is in light mode, I cannot see the status bar of the device. Please refer to the attached screenshot.

The app should override system settings when the app is opened in any colour theme.

[2022-04-13 16:11] Rajat-Sen commented on #360
![image](https://user-images.githubusercontent.com/38566088/163224090-7f9cb81b-6aec-4b4a-b542-255e21f840e7.png)

[2022-04-13 16:13] Rajat-Sen opened #361 "Publication screen flashing in dark mode"
When a publication is loaded, the screen flashes for an instant. It needs to be fixed or use lazy loading. Please refer to the attached video.

[2022-04-13 16:14] Rajat-Sen commented on #361
https://user-images.githubusercontent.com/38566088/163224603-718ed156-85ec-4cf4-b23d-ec3d29891dfe.MOV

[2022-04-13 17:35] AJBouzidi commented on #187
Rajat said @AJBouzidi this is has been update on the UX prototype.

[2022-04-13 17:37] AJBouzidi opened #362 "Merge ticket from Testing to Master"

[2022-04-14 00:37] AJBouzidi opened #363 "Change 'Foncé' to 'Sombre' in colour theme settings"
Change text from 'Foncé' to 'Sombre'
![image](https://user-images.githubusercontent.com/58231743/163291504-25f4a200-525e-4a2c-844b-f1673838be64.png)

[2022-04-14 16:46] AJBouzidi commented on #358
@Rajat-Sen as discussed this not possible for now. this is will be closed. please submit the idea we talked about in a new issues.

[2022-04-14 16:46] #358 closed

[2022-04-19 14:36] payeisa commented on #337
@AJBouzidi I'm not sure why this ticket was assigned to me (it was submitted by Rajat). Thanks, Isabelle

[2022-04-20 12:12] Pharste commented on #72
I have tested more on iOS and the superscript looks good to me. @weglmar can you please confirm and close the ticket if it looks good on your end?

[2022-04-20 13:18] Pharste commented on #202
Hi, I've tested on iPad and the issues above seem to be resolved, however the default text seems to be quite large, and the spacing looks off for the saved message:

![iPad 1](https://user-images.githubusercontent.com/89025880/164239009-128ef522-f1de-4e08-b40e-a7a26df65ead.jpg)
![iPad 2](https://user-images.githubusercontent.com/89025880/164239080-1c4f1879-ca15-4623-bb46-afc72910f840.jpg)
![iPad 3

[2022-04-20 13:33] Pharste commented on #96
Validated and closed.

[2022-04-20 13:33] #96 closed

[2022-04-20 13:38] Pharste commented on #278
Hi tested in this release and it is still navigating back to the publications screen rather than the notifications screen.

[2022-04-20 13:58] Pharste commented on #359
Validated and closed.

[2022-04-20 13:58] #359 closed

[2022-04-20 14:05] Jiandong-Guo commented on #278
test steps:
1)Run app, display publication home page ---->2) click bell icon on top-right corner, go to notification list --->3) click one of the list item, open article detail page---->4)click back button  "<" on top-left of the detail page, go back to notification list page, --->5)click the back button  "<" on top-left of the notification list page, go back to the publication home page

[2022-04-20 15:33] weglmar commented on #278
Hi @Jiandong-Guo, we are doing the following steps:

1)Run app, display publication home page ---->
2) click bell icon on top-right corner, go to notification list --->
3) click one of the list item, open article detail page---->
**4) click "continue reading" to open web view ---->
5) click "x" in top left corner to close web view, go back to article detail page ---->
6) click the back button "<"

[2022-04-20 16:26] Jiandong-Guo commented on #278
Thanks @Pharste for quick classification. Please test it in next release

[2022-04-21 13:36] ForumG-SC commented on #337
@Jiandong-Guo Hi Jiandong, seems like the tab bar is not fixed for bigger devices like ipad.

[2022-04-21 15:49] weglmar commented on #72
Validated and closed!

[2022-04-21 15:49] #72 closed

[2022-04-21 15:51] #274 closed

[2022-04-21 16:12] AJBouzidi commented on #301
we agreed there is no change is required to API functionality.

[2022-04-21 16:12] #301 closed

[2022-04-21 17:33] Jiandong-Guo commented on #337
![image](https://user-images.githubusercontent.com/58485300/164517935-c06895bc-bd41-4cf0-a8f3-533b93b4a92f.png)
![image](https://user-images.githubusercontent.com/58485300/164517977-828b1768-4cf1-489e-948c-996a1d8ca652.png)

[2022-04-21 17:39] ForumG-SC commented on #337
@Jiandong-Guo Hi Jiandong, thanks for sharing the screenshots. I believe the tab bar should look identical to mobile devices where the text should be under the icons not beside.

[2022-04-22 20:25] Jiandong-Guo commented on #337
![image](https://user-images.githubusercontent.com/58485300/164788796-a8837af9-8bfa-4a6a-afd7-8793cc0ef1fe.png)

[2022-04-25 13:54] #334 closed

[2022-04-25 13:57] Jiandong-Guo commented on #243
should it be closed ?

[2022-04-25 14:00] Jiandong-Guo commented on #306
related to #243
Should it be closed ?

[2022-04-25 16:55] Rajat-Sen commented on #243
The app seems to be stable on iOS, this ticket can be closed.

[2022-04-25 16:55] #243 closed

[2022-04-25 23:14] AJBouzidi commented on #271
https://github.com/react-native-share/react-native-share

[2022-04-26 12:50] ForumG-SC commented on #271
https://react-native-share.github.io/react-native-share/docs/share-single#static-values-for-social does not support LinkedIn.

[2022-04-26 13:42] Jiandong-Guo commented on #116
Better do it in database side,  it makes no sense for front side to set the limit because it has already spent lot bandwidth to retrieve the data to front side

[2022-04-26 13:44] Jiandong-Guo commented on #122
The information part is coming from article content by calling api,  The best way is to change it to a link in article content from data source(Database)

[2022-04-26 13:57] Jiandong-Guo commented on #100
@Pharste Please provide the default image and its alternative text in both English and French for publication list,
Also do we need display this default image in level 2(webview) ?

[2022-04-26 14:09] Jiandong-Guo commented on #100
Seem no need to display default image in level2 because the default image is nothing related to the article content,
Also the default image is better located to our website(for example the logo image from https://www150.statcan.gc.ca ), just provide us the default image url and Alt text.
If you provide the image data such as png file or jpeg file, we have to save the encoded image data in the app,

[2022-04-26 17:39] AJBouzidi commented on #116
This is need to be revisited with the backend team.

[2022-04-27 14:05] ForumG-SC commented on #344
@Pharste Promo text updated.

[2022-04-27 14:06] Pharste commented on #344
Perfect, thanks @ForumG-SC 😃

[2022-04-27 14:06] #344 closed

[2022-04-27 15:08] Jiandong-Guo commented on #201
This ticket actually relates 2 problems
1)When publication screen regains the focus, it will re-draw the screen from the very beginning(cause user to scroll down again)
       It's not a problem in the new workflow any more, please test in next release.
2) "not displaying all articles":  this was mentioned in the comment on Jan 11 above, for current design, there is a max limitation to show the ar

[2022-04-27 16:29] Jiandong-Guo commented on #295
Not sure what exactly to change, after reading the comment above, seems:
1) Article screen flashes(when an article is already shown in level 2 screen, user wants to show another article after navigating to another tab, the old article will flash for a second).   This is easy one. will fix it.
2)When displaying an article in level 2 screen no matter from Search or For you, The publication Tab will

[2022-04-28 12:53] #362 closed

[2022-04-28 13:00] AJBouzidi commented on #317
@ForumG-SC is this been tested?

[2022-04-28 13:02] ForumG-SC commented on #323
@AJBouzidi Assigning this ticket to you as per the apple's privacy policy , I won't be able to contact them for the name change only you will be able to contact them for name change.

[2022-04-28 13:03] ForumG-SC commented on #317
I don't think Rajat has tested this as he has not closed the ticket.

[2022-04-28 13:15] ForumG-SC commented on #311
@AJBouzidi Hi Ali, this ticket was done , is the fix not working?

[2022-04-28 13:20] AJBouzidi commented on #311
@ForumG-SC I believe this never been tested or not closed.

[2022-04-28 13:22] ForumG-SC commented on #311
This ticket can be tested in the current version and closed .

[2022-04-28 13:58] #330 closed

[2022-04-28 14:47] ForumG-SC opened #364 "Update Screenshot on apple store and release note"
This release includes bug fixes and minor design improvements. The Settings > Contact Us screen has been updated to provide more contact options for users.

We appreciate your feedback and we want to continually improve your experience! Please share feedback directly through reviews or by email at [statcan.statscanapp-applistatscan.statcan@statcan.gc.ca](mailto:statcan.statscanapp-applistatscan.st

[2022-04-28 19:07] #364 closed

[2022-04-29 11:24] payeisa commented on #275
@AJBouzidi I see that this ticket is part of the April 27 release, however, it's not assigned to me. Is it ready for validation? I'm also wondering if this issue is covered by Rajat's overall design improvement tickets that he submitted to ensure consistency. Thanks, Isabelle

[2022-04-29 11:29] payeisa commented on #199
Validated!

[2022-04-29 11:29] #199 closed

[2022-04-29 11:30] payeisa commented on #363
Validated!

[2022-04-29 11:30] #363 closed

[2022-04-29 17:38] Jiandong-Guo commented on #346
Shouldn't exist in new flow. Please test in next release

[2022-05-02 17:53] ForumG-SC commented on #187
@payeisa The changes as per UX prototype ( https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/779f4dca-1bf6-4508-9e60-011ae713ddca ) has been implemented, please validate in the next release.

[2022-05-02 19:15] Pharste commented on #337
Hi, I've validated on iPad, and although the text is under the icons as it should be, the spacing looks off from the prototype. It should have more space between the icon and top of the menu bar, and more spacing between the text and icon. I believe the icons are a little bigger in the prototype as well.

[2022-05-03 17:18] Pharste opened #365 "Update Apple Promo Text"
Hi,

We would like to update the Apple promo text this Thursday May 5, with the following:

EN: Farm and Farm Operator Data from the 2021 Census of Agriculture will be available May 11, 2022.

FR: Les données sur les exploitations et les exploitants agricoles provenant du Recensement de l’agriculture de 2021 seront disponibles le 11 mai 2022.

Following this, please update the text on Wednesday, M

[2022-05-05 13:35] zhuelle commented on #295
@lamokar10 Would you please provide an update on the ticket? Thanks!

[2022-05-05 14:09] ForumG-SC commented on #365
@Pharste Hi Stephanie, May 5th promo has been updated to the stores.

[2022-05-05 17:03] Pharste commented on #365
Thank you @ForumG-SC !

[2022-05-05 17:05] #95 closed

[2022-05-05 18:56] ForumG-SC opened #366 "Update 6.5inch Screenshots to the store & release note, deploy v1.0.6"
Deploy v1.0.6

Add the screenshots for 6.5 inch

Add release note:

We aim to make regular improvements to the StatsCAN app. This release includes bug fixes.

We appreciate your feedback and we want to continually improve your experience! Please share feedback directly through reviews or by email at [statcan.statscanapp-applistatscan.statcan@statcan.gc.ca](mailto:statcan.statscanapp-applistatscan.

[2022-05-05 19:01] ForumG-SC commented on #366
@Pharste Hi Stephanie, the screenshots that vince had provided us for 6.5inch worked and have been updated to the stores, it will be reflected in the stores when the new version 1.0.6 is approved and live.

[2022-05-05 20:06] AJBouzidi commented on #315
Is this ticket done?

[2022-05-05 20:15] AJBouzidi commented on #337
Reason: Fixed
Description: UX improvement has been done for all devices
Release App: Prod, Alpha
Release version: 1.0.6

[2022-05-05 20:15] #337 closed

[2022-05-05 20:21] AJBouzidi commented on #282
@zhuelle do you have any update on this? this is should be closed because it's not app issue.

[2022-05-05 20:27] AJBouzidi commented on #237
@ForumG-SC we need to ask for a new logo?

[2022-05-05 20:33] AJBouzidi commented on #303
@payeisa would you please take a look at this ticket and close it if not needed.

[2022-05-05 20:42] AJBouzidi commented on #346
@Jiandong-Guo same behavior with the current version 1.0.6

[2022-05-06 10:54] payeisa commented on #298
The issue with this ticket seems to be based on the user's phone settings. I accessed the app on the Samsung S20, and screens were displaying fine:
![image](https://user-images.githubusercontent.com/89025704/167118244-fbb18fa8-5f92-453e-b82d-75d894a5bdad.png)
![image](https://user-images.githubusercontent.com/89025704/167118275-3c7d97a3-9e48-4366-bc4b-961a8afb0067.png)

However, if I increase the

[2022-05-06 11:11] ForumG-SC commented on #237
@AJBouzidi Rajat wanted to change the logo for google store so he had created this ticket. Haven't received new logo yet.

[2022-05-06 11:12] ForumG-SC commented on #298
Looking into this issue, fix will be applied soon to test it out.

[2022-05-06 13:29] zhuelle commented on #282
@AJBouzidi , sorry I was not aware of this ticket was waiting for me to action. Based on the previous comments, seems that there was a caching issue on the Drupal side and it should be validated by the client. We can close the ticket once it is tested.

[2022-05-09 14:38] Jiandong-Guo commented on #201
@zhuelle @AJBouzidi, this ticket involves 2 problems:
1)The publication screen keeps its scroll position when the screen re-gaining focus.  It is not a problem for the new workflow.
2)The publication cannot show too old articles due to the memory limitation (explained above, also a recommended solution was provided above),
Do we want to continue to fix the problem #2, we can create a new ticket fo

[2022-05-09 18:17] zhuelle commented on #295
@lamokar10 , this is a ticket with Major priority and in the current Spring. Since it is assigned to you and Rajat at the moment,  this is the reason that I am asking for an update from you. Should we wait for Rajat to proceed this ticket? Thanks!

[2022-05-09 19:59] Pharste commented on #365
Assigned back to @ForumG-SC  for May 11 update. :)

[2022-05-09 20:34] AJBouzidi commented on #318
@Jiandong-Guo could you check this ticket and add your comment regarding the default browser?

[2022-05-09 21:04] AJBouzidi commented on #349
@weglmar is this still an issue? could you test, I think this is has been fixed by fixing another similar issue.

[2022-05-09 21:09] AJBouzidi commented on #348
@weglmar could you please check this issue. could you close if it's resolved if not assign it back to me .

[2022-05-09 21:11] AJBouzidi commented on #347
duplicate of #348

[2022-05-09 21:11] #347 closed

[2022-05-10 01:47] AJBouzidi commented on #311
@ForumG-SC Could you please check "the focus will not go oldest to newest when using voiceover" before we close it.
more often a ticket contains many issues. Bad practice should be avoided.

[2022-05-10 12:49] weglmar commented on #348
Validated and closed.

[2022-05-10 12:49] #348 closed

[2022-05-10 12:53] ForumG-SC commented on #311
@AJBouzidi The focus is not going to oldest to newest as mentioned in the ticket's description , it goes in order newest to oldest first. See the attached screen recording video:

https://user-images.githubusercontent.com/84411852/167632793-d284ead5-1cfb-4b31-9d0b-097b31253d70.MOV

[2022-05-10 13:30] Jiandong-Guo commented on #318
Right now, it stays in level 3 browser.

[2022-05-10 14:06] Jiandong-Guo commented on #318
But the question is how to open external browser in level 3,

[2022-05-10 14:20] zhuelle commented on #295
In Today's virtual stand-up, the team discussed this ticket and we would like to proceed the ticket like this:

- For the issue described in Rajat previous comments about "Publications, Publication & For you screen", this is UX related and we will wait for Rajat coming back from his vacation to clarify the requirements and then proceed.
- For the issue described in Rajat previous comments about "

[2022-05-11 11:51] ForumG-SC commented on #275
@payeisa Please test the fix in the next release. However, The confirmation message on's text size the For you/Saved screen when unsaving a publication cannot be modified as we are using Alert and by default it displays the text in that size, we don't have control over to modify the alert's text size.

[2022-05-11 11:53] ForumG-SC commented on #287
@Rajat-Sen This ticket lacks the detailed information. As per my understanding the button's consistency was applied with this ticket (https://github.com/StatCan/StatcanPublicationUAT/issues/227) .

[2022-05-11 12:00] payeisa commented on #153
@AJBouzidi What's the status of this ticket?

[2022-05-11 19:30] ForumG-SC commented on #366
@Pharste Hi Stephanie, could you please close this ticket?? Thanks.

[2022-05-11 19:55] zhuelle commented on #201
Based on my conversation with @Jiandong-Guo , this ticket can be sent for testing for the issue described in previous Isabelle's comment on Jan 23.

I agree that the publication cannot show all previous articles due to memory limitation. This should be discussed with business to go over the possible solutions. @lamokar10 would you please help on this as it is an enhancement. We might need Rajat fo

[2022-05-12 14:46] ForumG-SC opened #367 "Store metrics - (Google and Apple)"

[2022-05-13 13:20] payeisa commented on #187
Reviewed with changes.
In French, "Site Internet" should be "Site Web", and "Balados" should be "Balado".

[2022-05-13 13:24] payeisa commented on #278
Validated.

[2022-05-13 13:24] #278 closed

[2022-05-13 13:28] payeisa commented on #343
@ForumG-SC I am unable to replicate this issue on my Samsung S9. I'm not sure if it's because the issue has been fixed, or if it's because I never had the issue in the first place. This was assigned to business for sign off, however, the issue was reported by Rajat. Would it be possible for IT to validate this issue? Thanks, Isabelle

[2022-05-13 14:05] ForumG-SC commented on #343
@Jiandong-Guo Hi Jiandong, since you worked on this ticket last sprint, could you please look into it. Thanks

[2022-05-13 14:27] payeisa commented on #187
@ForumG-SC I will take this ticket back. I'm waiting to get confirmation from the Podcast team, to see if changes will be made to the web page (or not).

[2022-05-13 16:35] Jiandong-Guo commented on #346
@AJBouzidi I don't see this problem, It should be fixed already(see comment above)

[2022-05-13 16:38] Jiandong-Guo commented on #343
It was fixed already, please test it and close it if it's good

[2022-05-13 16:47] payeisa commented on #343
@Jiandong-Guo Please see the comment I added earlier this morning. Thanks, Isabelle

[2022-05-13 17:30] payeisa commented on #275
Validated.

[2022-05-13 17:30] #275 closed

[2022-05-16 13:22] giftydeep commented on #313
I don't find any issue. The only concern is the user needs to know that the current focus is on the tab not on the screen, User needs to swipe back or tap anywhere on the screen to fast-focus on the screen

[2022-05-16 14:18] AJBouzidi commented on #343
validated and closed.

[2022-05-16 14:18] #343 closed

[2022-05-16 14:24] ForumG-SC commented on #294
@Rajat-Sen

React native doesn't use CSS, so there is limitation with shadows because android doesn't support them. Third-party libraries for these are usually not very performant since they aren't supported in android itself.

Trying to have shadow color on android is not possible with elevation .Tweaking elevation doesn't helps much ,don't expect it to look identical to design or IOS.

I would s

[2022-05-16 14:35] ForumG-SC commented on #365
@weglmar I have updated it again as it seems like the changes that were applied before didn't get reflected in the stores. Please check the stores in an hour to see if it is showing the new promotional text. Thanks.

[2022-05-16 14:59] ForumG-SC commented on #202
@Pharste Hi Stephanie, as the issue was resolved, could you please close this ticket and create new ticket for the other 2 issues that you came across and assign it to me? Thanks.

[2022-05-16 16:33] payeisa commented on #187
@ForumG-SC I received confirmation from the Podcast team. Here are the changes required:

In English, Settings - Stay connected: "Podcast" should be changed to "Podcasts"
![image](https://user-images.githubusercontent.com/89025704/168640691-dab55d2e-72f2-4f5f-a777-38543e8da413.png)

In French, Paramètres - Restez branchés: "Site Internet" should be "Site Web"
![image](https://user-images.githubuse

[2022-05-16 21:13] AJBouzidi commented on #338
@giftydeep the menu is accessible but the order not right. Voiceover will read the whole article and then the menu.
**react-native-material-menu**  could be an option if the way we have it already will not work.

[2022-05-16 21:17] AJBouzidi opened #369 "Remove space between three dots and menu items (second level publication)"
there should be no space from three dots and menu items. Please checkout the prototype for visual reference.
Link for prototype: https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/ac0fbd50-01cc-4f19-b0cf-884d21c53235

[2022-05-17 12:06] zhuelle commented on #343
@AJBouzidi As discussed in our virtual meeting, please test and sign off on behalf of IT. Thanks!

[2022-05-17 12:10] zhuelle commented on #181
@AJBouzidi , as discussed in the virtual stand-up, this ticket requires dev team's research, please provide your comments if required and  assign it to a developer. Thanks!

[2022-05-17 12:14] zhuelle commented on #306
As discussed in the virtual standup, the unstable issue on Android 12 should be fixed by the workflow change. @giftydeep will monitor the crash through App store metrics to ensure it. Gagandeep will monitor the crash # and track it on the ticket for several releases.

[2022-05-17 13:49] ForumG-SC commented on #306
From the pre-launch report in the google store, the latest version shows that there is no Stability issue( for example, when an app crashes or stops responding, affects the user experience) in the following android versions:
![image](https://user-images.githubusercontent.com/84411852/168826476-9386a1ea-e0fc-40aa-987b-02b0ddb7f88c.png)
However, we need the latest version to be tested in android dev

[2022-05-17 15:03] zhuelle commented on #306
Thanks Forum. @giftydeep, please see Forum's comments above and monitor the crash metrics till of this Spring May 25. We can close the ticket if the situation continues. Thanks!

[2022-05-17 19:05] lamokar10 commented on #116
Ok, I will talk to Kerry about this one.

[2022-05-18 12:13] lamokar10 commented on #116
@AJBouzidi
Ali, from my discussion with Kerry and looking at the documentation, there is ambiguity with the API used in the search?
In https://confluenceb.statcan.ca/display/SPMA/Feature+4.1+Search+text+and+retrieve+results, it mentions mobile-article-search-eng.json or mobile-article-search-fra.json but according to Kerry, it should be List Articles (https://sdr-daily-alpha.cloud.statcan.ca/api).

[2022-05-18 14:07] Jiandong-Guo commented on #116
@payeisa
The API the search function using is:
    https://www.statcan.gc.ca/o1/en/api/plus/article?t=${criteria}
From the document, the api has the paging function already there by using page=#
My concern to be clarified is if I didn't pass the page parameter explicitly, does the api will use the default page=0 ?

[2022-05-18 14:07] ForumG-SC commented on #116
@zhuelle  As per our discussion in the meeting, please find the attached screenshot of the label on the search screen below which can be modified to let the users know :
![s](https://user-images.githubusercontent.com/84411852/169060504-f43135ba-55c7-457c-815b-6a4f4a0f3fd8.jpg)

[2022-05-18 14:09] Jiandong-Guo commented on #116
So we don't need to do anything

[2022-05-18 14:18] zhuelle commented on #116
@payeisa We discussed this issue in our virtual Standup today. Basically, here is what I gather:

1. The api is returning all search results by paging. Each page has 20 results.
2. The mobile app is currently displaying the 20 results in the first page
3. There is a message "20 results found" displayed in the search page (please see picture attached in the Forum's comment above)

Would you please

[2022-05-18 14:44] lamokar10 commented on #116
@Jiandong-Guo, if we are limiting the results to 20 even if there are more then we have to let business know. And we have to update the requirements accordingly. And we would also need to inform the user that the results are limited to the first 20 and that other results are not available for display. So I think there are things to do.

This is my understanding of what Isabelle is asking. Are we l

[2022-05-18 15:22] zhuelle commented on #323
@AJBouzidi would you please call App Store to change the ownership to my before your leave? Thanks!

[2022-05-18 15:37] zhuelle commented on #285
@Jiandong-Guo please verify if this is a duplicate.

[2022-05-18 15:38] Jiandong-Guo commented on #285
It's already included in #340

[2022-05-18 15:55] zhuelle commented on #122
@lamokar10 This is a backend issue. Would you please investigate on it and let the mobile dev team know? Thanks!

[2022-05-18 16:06] zhuelle commented on #281
@lamokar10 this is a backend issue. Please investigate. Thanks!

[2022-05-18 16:11] zhuelle commented on #293
@Rajat-Sen , please verify if this ticket is required as padding has been added.

[2022-05-18 16:13] zhuelle commented on #284
Controlled by the system and require to research to see if it is feasible.

[2022-05-18 16:23] Jiandong-Guo commented on #288
Please do an internal test since Rajat is not here

[2022-05-18 16:38] #291 closed

[2022-05-18 16:56] ForumG-SC commented on #339
Fixed:

![image](https://user-images.githubusercontent.com/84411852/169099385-7777e309-8573-453c-9e18-901471a14c30.png)

[2022-05-18 16:56] ForumG-SC commented on #339
@Jiandong-Guo Hi Jiandong, I have fixed this issue , please merge the pull request https://github.com/StatCan/StatCanPublication/pull/201, and test and close this ticket as Rajat is not her to test the fix.

[2022-05-18 18:12] giftydeep commented on #338
@AJBouzidi it works fine on Android in the correct order. It's only giving issues on IOS.

[2022-05-18 18:55] payeisa commented on #116
@lamokar10 That's correct. If we are in fact limiting the search results, we should let the users know. I would recommend adding text on the Intro Search screen and on the Search screen, since, now that we are almost 4 months in, most searches will return 20 results because we now have a lot of content. So having "20 results found" is misleading. For example, the following keywords all return 20 r

[2022-05-18 19:25] zhuelle commented on #116
@payeisa Thanks for your confirmation. To proceed the request, @lamokar10 will work with the business to finalize the change to the requirements, then the dev team can proceed the change once the requirements are done. Is it correct?

[2022-05-18 19:48] zhuelle commented on #346
I tested on my Android phone as well as iPhone with the version 1.0.6, the issue has been resolved.

[2022-05-18 19:49] #346 closed

[2022-05-18 19:55] zhuelle commented on #311
@ForumG-SC , should this ticket be assigned to business team as you moved it to Business to sign off?

[2022-05-18 20:00] payeisa commented on #116
@zhuelle That's correct!

[2022-05-18 20:02] ForumG-SC commented on #311
@zhuelle I will remove it from the Business to sign off as this ticket was created by Rajat not business, it can be closed.

[2022-05-18 20:03] AJBouzidi opened #371 "App not running properly on Huawei M3 tablet"
Please navigate to the JIRA project for more information.
https://jirab.statcan.ca/browse/SMA-106

[2022-05-18 20:09] zhuelle commented on #201
@payeisa Please test the issue described in your comment dated Jan 23 and confirm on the ticket. (I tested it and it is working properly on my android as well as iphone with version 1.0.6 installed. )

This ticket will remain open for "Publications screen: not displaying all articles" which is due to phone memory limitation. It is under assessment by BA and the business as an enhancement.

[2022-05-18 20:12] Jiandong-Guo commented on #129
Please test it. It should ne done long time ago

[2022-05-18 20:44] AJBouzidi opened #372 "Image on Search Screen cut off"
https://jirab.statcan.ca/browse/SMA-102

[2022-05-18 20:47] Jiandong-Guo commented on #284
Please test in next release to see if the change meets the requirement

[2022-05-18 21:12] zhuelle commented on #284
@Jiandong-Guo Have you completed the work for this ticket? Or you completed the research of the ticket and added a Medium work effort on this ticket? Please confirm!

[2022-05-18 21:14] AJBouzidi opened #373 "Text size displays smaller for one article"
https://jirab.statcan.ca/browse/SMA-96

[2022-05-18 21:19] AJBouzidi opened #374 "Share article"
https://jirab.statcan.ca/browse/SMA-97

[2022-05-18 21:20] AJBouzidi opened #375 "Text size displays smaller for one article"
https://jirab.statcan.ca/browse/SMA-96

[2022-05-19 11:34] payeisa commented on #116
@zhuelle I will un-assign myself from this ticket since there is no action required from me, for now. I'm assuming Karine will be providing the specs to the dev team (once she has them), and then this ticket will be assigned back to me once it's ready for testing. Please let me know if that's not case, and if this should be handled differently. Thanks, Isabelle

[2022-05-19 11:41] payeisa commented on #129
Validated with no issues.

[2022-05-19 11:41] #129 closed

[2022-05-19 12:45] payeisa commented on #201
@zhuelle I validated the issue that I reported on Jan 23, and it has in fact been fixed. I'll assign this ticket to Karine to address the phone memory limitation issue.

[2022-05-19 13:21] weglmar commented on #349
@payeisa Hi Isabelle, could you please confirm? I believe I submitted this ticket on behalf of you :) Thanks!

[2022-05-19 16:52] Jiandong-Guo commented on #360
Please do an internal test

[2022-05-19 16:53] Jiandong-Guo commented on #360
in the next new release

[2022-05-19 16:54] Jiandong-Guo commented on #335
Please do an internal test in next release

[2022-05-19 16:57] Jiandong-Guo commented on #284
It's fixed in webview level, please do an internal test in next release

[2022-05-19 17:36] Jiandong-Guo commented on #273
fixed, please test in next release

[2022-05-19 17:37] payeisa commented on #268
@ForumG-SC It looks the same as what I reported in January. I would recommending assigning this ticket to Rajat for his design input. Thanks, Isabelle

[2022-05-20 14:24] Jiandong-Guo commented on #372
Reference to #360
Please do an internal test in next release

[2022-05-20 15:33] giftydeep commented on #306
![image](https://user-images.githubusercontent.com/8207028/169562197-a296e96b-16c9-4c29-a6b8-7264c28c6827.png)

May 17 reported 1 crash and May 18 reported two crashes for Android 12.

[2022-05-20 19:08] zhuelle commented on #181
We discussed in the virtual Standup meeting and current the app is doing:

- After first time installing the app, the app uses the system setting to determine the Dark/Light mode for the app
- After first time installation, the app uses the application setting to determine the Dark/Light mode for the app
- If the user is selected the Auto mode in the app, the app uses the system setting to determi

[2022-05-24 16:45] Jiandong-Guo opened #376 "Article missing image"
French version article missing image :
![image](https://user-images.githubusercontent.com/58485300/170088685-c3a68896-2d1a-44cb-9a05-6412806bac95.png)
Please add image in this publish.

[2022-05-24 18:25] payeisa commented on #376
@Pharste As discussed, can you please look into this?
@Jiandong-Guo Thank you for flagging this!

[2022-05-26 15:07] zhuelle commented on #315
@Rajat-Sen Gagandeep completed the ticket and please test to ensure it is working properly. Thanks!

[2022-05-26 15:10] zhuelle commented on #360
@Rajat-Sen , please test this ticket.

[2022-05-26 17:18] zhuelle opened #377 "Investigate Production Release options"
The client would like to know what should be the process if not all tickets that are released in any versions in Internal Testing can be signed off. For example, if 10 tickets has been released for internal testing, only 8 tickets got tested and signed off by the business clients, should the version with 8 tickets signed off and 2 tickets not signed off to be released to Production or should the v

[2022-05-26 17:26] zhuelle commented on #371
@Jiandong-Guo would you please indicate which similar device type that you used to implement and test the change?

[2022-05-26 17:32] zhuelle commented on #372
@weglmar Assign this ticket to you as it is a fix for Production issue.

[2022-05-26 17:33] zhuelle commented on #371
@weglmar Assign this ticket to you as it is a production issue fix.

[2022-05-26 17:36] zhuelle commented on #340
Assign back to Rajat for testing.

[2022-05-26 17:37] zhuelle commented on #288
Assign back to Rajat for testing.

[2022-05-26 18:21] zhuelle commented on #335
Assign back to Rajat for testing..

[2022-05-26 18:23] zhuelle commented on #335
@Jiandong-Guo  is this ticket released in the 1.0.8? I didn't see it in the Sprint 34.

[2022-05-26 19:07] payeisa commented on #281
@weglmar Is this something the app team has been noticing recently? Is there still an issue with publishing delays?

[2022-05-26 19:12] zhuelle commented on #375
@payeisa  need prioritization

[2022-05-26 19:13] zhuelle commented on #374
@payeisa need prioritization.

[2022-05-26 19:14] zhuelle commented on #373
@payeisa need prioritization.

[2022-05-26 19:17] zhuelle commented on #342
@payeisa need prioritazation.

[2022-05-26 19:19] zhuelle commented on #318
@payeisa need prioritation.

[2022-05-26 19:20] zhuelle commented on #316
@payeisa need prioritation.

[2022-05-26 19:21] Jiandong-Guo commented on #374
This is not a bug. The current app doesn't have this function.

For later reading(no need to open jira again), just copy the issue description here:
"The link shared to a StatCan Publication does not open in StatCAN when sharedwith a user who has the app......"

[2022-05-26 19:24] zhuelle commented on #286
@payeisa need prioritization.

[2022-05-26 19:26] zhuelle commented on #270
@payeisa need prioritization.

[2022-05-26 19:27] zhuelle commented on #262
@payeisa need prioritization.

[2022-05-26 19:28] zhuelle commented on #239
@payeisa need prioritization.

[2022-05-26 19:37] weglmar commented on #281
@payeisa It's happening once in a while, I would say at least once or twice a week. We can keep a log of booked time vs published time for the next two weeks and record what device we are noticing it on and which articles (in case there is any sort of correlation). Would that help investigate further?

[2022-05-26 19:38] zhuelle commented on #153
@payeisa need prioritization.

[2022-05-26 19:47] #366 closed

[2022-05-26 20:30] Jiandong-Guo commented on #377
@zhuelle , the document was created in https://confluenceb.statcan.ca/display/SPMA/Deployment+strategy

[2022-05-26 20:32] payeisa commented on #375
@zhuelle Prioritization complete.

[2022-05-26 20:33] payeisa commented on #374
@Pharste  Can you please look at the user stories to see if this was part of the initial requirements?

[2022-05-26 20:40] payeisa commented on #342
@zhuelle Priority added.

[2022-05-26 20:43] payeisa commented on #318
@zhuelle I would like to get feedback from Rajat on the priority for this one. I'm not sure how badly this is affecting UX, and if it's something that can wait.
@Rajat-Sen Could you please let me know your thoughts on this?

[2022-05-26 20:44] payeisa commented on #316
@zhuelle Priority added.

[2022-05-26 20:46] payeisa commented on #298
@zhuelle Priority added.

[2022-05-26 20:49] payeisa commented on #270
@zhuelle Priority added.

[2022-05-26 20:51] payeisa commented on #239
@zhuelle Would it be possible to get a t-shirt size for this one?

[2022-05-26 20:53] payeisa commented on #237
@zhuelle Priority added, assuming t-shirt size is small.

[2022-05-26 20:54] payeisa commented on #185
@zhuelle Priority added.

[2022-05-26 20:58] payeisa commented on #281
@zhuelle Priority added.
@weglmar I think that's a good idea!

[2022-05-26 21:02] payeisa commented on #153
@zhuelle Priority (Minor) added for now, based there are a lot of other major priorities, and this issue target a small population.

[2022-05-27 12:54] zhuelle commented on #239
@Rajat-Sen It looks like there are many accessibility issues stated in this ticket. Please verify if they are still all valid at the current stage. If they are valid, please break it down into multiple tickets so that one ticket contains one issue. Once this is down the dev team can estimate the effort for each problem. This ticket can be closed once the break-down is completed and links all break

[2022-05-27 12:58] zhuelle commented on #373
Close this ticket as a duplicate.

[2022-05-27 12:58] #373 closed

[2022-05-27 14:05] zhuelle commented on #335
Based on the conversation with @Jiandong-Guo , this ticket has been released in the 1.0.8.

[2022-05-27 16:37] lamokar10 commented on #201
@Jiandong-Guo @ForumG-SC @zhuelle @giftydeep
Could someone tell me exactly what are the phone memory limitations we are working with?
On this page, I can find some details but nothing related to the memory needed to use the app.
https://www.statcan.gc.ca/en/sc/mobile-applications?HPA=1

[2022-05-27 16:44] lamokar10 commented on #122
@zhuelle @Jiandong-Guo @ForumG-SC @giftydeep
With regards to the phone numbers and being able to click on it, I am looking at this Daily article : Real-time local business conditions, May 16 to May 22 (https://www150.statcan.gc.ca/n1/daily-quotidien/220527/dq220527e-eng.htm)
1. on the website from my workstation : phone numbers are not "clickable"
2. on the website from my cell phone : phone numbe

[2022-05-27 18:47] weglmar commented on #372
Validated.

[2022-05-27 18:47] #372 closed

[2022-05-27 18:48] weglmar commented on #371
Since we cannot test this, we will deploy the fix and once the new version has been released, the Business team will communicate with the user to ask him to verify if the issue still persists. I think this is the best approach. I will not close this ticket yet.

[2022-05-27 20:16] Jiandong-Guo commented on #122
@lamokar10
1) I checked the html code of the contact information section, the code is
<p>For more information, or to enquire about the concepts, methods or data quality of this release, contact us (toll-free <span class="phone">1-800-263-1136</span>; <span class="phone">514-283-8300</span>; <a href="mailto:infostats@statcan.gc.ca">infostats@statcan.gc.ca</a>) or Media Relations (<a href="mailto:st

[2022-05-27 20:23] payeisa commented on #187
Validated with no issues!

[2022-05-27 20:23] #187 closed

[2022-05-30 12:47] Jiandong-Guo opened #378 "Article level 3 and above: Functionality for handling phone numbers,Email,messaging and website"
How to handle the phone number, Email, messaging and website on the screen Article level3 and above ?

[2022-05-30 13:00] Jiandong-Guo commented on #122
Hi @lamokar10,
I created a new ticket
   Article level 3 and above: Functionality for handling phone numbers, email, messaging and website #378

so let us focus on article  level2 in this ticket.  What I asked on Apr 26 is to see if the api can return us a link instead of the span. similar like:
![image](https://user-images.githubusercontent.com/58485300/170997530-4be9d972-7330-4692-8b24-62242a754

[2022-05-30 13:57] ForumG-SC commented on #361
Fixed.
https://user-images.githubusercontent.com/84411852/171007222-ed77aefc-c55d-4314-b354-9e1b93851a8d.mp4

[2022-05-30 13:57] ForumG-SC commented on #361
@Rajat-Sen Assigning it to you for testing.

[2022-05-30 16:18] giftydeep commented on #369
This is already fixed and was also the part of #338

[2022-05-30 18:08] ForumG-SC commented on #377
https://confluenceb.statcan.ca/pages/viewpage.action?pageId=960606568

[2022-05-31 14:02] ForumG-SC commented on #338
@zhuelle @giftydeep The solution that I had provided you last to last week was the easy one to implement instead of changing the whole menu.. I have tested it and it works in IOS, see the screen recording below:

https://user-images.githubusercontent.com/84411852/171192034-d2381e0f-3909-481b-a2b5-4d9dff07e46a.mov

@giftydeep Also, you can break down the share the pub and contact us views if you wa

[2022-05-31 19:39] Jiandong-Guo commented on #377
A test sample:

[2022-05-31 19:39] #377 closed

[2022-05-31 20:01] giftydeep commented on #338
@ForumG-SC I tried, but it partially solves the problem as I mentioned earlier. Once the menu is open I cannot click anywhere else until I close the menu.

https://user-images.githubusercontent.com/8207028/171274532-0035cf54-8ca1-432d-a5dd-8e090400fe5a.MP4

[2022-06-02 17:52] ForumG-SC opened #379 "Firebase - Google Analytics"

[2022-06-03 17:49] Rajat-Sen commented on #315
This ticket has been done partially.

Below are the things that needs extra attention.
1. When swiped from left to right, Focus should move like Heading> Switch language Button> the body of terms of use.
2. For the content, it should not select the whole content. The focus should go from one paragraph to another and then buttons.

[2022-06-03 18:17] Rajat-Sen commented on #317
It's been fixed!

[2022-06-03 18:18] #317 closed

[2022-06-03 18:34] Rajat-Sen commented on #287
Will add more details!

[2022-06-03 18:40] ForumG-SC opened #380 "Testing xyz"

[2022-06-03 18:43] Rajat-Sen commented on #311
When using French language, it says sort by instead of trier par.

Also, the focus should go like this: sort by > Newest to oldest > oldest to newest > filter by subject(s).

[2022-06-03 18:47] Rajat-Sen commented on #343
I agree, the back button doesn't take the user to Welcome screen anymore. However, it isn't functional anymore as well.

For an android user, after reaching the publications screen the back button stops responding. Instead it should take the user to the home screen or the last screen used from the device.

[2022-06-03 18:49] Rajat-Sen commented on #360
Working and validated!

[2022-06-03 18:49] #360 closed

[2022-06-03 18:51] Rajat-Sen commented on #284
It's not fixed properly as I cannot see the sidebar anymore!

[2022-06-03 18:53] Rajat-Sen commented on #339
Validated!

[2022-06-03 18:53] #339 closed

[2022-06-03 18:58] Rajat-Sen commented on #288
validated!

[2022-06-03 18:58] #288 closed

[2022-06-03 19:00] Rajat-Sen commented on #313
Validated!

[2022-06-03 19:00] #313 closed

[2022-06-03 19:03] Rajat-Sen commented on #335
Validated!

[2022-06-03 19:03] #335 closed

[2022-06-03 19:05] Rajat-Sen commented on #361
I have tested and it is still flashing for me. I have only changed the app colour theme to dark instead of system dark mode. Thanks!

[2022-06-03 19:07] Rajat-Sen commented on #369
@giftydeep, It's not fixed properly yet! Please see the attached screenshot.

[2022-06-03 19:09] Rajat-Sen commented on #369
![image](https://user-images.githubusercontent.com/38566088/171932405-2f5cfbd7-b453-4809-8263-932f1f791abc.jpeg)

[2022-06-03 20:36] giftydeep commented on #369
@Rajat-Sen this is how it looked for me. Not sure why you seeing that space.
![IMG_1178](https://user-images.githubusercontent.com/8207028/171948546-ecad60fc-457e-4126-bf4f-e3a75a5e575b.jpg)

[2022-06-06 13:40] ForumG-SC commented on #361
@Rajat-Sen Hi Rajat, when I test it in my phone the solution is working but when I test in the new version 1.0.8 it is not working, I was not here when the new version was deployed last time. I will further investigate on this. Thanks.

[2022-06-06 14:19] #380 closed

[2022-06-06 14:34] Jiandong-Guo commented on #122
If the api cannot return a link for the phone number, please ask the backend team how to specify a number is a phone number since there may be so many numbers in the returned html string.  currently the api returns a plain string like:

For more information, or to enquire about the concepts, methods or data quality of this release, contact us (toll-free 1-800-263-1136; 514-283-8300; 

[2022-06-06 15:40] payeisa commented on #122
@zhuelle I believe this should be a low priority item (it's tagged as minor)

[2022-06-06 16:44] Jiandong-Guo commented on #340
![Screenshot_1654532687](https://user-images.githubusercontent.com/58485300/172206311-9f3d0531-5e55-4986-9a92-1e35c951cc23.png)
@Rajat-Sen

[2022-06-06 17:37] zhuelle commented on #122
@payeisa I have informed Jiandong to not work on the ticket as it is not a priority. He already started look into it and analyzed it but won't continue working on it for now.

[2022-06-06 17:56] ForumG-SC commented on #361
@Rajat-Sen I am not sure if the fix was deployed to the current version due to which you are still seeing the flash, however please test this in the release tomorrow.

[2022-06-06 20:01] spotzero commented on #122
@payeisa this needs to be fixed in the content.

To do this, edit the article, and select the phone number, click the "link" button in the editor and set the URL to be: "tel:PHONE_NUMBER".

[2022-06-07 13:11] zhuelle commented on #100
@Pharste would you please provide a status update on this ticket? Thanks!

@payeisa Please provide a priority on this ticket if the business is decided to move forward on this request.

[2022-06-07 15:17] Pharste commented on #374
@payeisa Confirmed, this was part of the initial requirements ([Feature 3.3 Share article](https://confluenceb.statcan.ca/display/SPMA/Feature+3.3+Share+article))

[2022-06-07 15:19] Pharste commented on #376
French image was added by Plus team in ORPS to resolve issue. This was not a bug, it was just missing in the publishing system.

[2022-06-07 15:19] #365 closed

[2022-06-07 15:20] #282 closed

[2022-06-08 11:36] #379 closed

[2022-06-08 19:24] giftydeep commented on #306
The app is still seems to be crashing on Android 12. Will continue to monitor until next release.

![Image](https://user-images.githubusercontent.com/8207028/172699622-883ca22d-6133-4660-9156-6661aae29ea5.png)

[2022-06-09 17:52] weglmar opened #381 "StatsCAN (v1.0.9): Article level 2 text not centered"
Hello,
With the new release, the article level 2 screen has been modified.
The text carries over too far to the right (see screenshot).

Testing on iPhone X, iOS 15.5.

![image](https://user-images.githubusercontent.com/98898969/172906253-e36e2405-22da-482c-9ddd-a09c70078968.png)

FYI @Pharste @Rajat-Sen @payeisa @levegab

[2022-06-09 18:02] weglmar opened #382 "StatsCAN (v1.0.9): Article level 2 opening from Publications screen mid-text"
Hello,
In the new release, when I open articles they do not open as expected on the level 2 page.
The article opens mid-text, often times cutting off the title.

This seems to only be happening on Apple devices and with long articles that require scrolling.
Testing on iPhone X, iOS 15.5.

**Example 1:**

1. I selected the "Homeownership: sure, but at what cost?" article

![image](https://user-imag

[2022-06-09 18:05] zhuelle commented on #381
@weglmar would you please confirm this is a blocker or high priority ticket that the dev team has to fix the issue before any production deployment? thanks!

[2022-06-09 18:07] zhuelle commented on #382
@weglmar would you please confirm this is a blocker or high priority ticket that the dev team has to fix the issue before any production deployment? thanks!

[2022-06-09 18:59] ForumG-SC commented on #381
Related to https://github.com/StatCan/StatcanPublicationUAT/issues/284 , investigating the issue , the fix will be applied tomorrow. I will do another deployment tomorrow to test the fix for this issue.

[2022-06-09 19:08] zhuelle commented on #382
@weglmar Forum can fix the issue by deploying another version tomorrow. would you please confirm if this works for the business team and not interrupting your testing? Thanks!

[2022-06-09 19:08] zhuelle commented on #381
@weglmar Forum can fix the issue by deploying another version tomorrow. would you please confirm if this works for the business team and not interrupting your testing? Thanks!

[2022-06-09 19:45] weglmar commented on #382
@zhuelle Confirming we are okay with deploying another version tomorrow. Thank you!

[2022-06-09 19:45] weglmar commented on #381
@zhuelle Confirming we are okay with deploying another version tomorrow. Thank you!

[2022-06-09 21:07] Jiandong-Guo commented on #382
@ForumG-SC,It is related to #361,reverse the code(#Uat361), should be OK

[2022-06-09 21:14] Jiandong-Guo commented on #381
@zhuelle ,It was noticed and fixed in a new branch, If @ForumG-SC  will deploy a new version,  it can be fixed quickly(just a style).  if not urgent, the user will see it in next release

[2022-06-09 22:34] ForumG-SC commented on #382
@weglmar Please update the app and test this ticket, fix has been applied and deployment is done.

[2022-06-09 22:34] ForumG-SC commented on #381
@weglmar Please update the app and test this ticket, fix has been applied and deployment is done.

[2022-06-10 12:53] payeisa commented on #122
@weglmar Can you/your team please test this ticket?

[2022-06-10 13:12] weglmar commented on #381
The text looks good now. Thank you!

[2022-06-10 13:12] weglmar commented on #382
Functions as expected now. Thank you!

[2022-06-10 13:12] #382 closed

[2022-06-10 13:16] Rajat-Sen commented on #369
@giftydeep, I am still seeing the space. Please double check on a bigger device. Thanks!

[2022-06-10 13:18] Rajat-Sen commented on #284
Still can't see

[2022-06-10 13:19] Rajat-Sen commented on #340
Thanks!