[2021-08-16 13:34] AJBouzidi opened #1 "Need to add the new logo"

[2021-08-16 13:35] AJBouzidi commented on #1
@AJBouzidi please implement this in the next sprint

[2021-08-16 16:26] payeisa opened #2 "Isabelle's test issue"
This is a test.
Language: English
Android version 10
Galaxy S9

[2021-08-16 19:21] Pharste opened #3 "Stephanie’s test issue"

[2021-08-18 16:39] payeisa opened #4 "Epic 1, Feature 1.2 Language screen (button display)"
On the language screen, the "English" button should be on the left and the "Français" button should be on the right.

Language: English
Galaxy S9, Android version 10

[2021-08-18 16:42] payeisa opened #5 "Epic 1, Feature 1.2 Language screen (design of buttons)"
On the language screen, the color scheme, font size and style used for the language buttons should match (as closely as possible) the ones used in the prototype.

[2021-08-18 16:44] payeisa opened #6 "Epic 1, Feature 1.2 Welcome screen (layout)"
The overall screen design (color palette, font, spacing, positioning of labels, button etc.), should match (as closely as possible) the prototype.

[2021-08-18 16:50] payeisa opened #7 "Epic 1, Feature 1.2 Welcome screen (typos)"
There's a typo in the mission statement. "Caada." should be replaced by "Canada."
The "fr" language toggle in the top right corner of the page should be replaced by "Fr" (capital "F").

[2021-08-18 16:50] #2 closed

[2021-08-18 16:50] #3 closed

[2021-08-18 16:53] AJBouzidi commented on #6
@payeisa we will implement this as we go. the UX still improving the color palette, fonts, background, spacing etc..

[2021-08-18 16:56] payeisa opened #8 "Epic 1, Feature 1.3 Terms and conditions (typo)"
In the top-right corner, the language toggle (fr) should be "Fr" (capital "F").

[2021-08-18 17:00] payeisa commented on #6
@AJBouzidi I figured as much! Just figured I would point things out as I was testing.

[2021-08-18 19:38] ForumG-SC commented on #7
It was Minor issue - Fixed and changes are pushed to Forum/WelcomeScreen branch.
<img width="273" alt="image" src="https://user-images.githubusercontent.com/84411852/129961297-b911d0b6-b47a-4417-bd12-65cfc7918826.png">

[2021-08-18 19:49] ForumG-SC commented on #8
Got Fixed with #7

[2021-08-19 15:19] ForumG-SC commented on #5
<img width="296" alt="image" src="https://user-images.githubusercontent.com/84411852/130091746-1016043e-6ea6-4549-9c7b-ad683aebf77d.png">
<img width="289" alt="image" src="https://user-images.githubusercontent.com/84411852/130093185-de54c73d-8039-43c2-a7f9-7a95ca30e3d6.png">
<img width="270" alt="image" src="https://user-images.githubusercontent.com/84411852/130095069-f0629fa0-168b-4b1b-b329-7a6c0

[2021-08-19 15:48] ForumG-SC commented on #5
<img width="293" alt="image" src="https://user-images.githubusercontent.com/84411852/130100400-467d5733-c8b8-4afe-9635-d5c38fa7ac5c.png">

Tab Bar scholar scheme fixed

[2021-08-20 13:20] Pharste opened #9 "Order of text on landing page"
![image](https://user-images.githubusercontent.com/89025880/130239392-2a26eeb6-9640-4b7b-90e0-d9a1115614d3.png)

Should the English button be before the French button on the language screen? (Consistent with the title of the page) @AJBouzidi

[2021-08-20 13:26] Pharste commented on #9
Sorry- I couldn't see the other issues before and created this. Close since I see Isabelle already reported it.

[2021-08-26 18:28] Pharste opened #10 "Epic 1, Feature 1.2 Welcome screen and Feature 1.3 Terms and conditions"
From the welcome screen, if I'm in English and hit 'Continue' to the Terms and conditions page, then toggle to French, when I hit 'Annuler', I'm brought back to the English welcome screen (rather than staying in French).

[2021-08-29 12:59] payeisa opened #11 "Display: auto-rotate"
Is auto-rotate an option for the StatCan app (portrait and landscape)? It doesn't seem to work on my devices.

Samsung  Galaxy S9, Android version 10
Samsung Galaxy Tab S6 Lite Android version 11

Thanks,
Isabelle

[2021-08-29 13:24] payeisa opened #12 "Language screen: size of buttons"
The buttons on the language screen should be the same size. Right now, the English button is smaller.

Thanks,
Isabelle

[2021-08-29 13:30] payeisa opened #13 "Welcome screen: mission statement"
On the welcome screen, the mission statement (Delivering insight through data for a better Canada.) should be centered.

Thanks,
Isabelle

[2021-08-29 13:38] payeisa opened #14 "Terms and conditions: screen title"
Following discussion with OPMIC, could you please replace "Terms and conditions" with "Terms of Use".
French would be "Conditions d'utilisation".

Thanks,
Isabelle

[2021-08-29 13:45] payeisa opened #15 "Terms and conditions: Accept button label in Fr"
The translation for the "Accept" button should be "Accepter" (instead of "J'accepte").

Thanks,
Isabelle

[2021-08-29 14:03] payeisa opened #16 "Publications icon - label"
On my phone (Samsung Galaxy S9), the label for the Publications button (in the bar at the bottom)  cuts off (not enough space).
This in not an issue on my tablet (Samsung Galaxy Tab S6 Lite).

![image](https://user-images.githubusercontent.com/89025704/131253164-943f072f-325e-4c89-9a0c-c2401a6242af.png)

[2021-08-29 14:23] payeisa opened #17 "Text size ratio (tablet vs phone)"
The text size ratio seems to be inconsistent when viewed on my tablet (Samsung Galaxy S6 Lite). For example, the size of the buttons in the menu at the bottom (Publications, Search, For You and Settings), seems big when compared to the text on the screen.

**When viewed on tablet (the text size for the buttons is much bigger than the text within the article)
![image](https://user-images.githubuser

[2021-08-29 14:40] payeisa opened #18 "Settings - Language"
***I'm not sure if this screen was ready for testing, or not but based on prototype design***

The screen title should be centered.

The options labels should be:

When in English:
English
Français

When in French:
Français
English

Once an option is selected, it should be marked as a checkmark in a bubble.
There should also be a note, below the language options "Changing the language may restart

[2021-09-02 17:13] ForumG-SC commented on #14
Fixed, the changes will be deployed in the upcoming release.

[2021-09-02 17:24] ForumG-SC commented on #13
Fixed, will be deployed in the upcoming release.

[2021-09-02 17:24] #13 closed

[2021-09-02 17:33] ForumG-SC commented on #12
Fixed, the changes will be deployed in the upcoming release.

[2021-09-08 15:16] ForumG-SC commented on #17
Fixed, changes will be applied in the upcoming deployment.

[2021-09-08 15:16] ForumG-SC commented on #16
Fixed, changes will be applied in the upcoming deployment.

[2021-09-09 15:40] Pharste opened #19 "UX: Manage all notifications screen"
-	The plus button for number of notifications is cut off
-	The formatting of the on/off slider buttons are off—they overlay with the text for each option.
-	When both in-app notifications/push notifications are turned off, I think the notification type options at the bottom of the screen should automatically switch off. This didn’t happen for me when testing.

Publications Screen – level 1 notific

[2021-09-09 15:43] Pharste opened #20 "Dark mode"
There is a white border around the second level- display article content, and at the top of the screen in the first level- display list of articles.

[2021-09-09 15:45] Pharste opened #21 "Third-level article content"
-	After closing the in-app browser, I was directed back to the terms and conditions screen. This didn’t always happen, but it happened a handful of times.
-	After navigating to different pages with the in-app browser, the arrows at the bottom of the screen stopped working for me. Again, this didn't happen every time but glitched a handful of times.

[2021-09-09 15:46] Pharste opened #22 "Second-level article content"
-	When scrolling down to view more articles on this page, the ‘Earlier today’ text has no background, and appears over the images/text. I believe it should replace the ‘StatCan Publications’ header?
-	Share this publication and contact us support the bilingual functionality, but when share this article is selected in French, the pop-up title is still in English. This is happening even though my ph

[2021-09-09 15:53] ForumG-SC commented on #11
Fixed

[2021-09-09 15:55] ForumG-SC commented on #20
@Pharste  Do you mean the header is white ?

[2021-09-09 15:58] ForumG-SC commented on #19
@Pharste  Publications Screen – level 1 notifications: This is not functional that is why it does not display full article content, only ux was implemented.   😊

[2021-09-09 15:58] ForumG-SC commented on #21
@Pharste  Navigation has been fixed and the changes will be deployed in the upcoming release.

[2021-09-09 16:02] ForumG-SC commented on #21
@Pharste  The Navigation buttons in the bottom .... If you click on back button( < ) when you land on that screen it won't work because you did not clicked anywhere in the browser to go back ..  To test the button correctly , when you land on the browser you have to click on some options to navigate forward after that you click on back button( < ) and forward buttons it will work.

[2021-09-09 16:05] ForumG-SC commented on #21
@Pharste
https://user-images.githubusercontent.com/84411852/132721769-94e527d3-a7f1-46c1-a4a4-4591e1376a1e.mp4

[2021-09-09 16:06] Pharste commented on #19
Ok, thanks for the clarification!

[2021-09-09 16:07] ForumG-SC commented on #20
Fixed, the changed will be deployed in the upcoming release.

[2021-09-09 16:07] Pharste commented on #21
To clarify- I tested the back buttons by navigating elsewhere in the browser (ahead 3 screens and then back). It was not always responsive

[2021-09-09 16:09] ForumG-SC commented on #22
@Pharste  Share this publication and contact us button's text should change when to change language not the text in the pop up because the data is hard coded not real so we are not sharing anything there , in future the links will be shared not the title.

[2021-09-09 16:14] ForumG-SC commented on #22
@Pharste There is dummy data on that screen , no  functionalities have been implemented yet for the section title's like earlier today, etc.

[2021-09-09 16:21] #22 closed

[2021-09-09 16:26] ForumG-SC commented on #21
@Pharste To further investigate, will it be possible for you to share screen recording of the issue ?

[2021-09-09 16:28] ForumG-SC commented on #21
https://user-images.githubusercontent.com/84411852/132725263-9419ab10-5d2c-407f-858e-971c1ab02bd2.mp4

I navigated 3 times ahead and than clicked on back , it worked ..  @Pharste

[2021-09-09 16:31] ForumG-SC commented on #21
https://user-images.githubusercontent.com/84411852/132725712-eee65a29-2c2b-4eb2-9d65-1b8090dd2e8b.mp4

@Pharste  I tested in other link also navigated 3 times to front than clicked on back button , it worked

[2021-09-09 16:56] Pharste commented on #21
After closing and reopening the app to test, I wasn't able to duplicate the issue. Thanks!

[2021-09-09 17:07] ForumG-SC commented on #21
No Problem. 😊

[2021-09-09 17:07] #21 closed

[2021-09-09 18:46] payeisa commented on #12
Validated Sept 09, 2021.

[2021-09-09 18:54] payeisa commented on #13
Validated Sept 09, 2021.

[2021-09-09 18:54] payeisa commented on #14
Validated Sept 09, 2021.

[2021-09-09 18:55] payeisa commented on #15
Validated Sept 09, 2021.

[2021-09-09 18:58] payeisa opened #23 "French language screen"
The French language screen title should be "Langue / Language", instead of "langue" with a lowercase "l".

![image](https://user-images.githubusercontent.com/89025704/132746384-4097c07a-7375-44d7-94e2-e740c05ea940.png)

[2021-09-09 19:28] payeisa opened #24 "Manage notifications screen (Save)"
The UX design for the "Manage notifications" screen has a "Save" option, in the top-right corner of the screen, however that option is missing from the Dev version.

![image](https://user-images.githubusercontent.com/89025704/132750258-8bd67474-7ed9-4a8e-90b5-ba70b33fddd8.png)

[2021-09-09 19:42] payeisa opened #25 "Publications Screen Level 3 - Back and forward buttons"
When you first access a level 3 article, the Back and Forward arrows are dark, which is misleading. For example, from the Home screen, click the "Canadian international merchandise trade" article. Scroll down and click the "service" hyperlink.

A web browser will display the Daily article.

If I click on the Back or Forward arrow at the bottom, nothing happens.

Can the arrows be a light grey, or

[2021-09-09 19:45] payeisa opened #26 "Publications Screen Level 3 - Close button in the header"
When I click on the Close button ("X") from a level 3 article, I return to the Terms of Use page. I should return to the article page instead.

[2021-09-09 19:51] payeisa opened #27 "Functionality: Publications Screen Level 1 : Notifications Screen"
From the Home screen, click on the bell icon to view the notifications.
Click more.
Select "Mark all as read".
Red dots disappear from articles to indicate that the notifications have been read.
However,  when I click on the "Back" arrow to return to the Home screen, the bell icon still displays the red dot (when it shouldn't).

[2021-09-09 20:36] ForumG-SC commented on #26
Fixed , will be deployed in the upcoming release.

[2021-09-09 20:40] ForumG-SC commented on #23
Fixed, changed will be deployed in the upcoming version.

[2021-09-09 22:59] ForumG-SC commented on #12
@payeisa  French interface is updated and the changes will be reflected in the upcoming release to test.

[2021-09-10 13:44] payeisa commented on #24
Following meeting with Rajat, it was confirmed that a Save function will not be needed on this screen. No change required for Dev.

[2021-09-10 17:35] AJBouzidi commented on #11
This is still to be reviewed because the landscape app will create a lot of unknown issues for the display. this need to be treated case by case.

[2021-09-15 05:55] ForumG-SC commented on #12
done

[2021-09-15 19:31] ForumG-SC commented on #25
When you land on the screen for the first time no navigation can be done , therefore the buttons are disabled and light grey color :
<img width="289" alt="image" src="https://user-images.githubusercontent.com/84411852/133497462-f27fbfdf-3a37-4174-8558-f451dc893476.png">

Once you start navigating in the WebView the buttons are active and color changes to dark grey :
<img width="309" alt="image" sr

[2021-09-19 21:47] payeisa opened #28 "Notifications - menu item (Notification settings)"
When on the Notifications page, and you select the menu item, "Notification settings" should be "Manage notifications".

![image](https://user-images.githubusercontent.com/89025704/133944058-e0b8ecd2-fd77-4eeb-99c2-5b7602350cdc.png)

[2021-09-19 22:02] payeisa opened #29 "Publications Screen Level 2 (label)"
"Share this publications" should be "Share this publication" (no "s") at publications.

Publications Screen Level 2 - Share this publication button implemented at the bottom of the screen (Airdrop, Message, Email etc share menu) https://xd.adobe.com/view/06f1d9f5-3100-4957-abe8-fa36941132b6-53a2/screen/b14046cc-c18f-43fd-bda2-c4a291bb20d3 https://github.com/StatCan/StatCanPublication/issues/67

[2021-09-19 22:16] payeisa opened #30 "Publications Screen Level 2 (StatCan Publications - Share this article)"
From the Publications screen, level 2, when you click on the menu (in the top right corner) and select "Share this publications". The heading of the screen you navigate to next should be "StatCan - Share this publication", instead of "StatCan Publications - Share this article".

![image](https://user-images.githubusercontent.com/89025704/133944732-c3b81fc2-803b-4657-b2dd-4369c1091ac5.png)

Publica

[2021-09-19 22:34] payeisa opened #31 "Publications Screen Level 1 - Max char for titles"
Can you please confirm that the titles for the articles will not be limited to one line of text only? We should have up to four lines of text. For example:

![image](https://user-images.githubusercontent.com/89025704/133945058-f8c4811c-90de-45eb-b1e6-5dc0fe99635b.png)

Publications Screen Level 1 - Styling changed as per prototype https://xd.adobe.com/view/06f1d9f5-3100-4957-abe8-fa36941132b6-53a2

[2021-09-20 01:55] AJBouzidi opened #32 "Publication Screen Level 1: Styling"
It looks like the background color is not quite the same as the one used in the prototype.

The StatCan Publications screen title should be against a white background, and the rest should be against a blue-ish background.

![image](https://user-images.githubusercontent.com/89025704/133945229-188194c7-0513-4dc7-8d13-4a4cd348925c.png)

The font size and color for "Latest", "Earlier today" and "Date

[2021-09-20 10:36] payeisa opened #33 "Launch screen - icon needs to be updated"
The Launch screen should use the same icon as the one used on the Welcome screen.

![image](https://user-images.githubusercontent.com/89025704/133988644-a1bd238d-ebc6-4527-aef7-93c1837d55a2.png)

[2021-09-20 12:55] payeisa commented on #16
The button should be "Publications" (with an "s").

[2021-09-22 17:29] Pharste opened #34 "Publications Level 2 Screen More icon"
In the menu at in the top right corner, the contact us button is indented. It should be in-line with the share this publication button ![image](https://user-images.githubusercontent.com/89025880/134392436-72fca713-4160-48f0-9f36-0dec9a541956.png)

Also a note that 'share this publication' has an unnecessary 's' on the end.

[2021-09-22 19:54] payeisa opened #35 "Launch & welcome screens: Leading language"
When launching the app in French, the leading language of the launch screen should be French. Right now it's displayed with English-leading (Statistics Canada / Statistique Canada).

The welcome screen should also be French-leading. Right now, it's English-leading.

[2021-09-22 20:01] payeisa commented on #17
Validated Sept 22, 2021.

[2021-09-22 20:01] #17 closed

[2021-09-22 20:03] payeisa commented on #20
@Pharste Can you please validate, and close if the issue has been fixed?

[2021-09-22 20:09] payeisa commented on #26
Validated Sept 22, 2021.

[2021-09-22 20:09] #26 closed

[2021-09-22 20:11] Pharste commented on #20
The issue has been fixed. Thanks!

[2021-09-22 20:14] #20 closed

[2021-09-22 20:23] payeisa opened #36 "Publications Level 1 (Bold)"
I'm not sure what specifically is supposed to change, in article level 1, when I set the text to Bold (on or off), or when I change the size of the text.

I'm not noticing any changes to the article level 1 headings. The titles remain the same, regardless.

Header Changes ( Dark Mode , Text Size , Bold ) - to test it go to settings screen and apply the appropriate settings. https://xd.adobe.com/vi

[2021-09-22 20:33] payeisa opened #37 "StatCan Publications heading (Bold)"
If I set the "Bold" option to off, all the headings within the app will change to not bold, except for the "StatCan Publications" heading on the home screen.

However, if I change the text size (to ether bigger or smaller), the "StatCan Publications" heading will adjust accordingly.

[2021-09-22 21:12] Pharste opened #38 "Pub screen level 3 navigation buttons"
When on the first page of a level 3 publication, the navigation buttons are greyed out as they should be, but I noticed when navigating one page forward, both of the arrows turn black as if they're available. I think only the back button show as available, and not the forward since there's no where to navigate forward?

![image](https://user-images.githubusercontent.com/89025880/134422633-f726b98e

[2021-09-22 21:17] payeisa commented on #24
Noted! No further changes required.

[2021-09-22 21:17] #24 closed

[2021-09-22 21:19] payeisa commented on #25
Validated Sept 22, 2021.

[2021-09-22 21:19] #25 closed

[2021-09-22 21:26] Pharste opened #39 "Search screen"
Im unable to click in the search bar to search keywords (with the mock data).

[2021-09-22 21:30] Pharste opened #40 "For you screen - unable to click on articles"
After running through the testing scenario of selecting price and price indexes and economic accounts, I am unable to click on the articles, and the formatting is off (pushed into the right side). ![image](https://user-images.githubusercontent.com/89025880/134424688-36a7126f-a7e2-4095-adca-797928d42809.png)

[2021-09-22 21:34] Pharste opened #41 "Notifications screen (home page)"
After clicking a notification from the bell icon on the home page, I'm unable to select the heart icon to display it in the saved (for you) page. ![image](https://user-images.githubusercontent.com/89025880/134425163-60234114-c67e-4c08-924e-25bcd0d1b36e.png)

[2021-09-22 22:54] ForumG-SC commented on #40
@Pharste Did you try clicking on the reading icon , that should open the article  and you can swipe the bottom articles

[2021-09-22 22:59] ForumG-SC commented on #41
@Pharste When you click on heart icon the article will get saved in the for you tab under saved section. When you are clicking the heart icon you would not see any alert or change of the heart icon stating that you have clicked because this screen's UX and missing functionalities have not been implemented yet.

[2021-09-22 23:01] ForumG-SC commented on #38
Investigating this issue, in progress.

[2021-09-23 00:35] ForumG-SC commented on #38
Resolved, changes will be deployed in the upcoming release.

[2021-09-23 00:39] ForumG-SC commented on #37
Investigating the issue, in progress.

[2021-09-23 00:53] #9 closed

[2021-09-23 00:55] ForumG-SC commented on #12
@payeisa This issue has been resolved and requires validation, assigning it back to you.

[2021-09-23 00:56] ForumG-SC commented on #38
@Pharste This issue has been resolved and requires validation, assigning it back to you. The changes will be deployed in the upcoming release.

[2021-09-23 00:57] #14 closed

[2021-09-23 01:01] ForumG-SC commented on #16
@payeisa The bug has been fixed, the changes will be deployed in the upcoming release. Requires validation, assigning it back to you.

[2021-09-23 01:02] ForumG-SC commented on #23
@payeisa  Requires Validation , assigning it back to you.

[2021-09-23 03:33] ForumG-SC commented on #30
Resolved, changes will be deployed in the upcoming release. Requires Validation , assigning it back to you.

[2021-09-23 20:03] ForumG-SC commented on #37
Resolved, the changes will be deployed in the upcoming release. Assigning it back to you.

[2021-09-23 20:50] ForumG-SC commented on #28
Resolved, the changes will be deployed in the upcoming release. Requires validation, assigning it back to you.

[2021-09-23 20:51] #7 closed

[2021-09-23 20:52] #10 closed

[2021-09-23 20:52] #5 closed

[2021-09-23 20:53] #4 closed

[2021-09-23 20:53] #8 closed

[2021-09-23 20:54] #6 closed

[2021-09-24 15:57] ForumG-SC commented on #36
https://user-images.githubusercontent.com/84411852/134705099-c696e1b5-5b35-4ab8-9d58-6dfc3da2caaa.mp4

Please refer to this video, assigning ticket to you.

[2021-09-24 15:59] ForumG-SC commented on #31
Max Char has been updated unto 4 lines.

[2021-09-24 16:01] ForumG-SC commented on #29
Resolved, requires validation , assigning it back to you.

[2021-09-24 16:05] ForumG-SC commented on #33
Right now we are using screenshots to display the launch icon and welcome icon as we have not received the set of images (.svg) files from Rajat yet.

[2021-09-24 16:08] ForumG-SC commented on #32
Background color has been changed now cards have white background .
The length of images issue has not been fixed yet because I would need to redesign the  UX of whole screen again while api integration as due to paging might have to used flatllist .

[2021-09-24 17:10] Pharste opened #42 "Dark mode: Canada word mark on settings screen"
Hi,

I noticed that the white copy of the Canada word mark is showing up in the dark mode of the app and looks out of place. Can we please replace this with the black version? ![image](https://user-images.githubusercontent.com/89025880/134714329-188ff579-ffa2-4fff-b1f6-d9c4528f66e6.png)

[2021-09-24 17:36] Pharste commented on #40
Hi, I tried clicking on the reading icon and it does open the article. Will this button be removed in a later release? Based on the prototype design, we should be able to click the article the same as the home page to open it.
Thank you for confirming the UX has not been implemented. I will validate formatting once it has. :)

[2021-09-24 17:44] Pharste opened #43 "Dark mode: heart icon not visible in article view (level 1)"
The heart icon in dark mode should display in white like the header and menu button. It isn't visible currently in the level 1 article view. ![image](https://user-images.githubusercontent.com/89025880/134718229-ed9b817a-4ef2-4352-a8ae-454da2c5d091.png)

[2021-09-25 20:16] payeisa commented on #12
Need issue #35 to be fixed before validating this one.

[2021-09-25 20:19] payeisa commented on #16
Validated Sept 25, 2021.

[2021-09-25 20:20] payeisa commented on #23
Need issue #35 to be be fixed before validating.

[2021-09-25 20:21] payeisa commented on #28
Validated Sept 25, 2021.

[2021-09-25 20:21] #28 closed

[2021-09-25 20:21] payeisa commented on #29
Validated Sept 25, 2021.

[2021-09-25 20:21] #29 closed

[2021-09-25 20:22] payeisa commented on #30
Validated Sept 25, 2021.

[2021-09-25 20:22] #30 closed

[2021-09-25 20:23] payeisa commented on #31
Will validate once we have actual data.

[2021-09-25 20:27] payeisa commented on #36
Validated Sept 25, 2021.. I was thinking the title of the **articles** were supposed to change, but realize it's only the title of the **screen** that changes.

[2021-09-25 20:27] #36 closed

[2021-09-25 20:28] payeisa commented on #37
Validated Sept 25, 2021.

[2021-09-25 20:28] #37 closed

[2021-09-25 20:44] payeisa opened #44 "Publications Screen Level 2 : Save icon in the header"
When I click on the heart icon to add an article, the pop up message should be "Added to saved items."

Testing Scenario 1: Click on heart icon , banner should appear saying "Added to the saved items" and clicking the cross button in the banner should dismiss the pop-up.

[2021-09-25 21:20] payeisa opened #45 "More icon in top-right corner of article view, level 3"
When in article view, level 3, the "More" menu option in the top-right corner should be changed to a "Share" icon.

Publications Screen Level 3: More Icon in the header , User can navigate to any links/pages and should be able to share the link of that particular page.

[2021-09-25 21:31] payeisa opened #46 "Settings screen (UX)"
The menu items should all be the same size (i.e. Clear search history is bigger than the others, Share this app is smaller etc.)
Font should match once used in prototype.
"Rate this app" item should be removed.
"Privacy policy" should be "Privacy notice".
"Terms & conditions" should be "Terms of use".

[2021-09-27 09:48] payeisa opened #47 "Changes not pushed to tablet"
I tried to test on my tablet, but noticed that changes were not pushed to it. I closed it, deleted my user profile, but I'm still getting the old content.

[2021-09-27 09:51] payeisa opened #48 "Welcome screen - bold buttons"
Should the language buttons be bold? (They are not bold in the prototype)

[2021-09-27 09:53] payeisa opened #49 "Terms and conditions: Accept/Cancel buttons"
Should the buttons be bold? They currently are not (in Dev version), but are in the prototype.

[2021-09-27 09:55] payeisa opened #50 "Background for article levels 1 and 2"
The background in the Dev version seems brighter than the one in the prototype. Or maybe it's the color of the text as well? In the prototype, it looks like a grey is used (and not a pure black).

[2021-09-27 09:58] payeisa commented on #16
The label for "Publications" on my tablet is still Publication" (missing an "s").
![image](https://user-images.githubusercontent.com/89025704/134887627-388fb274-8a84-48ba-b674-721bf4fd83e2.png)

[2021-09-27 13:24] AJBouzidi opened #51 "menu"

[2021-09-27 14:20] payeisa opened #52 "Sept 13 Release note"
We are unsure what this refers to, or what he testing tasks should be:

Notifications Screen : More icon menu does not push notifications list, design changes fixed. https://xd.adobe.com/view/06f1d9f5-3100-4957-abe8-fa36941132b6-53a2/screen/bb43ea69-08d9-4447-ad82-439715c82eac/

[2021-09-27 14:25] payeisa opened #53 "Sept 20 Release Note"
We weren't sure what "Tab Bar" refers to...

Publications Screen Level 3: Tab Bar Disabled.

Publications Screen Level 3: Navigation Buttons are disabled when user lands first time on the screen and the buttons actives while navigating in the WebView.

Publications Screen Level 3: More Icon in the header , User can navigate to any links/pages and should be able to share the link of that particular

[2021-09-27 15:59] ForumG-SC commented on #53
@payeisa Publications Screen Level 3: Tab Bar Disabled: **It refers to the bottom tab navigation bar , if you compare to the previous level that screen was showing in app browser with the bottom tab bar (Publications,Search,For You,Settings).**

Publications Screen Level 3: Navigation Buttons are disabled when user lands first time on the screen and the buttons actives while navigating in the WebV

[2021-09-27 16:04] ForumG-SC commented on #52
If you compare the notification list screen to the previous version of the release , the menu was pushing the text down instead of overlapping it (see the screenshot below) , that has been resolved.
![image](https://user-images.githubusercontent.com/84411852/134944495-ce61fa06-aee6-454a-92b2-07a6fa20d399.png)

[2021-09-27 16:10] ForumG-SC commented on #48
As per the prototype this screen's button text is bold .
![image](https://user-images.githubusercontent.com/84411852/134945303-4c5b4134-df55-41d0-b197-5403cd4fd8f9.png)

[2021-09-27 16:11] ForumG-SC commented on #47
Try to delete the app in the tablet and reinstall it.

[2021-09-27 16:14] ForumG-SC commented on #44
In the latest version the banner has been removed and replaced with the toast message.

[2021-09-27 16:17] ForumG-SC commented on #16
@payeisa Try to delete the app in your tablet and reinstall it.

[2021-09-28 14:35] ForumG-SC commented on #49
Cancel button's text was not bold, fixed. Will be deployed in upcoming release, requires validation, assigning it back to you.

[2021-09-28 14:39] ForumG-SC commented on #50
Background in Dev is same as prototype. Text style as per prototype have not been implemented yet.

[2021-09-28 14:42] ForumG-SC commented on #48
The Language buttons are not bold in Dev version as they were not bold in the prototype, but if you require them to be bold as well, it can be done.

[2021-09-28 14:48] ForumG-SC commented on #45
The Icon has been changed, will be deployed in the upcoming release. Requires Validation, assigning it back to you.

[2021-09-28 14:53] ForumG-SC commented on #46
Fixed, the changes will be deployed in the upcoming release. Requires validation, assigning it back to you.

[2021-09-28 15:05] ForumG-SC commented on #42
@Pharste Screenshot has been removed and real image has been implemented. However, we have **not received** proper dark theme's color schemes yet due to which this logo would not be visible much in dark mode.

The changes will be deployed in the upcoming release, requires validation, assigning it back to you.

[2021-10-04 09:21] payeisa commented on #53
@ForumG-SC Thanks for the clarification!
@Pharste FYI

[2021-10-04 09:27] payeisa opened #54 "Settings - manage subjects - heart icon on article"
I can complete step1, but I'm unable to select the heart icon in step 2. When I navigate to the article screen, and select the heart, nothing happens. It remains empty, and I don't get the pop-up message saying it was added to my saved items.

Step 1: Go to setting screen >> Manage Subject Following , select(checkmark) Price and price Indexes and Economic Accounts.

Step 2: Navigate back to For yo

[2021-10-04 09:29] payeisa commented on #44
Validated Oct 04, 2021.

[2021-10-04 09:29] #44 closed

[2021-10-04 09:30] payeisa commented on #45
Validated Oct 04, 2021.

[2021-10-04 09:30] #45 closed

[2021-10-04 09:41] payeisa commented on #46
The size of the menu items "Color theme", "Clear search history", "Share this app" and "App version" are still bigger than the other ones (i.e. higher row height). The font and color is also different than prototype.

![image](https://user-images.githubusercontent.com/89025704/135828728-e0c56339-4ac9-4f64-b466-b4141dd25847.png)

[2021-10-04 09:42] payeisa commented on #49
Should the "Accept" button also be bold?

[2021-10-04 09:53] payeisa opened #55 "UX design: Language screen"
I'm not sure if the design was done for the Language screen, but the buttons in Dev are bigger/closer together compared to prototype. Image on the left is Dev, and image on the right is prototype.

![image](https://user-images.githubusercontent.com/89025704/135830303-cdeafb6f-1fd3-4018-b94e-e963b0b3f460.png)

[2021-10-04 10:07] payeisa commented on #16
Was able to validate after deleting and re-installing the app.

[2021-10-04 10:07] #16 closed

[2021-10-04 10:15] payeisa commented on #52
@ForumG-SC Thanks for the clarification!
@Pharste FYI

[2021-10-04 10:15] #52 closed

[2021-10-04 10:19] payeisa opened #56 "Search results"
No matter which keywords I use, the search results are the same. I would have expected the "No search results" message for the last two searches performed.

![image](https://user-images.githubusercontent.com/89025704/135834518-5f2f6ae1-53f5-4c6b-b4e8-2872c947c2b5.png)

[2021-10-05 00:50] AJBouzidi commented on #56
@payeisa don't be cut on with this search, as you know already this is mock data we simulated search. The search engine not within the mobile app, it's developed in the backend. and because we still waiting to connect to backend we cannot search inside the mock data.  This is only to show the navigation.

[2021-10-05 15:01] ForumG-SC commented on #49
Accept & Cancel buttons are bold in the prototype and in the current dev version they are bold as well.

[2021-10-05 15:38] ForumG-SC commented on #46
Fixed, will be deployed in the upcoming release.

[2021-10-05 15:49] ForumG-SC commented on #55
@payeisa In which device are you testing this ?

[2021-10-14 09:55] payeisa opened #58 "Search - Sort & Filter functions"
Should we be testing the "functionality" of these two features (per the latest prototype), or simply validating the fact that they were added?

_Sorting and Filter by subject added. Click on Search bar , enter a word and click search icon , sort and filter by subjects buttons will appear to test._

[2021-10-18 18:27] payeisa opened #59 "Requirement for Terms of Use (BETA)"
Hi Ali,

Just confirming that we can keep the Terms of Use AS-IS (i.e. latin) for the BETA version.

At our meeting this morning, I suggested using the ones from the website, however, for the purposes of the consultations, we can leave them as-is, since we are not asking, or expecting the user to comment on the actual terms of use.

Thanks,
Isabelle

[2021-10-21 02:31] AJBouzidi commented on #59
@payeisa Hi Isabelle, keep in mind that if we need to push the beta version for review and we keep the terms of service as is then we guarantee that will not pass the store review.  Apple and Google are very strict on terms of use.  Lorem ipsum text will not pass the review.

[2021-10-23 13:48] payeisa opened #60 "Settings screen - Contact Us - Link to Privacy Act"
Hi,

There's an issue with the display of the Privacy Act page, in the app (level 3). I understand we are stripping away web headers and footers, which is fine for the StatCan Can website, but it's an issue for non StatCan website content, such as the Privacy Act.

Users should know that they are no longer within the StatCan website.

![image](https://user-images.githubusercontent.com/89025704/138

[2021-10-27 13:00] Rajat-Sen opened #62 "Search functionality"
1. There should be margin from top and left for the Search word.
2. The search icon needs to be on the left hand side.
3. When the user goes into search focused state, there should be cancel button to exit the functionality. Also, I have provided the icon to clear the search please use that.

Everything is specified on the confluence page. Please refer to that.

[2021-10-27 13:07] Rajat-Sen opened #63 "Publication screen"
Whenever the user scrolls down and the text that changes from latest to earlier today to dates, it should be a part of navigation bar. Thus, the cards should go under the navigation bar without interfering with the heading itself.

[2021-10-27 13:13] Rajat-Sen opened #64 "Size of per article saved on the app"
If we could get an approximate size per article that will be saved on the user's phone that will be great. Then based on that we can define Offline content feature.

[2021-10-28 14:22] Rajat-Sen opened #65 "Launch screen / Splash screen"
As per guidelines by TBS, we will have to stick with FIP guidelines. Thus, we are going to have only Canada Wordmark on the screen which should be covering 85% of the width. I will be providing the Wordmark for Light mode and Dark mode.

[2021-11-08 15:37] #43 closed

[2021-11-08 15:38] #42 closed

[2021-11-08 15:38] #41 closed

[2021-11-08 15:39] #40 closed

[2021-11-08 15:39] #39 closed

[2021-11-08 15:40] #38 closed

[2021-11-08 15:43] Pharste commented on #34
![image](https://user-images.githubusercontent.com/89025880/140772356-e4f587c6-4269-4a2c-a127-22a78978a00c.png)

When validating this issue, I found that the more menu cuts off now, not showing the contact us button from the menu.

[2021-11-08 15:46] #19 closed

[2021-11-08 15:49] Pharste opened #66 "Dark mode: publication level 1 screen"
![image](https://user-images.githubusercontent.com/89025880/140773353-51f30b36-3b8f-463e-94bf-56eb348cadda.png)

When using dark mode, there is a white gap at the top of the screen, cutting of the time on iOS (Iphone X)

[2021-11-08 18:51] Rajat-Sen opened #67 "Common Accessibility Fixes"
When voice over is turned on, following are the common accessibility fixes needs to be done:

                                                                                     **1. Tab Bar**
a. When selected any given element on the Tab bar, it should say the Tab bar -> Element name if selected -> 1 of 4.
       For instance, Tab bar, publications, 1 of 4.

[2021-11-08 18:57] Rajat-Sen opened #68 "French Translations"
I have shared the list of French Translations with the Dev team to make sure it matches the client French translations with the app. Also, I have attached the file for reference.

[Master_list_of_terms.xlsx](https://github.com/StatCan/StatcanPublicationUAT/files/7499399/Master_list_of_terms.xlsx)
p.

[2021-11-08 18:58] Rajat-Sen opened #69 "App Name"
Please change the app name to StatsCAN.

[2021-11-12 19:11] ForumG-SC commented on #63
Done, assigning back to you for validation

[2021-11-14 22:02] ForumG-SC commented on #69
Done

[2021-11-14 22:02] #69 closed

[2021-11-16 11:21] payeisa opened #70 "Consultations: For you/Following - missing intro screen"
The intro screen is missing from the For you/Following screen. If I'm not following any subjects, the intro screen should be displayed. [See Feature 6.1 (User story 6.1.2)](https://confluence.statcan.ca/display/SPMA/Feature+6.1+For+you+page)

[2021-11-16 11:27] payeisa opened #71 "No content displaying for certain articles"
***Content of type "Infobyte" is not being picked up. Publications of type "Article" and "Databyte" are ok, but for some reason the content for publications of type "Infobyte" is not recognized. As a workaround for consultations, I will not create publications of type "Infobytes".***

If I select the article "Who invests in Nova Scotia's housing market?", I navigate to a blank screen with a "No Co

[2021-11-16 11:37] payeisa opened #72 "Consultations: Date format on Home screen"
The date format on the Home screen should be changed from:

2021-11-11 to November 11, 2021 (in English)
2021-11-11 to 11 novembre 2021 (in French)

![image](https://user-images.githubusercontent.com/89025704/141978691-ef77775b-2f1e-44e4-8ab5-d44769ba3d4d.png)

[2021-11-16 11:42] payeisa opened #73 "Consultations: Default settings screen"
The Settings screen will default to "Manage subjects" after the user has navigated to it once. To replicate:

Navigate to the For you screen
Options
Manage subjects
Select a new subject
Click the return arrow
Go to Publications screen
Go to Settings screen - the "Subjects following" screen will be displayed by default, but it shouldn't (i.e. I have to click the back arrow to exit the Subject follo

[2021-11-16 11:46] payeisa opened #74 "Consultations: Saved items (missing heart icon)"
If I save articles, and then navigate to the For you/Saved screen, a heart icon only gets added to every second article. A heart icon should be displayed on every article.

![image](https://user-images.githubusercontent.com/89025704/141979686-5c760386-8c11-4ff6-9fb4-6ab88206db75.png)

[2021-11-16 12:05] payeisa opened #75 "Consultations: Notifications intro screen message"
_***I tagged this one as a priority for consultations, however, only the last item is (really) a priority (removing duplicate). I documented them all in the same tickets for simplicity, however, feel free to fix them all or not, based on other priorities, before consultations***_

On the intro screen, in English, there should be a space between "Note:" and "Notifications".

Note: Notifications are

[2021-11-16 12:18] payeisa opened #76 "Pour vous screen / Éléments d'intérêt & Élémets sauvegardées"
In French, the intro screen messages for the Éléments d'intérêt and the Éléments sauvegardées screens should be centered, just like in English.

![image](https://user-images.githubusercontent.com/89025704/141983889-fa9cc052-db44-4757-b741-7beebf8f6f1b.png)

[2021-11-16 12:23] payeisa opened #77 "For you menu item (lowercase)"
The menu item "Pour Vous/For You" should be lowercased. Please change from:
"Pour Vous" to "Pour vous"
"For You" to "For you"

![image](https://user-images.githubusercontent.com/89025704/141984236-8cc703a0-a6ed-47e5-a68b-1095ef8d5af8.png)

[2021-11-16 12:28] payeisa opened #78 "Settings - Manage subjects"
Navigate to Settings / Preferences / Manage subjects following

Please update according to User Story 2:
[https://confluence.statcan.ca/display/SPMA/Feature+5.2+Preferences#Feature5.2Preferences-Userstory2:ModifythesubjectsthatIamfollowing](url)

Note: I understand this may not have been updated yet due to other priorities, but I thought I'd flag this as a to do, once we get to it.

[2021-11-16 12:52] payeisa opened #79 "Consultations - Manage subjects"
Settings - Preferences
"Manage subjects following" should be renamed to "Manage subjects"

Settings - Preferences - Manage subjects following
Screen heading should be changed from "Subjects following" to "Manage subjects"

In French

Paramètres - Préférences
"Gérer les sujets suivants" should be changed to "Gérer les sujets"

Paramètres - Préférences - Gérer les sujets suivants
Screen heading shou

[2021-11-16 12:54] payeisa opened #80 "Consultations: Link to Contact Us (in French)"
Paramètres - Contactez-nous & Article level 2 - Contactez-nous
The French Contact Us form should be displayed (right now it's displaying the English one)

[2021-11-16 12:58] payeisa opened #81 "Consultations: Article Level 2"
The "Share this publication" and "Contact us" links at the bottom of the Article level 2 screen should be displayed in French when using the app in French.

![image](https://user-images.githubusercontent.com/89025704/141989475-80255117-7b1f-4acf-93b6-0999e1454372.png)

[2021-11-16 13:13] payeisa opened #82 "Consultations: Search screen"
Please rename the "Sort" label to "Sort by date" (in French it should be "Trier par date".
**this will allow the functionality to remain as is for now. We can revisit and fix after consultations.

Please rename the "Filter by subject(s)" label to "Filter by subject" (in French it should be "Filtrer par sujet")
**this will allow the functionality to remain as is for now. We can revisit and fix afte

[2021-11-16 13:24] payeisa opened #83 "Special characters in French not being recognized by the app"
_As a workaround for consultations I will avoid adding apostrophes in the titles_

Some special characters are not being recognized by the app, in the Article level 1. For example:

Apostrophe (level 1) - not recognized

![image](https://user-images.githubusercontent.com/89025704/141993249-af69f3e1-c797-4fe2-bcb6-336bb34ac8f2.png)

Apostrophe (level 2) - recognized

![image](https://user-images.gi

[2021-11-16 13:26] payeisa commented on #70
This is no longer an issue.

[2021-11-16 13:26] #70 closed

[2021-11-16 13:45] payeisa opened #84 "Consultations: Article level 2: Contact us link"
The Contact us link at bottom of the article is broken – it navigates users back to the home page of the application.

[2021-11-16 14:03] payeisa opened #85 "Consultations: Dark mode - main menu"
When in dark mode, the bottom menu changes to white, with a light blue icon on the page you’re on, other menu items are not visible.

In order to replicate, go to Settings - Color Theme - Dark - then navigate to another page (at first, the menu will look fine, but when navigate to a different screen you should be able to see it).

![image](https://user-images.githubusercontent.com/89025704/1419995

[2021-11-16 14:06] payeisa opened #86 "For you screen/Following"
The icon should be replaced by a "See all". This created confusion during the consultations dry-run sessions.

![image](https://user-images.githubusercontent.com/89025704/141999858-eb94f98b-6fb5-4346-b101-baf89973b93b.png)

[2021-11-16 14:30] Pharste opened #87 "Languages menu: should read “English” when viewing in French, and “Français” when viewing in English"
![image](https://user-images.githubusercontent.com/89025880/142004218-a5ad088f-05a2-44e1-b213-4db8d54e36ce.png)

[2021-11-16 14:34] Pharste opened #88 "Search screen: doesn’t respond to hitting “enter” from device’s keyboard"
The search should be executed by either the magnifying glass icon or the enter button on the device keyboard. As of November 16th, search is only executed by clicking the magnifying glass icon.

[2021-11-16 14:37] Pharste opened #89 "Search screen: recent searches"
![image](https://user-images.githubusercontent.com/89025880/142005180-32beca99-83b9-4212-867d-26cc813fac46.png)

When a recent search is selected, it should automatically be executed. Currently users have to click the magnifying glass icon after clicking the keyword to execute their search.

[2021-11-16 16:33] ForumG-SC commented on #86
The changes will be deployed in the upcoming release . Assigning it back to you for validation after deployment.

[2021-11-16 16:34] ForumG-SC commented on #74
Fixed, changed will be deployed in the upcoming release. Assigning it back to you for validation.

[2021-11-16 17:01] ForumG-SC commented on #75
Done, changes will be deployed in the upcoming release. Assigning it back to you for validation.

[2021-11-16 17:16] ForumG-SC commented on #79
Fixed, changed will be deployed in the upcoming release. Assigning it back to you for validation.

[2021-11-16 17:18] ForumG-SC commented on #85
@payeisa  Not able to reproduce this bug, could you provide more details such as DeviceType- Android/IOS , OS version, Device model name? Thanks

[2021-11-16 17:33] payeisa commented on #85
@ForumG-SC I added more info in the description above (i.e. replication steps). The device I'm using is a Samsung Galaxy S9, Android version 10). Thanks, Isabelle

[2021-11-16 17:34] ForumG-SC commented on #76
@payeisa They are already centred. Do you want to get alignment changed that is if intro message breaks into 2nd line for French .. 2nd and 3rd line should look same like English ?
<img width="663" alt="image" src="https://user-images.githubusercontent.com/84411852/142036298-ec32440c-7f03-4349-b1b1-958bd16d51b5.png">

[2021-11-16 18:15] goodyke commented on #71
I researched this by calling the web service to retrieve the article contents for the articles listed in this ticket.  The problem is not that the Plus article is of type 'Infobyte' - the problem is when an article contains content of type 'infographic'... which is mostly those that the users labelled 'Infobyte' (but not always).  For instance, the Alcohol Sales in Canada, 2019/2020 that was publi

[2021-11-16 18:17] ForumG-SC commented on #85
Can you please try to navigate to the Settings Screen and scroll all way to the bottom of the screen and click on "Delete User Profile", close and reopen the app , change theme to dark mode ? Can you confirm that you still see the bottom tab navigation bar as white after deleting user profile and reopening the app ?

[2021-11-16 18:47] payeisa commented on #85
@ForumG-SC I deleted my user profile and closed/re-opened the app, and the same thing still happens. See attached:

![image](https://user-images.githubusercontent.com/89025704/142046659-1c989308-3d46-4334-837e-529259410f86.png)

The same issues were noticed with an iPhone XR, software version 14.7.1 and an iPad iOS 15.1

[2021-11-16 18:54] payeisa commented on #76
@ForumG-SC The 3rd lines of text in French on both the Following and Saved screens don't appear to be centered (they look more like they are left-aligned). This is how I would expect them:

![image](https://user-images.githubusercontent.com/89025704/142047700-9bf9b063-3c73-4047-8d17-2795caee5e32.png)

[2021-11-16 19:13] ForumG-SC commented on #76
Fixed, changes will be deployed in the upcoming release. Assigning it back to you for validation.

[2021-11-16 19:22] ForumG-SC commented on #85
Thank you , Investigating the issue.

[2021-11-16 19:45] ForumG-SC commented on #85
Fixed, changes will be deployed in the upcoming release. Assigning it back to you for validation.

[2021-11-17 14:01] goodyke commented on #71
@payeisa this was caused by the StatsCAN Plus web service not returning the infographics content - this has been fixed by Drupal with DAILY-876 which will be deployed to ALPHA this week.  Please verify that the content for the articles listed above is now showing (once the next version of the mobile app is published).

[2021-11-17 14:15] goodyke commented on #83
Before this ticket was submitted there was a Jira ticket created for Drupal to verify if this is an api fix or not and it was not.  Here is the comment from Drupal team:
- The mobile app is not correctly decoding the JSON response.
- Per https://www.ietf.org/rfc/rfc4627.txt per section 2.5, any character maybe encoded, and quotes must be encoded.  This must be resolved in the app.

[2021-11-17 15:09] Jiandong-Guo commented on #87
changed

[2021-11-17 15:51] goodyke commented on #88
This issue was fixed with development work done in Sprint 17

[2021-11-17 16:21] Jiandong-Guo commented on #87
Done

[2021-11-17 16:57] goodyke commented on #87
@Pharste you can review this fix once sprint 17 of the mobile app is deployed on November 19, 2021

[2021-11-18 15:35] Jiandong-Guo commented on #81
Done

[2021-11-18 15:54] Jiandong-Guo commented on #82
done

[2021-11-18 15:57] Jiandong-Guo commented on #80
done

[2021-11-18 16:31] Jiandong-Guo commented on #72
Please confirm the translation for month is correct:
monthE=['January','February','March','April','May','June','July','August','September','October','November','December'];
monthF=['janvier','février','mars','avril','mai','juin','juillet','aout','septembre','octobre','novembre','décembre'];

[2021-11-18 16:43] Jiandong-Guo commented on #72
done

[2021-11-18 16:45] ForumG-SC commented on #84
Assigning back to you for validation, changes will be deployed in tomorrow's release.

[2021-11-18 16:47] ForumG-SC commented on #81
Assigning it back to you for validation, changes will be deployed in tomorrow's release.

[2021-11-18 16:48] ForumG-SC commented on #82
Assigning it back to you for validation, changes will be deployed in tomorrow's release.

[2021-11-18 16:49] ForumG-SC commented on #80
Assigning it back to you for validation, changes will be deployed in tomorrow's release.

[2021-11-18 16:51] ForumG-SC commented on #72
Assigning it back to you for validation, changes will be deployed in tomorrow's release.

[2021-11-18 17:22] payeisa commented on #72
@Jiandong-Guo The translations above are correct, expect for the month of August. It should be "août". Thanks, Isabelle

[2021-11-18 21:50] Jiandong-Guo commented on #72
August was fixed

[2021-11-19 16:55] Pharste commented on #89
Issue validated

[2021-11-19 16:55] #89 closed

[2021-11-19 17:01] Pharste commented on #88
issue is fixed/validated

[2021-11-19 17:01] #88 closed

[2021-11-19 17:04] Pharste commented on #87
issue has been fixed/validated

[2021-11-19 17:04] #87 closed

[2021-11-19 17:04] Rajat-Sen opened #90 "Name change"
We will need to change the name of the app at all places from Appstore to Notifications.

StatCan to StatsCAN

[2021-11-19 17:05] Pharste commented on #66
This is still an issue on iPhone as of Nov 19 release

[2021-11-19 17:06] payeisa commented on #31
The titles on the Home page are still limited to 2 lines. See attached. Note that this is not a priority for consultations, and can be fixed later.

![image](https://user-images.githubusercontent.com/89025704/142662745-4ad1fdf7-5663-426d-ac97-4f0028a45f59.png)

[2021-11-19 17:07] ForumG-SC commented on #66
@Pharste Please validate tickets based on the Release Note.

[2021-11-19 17:09] Pharste opened #91 "For you screen (following)"
With November 19 release, not all articles with subjects following are showing up on the page. I followed Health, Government and Travel and Tourism and only see one Government article. ![image](https://user-images.githubusercontent.com/89025880/142663081-9b420fc2-c3c2-4d15-b0d9-8caaf9557406.png)![image](https://user-images.githubusercontent.com/89025880/142663087-fff3066a-cdb2-4030-8365-c980a4b4d3

[2021-11-19 17:13] payeisa commented on #71
Validated.

[2021-11-19 17:13] #71 closed

[2021-11-19 17:16] payeisa commented on #72
In English, there should be a space between the comma and the year. For example: November 15, 2021. Right now, it's displayed as "November 15,2021".

Note: not a showstopper for consultations. If we can fix, great, if not, not a huge deal.

[2021-11-19 17:19] payeisa commented on #74
Validated.

[2021-11-19 17:19] #74 closed

[2021-11-19 17:25] payeisa opened #92 "Saved items & language toggle"
Saved articles are not displayed if switching languages.

To replicate:

From an English session, save a few articles (i.e. access level 2 and click heart icon).
Go to For you - Saved (the articles will be displayed)
Then go to Settings and change language to French.
Return to For you - Saved.
Articles that had been saved when browsing in English are no longer displayed.

Articles should remain, r

[2021-11-19 17:28] payeisa commented on #75
Validated.

[2021-11-19 17:28] #75 closed

[2021-11-19 17:36] payeisa commented on #76
Pour vous - Éléments d'intérêt - the word "Intéressent" should be with a lowercase "i" (I apologize - I'm just noticing now that it was submitted this way in the screenshot I provided)..

[2021-11-19 17:37] payeisa commented on #77
Validated.

[2021-11-19 17:37] #77 closed

[2021-11-19 17:38] payeisa commented on #79
Validated.

[2021-11-19 17:38] #79 closed

[2021-11-19 17:40] payeisa commented on #80
Validated.

[2021-11-19 17:40] #80 closed

[2021-11-19 17:41] payeisa commented on #81
Validated.

[2021-11-19 17:41] #81 closed

[2021-11-19 17:53] payeisa commented on #82
In French, the "Filtrer par sujet" is displaying the subjects in English. Please update to display the subjects in French.

Searching in French returns no results. For example, if I search for "Health" in English, I receive 15 results. If I switch to French and search for "Santé", I don't get any results. I tried with different keywords, and I get no results for all of them (in French).

In French

[2021-11-19 17:54] payeisa commented on #84
Validated.

[2021-11-19 17:54] #84 closed

[2021-11-19 17:55] payeisa commented on #85
Validated.

[2021-11-19 17:55] #85 closed

[2021-11-19 17:59] payeisa commented on #86
In French, the translation for "See all" should be "Afficher tout". Right now it's "Tout vendre".

[2021-11-19 19:10] Jiandong-Guo commented on #82
done

[2021-11-19 19:28] ForumG-SC commented on #76
Fixed

[2021-11-19 19:29] ForumG-SC commented on #86
Fixed

[2021-11-19 19:52] ForumG-SC commented on #31
Fixed

[2021-11-19 20:09] Jiandong-Guo commented on #91
This one is related to the highlights workflow in the backend.
Before we use ...api/highlights to get the highlights from app running every time, this list will be accumulated to max 30 days, after 30 days, it will continue to accumulate but will delete the list whose age is more than 30 days. remember  we don't retrieve this list at once.   so when user choose some subjects in manage subjects set

[2021-11-19 20:14] Jiandong-Guo commented on #92
Currently, the saved item is a 2 list, one is for english, and another is for french. If want to mix them together, we have to re-write the code

[2021-11-19 20:16] payeisa opened #93 "For you - Unsave publication message"
Since we can only unsave one item at a time, would it be possible to modify the "Unsave publication" message

In English
From: Would you like to unsave these items?
To: Would you like to unsave this item?

In French
From: Souhaitez-vous annuler l'enregistrement de ces éléments?
To: Souhaitez-vous annuler l'enregistrement de cet élément?

[2021-11-19 20:31] ForumG-SC commented on #93
Done

[2021-11-19 20:37] ForumG-SC commented on #93
@payeisa Please update the app when you receive email within 1 hour from TestFlight ,  you can revalidate the tickets in which me and Jiandong have commented today "Done/Fixed".

[2021-11-19 20:47] ForumG-SC commented on #93
@payeisa
**For Android phone:**
You can update/reinstall the app right **NOW** and revalidate the tickets in which me and Jiandong have commented today "Done/Fixed".
**For IOS phone:**
Please update/reinstall the app when you receive email within **1 hour** from TestFlight  ,  you can revalidate the tickets in which me and Jiandong have commented today "Done/Fixed".
Hopefully, we should be good fo

[2021-11-19 21:38] ForumG-SC commented on #93
@payeisa My apologies , due to some technical glitches instead of  "Would you like to unsave this item?" , currently it is "Would you like to unsave this items?" , this will be fixed in the next release.

[2021-11-22 11:08] payeisa commented on #31
Validated.

[2021-11-22 11:08] #31 closed

[2021-11-22 11:23] payeisa commented on #76
Validated.

[2021-11-22 11:23] #76 closed

[2021-11-22 11:24] payeisa commented on #86
Validated.

[2021-11-22 11:24] #86 closed

[2021-11-22 11:29] payeisa commented on #12
If my device language is set to French, should I not be presented with a French-leading language screen? Right now, I'm getting the English-leading language screen (even though I changed my device language to French. Note that I did delete my app's user profile, closed the app, and restarted my device after the change was made.

[2021-11-22 14:26] goodyke commented on #78
@payeisa - could you please add more details as to how the User story is not being followed?

[2021-11-22 14:36] payeisa commented on #78
@goodyke Here are the two items from User Story 2 (Feature 5.2) that are currently missing:

- the instructional text 'Select subjects you wish to follow' will be shown in bold below the 'Manage subjects' screen title
- the subjects will be displayed in alphabetical order

Thanks,
Isabelle

user can select the 'Back arrow' to return to the Settings screen (any changes made to the Manage subjects s

[2021-11-22 15:47] Jiandong-Guo commented on #72
It was fixed already

[2021-11-22 17:02] goodyke commented on #72
Thanks Jiandong.  I did not realize that the last issue was fixed but you are correct - it was.  I will close this ticket.

[2021-11-23 14:44] Jiandong-Guo commented on #83
Done, ready to test in next release

[2021-11-23 17:56] #68 closed

[2021-11-23 19:03] #90 closed

[2021-11-23 19:04] #93 closed

[2021-11-30 18:32] Pharste opened #94 "Level 2 Article view: Publications should not display home page image"
Publication type "info graphic" should not display the home page image in the level two article screen (see example attached)![image](https://user-images.githubusercontent.com/89025880/144106815-e9a2de83-d09e-4de1-a68d-7927bfb92286.png)

[2021-11-30 19:00] Pharste opened #95 "Bottom menu not displaying properly on Android"
It seems like the bottom navigation menu is still being cut off with some Android devices (found with a Samsung 9).

![Screenshot_20211129-145651_StatsCAN (003) (004)](https://user-images.githubusercontent.com/89025880/144108913-172f8074-ed6c-46f1-8616-be4aa0579e6f.jpg)

[2021-12-02 15:43] Pharste commented on #34
Seems to be an iOS only issue

[2021-12-02 15:48] ForumG-SC commented on #95
@Pharste Can you provide me with the screen size of the device?

[2021-12-02 15:52] Pharste commented on #95
It is a Samsung 9 device, with a 5.81 x 2.70 x 0.33 inch display

[2021-12-02 16:09] ForumG-SC commented on #95
@Pharste I don't have 5.81 inches device because it is very old. I did tested in 5.7 , 5.8, 5.9 it seems okay on those screen sizes.

[2021-12-02 17:16] Pharste commented on #95
Thank you @ForumG-SC

Please keep this issue open, to be revisited during mobility testing.

[2021-12-02 20:33] Pharste opened #96 "Settings: Contact us"
Instead of displaying the Contact Us form from the settings, it should display the content of this web page: https://www.statcan.gc.ca/en/reference/refcentre/index

Note: We can keep the Contact Us form on the Level 2 article page.

[2021-12-02 20:36] Pharste opened #97 "Settings: Help and FAQs"
The help and FAQs should be renamed to “FAQs” only.
This should only include a link to the FAQ web page, bringing up the in-app browser (i.e. same behavior as the Privacy notice).

[2021-12-02 20:46] ForumG-SC commented on #96
@Pharste We should be replacing the URL from https://www.statcan.gc.ca/eng/reference/refcentre/form to https://www.statcan.gc.ca/en/reference/refcentre/index in the setting screen's contact us tab ? If so than are we striping off header , footer or just keep the same display of the website?

[2021-12-03 20:19] #1 closed

[2021-12-03 20:19] #11 closed

[2021-12-03 20:20] #32 closed

[2021-12-03 20:21] #33 closed

[2021-12-03 20:21] #53 closed

[2021-12-03 20:25] #62 closed

[2021-12-03 20:26] #65 closed

[2021-12-03 20:59] Pharste opened #98 "Create business process with IT to respond to comments"
** Transferring from StatCan Publication repository **

We will need to provide access to communications and create a process with IT to view and respond to users on the Apple and Google stores when ratings/ reviews are received (prior to the app being launched).

See also: https://confluence.statcan.ca/display/SPMA/rate+the+app+security+controls
https://confluence.statcan.ca/display/SPMA/app+stor

[2021-12-03 21:01] Pharste opened #99 "Create business process to publish (Apple) promo text"
** Transferred from StatCanPublication repo : https://github.com/StatCan/StatCanPublication/issues/144**

We would like to use the promotional text field in the Apple store to highlight new census releases, and other notable publications released in the app. We will need to test this feature, and create a business process with IT to publish/ remove text.

https://github.com/StatCan/StatCanPublicat

[2021-12-03 21:03] Pharste opened #100 "Display of default/ generic image when no home page image is available"
Since home page images are not a required element in ORPS, there is a chance that publications could be released without. In this case, would it be possible to create a default image to display on the home page/ with the publications in-app?

** Transferred from StatCan Publication: https://github.com/StatCan/StatCanPublication/issues/145 **

[2021-12-03 21:05] Pharste opened #101 "Review/ sign-off Google page in both E and F"
** Transferred from StatCanPublication repo **

We will need a way to review and approve the full app page, as it shows on the Google Play store before the app goes live to the public.

For reference:

![image](https://user-images.githubusercontent.com/89025880/144672634-1a9a65cc-834e-4ce7-987e-90078e95f081.png)

[2021-12-03 21:05] Pharste commented on #101
https://github.com/StatCan/StatCanPublication/issues/146

[2021-12-03 21:06] Pharste opened #102 "Review/ sign-off Apple page in both E and F"
** Transferred from StatCanPublication repo : https://github.com/StatCan/StatCanPublication/issues/147 **

We will need a way to review and approve the full app page, as it shows on the Google Play store before the app goes live to the public.

For reference:
![image](https://user-images.githubusercontent.com/89025880/144672851-88b2a5ce-aabc-4361-a870-2d0f760cecdd.png)

[2021-12-03 21:08] Pharste opened #103 "Review/ sign-off Developer page in E and F"
** Transferred from StatCan Publication repo : https://github.com/StatCan/StatCanPublication/issues/149 **

We will need to review and update the current Statistics Canada developer pages (published with Vitali-T). Once the content has been updated, we will need to approve and submit to the Apple/Google stores before the app's launch on Jan 31.

Google Play Developer page info: https://support.goo

[2021-12-07 11:20] payeisa commented on #46
Validated.

[2021-12-07 11:20] #46 closed

[2021-12-07 11:21] payeisa commented on #48
Validated.

[2021-12-07 11:21] #48 closed

[2021-12-07 11:23] payeisa commented on #54
Validated.

[2021-12-07 11:23] #54 closed

[2021-12-07 11:23] payeisa commented on #55
No further action required.

[2021-12-07 11:23] #55 closed

[2021-12-07 11:24] payeisa commented on #56
Validated.

[2021-12-07 11:24] #56 closed

[2021-12-07 11:26] payeisa commented on #49
The Accept button does not seem bold (if compared with the "Continue" button on the Welcome screen).

![image](https://user-images.githubusercontent.com/89025704/145020969-7772dcf8-06ad-4480-8397-7ad62942b6b4.png)

[2021-12-07 11:29] payeisa commented on #58
Go to Search screen - enter "Travel" - search.
9 results will be found.
Click on "Filter by subject(s)" (notice that none of the filters are applies, all options are blank)
Select "Government"
Apply
1 result will be found
Go back to "Filter by subject(s)
Remove the checkmark for "Government" (i.e. no filters selected, and back to how it was before I applied the "Government" filter)
Click Apply.
Th

[2021-12-07 11:33] payeisa opened #104 "Search results"
From the Search screen - enter a search keyword (i.e. economy)
Search
Select the first result (to navigate to that article)
Then click on the Search menu item.
The screen will display the "No results found" message.
It should display the last search performed instead.

[2021-12-07 11:35] payeisa commented on #94
I modified the title since (upon further testing), level 2 for **all** publications (and not just infographics) should not include the Home page image.

[2021-12-07 12:06] payeisa opened #105 "Date and time format on Search results screen"
From the search screen - after a search has been performed and results returned.
The date and time format should be the same as the one used in article level 2.

![image](https://user-images.githubusercontent.com/89025704/145026178-731f5e6c-1b24-4271-85ff-2893ec6b7bba.png)

[2021-12-07 12:09] payeisa commented on #72
Dates in single digits should not include a zero. For example, we should use "December **3**, 2021" instead of December **03**, 2021. This is consistent with formatting used for _The Daily._

![image](https://user-images.githubusercontent.com/89025704/145026610-8c4ed0d3-9e59-470b-a000-50ddf38f3805.png)

[2021-12-07 13:01] payeisa opened #106 "Acronyms in app"
Acronyms are being picked up as hyperlinks in the app.

![image](https://user-images.githubusercontent.com/89025704/145033698-47bd5acb-2eee-4c67-8c82-736577889061.png)

[2021-12-07 13:02] payeisa commented on #83
This was fixed in Article levels 1 and 2, but not in the search results.
![image](https://user-images.githubusercontent.com/89025704/145033955-f4dc5223-9857-4356-93c0-ba90b39612c4.png)

[2021-12-07 13:08] payeisa opened #107 "Article level 2: Display of ORPS article images"
The app is not displaying the images properly, in level 2.  The app does not resize the image properly.

For example, the article "A beautiful sunny fall", published December 3, 2021, was recreated exactly as it was published for StatsCAN Plus.  This is the link to the StatsCAN Plus article, on the StatCan website: https://www.statcan.gc.ca/o1/en/plus/191-beautiful-sunny-fall

This seems to be the

[2021-12-07 13:16] payeisa commented on #82
Validated.

[2021-12-07 13:16] #82 closed

[2021-12-07 13:18] payeisa commented on #50
No further action required.

[2021-12-07 13:18] #50 closed

[2021-12-07 14:26] ForumG-SC commented on #105
It is resolved, assigning it back to you for validations.

[2021-12-07 15:39] ForumG-SC commented on #49
Done, assigning it back to you for validations.

[2021-12-07 16:35] Jiandong-Guo commented on #72
Do we have to change the date format for search screen too ?
and also change it for French version too ?

[2021-12-07 20:05] ForumG-SC commented on #66
Done,assigning it back to you for validations.

[2021-12-07 20:50] Rajat-Sen opened #108 "Sorting subjects alphabetically"
When the user is on the following screen when tapped on Managing subjects or go to settings, the subjects should be listed alphabetically.

[2021-12-07 20:56] Rajat-Sen opened #109 "App crashing"
on iOS, when there is no internet connection and you launch the app it starts from the very beginning and crashes. It's been crashed multiple times on me.

[2021-12-08 14:27] payeisa commented on #72
@Jiandong-Guo Yes, the format for dates should be consistent across all screens. And dates in French with single digits should also not include a zero. For example, 8 décembre 2021 instead of 08 décembre 2021.

Thanks,
Isabelle

[2021-12-08 16:28] ForumG-SC opened #110 "Update Social Media Screen"
This feature was delivered, however later on the prototype was modified for this screen to add icons.

[2021-12-08 18:19] payeisa opened #111 "UX Publications Level 2 Screen: Share & contact us buttons"
At the bottom of the screen, Share this publications and contact us layout has been changed from links to button by adding icons.

Is this the actual design if the buttons? They seem different the rest of the design.

@ Rajat: not sure if I should be assigning tickets to you? (but this one is UX related :))

[2021-12-08 18:23] ForumG-SC commented on #111
@payeisa The UX of pubs level 2 screen is yet to be implemented according to the prototype, next week UX will be improved and this issue will be resolved.

[2021-12-08 18:24] ForumG-SC commented on #110
Done

[2021-12-08 18:24] #110 closed

[2021-12-08 18:25] ForumG-SC commented on #97
Done, changes will be deployed in Friday's release.

@Pharste Assigning this ticket back to you for validation.

[2021-12-08 18:27] payeisa opened #112 "Screen headers - discrepancies"
The screen headers seem to be different from one screen to another.
StatsCAN Publications (look good)
Search - font seems bigger than StatsCAN Publications
For you - centered (but the other ones are not)
Settings - font is bigger

[2021-12-08 18:31] ForumG-SC commented on #112
@payeisa Fonts for the Search Screen header will be changed like StatsCAN Publications.
For you - Which other ones should be centered?
Settings Screen - Major UX updates have been done which will be seen in Friday's release which resolves the header issue.

[2021-12-08 18:56] payeisa opened #113 "Storing of search text & switching of interface language"
If I'm using the app in English, perform a search, and then decide I want to switch the language of the app to French, the keyword search I had entered in English is maintained, and I automatically get the "No results found" message - which is not always accurate.

For example, if I search for "Transport" in English - I get  5 results and if I search for "Transport" in French, I will get 6 results

[2021-12-08 19:05] payeisa opened #114 "Search results & filters by subject"
When filtering search results by subjects, the list of subjects provided should be displayed in alphabetical order.

![image](https://user-images.githubusercontent.com/89025704/145268392-17046198-cd6e-466a-992a-9ec121eebf01.png)

[2021-12-08 19:14] payeisa opened #115 "Search behaviour: back arrow"
If I search for "pig", I will get 1 result.
Click on the article to go to the level 2.
Then click on the back arrow to return to the Search screen.
I'm provided with the "No results found" screen.
I should be presented with the last search I performed, or if that can't be done, then I should be presented with the Intro screen.

[2021-12-08 19:33] ForumG-SC commented on #112
@payeisa  For you - Which other ones should be centered?

[2021-12-08 19:36] ForumG-SC commented on #78
@payeisa Changes have been implemented and will be reflected in Friday's release ,assigning it back to you for validation.

 For subjects list to display in alphabetical order there is another ticket for it , the fix will be updated in that ticket (https://github.com/StatCan/StatcanPublicationUAT/issues/114) .

[2021-12-08 19:37] #51 closed

[2021-12-08 19:38] #59 closed

[2021-12-08 19:51] payeisa opened #116 "Max search results (20)"
Are we limiting the number of search results returned to 20? (i.e. if I search for "the" or "at", I only get 20 results).
Which is ok, but I think we should let users know about this, if that's the case

[2021-12-08 21:03] payeisa opened #117 "Pour vous - Éléments d'intérêts - subject spanning over two lines"
When the subject spans over two lines on the For you - Following screen (i.e. Services aux entreprises et aux consommateurs et culture),  the "Afficher tout" option gets cut-off and does not display properly.

![image](https://user-images.githubusercontent.com/89025704/145283756-5fcb2578-6f78-4836-a168-fd78d94e7b72.png)

[2021-12-08 21:15] payeisa opened #118 "Unfollow subject (alignment of text & display)"
The alignment of the text to Unfollow a subject does not seem to be consistent. I would recommend left-aligning the text.

For you - (make sure you are following subjects) - See all - 3 ellipses -
![image](https://user-images.githubusercontent.com/89025704/145285210-03bce294-52ec-4a0e-beaf-6a6722e96550.png)

![image](https://user-images.githubusercontent.com/89025704/145285285-952b5c27-f9e3-4711-8

[2021-12-08 21:51] Pharste opened #119 "French search screen: English subject names in filter menu"
When viewing the app in French, the filter by subjects list appears![image](https://user-images.githubusercontent.com/89025880/145290117-611dff54-f254-43f2-8e2e-aca1d355d5be.png) in English.

[2021-12-09 12:14] payeisa commented on #112
@ForumG-SC I think the heading for the "For you" screen should be consistent with the other ones (i.e. Publications, Search, Settings are not centered.)

[2021-12-09 15:59] ForumG-SC commented on #119
@Pharste The way how it works is , if you search using English word than filter by subject list and all the articles will be displayed in English but if you search a keyword using French word for example "Indices" this keyword is from a article posted in French language, if you search using French keyword than the filter by subject list will be in French not English . The screenshot you provided a

[2021-12-09 16:01] ForumG-SC commented on #119
@Pharste Could you please validate again and close the ticket ?

[2021-12-09 16:52] ForumG-SC commented on #112
@payeisa Does this works ?

![image](https://user-images.githubusercontent.com/84411852/145440450-cb47a201-658f-49d8-8401-bef9f5758244.png)

[2021-12-09 17:31] payeisa commented on #112
@ForumG-SC  Yes, I think this works, and it's consistent with the rest of the screens.

[2021-12-09 20:12] Rajat-Sen opened #120 "Hiding the contact us button"
Please hide the contact us button on level 2 as it is already there attached to the article itself. Additionally, it solves the Google problem of displaying contact information.

[2021-12-10 15:14] ForumG-SC commented on #120
@Rajat-Sen Hide this in the header or in the bottom of the screen ?

[2021-12-10 15:26] Rajat-Sen commented on #120
Hide the on bottom of the screen as, contact information is already available at the end of every publication.

[2021-12-10 15:47] ForumG-SC commented on #34
@Pharste Fixed. Assigning it back to you for validations.

[2021-12-10 16:11] Pharste commented on #119
Validated, thank you!

[2021-12-10 16:11] #119 closed

[2021-12-10 16:13] Jiandong-Guo commented on #83
Fixed, ready to test in next release

[2021-12-10 16:18] Pharste commented on #96
Hi- sorry for the delay in answering this. We can strip off the header and footer.

[2021-12-10 16:30] Jiandong-Guo commented on #58
@payeisa, The checkmark means we will show items for this subject,  if you want to show them all, you have to check all the subjects and then 9 result will be shown.
If the way is not what you are expecting, we can change to:
     first time you click the filter and enter the filter dialog, all the subjects are checked,
     you can un-select some subject, and items belong to this subject will dis

[2021-12-10 16:44] payeisa commented on #58
@Jiandong-Guo I like your suggestion and think this would align the logic a bit better.
By default, all the subjects would be selected, and if a user clears an option/removes a checkmark, then the items for that subject would no longer be displayed.

[2021-12-10 17:12] #120 closed

[2021-12-13 14:21] Rajat-Sen commented on #117
Wai/ting to confirm with the clients

[2021-12-13 14:23] Rajat-Sen commented on #116
This is not priority for now as when we launch the application, it is going to have limited number of articles.

[2021-12-13 14:24] Jiandong-Guo commented on #94
Do we need to do something from our side ?

[2021-12-13 14:52] zhuelle commented on #107
This is related to https://github.com/StatCan/StatcanPublicationUAT/issues/94
@payeisa would you please check the comments in #94 to see if we need this bug ticket?

[2021-12-13 15:17] payeisa commented on #107
@zhuelle 94 and 107 are in fact two separate issues.

[2021-12-13 17:39] Rajat-Sen commented on #58
@Jiandong-Guo
This is also a priority, I have shared the feedback from Testflight. Please check.

[2021-12-13 17:45] Rajat-Sen commented on #113
@Jiandong-Guo

This is a priority ticket as well. Just wanna make sure Publications and search screen are intact before you go! Thanks

[2021-12-14 12:18] payeisa commented on #49
Validated.

[2021-12-14 12:18] #49 closed

[2021-12-14 12:23] payeisa commented on #112
The "For you" heading is cutting off:

![image](https://user-images.githubusercontent.com/89025704/145997483-d5dedb22-da09-481a-a8fe-771ec8d0e8b5.png)

[2021-12-14 12:27] payeisa commented on #83
Validated.

[2021-12-14 12:27] #83 closed

[2021-12-14 12:28] payeisa commented on #105
Validated.

[2021-12-14 12:28] #105 closed

[2021-12-14 12:51] payeisa opened #121 "For you intro screens - font size"
The size of the font on the Following and Saved items intro screens should be consistent with the font size used on the Search screen.

For example, the text "Stay informed! Select your subjects of interest to automatically receive the latest info" on the For you/Following screen is smaller than the the text "No results found. Please check your spelling or try again using different keywords." on t

[2021-12-14 12:55] payeisa opened #122 "Article level 2: Functionality for phone numbers"
Could we add functionality to the phone numbers in the article level 2 "Contact information" section? Similar to email addresses, when a user selects a phone number, they would be prompted to dial/complete the call.

![image](https://user-images.githubusercontent.com/89025704/146002272-fbc57e01-058c-48ef-87cb-33bd0590c01e.png)

[2021-12-14 13:12] payeisa opened #123 "Settings/Text size Instruction text below text size slider"
It looks like the instruction text in French is spanning too wide. It's very close to the edge, and goes beyond the width of the white boxes.

![image](https://user-images.githubusercontent.com/89025704/146004670-ab51717c-49df-4496-9e87-798b17d7a9d7.png)

[2021-12-14 13:14] payeisa opened #124 "Home screen heading & large text"
When setting the text size to the largest setting possible (Settings/Text size), the alignment of the header on the Publications screen becomes off. i.e. it should be left-aligned.

![image](https://user-images.githubusercontent.com/89025704/146005002-3d0a60fd-7618-41a7-a96f-ba79595b79fa.png)

[2021-12-14 13:18] payeisa opened #125 "UX for Settings/Text size"
Is there a way that we can a consistent design/color scheme for the Text size screen? (i.e. instead of having the green slider and the blue line, can we use the same color scheme as what is used throughout the app?)

![image](https://user-images.githubusercontent.com/89025704/146005793-19f6ec39-702c-409c-960c-6c5af5ff0dce.png)

[2021-12-14 14:09] payeisa opened #126 "Settings/Manage notifications (typo)"
"recieve" should be "receive"

![image](https://user-images.githubusercontent.com/89025704/146013933-7e10a8f4-69bb-4c12-be3f-182207e17328.png)

[2021-12-14 15:03] Pharste opened #127 "Update translation: "I want to be notified about...""
![Notifications fr](https://user-images.githubusercontent.com/89025880/146022534-ad85766c-6866-4f70-87b3-0dc4fdd45bbe.png)

The French text for "I want to be notified about..."should be "Je veux recevoir des notifications sur..." and not "je veux etre averti de..."

[2021-12-14 15:32] ForumG-SC commented on #125
@payeisa
![image](https://user-images.githubusercontent.com/84411852/146028508-79b36d4c-68f9-44d0-9ba0-7834772e9a1a.png)

Does this works ?

For apple , if we have white circle in the slider it is visible , however in android if we keep white circle in the slider it is not visible so I changed it to grey, however if you want me to change it to a specific color , please let me know.

[2021-12-14 15:35] ForumG-SC commented on #127
Done, changes will be reflected in the upcoming release, assigning it back to you for validation.

[2021-12-14 15:37] ForumG-SC commented on #126
Done, the changes will be reflected in the upcoming release. Assigning it back to you for validation.

[2021-12-14 15:39] ForumG-SC commented on #123
Fixed, changes will be reflected in the upcoming release. Assigning it back to you for the validation.

[2021-12-14 15:41] payeisa opened #128 "Settings/Social media"
The social media icons are not displaying properly:

![image](https://user-images.githubusercontent.com/89025704/146028637-6d650fff-539d-4133-9852-f09b532efe0f.png)

"Youtube" should be "YouTube" (with a capital "T")
LinkedIn should be '"Linkedin" (with a lowercase "i")

The links to the social media platforms should be the same as the ones used here:
https://www.statcan.gc.ca/o1/en/plus
https://w

[2021-12-14 15:47] ForumG-SC commented on #121
@payeisa Font size on the Following and Saved items intro screens are smaller because  when user switch the language to Francais the text would fit in, if we increase the font size like search screen and switch the language it looks way to off.

However to make it consistent we can match the search screen's  message size with the for you screen's intro message. Please let me know if you are okay w

[2021-12-14 15:49] ForumG-SC commented on #128
@payeisa Could you please provide me with the screen size used in the screenshot and the device model ?

[2021-12-14 15:52] payeisa opened #129 "Settings/More information/Privacy notice"
The header and footer for the Privacy notice should be removed (same as article level 2).

Avis de confidentialité should link to the French page:  https://www.statcan.gc.ca/fr/reference/privee
(right now it's linking to the English page)

[2021-12-14 15:56] payeisa opened #130 "Settings/Terms of Use"
The Terms of use menu item and heading should be "Terms of Use" (with a capital "U")

[2021-12-14 16:04] ForumG-SC commented on #130
Done ,Assigning it back to you for validation.

[2021-12-14 17:36] payeisa opened #131 "Settings/Help & FAQs"
When clicking the "Copy email address" option in the Email section, I would expect a pop up message to let me know the item has been copied (i.e. copied to clipboard).

![image](https://user-images.githubusercontent.com/89025704/146050364-c321005a-a66a-46c1-aa11-d631cc7f9917.png)

[2021-12-14 17:39] payeisa opened #132 "Settings/Help & FAQs/FAQs"
The icon for FAQS is cut-off

![image](https://user-images.githubusercontent.com/89025704/146050706-7e8d0683-522a-4383-9ff9-f2e0fcaa5ed9.png)

[2021-12-14 18:15] ForumG-SC commented on #132
@payeisa Could you please provide me with more details like : What is the screen size of the phone that you are testing ? IOS or android? Mobile model name ?

[2021-12-14 18:25] ForumG-SC commented on #131
@payeisa Could you please provide me with the translations ?

![image](https://user-images.githubusercontent.com/84411852/146057648-e2440f71-7f37-48b0-a6d9-43820cb984a8.png)

[2021-12-14 19:41] payeisa commented on #131
@ForumG-SC Here are the labels:
English: Item copied to the clipboard.
French: Élément copié sur le presse-papier.

I just want to make sure that, that is in fact the expected behaviour? i.e. does the Infostats email address get copied to the clipboard?

[2021-12-14 19:44] payeisa commented on #125
@ForumG-SC I would recommend discussing with Rajat, as he would be in a better position to provide feedback based on design and accessibility,

Just to add, can we also make the "Bold text" slider a different color? Other than green?

[2021-12-14 19:47] payeisa commented on #121
@ForumG-SC Noted, and thank you! I would prefer keeping the fonts as-is in this case, and not change the Search screen's font. If you agree, we can close this ticket. Thanks, Isabelle

[2021-12-14 19:49] payeisa commented on #128
@ForumG-SC  It's a Samsung Galaxy S9 and the screen is 5.8 inches.

[2021-12-14 19:55] payeisa commented on #132
@ForumG-SC  It's an Android, Samsung Galaxy S9, version 10

[2021-12-14 20:50] ForumG-SC commented on #131
@payeisa
https://user-images.githubusercontent.com/84411852/146077308-80f6d5c6-e16e-406f-a962-7b658bb79a91.mp4

[2021-12-14 20:54] ForumG-SC commented on #125
Yes, we can change the bold text bottom to different color than green.

[2021-12-14 20:54] ForumG-SC commented on #125
@Rajat-Sen Please provide with color selection for the slider and the bold text button, thanks.

[2021-12-14 20:56] #121 closed

[2021-12-14 21:01] ForumG-SC commented on #128
@payeisa Tested in 5.8 inches , couldn't replicate the issue. However, I will modify some things for the icons and you can test it in the next release to verify if the fix worked or not.
![image](https://user-images.githubusercontent.com/84411852/146078592-9b58a715-7a84-4757-ac23-22e527015f07.png)

[2021-12-14 21:05] ForumG-SC commented on #132
@payeisa Fixed, assigning it back to you for validation.

[2021-12-14 21:06] ForumG-SC commented on #131
https://user-images.githubusercontent.com/84411852/146079276-b209be5f-c05d-4d9e-ab88-abc65a514c14.mp4

[2021-12-14 21:08] ForumG-SC commented on #131
Assigning it back to you to test this in the next release and validate it.

[2021-12-14 21:21] ForumG-SC commented on #112
Is the screenshot from 5.8 inch screen size Samsung Galaxy ?

[2021-12-14 21:37] payeisa commented on #112
@ForumG-SC Yes it's a 5.8" screen (Android Samsung Galaxy S9)

[2021-12-15 15:00] Jiandong-Guo commented on #122
@payeisa The information part is coming from article content by calling api, the app is hard to modify it.  The best way is to change it to a link in article content from data source

[2021-12-15 16:59] Rajat-Sen commented on #117
This ticket is for the sell all option getting cut off, when the subject spans over 2 lines.

[2021-12-15 17:16] ForumG-SC commented on #125
@Rajat-Sen Please provide with color selection for the slider and the bold text button, thanks.

[2021-12-15 17:35] ForumG-SC commented on #128
@payeisa Please confirm the urls:

EN:
  "facebookLink": "https://www.facebook.com/StatisticsCanada/",
  "instaLink": "https://www.instagram.com/statcan_eng/",
  "linkedinLink": "https://ca.linkedin.com/company/statcan",
  "redditLink": "https://www.reddit.com/user/StatCanada/",
  "twitterLink": "https://twitter.com/statcan_eng",
  "youtubeLink":"https://www.youtube.com/statisticscanada"

FR:
"fac

[2021-12-15 18:13] payeisa commented on #128
@ForumG-SC The URLs above are accurate. Thanks, Isabelle

[2021-12-15 19:59] ForumG-SC commented on #128
Done, changes will be reflected in the new version, assigning it back to you for the validations.

[2021-12-15 20:05] payeisa commented on #122
Thanks for the info @Jiandong-Guo. We can ignore this one for MVP, and add it to Phase 2. Isabelle

[2021-12-15 20:51] ForumG-SC commented on #124
Fixed.

[2021-12-15 20:57] ForumG-SC commented on #112
Fixed.

[2021-12-15 20:58] ForumG-SC commented on #111
@payeisa Please validate if the bottom button styling looks okay.

[2021-12-15 20:58] ForumG-SC commented on #111
@payeisa Please validate if the bottom button styling looks okay in the current dev version.

[2021-12-15 21:00] ForumG-SC commented on #35
@Jiandong-Guo Please look into this ticket so that other ticket can be validated and closed( https://github.com/StatCan/StatcanPublicationUAT/issues/12)

[2021-12-15 21:05] ForumG-SC commented on #35
@payeisa Could you please validate this ticket in the current dev version, I just tested : I set my phone's language to Francais and opened the app the leading language is French not English .

[2021-12-15 21:06] ForumG-SC commented on #12
@payeisa Could you please revalidate this issue in the current dev version?

[2021-12-15 22:12] ForumG-SC opened #133 "Change Social media screen icons to match with prototype."

[2021-12-15 22:12] ForumG-SC commented on #133
Done

[2021-12-15 22:12] #133 closed

[2021-12-16 12:51] payeisa opened #134 "Icon on the launch screen"
The icon on the launch screen needs to be updated with the latest. Right now it's displaying the old one.

[2021-12-16 13:36] Rajat-Sen commented on #134
Hi Forum, could you please make sure that we are using the latest logo on the launch screen.

[2021-12-16 13:41] Rajat-Sen opened #135 "Margin for screens"
For the Article level -2, Terms of use, privacy policy, onboarding screens or anywhere there is text by itself, there needs to be a margin of 16Px on each side. i.e. Left and right.

[2021-12-16 15:16] ForumG-SC commented on #134
Done

[2021-12-16 15:28] ForumG-SC commented on #67
Done

[2021-12-16 15:28] #67 closed

[2021-12-16 16:24] payeisa opened #136 "Settings - Preferences - Manage notifications - toggle"
The "In-app notifications" and the "Subjects of interest" should be connected/dependent on one another.

For example:
If the user slides the "In-app notifications" toggle to "On", then the "Subjects of interest" toggle should automatically also be set to "On".

If the user slides the "In-app notifications" toggle to "Off", then the "Subjects of interest" toggle should automatically also be set to

[2021-12-16 16:44] Pharste opened #137 "Provide business with access to developer page"
As discussed Dec 16, we will need to be provided access to the developer page, to review the content and modify it before the release of the StatsCAN App.

Related to - #103

[2021-12-16 16:53] Jiandong-Guo commented on #94
@payeisa From the image above, the first image is from Home screen(share the same image url), the second image is from article content, the back end data is something like
    id:345
   title:'Description-The impact of robots on employment'
   image:'https://.../HomeImage.jpg'
   content:'.....<img  src="https://.../SecondImage"   />.....'

  The image:'https://.../HomeImage.jpg' is used for level

[2021-12-16 17:57] ForumG-SC commented on #94
@payeisa Could you confirm if this is what we should be implementing?

If Level 1 article type is not infographic than use level 1 image on level 2 as well.

However, if Level 1 article type is infographic than don't display level 1 image on level 2.

And, adjust the size of level 2 image to display properly ???

[2021-12-16 18:45] Rajat-Sen opened #138 "Button sizes"
The button sizes are different on Welcome screen and Terms of use. Please match it to the prototype for consistency. Also, the headers have a lot of padding from the top instead of aligning such as Terms of User screen.

[2021-12-16 18:53] Rajat-Sen opened #139 "Disabling the slider from the Tab Bar"
The slider on the bottom of the Tab Bar, when the user selects the Publications screen or any other screen needs to be removed as it will create confusion for the iOS users and it's not the best place to out the slider. Let's remove it for now. Also, it's being cut off from the edges of the screen.

Moreover, when the user goes to a new screen, the transition should not look like a slider. Instead

[2021-12-16 19:19] ForumG-SC commented on #135
@Rajat-Sen In the prototype cancel button looks different. Do you want me to change the cancel button's look like prototype ?

Currently , this is how it looks:
![image](https://user-images.githubusercontent.com/84411852/146434735-4ca4b704-d678-4a67-b9d0-09baa9996a0f.png)

Prototype screenshot:
![image](https://user-images.githubusercontent.com/84411852/146434800-77d4c04a-1709-493e-a2cf-e460afcb9e

[2021-12-16 19:19] ForumG-SC commented on #138
@Rajat-Sen In the prototype cancel button looks different. Do you want me to change the cancel button's look like prototype ?

Currently , this is how it looks:
![image](https://user-images.githubusercontent.com/84411852/146434735-4ca4b704-d678-4a67-b9d0-09baa9996a0f.png)

Prototype screenshot:
![image](https://user-images.githubusercontent.com/84411852/146434800-77d4c04a-1709-493e-a2cf-e460afcb9e

[2021-12-16 19:28] Pharste opened #140 "App screenshots"
As discussed Dec 16, we will need updated screenshots in both French and English, to deliver to creative communications and produce the enhanced screens for the app store pages.

These are the required screens:

**Google:**
- Welcome screen
- Home screen
- For you (following intro screen)
- For you (saved intro screen)
- Search (with results)
- Notifications

Screen sizes:
Phone: PNG or Jpeg 16:9

[2021-12-16 19:29] Rajat-Sen commented on #125
@payeisa Would it be okay for the MVP to use system colors. To exemplify, in iOS; it is matching the system. However, on the android; the commonly used color is dark grey and can we stick with it for the time being. After the launch, we can improve it. And, we can leave this ticket open under enhancement after changing the color to dark grey!

[2021-12-16 19:34] Rajat-Sen commented on #140
Hi Forum, would you be able to provide the final screenshots required by the comms department from the simulator/emulator after server us up and running and the app is looking closer to the expectations? Thanks!

[2021-12-16 19:48] Rajat-Sen opened #141 "Pop-ups: Cancel and confirm button (Validation)"
If we are using Pop-ups for all major issues.

Please make sure the user has the options either Cancel or Confirm.

If the user taps confirm, then there should be a Toast message validating, the action has been completed. For instance, On the Publications screen level-2, when the user taps the heart icon, a toast message is shown and the empty heart icon changes to filled heart icon.
It is also a

[2021-12-16 19:52] Rajat-Sen commented on #138
@ForumG-SC Yes, please make it similar to the prototype.

[2021-12-16 20:01] Rajat-Sen opened #142 "Back button consistency"
Back button should be clearly labelled on all screens and read by voice over as this is a navigation issue. Thus, any accessible user should not get stuck at any given point while navigating within the app.

Note: Voiceover is missing the back button on Manage subjects screen.

[2021-12-16 20:04] ForumG-SC commented on #140
@Pharste Until when do you need the screenshots because we are still working on the UX , it is not entirely completed.

[2021-12-16 20:11] Rajat-Sen opened #143 "Tab Bar Navigation"
The voiceover is not recognizing the Tab Bar properly and is saying Tab description.

It should be saying Selected (Tab bar selected 'publications' ), tab 1 of 4, and rest for unselected.

'Search' tab 2 of 4,

'For you' tab 3 of 4,

'Settings' tab 4 of 4.

[2021-12-16 20:30] Pharste commented on #140
Hi Forum,

Sooner than later would be better. If there are major changes coming to the UX, we can hold off. But, if there are only minor changes to be made, we are ok to go forward with the screens as they are.

[2021-12-16 20:35] ForumG-SC commented on #140
UX for the Notifications Screen is not ready , it was suppose to be implemented this week but there has been major blocker which is Web Servers are still down. And also the the Publications Screen you require Level 1 screenshot or level 2 and 3 as well?

[2021-12-16 20:38] Pharste commented on #140
For the notifications screen, and any other screens affected by the web services, we are ok to wait. For the article page,we will only need level 1.

[2021-12-16 20:50] Rajat-Sen opened #144 "Status Bar not changing color"
When the user switches the app from Light mode to Dark mode, the color of the status bar remains the same, making it hard for the users to read anything from the status bar. I spotted this issue in iOS, I am not sure if this is the same case for Android as well.

[2021-12-16 21:04] Rajat-Sen opened #145 "Prioritizing publications"
On the Publication screen, when the user is navigating through publications the voiceover skips the publications focuses on slider and the Tab Bar.

The intended flow of navigation while using voiceover should be from navigating from one publication to another publication even if they are under the publication screen. It should not focus on slider and should stay focused on publications. Additiona

[2021-12-16 21:11] Rajat-Sen opened #146 "Headings not recognized by voiceover"
When navigating, the voiceover should identify the headings properly. And, it is applicable to to both Publications level-2 screen, settings screen and any screen with text such as Terms of use, privacy policy etc.

[2021-12-16 21:15] payeisa commented on #125
@Rajat-Sen Noted, and I agree with using the system colors for MVP. Thanks, Isabelle

[2021-12-16 21:24] Rajat-Sen opened #147 "Button labels"
The button are not labelled well and causing confusion for the users.

On the Search screen,

The filled cross icon in the Search field should be labelled clear text button.
Cancel on the right should be labelled as cancel button.
When focused on the search field, it should recognize search field it and when editing the place of insertion point should be specified.
The big cross should be labelled

[2021-12-17 11:44] payeisa commented on #107
Hi, we will need to take some time to review requirements for images and get back to you. I will schedule a meeting with Rajat to discuss. Thanks, Isabelle

[2021-12-17 11:44] payeisa commented on #94
Hi, we will need to take some time to review requirements for images and get back to you. I will schedule a meeting with Rajat to discuss. Thanks, Isabelle

[2021-12-17 13:44] Rajat-Sen opened #148 "Pop-ups and their translation in French"
Hi Steph,

As discussed, I am assigning this ticket to you for the user friendly Pop-ups and their translation in French. For reference, I am attaching the conversation.

1.	Network Errors: Oops! The internet connection appears to be offline. Please try again. CTA(Retry).
2.	Delete user profile: Suggestion. All your saved preferences will be reset and the information will be deleted.  Also, right

[2021-12-17 13:51] Rajat-Sen opened #149 "Go over again : App name change"
Although, we have changed the name of the app at all places. However, I would like to go over again incase, we missed anything.

Extra attention required for this.

[2021-12-17 14:07] Rajat-Sen opened #150 "Settings>Color theme"
The spelling of the word color should be changed to colour. As, this is used in Canada.

[2021-12-17 15:01] Jiandong-Guo commented on #115
Fixed and Checked in and will be ready to test when server is back on

[2021-12-17 15:01] Jiandong-Guo commented on #114
Fixed and Checked in and will be ready to test when server is back on

[2021-12-17 15:02] Jiandong-Guo commented on #113
Fixed and Checked in and will be ready to test when server is back on

[2021-12-17 15:02] Jiandong-Guo commented on #104
Fixed and Checked in and will be ready to test when server is back on

[2021-12-17 15:03] Jiandong-Guo commented on #58
Fixed and Checked in and will be ready to test when server is back on

[2021-12-17 16:47] Rajat-Sen commented on #130
The Terms of Use is used consistently through out the whole description, and have grammatical errors which is causing  Voiceover issues (Accessibility testing).

Is this the final version or sample text?

Based on that I can provide feedback accordingly!

[2021-12-17 16:50] Rajat-Sen opened #151 "App version inappropriate label"
When using Voiceover, it is considering App version as a button and it should only be read as text.

Thus, only say the App version and the number.

[2021-12-17 16:56] ForumG-SC commented on #143
Duplicate https://github.com/StatCan/StatcanPublicationUAT/issues/67

[2021-12-17 16:56] #143 closed

[2021-12-17 17:00] ForumG-SC commented on #149
Done

[2021-12-17 17:00] #149 closed

[2021-12-17 17:01] ForumG-SC commented on #148
@Rajat-Sen Delete user profile button will be removed before the final deployment, this button was implemented for testing purpose only.

[2021-12-17 17:06] payeisa commented on #130
@Rajat-Sen The final Terms of Use have not been delivered yet. They are currently in final approvals, and will be going to translation next. We will have the final text in early January.

[2021-12-17 17:07] Rajat-Sen commented on #129
Additionally, when clicked on any link on the Privacy notice screen, there are no controls to go back or forward which is creating confusion as the only place the user can go is back to settings screen.

Using web-view in Privacy notice is fine. However, if the user clicks on a link it should open up in-app browser like article level-3.

[2021-12-17 17:18] ForumG-SC commented on #129
if we are stripping off header and footer there will be no way for the user to navigate to any other screen and the whole purpose to display Privacy policy notice screen is for user to read the privacy policy of our app and not to navigate like Publications as it is not article screen. Therefore, there are no navigations button in the bottom.

[2021-12-17 17:28] Rajat-Sen opened #152 "In-app browser with controls"
If the user clicks on any link within the app, it should display an in-app browser with controls for the user to go back or move forward and to close the whole window as well.

It could be on publication level, Contact us, Help and FAQs, Privacy notice, Terms of Use or any other place where a link is spotted.

[2021-12-17 17:32] Rajat-Sen opened #153 "Invisible blocks"
On the search screen while using Voiceover/Talkback there are invisible elements which cannot be identified by the screen reader.

All invisible elements should be removed and make sure the flow is as smooth as possible.

For the empty state illustrations: they should not be recognized, only the text and button should be labelled.

[2021-12-17 17:38] Rajat-Sen opened #154 "Manage subjects - Targeting subjects as a whole"
When the user is on the Manage subjects screen, the list items (subjects) are identified differently then the checkbox(button) which is problematic for the accessible users.

Both should be contained under one element and considered as a button so that when the voiceover/talkback is on, it will identify as one item and when activated it should follow/unfollow a subject.

[2021-12-17 17:43] Rajat-Sen opened #155 "Incorrect Search screen flow using accessibility controls"
With accessibility features on, the logic of the flow is not right and is creating confusion for the users.

Incorrect flow: Sort by date>Filter by subject>Newest to oldest etc.
Correct flow: Sort by date> Newest to oldest> Oldest to newest> etc.

[2021-12-17 17:56] Rajat-Sen opened #156 "Mitigate accessibility issues"
1. Placing menu items when clicked on more options
2. Empty screen images - These should be embedded and should not be recognized by the voiceover except for the text and the button itself.
4. Make sure text is aligned in center on Level-2, Settings
5. Double-check accessibility on Settings screen to make sure it is reading headings properly.
6. Double-check accessibility layout on text oriented s

[2021-12-20 13:44] Rajat-Sen commented on #129
I think the deletion header and footer is meant for the StatCan website which gets displayed, the same way it is done on Contact us screen; not for the app itself.

[2021-12-20 14:43] zhuelle commented on #141
Related to App crashing.

[2021-12-21 16:42] ForumG-SC commented on #135
Done

[2021-12-21 16:42] #135 closed

[2021-12-21 16:42] ForumG-SC commented on #138
Done

[2021-12-21 16:42] #138 closed

[2021-12-21 17:26] payeisa commented on #35
@ForumG-SC I deleted my app user profile, changed my device language to French, restarted my device, re-opened the app, and I'm still presented with the English-leading language screen. (Android, Samsung Galaxy S9)

[2021-12-21 17:32] payeisa commented on #58
Validated.

[2021-12-21 17:32] #58 closed

[2021-12-21 17:41] payeisa commented on #78
There should be a ":" at the end of the intro text (apologies, I realize it's missing from user story).
In English it should be: "Select subjects you wish to follow:"
In French, it should be: "Sélectionnez les sujets que vous souhaitez suivre :"

[2021-12-21 17:48] payeisa commented on #104
It seems to have been fixed in English, but not in French. For example.
From French interface, go to "Rechercher"
Enter keyword (i.e. voyage)
Search
Select the first article to navigate to the level 2
Click on "Rechercher" to return to search screen
There are no search results, only recent searches.

![image](https://user-images.githubusercontent.com/89025704/146975530-9767dcb1-b861-4d8d-84fd-de4c

[2021-12-21 18:01] payeisa commented on #106
Not sure if [ #155](https://github.com/StatCan/StatCanPublication/issues/155) was supposed to fix content that has already been published. Will validate tomorrow after 8:30 a.m. The article "Survey of the Canada Emergency Business Account, first quarter 2021" contains acronyms.

[2021-12-21 18:05] payeisa commented on #111
@ForumG-SC The design looks ok (assuming @Rajat-Sen agrees).
Also, I'm not sure if the functionality was ready to be tested (if not, I can submit another ticket), but when I click on the "Share this publication" button, I navigate to the "Share this app" screen.

[2021-12-21 18:09] ForumG-SC commented on #111
Investigating the button's functionality issue, the fix will be applied in the next release.

[2021-12-21 18:10] payeisa commented on #112
It's better, but the heading is still cutting off:
![image](https://user-images.githubusercontent.com/89025704/146978166-d09f752d-88cc-4c52-b596-b9f479429bf3.png)

[2021-12-21 18:22] ForumG-SC commented on #35
@payeisa After investigating again, I am not able to replicate the issue. The only issue that I can see when the leading language is Francais the buttons ux is off, that will be fixed. But the functionality seems to be working okay, please see the attached screen recording:

https://user-images.githubusercontent.com/84411852/146979537-105f74f6-8c23-433a-893b-aa92beefd63b.mp4

[2021-12-21 18:26] ForumG-SC commented on #112
I have been testing in 5.8 inches Pixel android phone emulator and it looks fine. I don't have Samsung emulator to test, looks like fix didn't worked properly, I will apply another fix for you to test in next release.

[2021-12-21 18:27] payeisa commented on #113
Validated.

[2021-12-21 18:28] #113 closed

[2021-12-21 18:30] payeisa commented on #114
Validated.

[2021-12-21 18:30] #114 closed

[2021-12-21 18:35] payeisa opened #157 "Recent searches not functional in French"
I'm trying to execute a search from the recent searched results, in French, but it keeps returning the "No results found" message. For example, if I search for "Train" (by manually typing it as a keyword), I will obtain 14 results. However, if i select "Train from the list of "Recherches récentes", I get no results.

By entering the keyword "Train"
![image](https://user-images.githubusercontent.co

[2021-12-21 18:39] payeisa commented on #115
Validated.

[2021-12-21 18:39] #115 closed

[2021-12-21 18:39] Jiandong-Guo commented on #104
Fixed and please test it on next release

[2021-12-21 18:40] payeisa commented on #123
Validated.

[2021-12-21 18:40] #123 closed

[2021-12-21 18:43] payeisa commented on #124
Validated.

[2021-12-21 18:43] #124 closed

[2021-12-21 18:48] payeisa opened #158 "For you screen & large text"
When setting the text size to the largest possible, the display of the "For you" screen is off (in both English and French).
![image](https://user-images.githubusercontent.com/89025704/146982191-9d4bd5a3-a67f-47be-adf0-9451017c9e8b.png)

![image](https://user-images.githubusercontent.com/89025704/146982337-22f470b9-f35a-4dbf-b68b-2611f231ccac.png)

[2021-12-21 18:51] payeisa commented on #126
Validated.

[2021-12-21 18:51] #126 closed

[2021-12-21 18:55] payeisa commented on #128
Validated the links, and the typos have been fixed, however, the display is still off:

![image](https://user-images.githubusercontent.com/89025704/146983290-83715eaa-e612-450a-9446-3c80238d0c49.png)

[2021-12-21 18:58] payeisa commented on #130
Validated.

[2021-12-21 18:58] #130 closed

[2021-12-21 19:04] payeisa commented on #131
Is there a way we can make this a temporary display (i.e. similar to when the user clicks the heart icon on an article?
That way there is no action required from the user.

[2021-12-21 19:08] #144 closed

[2021-12-21 19:08] payeisa commented on #132
It's better, but it's still outside the white text box:
![image](https://user-images.githubusercontent.com/89025704/146984711-86730bc5-07a9-4dca-aa9b-45778922b16c.png)

[2021-12-21 19:10] payeisa commented on #134
I deleted my user profile, closed the app, but I still get the old icon:
![image](https://user-images.githubusercontent.com/89025704/146984917-48242585-70bd-4667-90c2-cebcaae8e618.png)

[2021-12-21 19:34] ForumG-SC commented on #132
I think the fix doesn't get applied to the Samsung's device, it worked on 5.8 inches android screen on Google Pixel device but not samsung . I will apply alternative fix for this issue for you to test in the next release.

[2021-12-21 19:36] ForumG-SC commented on #134
Can you clear cache of your device , delete the app, reboot device , reinstall app ?

[2021-12-21 20:02] ForumG-SC commented on #35
@payeisa UX has been fixed when the leading language is French, it will be reflected in the next release. Please revalidate the functionality based on the screen recording shared above.

[2021-12-21 20:04] ForumG-SC commented on #78
@payeisa Fixed.

[2021-12-21 20:34] ForumG-SC commented on #128
Fixed

[2021-12-21 20:41] ForumG-SC commented on #158
Done

[2021-12-22 14:03] payeisa commented on #112
@ForumG-SC Thanks! Can you please re-assign this ticket to me when it's ready for validation?

[2021-12-22 14:23] ForumG-SC commented on #112
It is ready for validation in the next release.

[2021-12-22 15:48] payeisa commented on #23
Was able to validate after uninstalling/reinstalling the app. screen heading was fixed, but spacing is required between the two buttons. I believe this is documented elsewhere as well.
![image](https://user-images.githubusercontent.com/89025704/147118742-77c3f0a1-6898-458b-ae2a-2204b4dc54db.png)

[2021-12-22 15:51] payeisa commented on #35
@ForumG-SC After uninstalling/reinstalling the app, I was able to validate this issue, and it's behaving as it should. This ticket can now be closed.

[2021-12-22 15:51] #35 closed

[2021-12-22 15:53] payeisa commented on #134
@ForumG-SC After uninstalling/reinstalling the app, I was able to validate this issue. It works as it should now and this ticket can be closed. Thanks, Isabelle

[2021-12-22 15:53] #134 closed

[2021-12-22 16:03] ForumG-SC commented on #23
The Spacing was fixed yesterday in ticket https://github.com/StatCan/StatcanPublicationUAT/issues/35 , you will be able to see the changes in next release.

[2021-12-22 16:45] payeisa opened #159 "Settings - Social media"
Can we please add an intro text on the Social media screen, below the heading (i.e. similar to "Manage subjects")?

English: Connect with Statistics Canada on social media.
French: Connectez avec Statistique Canada sur les médias sociaux.

@Rajat-Sen FYI - to resolve one of the accessibility issues.

[2021-12-22 16:52] payeisa opened #160 "Publications screen heading"
Can we rename the screen heading from "StatsCAN Publications" to "Publications"

[2021-12-22 17:01] Pharste opened #161 "Remove menu (...) from notifications screen when no notifications"
When a user has no new notifications, the menu in the top right corner (...) should not be visible.

[2021-12-22 17:19] ForumG-SC commented on #160
@payeisa It can be done, I will make the changes.

[2021-12-22 19:01] payeisa opened #162 "Update notifications screen"
Notifications - up to 25 and enhance the message to specify that it's notifications for subjects they are following.

[2021-12-22 19:02] payeisa commented on #160
Thanks Forum :)

[2021-12-22 19:07] payeisa commented on #12
Validated.

[2021-12-22 19:07] #12 closed

[2021-12-22 20:02] payeisa commented on #47
Validated.

[2021-12-22 20:02] #47 closed

[2021-12-22 20:06] payeisa commented on #106
We will need to fix how acronyms are displaying. I understand we removed the functionality, but right now it they still look like hyperlinks (i.e. underlined). Naturally, acronyms should not be underlined.

You can refer to the article "Survey of the Canada Emergency Business Account" (published Dec 22) as an example.

[2021-12-22 20:19] Jiandong-Guo commented on #161
Fixed, Please test in next release

[2021-12-22 20:23] payeisa commented on #162
Hi, I will re-assign this one back to me because it's not ready to be assigned yet.

[2021-12-23 15:57] ForumG-SC commented on #160
Done

[2021-12-23 17:41] Pharste opened #163 "Recommendation from Consultations: Make the publication subject more evident"
Can we make the subject of publications more evident by enlarging, or darkening the text of the subject in italics?
![subjects](https://user-images.githubusercontent.com/89025880/147275058-1e2b5cf2-3604-4e02-824f-cb6d003bea19.jpg)

[2021-12-23 17:46] Pharste opened #164 "Recommendation from consultations: Lengthen the amount of time that the message displays on the screen when an article is liked."
Can we lengthen the time the "Added to saved items on For you" message is displayed for
![added to saved items](https://user-images.githubusercontent.com/89025880/147275571-4ad85dfe-dfca-4492-95da-fc17b269a022.png)
?

[2021-12-23 18:15] ForumG-SC commented on #164
@Pharste Yes it is possible to lengthen the time, currently we have set 2 seconds of time, please let me know if you want to replace 2 seconds by ... ??

[2021-12-23 18:16] ForumG-SC commented on #163
@Pharste Yes we can enlarge them, do you want to make subject bold like the other text?

[2021-12-23 19:41] Pharste commented on #163
@Rajat-Sen do you have a recommendation for how we should implement this?

[2021-12-23 19:42] Pharste commented on #164
@Rajat-Sen Do you have a recommended time for this message? I think doubling the time would be sufficient, but if you have another suggestion, please provide input.

[2021-12-23 20:08] Pharste opened #165 "Recommendation from consultations: replace radio buttons with checkboxes for "Filter by subject(s)" menu"
The checkboxes on the "Filter by subject(s)" menu appear to be radio buttons and should be replaced with checkboxes (but rounded edges).

[2021-12-23 20:44] payeisa commented on #162
You have no notifications!
Note: You will receive notifications for subjects you are following and only the latest 25 notifications will be displayed on this screen.

[2021-12-23 20:49] payeisa opened #166 "For you - Manage subjects (three dots)"
Would it be possible to enhance the design of the "Manage subjects" button/menu item that gets displayed when the user selects the three dots - Manage subjects. Right now, it looks like a simple label that gets displayed below the "Saved" tab.

![image](https://user-images.githubusercontent.com/89025704/147290247-90a8020f-4ad4-41a8-8738-9dfd3009142a.png)

[2021-12-23 20:51] Pharste opened #167 "Remove 'return' button from notifications menu?"
I noticed there's a return button appearing in the menu on the notifications screen:
![Notifications menu](https://user-images.githubusercontent.com/89025880/147290355-64bc62ae-b7be-4a09-a664-b963d0077024.png)

Was this added for accessibility, or can it be removed?

[2021-12-23 20:54] ForumG-SC commented on #167
@Pharste UX implementation of the notification screen is still not done, the option will be removed when ux is completed for this screen.

[2021-12-23 20:57] Pharste commented on #167
@ForumG-SC Ok, thank you!

[2021-12-23 20:57] #167 closed

[2021-12-23 22:13] payeisa opened #168 "Earlier today section on Publications screen"

[2021-12-24 14:30] Jiandong-Guo commented on #107
fixed, please test it in next release

[2021-12-24 14:33] Jiandong-Guo commented on #94
Home screen image was removed from level 2, Please test it in next release, this is a simple action, we can add it again if needed

[2021-12-24 15:50] ForumG-SC commented on #159
Done

[2021-12-29 14:03] payeisa commented on #23
Validated.

[2021-12-29 14:03] #23 closed

[2021-12-29 14:09] payeisa commented on #78
@ForumG-SC In French, there should be a space between "suivre" and ":"
![image](https://user-images.githubusercontent.com/89025704/147670597-ec81b4c5-4d39-4133-b2ff-ed87971db86b.png)

I also noticed an inconsistency between English and French (my fault). English is missing the word "the" and should be:
"Select the subjects you wish to follow:"

[2021-12-29 14:11] payeisa commented on #104
Validated.

[2021-12-29 14:11] #104 closed

[2021-12-29 14:35] payeisa commented on #107
Validated.

[2021-12-29 14:35] #107 closed

[2021-12-29 14:38] payeisa opened #169 "Publications level 2: Alignment of menu items"
The "Share this publication" and the "Contact us" menu items should be aligned.

![image](https://user-images.githubusercontent.com/89025704/147673325-bbf0d8fd-d0b9-4014-a281-4f05d547a0da.png)

[2021-12-29 14:48] payeisa commented on #111
Would it be possible for the "Share this publication" button at the bottom of the Publications level 2 screen to look like the other buttons used in the app? For example, the "Select subjects" button on the "For you - Following" screen, or the "Go to publications" button on the "For you - saved screen".

@ForumG-SC I will create a separate ticket for the functionality of the button.

[2021-12-29 14:54] payeisa opened #170 "Functionality for Publications Level 2 Screen: Share this publication"
The functionality of the "Share this publication" button/menu item should be based on the requirements of Feature 3.3:
https://confluence.statcan.ca/display/SPMA/Feature+3.3+Share+article

[2021-12-29 15:04] payeisa commented on #112
The options menu (three dots) should be displayed/align similar to the notification bell on the Publications screen. i.e. the menu/three dots should be moved over to the right.

![image](https://user-images.githubusercontent.com/89025704/147675307-eb457a17-bc8a-4b15-a8aa-b4ad7a8bd0f2.png)

The "Search" heading should also be spaced out like the "Publications" header. Right now it seems to be align

[2021-12-29 15:05] payeisa commented on #128
Validated.

[2021-12-29 15:05] #128 closed

[2021-12-29 15:07] payeisa commented on #132
Validated.

[2021-12-29 15:07] #132 closed

[2021-12-29 15:10] payeisa commented on #159
The text looks good in English and French!
The font size should be the same as the one used on the "Settings - Manage subjects" screen.

[2021-12-29 15:22] payeisa opened #171 "Settings - Help & FAQs"
English & French:
The email address for Infostats should be changed from "STATCAN.infostats-infostats.STATCAN@canada.ca" to "infostats@statcan.gc.ca"

English:
The heading "Help & FAQs" shoul dbe changed to "Help & FAQ"
In the Support section, "FAQs" should be changed to "FAQ"

![image](https://user-images.githubusercontent.com/89025704/147677022-bdb1464a-f45d-424f-a020-0e9be88d7211.png)

French:

[2021-12-29 15:22] payeisa commented on #160
Validated.

[2021-12-29 15:22] #160 closed

[2021-12-29 15:43] payeisa opened #172 "If the server is down, all the screens will display an image of 404 and retry button."
How can business test/validate this feature?

[2021-12-29 16:59] ForumG-SC commented on #159
Done

[2021-12-29 17:12] ForumG-SC commented on #169
Done

[2021-12-29 18:23] ForumG-SC commented on #117
Done

[2021-12-29 19:09] ForumG-SC commented on #60
@payeisa If we are not displaying contact form page as per ticket https://github.com/StatCan/StatcanPublicationUAT/issues/96 than can we close this ticket?

[2021-12-29 19:41] payeisa commented on #60
@ForumG-SC Yes, we can close this ticket and address any issues with the Contact us page in ticket #96.

[2021-12-29 19:41] #60 closed

[2021-12-29 19:58] #63 closed

[2021-12-29 19:59] ForumG-SC commented on #94
@Pharste Please validate this ticket, thanks.

[2021-12-29 20:14] Pharste commented on #94
validated, thank you!

[2021-12-29 20:14] #94 closed

[2021-12-29 20:16] Pharste commented on #161
validated, thank you.

[2021-12-29 20:16] #161 closed

[2021-12-29 20:26] Pharste commented on #97
Hi--sorry for the delay validating this. I don't see the  change implemented @ForumG-SC

[2021-12-29 20:33] Pharste commented on #148
Hi, here are the pop up messages:

English: https://gcdocs.gc.ca/statcan/llisapi.dll/properties/19766135
French: https://gcdocs.gc.ca/statcan/llisapi.dll/properties/19920916

@Rajat-Sen We've included options for the different screens. Please advise which messages you prefer for the screens from a UX perspective.

Regarding the delete user profile button, will we still have this option in the futu

[2021-12-29 20:35] Pharste commented on #127
validated, thank you!

[2021-12-29 20:35] #127 closed

[2021-12-29 20:36] Pharste commented on #34
validated, thank you.

[2021-12-29 20:36] #34 closed

[2021-12-29 20:36] Pharste commented on #66
validated, thank you

[2021-12-29 20:36] #66 closed

[2021-12-29 20:54] Rajat-Sen commented on #166
Yes, I will update the design as per usability testing as well!

[2021-12-29 20:55] Rajat-Sen commented on #165
I will update the design in the prototype for reference and will paste the link here.

[2021-12-29 20:59] ForumG-SC commented on #97
@Pharste Compared to the version when the ticket was created, changes have been implemented. When you navigate to the settings screen >> Help and Faqs section, click on faq button in the bottom and it will open in app browser .

[2021-12-29 21:04] Rajat-Sen commented on #164
The default timing for a short toast message is 2 seconds and the maximum is 3.5 seconds. Let's go with maximum of 3.5 seconds.

[2021-12-29 21:09] ForumG-SC commented on #164
Done

[2021-12-29 21:11] Rajat-Sen commented on #163
Yes, there are three ways we improve this:
1. Changing font style from italics to regular
2. Darkening the colour
3. Increasing font size

I will make the changes in the prototype and will setup a meeting to go over the recommendations from usability testing.

[2021-12-29 21:16] Rajat-Sen commented on #148
Yes, we will have the option to test out the app before releasing.

[2021-12-29 21:19] Rajat-Sen commented on #131
We can use Toast to display the message temporarily, in that way there won't be any action required from the user. Also, please set the time to 3.5 seconds.

[2021-12-30 09:06] ForumG-SC commented on #91
@Pharste Please revalidate this issue in the current version.

[2021-12-30 09:07] ForumG-SC commented on #72
@payeisa Please revalidate the issue in the current version.

[2021-12-30 09:35] ForumG-SC commented on #118
Done

[2021-12-30 09:37] #150 closed

[2021-12-30 09:41] ForumG-SC commented on #18
@payeisa Please revalidate , thanks.

[2021-12-30 09:49] ForumG-SC commented on #142
Done

[2021-12-30 09:49] #142 closed

[2021-12-30 09:57] ForumG-SC commented on #146
Done

[2021-12-30 09:57] #146 closed

[2021-12-30 09:59] ForumG-SC commented on #151
Done

[2021-12-30 09:59] #151 closed

[2021-12-30 10:27] ForumG-SC commented on #147
Done

[2021-12-30 10:27] #147 closed

[2021-12-30 10:34] ForumG-SC commented on #145
@Rajat-Sen Not sure if this was tested properly. I don't see any issue with the navigation on the publication screen. When testing VoiceOver navigation is not automatic, you have to manually select wherever you want to navigate. See the attached screen recording:
[RPReplay-Final1640860210.mov.zip](https://github.com/StatCan/StatcanPublicationUAT/files/7792529/RPReplay-Final1640860210.mov.zip)

[2021-12-30 10:38] ForumG-SC commented on #153
@Rajat-Sen Could you provide further details on the invisible blocks or if you could share the screen recording ? Thanks

[2021-12-30 10:44] ForumG-SC commented on #155
@Rajat-Sen I am not sure if this was tested properly. When you have the VoiceOver on the navigation is not automatic , it is manual process.

After clicking on sort button if you click on Filter by subject than it will work in that flow. However, after clicking on sort button , if you double click than you access the the dropdown menu options such as newest to oldest etc.

[2021-12-30 10:54] ForumG-SC commented on #154
Done

[2021-12-30 10:54] #154 closed

[2021-12-30 10:58] #64 closed

[2021-12-30 11:02] ForumG-SC commented on #78
Done

[2021-12-30 11:33] payeisa opened #173 "English content not refreshing in app (Publications screen)"
The English Publications screen is not displaying the latest content. These are the Dec 23 articles:
![image](https://user-images.githubusercontent.com/89025704/147748162-a770062b-4324-4f20-8b7b-857ac39213b4.png)

However, French is displaying the latest (Dec 24 articles):
![image](https://user-images.githubusercontent.com/89025704/147748207-5c364958-df91-4dd5-aede-be8cd0b79dbf.png)

I'm able to s

[2021-12-30 11:35] ForumG-SC commented on #173
@payeisa This seems to be issue on the alpha server side, we would have to wait for Dave to be back to look into this.

[2021-12-30 11:50] payeisa opened #174 "English content in French interface: For you screen"
English content is being displayed in the French interface (Pour vous - Éléments enregistrés - Labour Force Survey):
![image](https://user-images.githubusercontent.com/89025704/147749262-57df3138-4543-4d31-b16a-c4b8119bada3.png)

I can confirm that the article is in fact loaded in both English and French in ORPS:
![image](https://user-images.githubusercontent.com/89025704/147749313-1bf59d99-a47c-4

[2021-12-30 11:52] ForumG-SC commented on #148
@Pharste Please keep in mind that once the app goes into the production, we cannot have delete user profile button while doing deployment because if we do than it will show this button to all the users as the app is live in the stores.

[2021-12-30 12:14] payeisa commented on #72
**All screens (French only)**
In French, the first day of the month should be superscript. For example:
![image](https://user-images.githubusercontent.com/89025704/147748762-a1435b37-e302-4ac8-9604-73552ae5d15c.png)

**Publications level 1, Publications level 2, For you - Saved items (English and French)** (Search screen is ok)
Dates with a single digit should not include a zero. For example, Dece

[2021-12-30 12:20] payeisa commented on #18
Validated.

[2021-12-30 12:20] #18 closed

[2021-12-30 16:35] payeisa commented on #173
Update: I republished the "Cookie for all this weekend", "Telework is changing the way we use transit" and the "Episode 2: Unravelling: Impacts of COVID-19 on Canadian families" because the images were blurry. The issue has been resolved on the Search screen (images look good), but they are still blurry on the Publications screen.

[2021-12-30 16:49] Pharste opened #175 "Earlier today subtitle not displaying on Publications home page"
Although we have been publishing at multiple times throughout the day, the 'Earlier today' title does not seem to show up.

[2021-12-30 16:59] ForumG-SC commented on #173
@payeisa It is working on Search screen because the api is using different request compared to the publications screen. There seems to be issue on the backend with a particular request that is getting send from the publications screen resulting in not refreshing the content.

[2021-12-30 17:56] ForumG-SC commented on #174
Fixed, ready to test in next release.

[2021-12-30 19:38] Pharste opened #176 "New title required for level 2 of publications screen"
This ticket will be to brainstorm ideas until a heading is decided on to distinguish the home page publications screen from level 2 publications. @Rajat-Sen @payeisa

[2021-12-30 19:38] Pharste commented on #176
To consider for level 2: Publications view

[2021-12-30 20:11] Rajat-Sen commented on #172
As per conversation with Forum, it would be best that the devs can provide screenshots for the 404 screens.

[2021-12-30 21:08] Rajat-Sen commented on #148
Since the Delete user profile button will be removed, let's focus only on Network errors and Server down. Also, for any other technical difficulties (just in case).

**In English**
1. Network error : Hmm… We can’t detect an Internet connection. Please check your network settings and try again.
2. Server down : Couldn’t load the (Screen-name) screen. It’s not you! It’s us. Please check back later.

[2021-12-31 12:13] payeisa commented on #176
Other options:
a) According to Google, we are not displaying the source of the data/publisher and/or our website address. Could we simply display "Statistics Canada (www.statcan.gc.ca) as the heading? (this idea was inspired by BBC - who also displays their website address). In frnch it would be "Statistique Canada (www.statcan.gc.ca)".

b) Leave the heading blank (I'm not sure if we "have" to hav

[2021-12-31 15:07] ForumG-SC commented on #158
Manage Subject Button Text fixed.
Heading Text Fixed.
Intro Text Fixed.
On the Saved items screen before the intro text it was displaying gray bar - fixed.

@payeisa Please test in next release.

[2021-12-31 15:15] ForumG-SC commented on #171
Done

[2021-12-31 16:02] Rajat-Sen opened #177 "For you heading centred"
As per discussion with the clients can we change the heading back to center on the For you page. By keeping on the left, it imbalances the page. Thanks!

[2021-12-31 18:33] Rajat-Sen commented on #153
The issue only exists on the android phones. Please find the attached image for reference. Thanks
!
[Screenshot_20211231-132203](https://user-images.githubusercontent.com/38566088/147835620-7ae3af69-0234-46ba-8db1-320ab95d7f27.png)
!

[2021-12-31 18:55] Rajat-Sen commented on #145
@ForumG-SC, I do understand the point where you are coming from.

Since, the testing is done on iPhone I would like you try out Apple news, Google news, CBC news. In any of this app if you turn on Voiceover on, with only your thumb swipe from left to right and keep swiping. You will see the focus going from one card to another, the scrolling is done automatically and the focus does not go to the s

[2021-12-31 19:36] Rajat-Sen opened #178 "Explanation for Google"
**Does not provide ownership information about the news publisher and its contributors, including, but not limited to:**

When applicable, contributors are specified in the Note to readers of the articles. As for ownership in terms of use, Statistics Canada warrants that it is the rightful owner of the app and related documentation that is the subject of this agreement.

**Valid and verifiable con

[2021-12-31 20:54] ForumG-SC commented on #153
@Rajat-Sen Can you share screen recording because I tested on android phone with the latest version I was not able to see the invisible block that you shared in the screenshot ?

[2021-12-31 21:06] ForumG-SC commented on #153
![Screenshot_20211231-155953 (1)](https://user-images.githubusercontent.com/84411852/147838951-6fb369a1-5af3-4c86-9f94-36ca8370a2cb.jpg)
![Screenshot_20211231-155914 (1)](https://user-images.githubusercontent.com/84411852/147838953-83c6f9f9-28ed-4665-a35d-e9ad94e38f52.jpg)

This blocks seems to be normal behavior of how talk back works because as shown in the screenshot these blocks were there in

[2021-12-31 21:13] ForumG-SC commented on #145
@Rajat-Sen I tested Apple News app like you mentioned and I do see that the focus does goes on tab bar and slide bar, please see the screen recording of it.

https://user-images.githubusercontent.com/84411852/147839101-7c84dce4-85ac-48bd-b713-181d168c1a6f.mov

[2021-12-31 21:33] ForumG-SC commented on #145
Closing this issue as the focus issue has been resolved.

[2021-12-31 21:33] #145 closed

[2022-01-04 13:33] Rajat-Sen opened #179 "Canada wordmark in white Color"
In dark mode, on the settings screen at the bottom the Canada wordmark needs to be in white colour and in light mode, it should stay in black colour.

[2022-01-04 14:04] Rajat-Sen opened #180 "Colours in Dark mode"
The colours in dark mode needs to match the prototype on :

1. Level -2 : The font colour for subject, date and share this publication button
2. For you : The background colour is not switching to the darker colour and on the saved segment the heart icon is not visible. The subject and the date colour applies to this as well. Also, the font colour is not changing for Following and Saved segement (

[2022-01-04 14:21] Rajat-Sen opened #181 "System settings not matching with app"
Upon testing, the app does switch to dark mode with the system. I think it has been set to a particular time. This can also be tested by turning the dark mode ON of the device at all times.

Also, if the user selects the dark mode only within the app. It does not change the colour of status bar.

[2022-01-04 14:31] Rajat-Sen opened #182 "Image size of cards"
The image size on the cards itself is too big :

1. Publications screen : the smaller cards covers only 28% of the actual width of the card and giving more space to text as that is more important than the image.
2. For you screen Following : The cards and the images itself should be smaller in size.

[2022-01-04 14:36] Rajat-Sen opened #183 "Wrong label"
On the For you page, the titles of the segments should be:

**English**
1. Following
2. Saved

**French**
1. Éléments d’intérêt
2. Éléments sauvegardés

[2022-01-04 17:18] Rajat-Sen opened #184 "Proper formatting of SnackBar"
The Snackbar needs to match the prototype. As it should fit device width with margin and padding. Right now, it's not looking as of prototype.

[2022-01-04 20:28] Rajat-Sen commented on #166
This is the link for the new prototype as per usability recommendations. Please refer to the placing of the menu item.

https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/

[2022-01-05 17:40] Rajat-Sen opened #185 "Diifferent keyboard for Telephone on Contact us page"
On the Contact us page, under settings when clicked on Telephone. It should open up numeric keyboard for ease of use to type the number.

[2022-01-05 17:51] Pharste commented on #162
Hi,
Here is the french translation:

Vous n’avez pas de notifications.
Note : Vous recevrez des notifications relatives aux sujets que vous suivez. Seules les 25 dernières notifications seront affichées à cet écran.

[2022-01-05 19:42] ForumG-SC commented on #179
@Rajat-Sen Please provide with white color Canada Wordmark for the dark mode , thanks.

[2022-01-05 20:17] Rajat-Sen commented on #179
Hi Forum, please find the image attached. Thanks!
![Canada_wordmark_White](https://user-images.githubusercontent.com/38566088/148283203-d69b2caa-045b-49dd-be3a-1acb2bab6cf8.png)

[2022-01-06 17:36] Rajat-Sen opened #186 "Share this app bug"
The title and the link on the top should be in separate lines.

[2022-01-06 17:38] Rajat-Sen commented on #186
Also, on Android it shows these options which leads to errors: bluetooth, currents, drive and hangouts.

[2022-01-06 18:34] Rajat-Sen commented on #163
https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/43a64204-945d-4bf4-a0b0-eedc100c4de0/

[2022-01-06 18:49] Rajat-Sen commented on #176
The title for the screen has been finalized "Publications view". Will update the translation in French later on.

[2022-01-06 18:55] Rajat-Sen commented on #173
Also, the app is acting weird. When the user opens up the app for the very first time, the user can scroll through the publications easily without selecting any article. However, if the user selects an article, the publications screen would not scroll down beyond a particular date.

Additionally, when scrolling if the user selects and article and goes back to the publications scree. It would not r

[2022-01-06 19:13] Pharste opened #187 "Changing 'social media' page to include website"
This ticket will be to brainstorm ideas to rename the social media page, and include the website (and possibly other products like the Podcast/My StatCan). @Rajat-Sen @payeisa

[2022-01-06 20:58] Rajat-Sen opened #188 "Scrolling issue on Publications"
The app is acting weird!

When the user opens up the app for the very first time, the user can scroll through the publications easily without selecting any article.

However, if the user selects an article on the publications screen and go back to the screen, it would not scroll down beyond a particular date.

[2022-01-06 21:20] Rajat-Sen opened #189 "Publications description link"
When using voiceover,
If there is a link in the paragraph, it should highlight and read the whole paragraph as whole and after it reads a link it should say link and continue reading.

[2022-01-06 21:32] Rajat-Sen commented on #165
https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/43a64204-945d-4bf4-a0b0-eedc100c4de0/

[2022-01-06 21:42] Rajat-Sen commented on #155
When clicked on sorting and swiped from left to right, the focus should go to the drop-down items instead of filter by subject.
Note:  You are referring to selecting an item manually and then clicking it.

[2022-01-06 21:52] Rajat-Sen opened #190 "French translations updated"
There are some changes need to be done before Final release.
[Master list of terms.xlsx](https://github.com/StatCan/StatcanPublicationUAT/files/7824923/Master.list.of.terms.xlsx)

[2022-01-07 13:01] payeisa commented on #187
Suggestion:
1) Rename "Social media/Médias sociaux" heading to "Stay connected/Restez branchés"
**this is consistent with what we have on the web: https://www.statcan.gc.ca/en/sc/index

2) Rename the social media section heading from "Connect with Statistics Canada on social media" to "Connect with Statistics Canada / Connectez avec Statistique Canada"

3) Add the following two menu items at the t

[2022-01-07 15:05] ForumG-SC commented on #131
Done

[2022-01-07 15:08] ForumG-SC commented on #162
Done

[2022-01-07 15:09] ForumG-SC commented on #166
Done

[2022-01-07 15:10] ForumG-SC commented on #177
Done

[2022-01-07 15:10] #177 closed

[2022-01-07 15:10] ForumG-SC commented on #179
Done

[2022-01-07 15:10] #179 closed

[2022-01-07 15:11] ForumG-SC commented on #184
Done

[2022-01-07 15:11] #184 closed

[2022-01-07 15:29] Rajat-Sen commented on #153
@ForumG-SC This issue is okay for a smaller invisible block. However, if there are recent searches, it focuses on a big invisible block. Please refer to the attached image.

[2022-01-07 15:35] ForumG-SC commented on #153
@Rajat-Sen This issue is on Recent searches screen like you mentioned in the comment, I will look into it. Thanks.

[2022-01-07 15:59] Rajat-Sen opened #191 "Help & FAQs page"
For the Help & FAQs page, it should identify FAQS as abbreviation and read "Frequently asked questions".

[2022-01-07 16:01] Rajat-Sen commented on #191
Also, it seems like we are using different font size as compared to rest of Settings screen on this page.

[2022-01-07 16:49] ForumG-SC commented on #178
@Rajat-Sen Please provide updated description limited to 500 characters.

[2022-01-07 16:55] ForumG-SC commented on #178
![image](https://user-images.githubusercontent.com/84411852/148578553-f1077eb7-f298-4065-930c-ef98141ae523.png)

[2022-01-07 18:39] ForumG-SC commented on #178
Contributors are specified in the Note to readers of the articles. Statistics Canada warrants in terms of use that it is the rightful owner of the content, published in the app.

Contact information is provided under each article. Generally, we do not publish the name of specific authors because our business process has all inquiries going through our main points of contact: Infostats or Media Rel

[2022-01-07 18:39] #178 closed

[2022-01-07 20:36] #141 closed

[2022-01-07 20:47] #186 closed

[2022-01-07 20:58] #97 closed

[2022-01-07 21:06] ForumG-SC commented on #173
Temporary parameter to add in the Pubs screen to disable blue image : https://sdr-daily-alpha.cloud.statcan.ca/o1/en/api/plus/article?published_after=2021-11-09&page=0&cache=asdjlasdjkad

[2022-01-07 21:17] ForumG-SC opened #192 "Unfollow functionality not working"
After clicking unfollow button on the see all screen in the for you tab the subject doesn't get unfollow.

[2022-01-07 21:57] Rajat-Sen opened #193 "Updated Splash screen"
Hi,

Please find the updated Slash screen attached as per FIP guidelines.

Thanks!
![Updated_Launch_Screen_1242X2436](https://user-images.githubusercontent.com/38566088/148612694-5aef7d8c-715d-44d6-89a0-478ce91cd51f.png)

[2022-01-07 22:30] ForumG-SC commented on #193
Done

[2022-01-07 22:30] #193 closed

[2022-01-07 22:41] ForumG-SC commented on #173
@payeisa Temporary fix has been applied , doing another deployment. You can validate and close the ticket.

[2022-01-09 21:54] payeisa commented on #78
@ForumG-SC There should only be a space in the French text, not in English :)

In English it should be: "Select subjects you wish to follow:"

The formatting is ok in French the way it is. The space should only be removed in English.

[2022-01-09 21:56] payeisa commented on #112
Validated.

[2022-01-09 21:56] #112 closed

[2022-01-09 22:01] payeisa commented on #117
Validated.

[2022-01-09 22:01] #117 closed

[2022-01-09 22:06] payeisa opened #194 "For you / Following "See all" vs "More""
@Pharste @Rajat-Sen

Food for thought...On the "For you/Following" screen (once you follow a subject), the "See all" option is misleading because users can select "See all" to a) see all articles AND to b) unfollow a subject.

Could we consider renaming "See all" to "More" or "More options"?

[2022-01-09 22:20] payeisa opened #195 "Issues with subjects following and "See all" screens"
I followed the subject "Environment", then clicked on "See all" , and I was presented with the "Agriculture and food" list of articles.
![image](https://user-images.githubusercontent.com/89025704/148703354-7c25c18c-d40e-4cb4-856d-526bd0b29ccb.png)
![image](https://user-images.githubusercontent.com/89025704/148703374-3ce8833a-45df-4054-92d4-c7138e0301d0.png)

[2022-01-09 22:30] payeisa commented on #118
The alignment looks good, however, if the subject spans on two lines, there's isn't enough space. For example:

![image](https://user-images.githubusercontent.com/89025704/148703702-0ef33955-3b5e-4f08-bb92-7cb44c52b5d8.png)

[2022-01-09 22:31] payeisa commented on #195
If I follow the subject "Housing" and then click "See all", I navigate to the "Construction" screen.

[2022-01-09 22:45] payeisa opened #196 "Text prompt for "Unfollow""
Can we please modify the text that gets displayed when I want to unfollow a subject?

In English, can we please change from "Unfollow (insert subject name)" to "Unfollow the subject (insert subject name)"
In French, can we please change from "Ne plus suivre (insert subject name)" to "Ne plus suivre le sujet (insert subject name)".

This will avoid things like "Unfollow government" and "Unfollow In

[2022-01-09 22:51] payeisa commented on #131
I validated the functionality, however, the display is not set to 3.5 seconds (it's more like 10 seconds). Can we please adjust that?

[2022-01-09 22:54] payeisa opened #197 "Settings/Help & FAQ: Translation to validate"
Hi Steph - I added a new term in the [Master list](https://gcdocs.gc.ca/statcan/llisapi.dll/properties/17829029?func=ll&objId=17829029&objAction=properties&nexturl=%2Fstatcan%2Fllisapi%2Edll%2Fproperties%2F17829029) (see line 112 in green). Can you please validate it with ES (comparative review)? It was not part of the list (since it's relatively new)

It's the toast message that gets displayed wh

[2022-01-10 00:06] payeisa commented on #158
I noticed the following issues, when setting the text to the largest setting:

For you (heading)
The "For you" screen heading seems to be smaller than the rest.
![image](https://user-images.githubusercontent.com/89025704/148704611-ec22bb47-ab16-41ee-b3bf-0b5abd62727c.png)

For you (Following and Saved)
The text size for the "Following" and the "Saved" tabs did not increase.

Search screen
When on

[2022-01-10 00:07] payeisa commented on #159
Validated.

[2022-01-10 00:07] #159 closed

[2022-01-10 00:08] payeisa commented on #162
Validated.

[2022-01-10 00:08] #162 closed

[2022-01-10 00:09] payeisa commented on #166
Validated.

[2022-01-10 00:09] #166 closed

[2022-01-10 00:10] payeisa commented on #169
Validated.

[2022-01-10 00:10] #169 closed

[2022-01-10 00:20] payeisa commented on #171
Apologies - I made a typo:
French: "Copier l'adresse courriel" should be changed to "Copier l'adresse de courriel" ("Copied" should be changed to "Copier")

In English, in the "Telephone" section, can we remove the brackets from the words (Toll free) and (International) and format them like this instead:

Toll-free: 1-800-263-1136
International: 1-514-283-8300

In French, in the "Téléphone" sectio

[2022-01-10 00:21] payeisa commented on #173
Validated.

[2022-01-10 00:21] #173 closed

[2022-01-10 00:25] payeisa commented on #174
The Labour Force Survey article displays properly, however, now the "Wholesale trade : Early indicator, November 2021" article is displaying in English, on the French "Pour vous / Éléments sauvegardés" screen.

![image](https://user-images.githubusercontent.com/89025704/148707233-bfc22512-d8a1-4aaa-8878-168c5c3d0da4.png)

[2022-01-10 00:47] payeisa commented on #168
We have never seen the "Earlier today" section on the Publications screen. We only ever see the "Latest content" and "Date". Can we please investigate why that is?

[2022-01-10 01:02] payeisa opened #198 "App opening in English after onboarding in French and setting device language to French"
I set my device's language to "French", I went through the onboarding in French.
Closed the app.
When I return, the app opens in English.

![image](https://user-images.githubusercontent.com/89025704/148708442-c3d51628-8969-4be5-b5dd-fb33d805a851.png)

[2022-01-10 01:07] payeisa opened #199 "Publications screen: Pull down to refresh"
We used to be able to pull down on the Publications screen to refresh the content, but that option no longer seems to be available. Has the option been removed?

@Pharste FYI

[2022-01-10 01:13] payeisa opened #200 "Publications screen: max char for the subjects"
What's the character limitation for subjects on the Publications screen? Is there a way we can expand it to avoid truncation?

![image](https://user-images.githubusercontent.com/89025704/148708824-cf2b5b9a-da22-4835-92ee-52e100bcdfed.png)

[2022-01-10 01:19] payeisa opened #201 "Publications screen: not displaying all articles"
The Publications screen should display articles going as far back as November 9, however, it's only going as far back as November 23, 2021. Can we please investigate why that is?

[2022-01-10 02:17] payeisa opened #202 "Tablet & large text setting issues"
Here are issues I came across when setting my tablet (Galaxy Tab S6 Lite, Android version 11) to the largest text size:

Publications screen (level 1) - validated Jan 24
The display/alignment of the title and subject seem off compared with how it displays on my phone:
![image](https://user-images.githubusercontent.com/89025704/148711264-f64a8154-5440-4bde-bbcb-4761d276541b.png)

Publications scree

[2022-01-10 14:04] Pharste commented on #176
Since 'publications view' is too long in French, the new title for level 2 should be 'Publication'.

[2022-01-10 16:44] Rajat-Sen opened #203 "Search screen bugs"
List of Search screen bugs.

1. When the user comes on search screen for the first time, the decoration image should be embedded and not clickable.
2. When the user clicks on Search bar, it should show cancel button at the same time to get out of focus from search functionality. (NA for MVP.)
3. The placeholder text for Search Bar, is missing "Search StatsCan publications".
4. When the user is typ

[2022-01-10 17:33] Jiandong-Guo commented on #198
Fixed, Please test in next release

[2022-01-10 17:50] ForumG-SC commented on #165
@Rajat-Sen Please provide the assets (option checked png file)

[2022-01-10 18:12] spotzero commented on #195
The API is sending the correct list.  The subject you see with the article is the primary subject, the subject you search is either the primary subject, one of the other tagged subject, or is parent subject of the tagged subject. Subjects have an implicit hierarchy.

IE. An article's primary subject is "Agriculture", is it also tagged with "Mental illness".  If you query that you are following "He

[2022-01-10 18:28] ForumG-SC commented on #200
Related to https://github.com/StatCan/StatcanPublicationUAT/issues/182

[2022-01-10 18:39] ForumG-SC commented on #131
Fixed

[2022-01-10 19:09] Rajat-Sen commented on #194
Hi Isabelle,

We have two options to choose from as each platform has their own preference.
1. iOS uses "See all"
2. Android uses "See more" or "Right arrow". (Since our app is text focused more, I would recommend See more over an arrow)

The three dots on the top right are referred as "More options". Thus, we cannot use that again as it will confusion from Accessibility point of view.

[2022-01-10 19:26] Rajat-Sen commented on #200
Also, it is related to #163. I have updated the prototype and the font size has been increased for the subject.

[2022-01-10 21:06] Rajat-Sen commented on #172
Can we close this ticket as the dev team can provide screenshots incase the servers are down?

[2022-01-10 21:18] payeisa commented on #172
Yes - we can validate with screenshots, no problem.

[2022-01-10 21:18] #172 closed

[2022-01-10 21:30] payeisa commented on #194
@Rajat-Sen I think "See more" could work also.

@Pharste - can you please validate the translation "Voir plus" with ES? (in cases like this, you can simply reach out to them by email). It might be useful to provide a screenshot for reference.

[2022-01-10 21:34] Rajat-Sen commented on #199
I don't think, it has been implemented before. But, I will update you if it could be done before the final release.

[2022-01-10 21:52] Rajat-Sen commented on #194
Sure, let's get it done!

[2022-01-10 21:53] payeisa commented on #195
That is in fact the expected behaviour for the search, yes.
However, for the Following screen, we should only display the articles tagged to a primary subject (i.e. same as the Publications screen). Otherwise, this would be confusing for users because we are only giving them to option to follow primary subjects (not secondary). Can we please confirm against the requirements?

[2022-01-10 21:57] payeisa commented on #199
Thanks Rajat! Steph and I can confirm that we used to be able to pull down to refresh the home page :)

[2022-01-10 22:12] spotzero commented on #195
Correct me if I'm wrong, but it seems are that there are two options.

Either we update the following API endpoint to only consider only the primary subject, or update the app to display and categorize by the subject being followed instead of the primary subject of the article.

Both are valid, depending on what we think "following a subject" means. At the moment, the primary subject is only used

[2022-01-10 22:17] payeisa commented on #195
Thanks Dave - both valid options indeed. We will discuss further tomorrow, and update the ticket after.

[2022-01-11 14:15] Jiandong-Guo commented on #195
Also found same thing happens to notifications api, it returns a list with some items subject_id are not belong to requested subject_id.

[2022-01-11 15:11] Pharste commented on #197
The file's been updated with the correct translation -- " Élément copié dans le presse-papiers"

[2022-01-11 15:12] Pharste commented on #164
Validated, thank you

[2022-01-11 15:12] #164 closed

[2022-01-11 15:16] Pharste commented on #194
@Rajat-Sen From ES: "See more" is "Afficher plus"

[2022-01-11 17:12] Rajat-Sen commented on #203
Hi Jiandong, I updated the comment as the placeholder text is missing in the Search Bar itself.

[2022-01-11 17:13] Rajat-Sen opened #204 "Updated Assets as per usability recommendation"
Hi,

I am attaching updated checkbox icon, unchecked checkbox and checked checkbox.

The following screens have been affected due to these changes and I have updated the prototype for reference.
1. Language screen
2. Colour theme
3. Manage subjects on Search page, For you and settings.

Thanks!
![Checked_checkbox](https://user-images.githubusercontent.com/38566088/148989612-eed5b250-1725-4b20-99b2

[2022-01-11 17:34] ForumG-SC commented on #190
Done

[2022-01-11 17:35] ForumG-SC commented on #163
@Pharste Done , assigning it back to you for validation in the next release.

[2022-01-11 17:35] ForumG-SC commented on #165
@Pharste Done , assigning it back to you for validation in the next release.

[2022-01-11 17:59] Jiandong-Guo commented on #201
It was fixed by increasing the maximum-page the the app can load.
But we have to setup a load-page limitation to avoid user loading too many pages to slow-down or even crash mobile device by used up too many memory

[2022-01-11 18:27] payeisa opened #205 "Publications screen not displaying recent articles"
Hi,

We published the following articles, however, they are not showing up on the Publications screen:

Lung cancer is the leading cause of cancer death in Canada (Jan 10 at 9:45 a.m.)
General Social Survey – Social Identity, 2020: A snapshot of pride in Canadian achievements among designated groups (Jan 10 at 12:30 p.m.)
A close-up on the impacts of COVID-19 (Jan 11 at 1:00 p.m.)

However, they a

[2022-01-11 18:28] Jiandong-Guo commented on #185
That is a web page in WebView,  not in our app.

[2022-01-11 18:44] Jiandong-Guo commented on #168
It only shows in the current day afternoon and after there is a new released in this afternoon and current time is after the release time.
Please test again and let me the result

[2022-01-11 18:45] Jiandong-Guo commented on #175
same issue as #168

[2022-01-11 19:19] ForumG-SC opened #206 "Replace the navigation arrows with better quality"
Currently left and right navigation icons are blury

[2022-01-11 19:20] ForumG-SC commented on #171
Done

[2022-01-11 19:21] ForumG-SC commented on #78
Done

[2022-01-11 19:30] Rajat-Sen commented on #111
Closing this ticket as it was related to the previous version of the app.

[2022-01-11 19:30] #111 closed

[2022-01-11 19:35] Jiandong-Guo commented on #195
Also found same thing happens to Following api, it returns a list with some items subject_id are not belong to requested subject_id.

[2022-01-11 19:38] Jiandong-Guo commented on #192
No problem with the unfollowing function, potential issue is the api returns a list with items not belong to requested subject_id,
same issue with #195.

[2022-01-11 19:54] Rajat-Sen commented on #195
Under a particular subject, if we are seeing articles from secondary subject that's fine. (As we are not displaying the subject on the card itself.)

But, the title of the screen should be consistent with the subject name if clicked on "See all" under a particular subject.

[2022-01-11 21:00] ForumG-SC commented on #196
Done

[2022-01-11 21:01] #204 closed

[2022-01-11 21:34] Rajat-Sen commented on #153
Also, it seems to exist only on Android devices.

I could not replicate this issue on iOS.

[2022-01-11 21:36] Rajat-Sen commented on #156
Adding the images for reference!
<img width="393" alt="Settings-screen" src="https://user-images.githubusercontent.com/38566088/149025281-b82ef3d8-d0ab-4b92-896c-b0ac3195e0be.png">

[2022-01-11 22:01] Rajat-Sen opened #207 "Terms of Use (updated)"
We have received the updated Terms  for the app. In case there are any accessibility issues, we will test it out and point it.

Link for Terms of Use : https://gcdocs.gc.ca/statcan/llisapi.dll?func=ll&objId=15586587&objAction=browse&viewType=1

[2022-01-11 22:12] Rajat-Sen commented on #156
<img width="194" alt="Help  Faqs" src="https://user-images.githubusercontent.com/38566088/149029570-f1597175-0d76-4768-9f49-b02b18047f26.png">

[2022-01-12 00:16] payeisa commented on #96
Email sent to Contact Us team to see if we could leave the Contact Us form in the Settings as-is for launch, and implement the change in Feb 2022 instead. Will update the ticket once I hear back.

[2022-01-12 01:02] payeisa commented on #187
@Pharste @Rajat-Sen Are we ok with the proposed changes?

[2022-01-12 01:05] Pharste commented on #187
Yes, I think your suggestion works well!

[2022-01-12 01:09] Pharste opened #208 "Terms & Conditions Language toggle"
When testing on iPad (pro, 12.9 inch), I found that toggling to French from the terms of use screen, and then clicking Annuler returns me to the English Welcome screen. I was able to replicate the issue several times on the iPad, but have not been able to recreate the issue on my iPhone.

[2022-01-12 01:14] Pharste opened #209 "Subject overlapping title on Publications page (iPad 12.9 inch)"
On the publications page, the subject is overlapping the publications title:
![ipad publications](https://user-images.githubusercontent.com/89025880/149046299-2746bcd1-20eb-4487-928d-4e675c8996c1.png)

[2022-01-12 01:27] Pharste opened #210 "Dark mode search bar appearing in light mode (iPad)"
The search bar is showing in the dark theme (despite switching back and forth from mode, and exiting the app). This is only happening for me on the iPad.
![dark search bar](https://user-images.githubusercontent.com/89025880/149047561-2b0ef0b8-b171-4ee7-b5cf-7ae49df9a549.png)

[2022-01-12 01:56] payeisa opened #211 "Search screen: 404 message displayed when searching with recent search"
If I select a value from my recent searches, I'm presented with the 404 message.

![image](https://user-images.githubusercontent.com/89025704/149050159-f66ec411-44d2-4a46-85f4-30791e95a6a8.png)

[2022-01-12 02:09] payeisa opened #212 "Settings: Share this app functionality"
Should be implemented according to:
User story 4a: Share the StatCan app
User story 4b: Share the StatCan app via email
User story 4c: Share the StatCan app via a message or on social media

https://confluence.statcan.ca/display/SPMA/Feature+5.3+Support+and+feedback

[2022-01-12 02:24] Pharste opened #213 "Edit manage subjects text (En)"
In English, there shouldn't be a space between the ':' and 'Select the subjects you wish to follow' from the Manage subjects screen
![Manage subjects](https://user-images.githubusercontent.com/89025880/149052650-ba439b6a-1290-4ccd-aff3-558d8a8b3cb4.jpg)
.

[2022-01-12 11:49] Rajat-Sen commented on #209
This issue is related to ticket #202.
I am attaching this image under that ticket.

[2022-01-12 11:50] Rajat-Sen commented on #202
Please refer to the iPad 12.9" image
![149046299-2746bcd1-20eb-4487-928d-4e675c8996c1](https://user-images.githubusercontent.com/38566088/149135150-e42f4cf1-c6b1-4f1b-af9e-61bb0a2074d5.png)

[2022-01-12 11:53] Rajat-Sen commented on #212
@payeisa, as of right now this functionality is working as per device OS. Would it be okay if we enhance this after MVP?

[2022-01-12 11:56] Rajat-Sen commented on #211
@payeisa Please confirm; this issue seems to exist only when the user has selected French language. I cannot replicate this issue in English language.

[2022-01-12 12:00] Rajat-Sen commented on #210
@Pharste, I cannot replicate this issue on my iPad, could you confirm what's the software version for your iPad?
You can find it under settings>General>About. Thanks!

[2022-01-12 12:02] payeisa commented on #211
@Rajat-Sen That's correct - I was in the French interface. Thanks, Isabelle

[2022-01-12 12:03] Rajat-Sen commented on #208
@Pharste I cannot replicate this issue on my iPad, with the software version, could you confirm the app version number on your iPad? Thanks!

[2022-01-12 12:04] payeisa commented on #212
@Rajat-Sen Sorry, I should have specified, it works, so functionality is ok. But the content is not ok (i.e. the subject, the body of the email etc.)

[2022-01-12 12:16] Rajat-Sen commented on #212
Thanks for the update! We will try to fix this before releasing the MVP. If not, it will be included in the very first update after releasing the MVP.
PS: I understand it's an important feature for you especially, in the beginning phase of the app.

[2022-01-12 12:48] payeisa commented on #212
@Rajat-Sen yes, having the ability to share the app would in fact be a very important feature to have for MVP. Let's discuss Thursday as this was always part of initial requirements.

[2022-01-12 14:33] Rajat-Sen commented on #211
I think this ticket is related to #157

[2022-01-12 14:48] Pharste commented on #208
The software version is 14.6

[2022-01-12 14:48] Pharste commented on #210
Software version is 14.6

[2022-01-12 15:12] Jiandong-Guo commented on #205
Please check the api(https://sdr-daily-alpha.cloud.statcan.ca/o1/fr/api/plus/article?published_after=2021-11-09&cache=asdjlasdjkad&page=?), the api dosen't return those artiles like:
Lung cancer is the leading cause of cancer death in Canada (Jan 10 at 9:45 a.m.)
General Social Survey – Social Identity, 2020: A snapshot of pride in Canadian achievements among designated groups (Jan 10 at 12:30 p.m

[2022-01-12 15:22] ForumG-SC commented on #205
Currently in the app, when switching language to french it is returning lung and general society article. However , I see that this issue is with English that it is not returning those articles. https://sdr-daily-alpha.cloud.statcan.ca/o1/en/api/plus/article?published_after=2021-11-09&cache=asdjlasdjkad&page= this api does return those articles.

[2022-01-12 16:40] Jiandong-Guo commented on #205
weird, it only show me once, it doesn't show 446 when I try again

[2022-01-12 18:02] payeisa commented on #96
We just received confirmation from the Contact Us team, that the design can remain as-is for launch, based on the assumption tha the changes would be implemented by the end of February 2022.

[2022-01-12 18:45] Rajat-Sen opened #214 ""FR" should be labelled as "Switch to French""
On the Onboarding screens:

The "Fr" should be labelled as "Switch to French".
The "En" should be labelled as "Switch to English".

[2022-01-12 18:54] ForumG-SC commented on #136
Related to https://github.com/StatCan/StatCanPublication/issues/175, Mark all read button not working and fix toggle

[2022-01-12 19:01] Jiandong-Guo commented on #157
fixed, please test in next release

[2022-01-12 19:02] Jiandong-Guo commented on #211
fixed, please test in next release

[2022-01-12 19:08] Jiandong-Guo commented on #195
As discussed on the meeting, no change on mobile side, please waiting for the api change and then test again

[2022-01-12 19:09] Jiandong-Guo commented on #192
As discussed on the meeting, no change on mobile side, please waiting for the api change and then test again

[2022-01-12 19:10] Jiandong-Guo commented on #205
As discussed on the meeting, no change on mobile side, please waiting for the api change and then test again

[2022-01-12 19:33] Jiandong-Guo commented on #203
Please test in next release

[2022-01-12 20:01] #206 closed

[2022-01-12 20:01] ForumG-SC commented on #194
Done

[2022-01-12 20:01] ForumG-SC commented on #200
Done

[2022-01-12 20:01] ForumG-SC commented on #182
Done

[2022-01-12 20:01] #182 closed

[2022-01-12 20:02] ForumG-SC commented on #152
Done

[2022-01-12 20:02] #152 closed

[2022-01-12 20:26] Jiandong-Guo commented on #139
Fixed, Please test in next release

[2022-01-12 20:26] ForumG-SC commented on #213
@Pharste Duplicate ticket, related to https://github.com/StatCan/StatcanPublicationUAT/issues/78

[2022-01-12 20:34] ForumG-SC commented on #118
Done

[2022-01-12 20:51] Rajat-Sen opened #215 "Provide app logo assets to the Dev team"

[2022-01-12 21:08] Pharste opened #216 "Notifications not marking as read"
When an individual notification is selected, it doesn't mark as read consistently, or takes time to remove the red dot. I noticed that after navigating back and forth it will clear after a few screen switches.

The 'mark all as read' button isn't clearing the red dots from the publications list.

[2022-01-12 21:23] Rajat-Sen commented on #215
Please find the attached folder for updated App icon with Canada Wordmark
[Store_icons.zip](https://github.com/StatCan/StatcanPublicationUAT/files/7857877/Store_icons.zip)
.

[2022-01-12 21:28] Rajat-Sen commented on #216
Hi @Jiandong-Guo, this ticket is related to ticket number #175 on StatCanPublications repo.

Please take a look into this and make sure it should be functioning properly as specified on the confluence page. Thanks!

[2022-01-12 21:41] Rajat-Sen opened #217 "Updated translation for removing a saved publication"
@ForumG-SC, Please find the updated translations for removing a saved publication on the For you screen. Thanks!
![Translations for removing a saved publication](https://user-images.githubusercontent.com/38566088/149225526-7e876993-45d6-4c4a-a36e-bb64036e6885.PNG)

[2022-01-13 03:23] Pharste opened #218 "Search: Filter by Subjects"
The Filter by subject(s) menu is displaying too high on the screen, and I'm unable to close the pop-up without hitting 'Apply'
![Filter by subjects list](https://user-images.githubusercontent.com/89025880/149260373-16454bc9-361a-435c-a0ac-48b423b47b5f.jpg)
.

[2022-01-13 04:02] Pharste opened #219 "No results found image not disappearing from search screen"
After entering an invalid term and hitting cancel, then navigating away from the search page, and then back to the Search screen, the ‘No results found’ is still displaying for me.

Is this the expected behavior, or should this refresh to a blank screen
![5](https://user-images.githubusercontent.com/89025880/149263841-0c8b7958-2e18-44ab-9d66-2ab1bad64f0f.jpg)
?

[2022-01-13 14:39] Jiandong-Guo commented on #216
fixed, please test in next release

[2022-01-13 14:54] Jiandong-Guo commented on #174
![Screenshot_1642085519](https://user-images.githubusercontent.com/58485300/149352936-bdd1559b-8a20-4e33-a8f3-f3e3d62bf119.png)
I saw that is in French, please test it in next release and let me know the result

[2022-01-13 15:06] Jiandong-Guo commented on #170
Currently, when clicking the "Share this publication", it will trigger the social media pop-up which is listed in Feature 3.3.
What is the exact requirement to fix ?

[2022-01-13 15:54] ForumG-SC opened #220 "Following Screen: See more screen is empty in IPAD & TABLET"

[2022-01-13 15:55] ForumG-SC commented on #214
Done

[2022-01-13 15:55] #214 closed

[2022-01-13 17:27] payeisa opened #221 "Publications level 2: menu options"
The menu options (Share this publication and Contact us) do not work on Android devices (Samsung Galaxy S9).

[2022-01-13 17:44] ForumG-SC commented on #215
Resized and updated.

[2022-01-13 18:02] Jiandong-Guo commented on #180
we don't control the VoiceOver, its behavior is based on OS, we don't change OS setting.
dark color was changed, Please test it in next release

[2022-01-13 18:18] Jiandong-Guo commented on #219
Fixed please test it in next release

[2022-01-13 18:29] Rajat-Sen commented on #180
Hi Jiandong, the sub-menu items are not accessible. Can you make sure when we are using voiceover, the menu items should get Focus as well.

[2022-01-13 18:39] Rajat-Sen commented on #170
Hi Jiandong, when the user clicks on Share this publication, the user is presented with certain options and they should work like in the Photos attached to the confluence page.
1. For email (The message in the body and the links should be in separate lines)
     The subject should be: "Interesting publication from StatsCan / Publication intéressante de StatsCan"
     Body: "Check it out / Jetez-y

[2022-01-13 18:43] Rajat-Sen opened #222 "Meta Description update for Google while submitting the app (Tomorrow's release)"

[2022-01-13 18:51] Jiandong-Guo commented on #189
What we can do is enhancing the html, we have no control of the voice over on web page,
Try again to see if there is any improvement in next release

[2022-01-13 18:53] Jiandong-Guo commented on #27
Please test in next release

[2022-01-13 19:11] Jiandong-Guo commented on #136
Fixed, please test in next release.
But just wonder those two flags mean one thing, why using 2 flags ?

[2022-01-13 19:13] Jiandong-Guo commented on #92
Please test in next release

[2022-01-13 19:14] ForumG-SC commented on #222
It is already updated

[2022-01-13 19:15] Rajat-Sen commented on #136
It is related to when we are going to update the app in the future!

[2022-01-13 19:16] Jiandong-Guo commented on #106
This one was fixed couple of release ago, may relate to a different ticket. Please test in next release

[2022-01-13 20:16] ForumG-SC commented on #155
Fixed in https://github.com/StatCan/StatcanPublicationUAT/issues/170

[2022-01-13 20:16] #155 closed

[2022-01-13 20:18] ForumG-SC commented on #176
@Rajat-Sen Please confirm the title ,according to my understanding from the comments, I will be updating title as follow:
EN - Publication View
FR - Publication
is that correct?

[2022-01-13 20:19] ForumG-SC commented on #191
Text can be increased from the settings for this page

[2022-01-13 20:32] Rajat-Sen commented on #176
@ForumG-SC, In English and French, it should be "Publication".

[2022-01-13 20:33] Rajat-Sen commented on #222
Hi Forum, there is Meta data that needs to be changed in French language which the clients are updating. I just wanna make sure, we are referring to the same changes.

[2022-01-13 20:54] Jiandong-Guo commented on #170
I think it's done by Forum long time ago

[2022-01-13 20:56] Jiandong-Guo commented on #221
I think it's done by Forum long time ago

[2022-01-13 21:02] Jiandong-Guo commented on #221
![Screenshot_1642107685](https://user-images.githubusercontent.com/58485300/149408633-9c9b071a-c8cc-47f9-9105-4680f416482c.png)

[2022-01-13 21:11] Rajat-Sen commented on #170
Yes, but it is not working as it should be.

[2022-01-14 02:47] Pharste commented on #180
Hi,

Adding to this ticket since these issues were found in dark mode:

The Publications (Level 2) screen loads using the light mode theme:
![Dark mode Pubs](https://user-images.githubusercontent.com/89025880/149441365-38406833-c629-4e3c-8cd5-b83d1b073898.jpg)

The heart icon is appearing in light theme? (I believe this is part of the issue above, but documenting with screenshot in case it's diffe

[2022-01-14 14:28] Rajat-Sen opened #223 "French accessibility Voiceover"
When the user switches to French language, the voiceover is reading in English instead of French.

[2022-01-14 14:32] Rajat-Sen opened #224 "App not saving the language preference"
If the user opens the app, change the language to French and the completely close the app.

When you open the app back again, it opens up in English language.

[2022-01-14 14:59] Rajat-Sen opened #225 "Send email in Help & FAQs not working"
The subject is empty, please make sure it matching the confluence page. Thanks!

[2022-01-14 15:08] Rajat-Sen opened #226 "Sorting functionality not working as it should be"
Will update this shortly!

[2022-01-14 15:19] Rajat-Sen commented on #212
We will need this functionality working for the MVP. Thanks!

[2022-01-14 15:24] #224 closed

[2022-01-14 15:29] ForumG-SC commented on #222
@Rajat-Sen I was referring to updating meta data which was related to app submission's rejection's reason which is already done.
But if you are referring to the store details , let me know what should be modified here:
![image](https://user-images.githubusercontent.com/84411852/149540962-4e1e04ae-cd85-44c6-9646-4d61e49d75e8.png)

[2022-01-14 15:47] ForumG-SC commented on #98
@Pharste Access has been granted on the apple store.

[2022-01-14 17:41] Rajat-Sen commented on #222
**Here is the English description**

Statistics Canada: Serving Canada with high-quality statistical information that matters.

As the national statistical office, Statistics Canada produces statistics that help Canadians better understand their country—its population, resources, economy, society and culture.

StatsCAN – the agency’s newest mobile application - lets you tap into expert analysis an

[2022-01-14 17:42] Rajat-Sen commented on #222
Here is the French description

Statistique Canada : Au service du Canada avec des renseignements statistiques de grande qualité qui comptent.

En tant qu’organisme national de statistique, Statistique Canada produit des statistiques qui aident les Canadiens à mieux comprendre leur pays, sa population, ses ressources, son économie, sa société et sa culture.

StatsCAN, la plus récente application m

[2022-01-14 18:04] ForumG-SC commented on #222
@Rajat-Sen In the short description is limited to 80 characters only therefore instead of Statistics Canada: Serving Canada with high-quality statistical information that matters , we should change it to  Serving Canada with high-quality statistical information that matters, let me know thanks.

[2022-01-14 18:07] ForumG-SC commented on #222
@Rajat-Sen Please confirm:
![image](https://user-images.githubusercontent.com/84411852/149563862-37da5650-2fdb-4237-aadf-c54f1d37e1a7.png)

[2022-01-14 18:07] ForumG-SC commented on #222
![image](https://user-images.githubusercontent.com/84411852/149563976-2cbaafc1-4284-4986-98ec-9d69d5244d00.png)

[2022-01-14 18:47] Rajat-Sen commented on #222
Hi Forum, we will have to keep the short description same. Thanks!

[2022-01-14 19:17] Rajat-Sen opened #227 "The UX ticket"
List of issues that needs to be polished before releasing the app Publicly.

### Language/Langue screen
1. The heading Language/Langue should be in the Navigation bar (Top). For instance, level-2.
2. The buttons are inconsistent with across all the onboarding screens.
3. The height of the buttons has been used is 44 PX and please remove the shadow from all the buttons.

### Welcome screen
1. Fr bu

[2022-01-14 20:17] ForumG-SC commented on #102
Updated English and french(waiting for french promo text)

[2022-01-14 20:29] ForumG-SC commented on #223
Which screen?

[2022-01-14 20:29] ForumG-SC commented on #103
@Pharste Access provided

[2022-01-14 20:30] ForumG-SC commented on #99
English promo text added, waiting for French promo text

[2022-01-14 20:31] ForumG-SC commented on #101
Access provided

[2022-01-14 21:03] Pharste commented on #163
Thank you. Validated.

[2022-01-14 21:03] #163 closed

[2022-01-14 21:10] Pharste commented on #202
This is how the home page is showing on the 12.9" iPad after todays release:
![iPad subjects Jan 14](https://user-images.githubusercontent.com/89025880/149585579-0d5bc2a7-a882-4770-8396-2c4c162e741f.jpg)

[2022-01-14 21:19] Pharste commented on #165
Validated

[2022-01-14 21:19] #165 closed

[2022-01-14 21:55] Pharste commented on #180
The heart icon is visible now, but doesn't match the prototype:
![Saved dark mode](https://user-images.githubusercontent.com/89025880/149589630-4d49157f-0f13-4018-baaf-ca8bf0a9591b.jpg)

The select subjects notifications screen still has a grey bar at the bottom of the screen:
![Select subjects dark mode](https://user-images.githubusercontent.com/89025880/149590021-6d77bcb3-9040-4e5d-9b14-5a09b140

[2022-01-14 21:57] Pharste commented on #219
Validated, thank you

[2022-01-14 21:57] #219 closed

[2022-01-16 17:38] Rajat-Sen commented on #211
Validated!

[2022-01-16 17:38] #211 closed

[2022-01-17 00:28] payeisa commented on #27
Will be able to test one issue with API is fixed.

[2022-01-17 00:30] payeisa commented on #78
Validated.

[2022-01-17 00:30] #78 closed

[2022-01-17 00:34] payeisa commented on #92
Tested and issue remains.

[2022-01-17 00:38] payeisa commented on #106
Tested and issue remains. Acronyms should not be underlined in the app.

![image](https://user-images.githubusercontent.com/89025704/149684669-1b820c29-f51c-43a9-ae3c-8c14f95559c2.png)

[2022-01-17 00:41] payeisa commented on #118
Validated.

[2022-01-17 00:41] #118 closed

[2022-01-17 00:46] payeisa commented on #131
Validated.

[2022-01-17 00:46] #131 closed

[2022-01-17 00:48] payeisa commented on #136
Validated.

[2022-01-17 00:48] #136 closed

[2022-01-17 00:49] payeisa commented on #139
Assigning to Rajat for validation.

[2022-01-17 00:51] payeisa commented on #157
Validated.

[2022-01-17 00:51] #157 closed

[2022-01-17 00:53] payeisa commented on #168
Unable to validate due to API issue.

[2022-01-17 00:56] payeisa opened #228 "Deliver FAQ URLs"
Can you please provide the E and F URLs to the FAQ page, once we get them from DISS?
(for the FAQ section in Settings/Support and feedback/Help and FAQ/Support)

[2022-01-17 01:01] payeisa commented on #171
All looks good, except for this one:

In French, in the "Téléphone" section:

Sans frais : 1-800-263-1136
International : 1-514-283-8300

There should be a space before and after the semi-colons:

![image](https://user-images.githubusercontent.com/89025704/149685646-071c7c70-f8bf-41c7-9dfe-173bb86d678f.png)

[2022-01-17 01:06] payeisa commented on #174
Validated.

[2022-01-17 01:06] #174 closed

[2022-01-17 01:08] payeisa commented on #192
Assigning to Forum for validation.

[2022-01-17 01:10] payeisa commented on #196
Validated.

[2022-01-17 01:10] #196 closed

[2022-01-17 01:12] payeisa commented on #194
Validated.

[2022-01-17 01:12] #194 closed

[2022-01-17 01:15] payeisa commented on #195
Will be able to validate once API issue has been resolved.

[2022-01-17 01:22] payeisa commented on #198
Validated.

[2022-01-17 01:22] #198 closed

[2022-01-17 01:23] payeisa commented on #200
Validated.

[2022-01-17 01:23] #200 closed

[2022-01-17 01:29] payeisa commented on #201
Now I can't scroll past December 21, 2021.
(I was able to scroll to November, select an article, but when I returned to the Publications screen, it stops at December 21, 2021)

[2022-01-17 01:54] payeisa commented on #202
Publications screen (level 1) - English and French
The display/alignment of the title and subject is a bit better, but still seems off compared with how it displays on my phone.

Publications screen, level 2 (options menu) - French only, English is ok
The alignment of the "Partager cette publication" and "Communiquer avec nous" icons is off:
![image](https://user-images.githubusercontent.com/89025

[2022-01-17 02:03] payeisa opened #229 "For you/Saved/Go to publications"
If I click on the "Go to publications" button on the "For you/Saved" screen, I should be directed to the "top" of the Publications screen, and not where I left off the last time I was scrolling on the Publications screen.

For example, from the Publications screen, if I scroll down to December 21, 2021, and then go to the For you/Saved/Go to publications, I will go to the Dec 21 publications. I sh

[2022-01-17 02:07] payeisa commented on #202
Publications level 2 - click on heart icon (English and French)
The confirmation message that is displayed after I add an article to my saved items gets cut off:
![image](https://user-images.githubusercontent.com/89025704/149689763-f70c33bf-cc5f-4760-ad61-297232583bd2.png)

[2022-01-17 02:09] payeisa commented on #202
For you/Saved items
The space to "unsave" an article seems very limited. When I press on the heart, I have to be very precise, otherwise, I keep navigating to the Publications screen. There doesn't seem to be enough "clickable space" around the heart icon on the Saved page.

[2022-01-17 02:13] Rajat-Sen commented on #229
Hi Isabelle, this should be the intended functionality. We are going to add a pill later on this screen "Go to top".

The other common scenario could be: If the user is scrolling down and selects an article on the publications screen > Go inside the publication screen (assuming the user read the article). When the user clicks on the back button on that screen, the user would need to scroll down ag

[2022-01-17 02:18] payeisa opened #230 "Notifications screen/menu options"
Can we please rename the following:
"Notification setting" to "Manage notifications"
"Paramètre de notification" to "Gérer les notifications"

![image](https://user-images.githubusercontent.com/89025704/149690557-9058852c-2805-42e2-b37d-34411b281ae1.png)

[2022-01-17 02:38] payeisa commented on #106
On my tablet, when I click on an acronym, I am brought to the top of the article page. For example, if I click on ESGIS in the article "Enquête sociale générale - Identité sociale, 2020...), I am go to the top of the screen.
This behaviour does not happen on my phone.

[2022-01-17 02:46] payeisa commented on #202
Notifications screen (English and French)
The introduction message is cut-off:
![image](https://user-images.githubusercontent.com/89025704/149700369-6b04478e-50b8-4a0a-9287-8be1784b6849.png)

[2022-01-17 02:52] payeisa commented on #202
Search screen (English & French)
The instructions text no longer covers the search box, however, it overlaps with the image.
![image](https://user-images.githubusercontent.com/89025704/149700892-992acf66-e636-4df7-98cc-50165d17f335.png)

[2022-01-17 03:02] payeisa commented on #202
Notifications screen / menu options (English & French)
The icons are outside the menu box:
![image](https://user-images.githubusercontent.com/89025704/149701754-e4b9a511-85c6-44f8-9ebc-df7e3d1a044d.png)

[2022-01-17 03:03] payeisa commented on #202
Notifications screen: title display
The formatting of long titles needs to be adjusted. Right now, it's going right to the edge:
![image](https://user-images.githubusercontent.com/89025704/149701818-aa5253b1-6a7d-4f3e-a0f0-2b7317ab0e91.png)

[2022-01-17 03:10] payeisa opened #231 "Notifications / mark all as read"
When marking all notifications as read, we are not presented with a pop up message.
See User story 4:
https://confluence.statcan.ca/display/SPMA/Feature+2.3+Receive%2C+view+and+manage+in-app+notifications

[2022-01-17 03:23] payeisa commented on #190
@Pharste Can you please validate?

[2022-01-17 03:24] Pharste opened #232 "Sharing Publication by email"
The subject line appears for in EN and FR when sharing via gmail, but it does not appear when opening it in the Apple Mail app (see screenshot).

The email is also missing the StatsCan icon, and links to download the app per the requirements.
![Apple mail sharing pub](https://user-images.githubusercontent.com/89025880/149703297-70e3c368-8baa-4592-9183-f251104478ce.jpg)
![Gmail app Pub sharing](htt

[2022-01-17 03:35] Pharste opened #233 "Bold heading showing as underline in app?"
In the Canadian Peaks Plus article, a bold subtitle is showing as underlined in the app, and looks like a hyperlink:
![Canadian Peaks App](https://user-images.githubusercontent.com/89025880/149704231-bd33d76f-dff0-4e0d-9ce3-9747f8f2d4ed.jpg)
![Canadian Peeks Alpha](https://user-images.githubusercontent.com/89025880/149704235-b67fd653-7791-4ce7-a609-06423682b19c.jpg)

[2022-01-17 03:40] Pharste commented on #106
On my iPhone and iPad, nothing happens when I click on the acronyms. (They are still showing as hyperlinks)

[2022-01-17 03:48] Pharste commented on #180
I also noticed when you click on see more from the following screen, it isn't matching the prototype: (Date is darker and the title of the publication seems smaller)
![Subject pubs list](https://user-images.githubusercontent.com/89025880/149705267-0f216d5f-8115-4e00-950f-ea1aa951f4bb.jpg)

[2022-01-17 16:30] Pharste opened #234 "Logo cut off on Welcome screen (iPad 12.9")"
On my iPad, the logo is cut off at the top on the welcome screen, and the French text is missing a period.
![French Welcome screen](https://user-images.githubusercontent.com/89025880/149806993-ae141662-bdbb-41ae-a511-7e90c15fe594.jpg)
![Logo cut off](https://user-images.githubusercontent.com/89025880/149807012-17b55759-8b52-477e-ac96-8dbc8734af76.jpg)

[2022-01-17 16:58] ForumG-SC commented on #221
Fixed

[2022-01-17 18:01] ForumG-SC commented on #156
@Rajat-Sen Revalidate settings screen after new deployment is done.

[2022-01-17 18:05] Rajat-Sen opened #235 "Things to change before final deployment"
Reset the app number to 1
 Delete user profile button from the settings screen
Delete Notification list button from the settings screen

[2022-01-17 18:13] ForumG-SC commented on #180
For You:

Following Screen: Grey bar at the bottom removed in dark mode
Saved Screen: Heart icon color changed to transparent in dark mode
See more Screen: More Icon color changed to white in dark mode, date color changed to white in dark mode.
Search Screen: Search publications text color changed to white in dark mode.

Please validate these changes in new deployment.

@Pharste

[2022-01-17 18:16] Rajat-Sen commented on #180
Hi Forum, on the Publication screen (Level-2) when tapped on the heart icon the colour is not matching the prototype. Should I create a separate ticket for that?

[2022-01-17 18:18] Rajat-Sen commented on #233
@Jiandong-Guo ,

"For Further reading" should not be underlined. Could you take a look into this issue. Thanks!

[2022-01-17 18:18] ForumG-SC commented on #230
Done

[2022-01-17 18:21] Rajat-Sen commented on #226
@Jiandong-Guo,

Presently, without clicking the sort option on Search screen. How are we sorting the search results initially?

[2022-01-17 18:33] Rajat-Sen commented on #208
Hi Steph, are you able to still replicate this issue?

Also, could you try removing the app from your device and install again?

[2022-01-17 18:33] Rajat-Sen commented on #139
Validated

[2022-01-17 18:33] #139 closed

[2022-01-17 18:38] Rajat-Sen opened #236 "Clickable area around the element"
Invisible area needs to be added around the following elements:

1. Welcome screen while switching the language
2. Terms of use screen, while switching the language
3. Back button on Level-2
4. Heart icon on the Saved segment

[2022-01-17 18:42] Rajat-Sen commented on #188
Validated!

Working better than before, closing for now. But, needs improvement and will refine after MVP.

[2022-01-17 18:42] #188 closed

[2022-01-17 18:48] Rajat-Sen commented on #195
Since we are on this page,

If I start following a subject and change the language and come back to the following screen on my iPad. The subjects that I am following remain in French language.

Needs to be retested once the API issue is resolved. If not, a separate ticket need to be created for this. Thanks!

[2022-01-17 18:48] Pharste commented on #208
Hi,

I've tried to replicate the issue and it seems to be fixed. I've uninstalled the app and reinstalled.
Thanks!

[2022-01-17 18:49] #208 closed

[2022-01-17 18:55] ForumG-SC commented on #180
It has been fixed, I forgot to mention in my comment above.

[2022-01-17 18:57] Rajat-Sen commented on #180
Thanks!

[2022-01-17 19:02] Pharste commented on #218
@Rajat-Sen The subjects list is displaying properly now, but the apply button is not showing. (light mode only). I noticed this today on my iPad and Adeeba noticed it with her Apple iPhone 11 (I'll confirm what software).

![No apply ipad](https://user-images.githubusercontent.com/89025880/149824907-603e2526-1a03-4ddf-a1bb-6d3e4dac2675.jpg)
![no apply iphone](https://user-images.githubusercontent.

[2022-01-17 19:03] Rajat-Sen opened #237 "Change the Google Play store logo for the app"
The logo for Android is looking too small on the Main screen and I will provide a new file for this.

[2022-01-17 19:04] #213 closed

[2022-01-17 19:04] Rajat-Sen commented on #203
Validated!

[2022-01-17 19:04] #203 closed

[2022-01-17 19:25] Pharste commented on #180
After uninstalling and reinstalling the app, I'm still seeing the heart icon with the white background on the For you - saved page:
![Heart dark mode](https://user-images.githubusercontent.com/89025880/149826206-578624cc-4253-4a8f-a3b7-e5596084f685.jpg)

The image is overlapping the Go to publications button on iPad (but not on my phone):
![Overlapping image and button iPad](https://user-images.gi

[2022-01-17 19:28] Pharste opened #238 "Space needed in date: Saved screen"
On the saved page, there is a space missing between the comma and year.

i.e.:
Jan 17,2022 to Jan 17, 2022
![space needed date saved](https://user-images.githubusercontent.com/89025880/149827437-97230a4d-bf07-406f-8be7-0af2dc35191b.jpg)

[2022-01-17 19:37] Pharste commented on #210
Hi @Rajat-Sen  This is still happening with the software update on my iPad, and after removing and reinstalling the app. Adeeba is also seeing the dark search bar on her iPhone 11, with iOS 15.1

[2022-01-17 19:40] Pharste commented on #207
When updating the Terms of Use, please ensure there's a capital 'u' in the header (English only).

[2022-01-17 20:03] Pharste commented on #202
This is how the saved toast message is getting cut off on the iPad 12.9":
![cut off saved iPad](https://user-images.githubusercontent.com/89025880/149831047-c11a55e0-e5d2-4a7d-9978-2c92264323b3.jpg)

[2022-01-17 21:07] ForumG-SC commented on #180
Please wait for new deployment to test this again.

[2022-01-17 22:45] ForumG-SC commented on #202
Thanks for the update. Bug fixes for iPad/tablet is in process, will update here once it is fixed.

[2022-01-18 03:06] Rajat-Sen commented on #210
Got the problem,

It happens when the device is in Dark mode and the app is in Set in Light mode. Since, Search bar is a native element and that's why it appears in Dark mode.

[2022-01-18 04:07] Rajat-Sen commented on #201
Hi Isabelle, I just tested and I am able to go back to November 10. However, there is a problem.

When the user switches the language and comes back to the publications screen. The user cannot go past beyond the articles that the app loaded for the very first time after switching the language. Thus, there seems to be a problem from the Mobile app side.

Jiandong, please make sure the user can go b

[2022-01-18 04:18] Rajat-Sen commented on #116
This should be one of the first issue after releasing the MVP.

[2022-01-18 06:13] Rajat-Sen opened #239 "Accessibility issues"
Onboarding screens

1. Welcome to StatsCAN should be read as heading
2. Terms of Use should be read as heading and get the initial focus when coming from welcome screen
3. The whole description of the "Terms of Use" should be read in paragraphs instead of reading as a one big paragraph.
4. When Swiping left to right on "Terms of Use" screen, the focus should not go to the scroll bar and it should

[2022-01-18 06:24] Rajat-Sen commented on #125
Hi Forum,

For the MVP, let it only affect the Level-2 screen.

After the MVP, it should affect all the elements on all screens.

[2022-01-18 14:20] Jiandong-Guo commented on #212
![image](https://user-images.githubusercontent.com/58485300/149954675-2834a09b-ff7c-4ea6-90e0-feca2845a34a.png)

[2022-01-18 14:50] Pharste commented on #190
Hi,

I've reviewed the translations and have some notes:

**Notifications screen menu:**
![Notifications menu FR](https://user-images.githubusercontent.com/89025880/149834448-410cb3b3-1ce8-49ee-8e59-335d8467cdd0.jpg)

- FR: Change 'Paramètre de notification' to 'Paramètres de notification'

**Publications menu:**
![Publications menu FR](https://user-images.githubusercontent.com/89025880/149955529-

[2022-01-18 15:08] Jiandong-Guo commented on #195
It was validated after the new api release. the title is correct now

[2022-01-18 15:12] Jiandong-Guo commented on #205
In the morning I can see the articles released since yesterday(Jan-17),

[2022-01-18 15:29] Jiandong-Guo commented on #192
In alpha, the new release is for alpha

[2022-01-18 15:30] Rajat-Sen commented on #212
The name of the app should be changed to "StatsCAN"
There should be proper spacing "If not, you should download it."
Also, please add the link for the iOS store.

Thanks!

[2022-01-18 15:50] spotzero commented on #195
The API will only return a 400 Bad Request error when the request the client made is incorrect or invalid JSON.

Server errors will be 500.

[2022-01-18 16:07] Jiandong-Guo commented on #233
I can see the "For Further reading" is a link from the content returned from api:

<p>Nationally, tourists spent $96.0 billion in 2017. Tourism’s economic contribution varied across the provinces and territories, its share of gross domestic product ranging from 1.4% in Nunavut and Saskatchewan to 3.6% in Yukon. Greeting travellers from around the globe who come to explore Kluane’s impressive lands

[2022-01-18 16:08] Jiandong-Guo commented on #233
![image](https://user-images.githubusercontent.com/58485300/149974273-6ee3ccae-ff43-4f1f-b796-c1171f0aaf35.png)

[2022-01-18 16:43] Jiandong-Guo commented on #232
fixed, screenshot from ipad:
![image](https://user-images.githubusercontent.com/58485300/149980194-a08ea11e-50f2-43c6-b2c0-f410b375f9ba.png)

Please test in next release

[2022-01-18 16:44] Jiandong-Guo commented on #232
Icon is not feasible for current workflow, see#212

[2022-01-18 17:01] Jiandong-Guo commented on #212
![image](https://user-images.githubusercontent.com/58485300/149983606-e41ec780-911a-4117-b579-86283ecf4bb1.png)

Please test in next release

[2022-01-18 17:07] Jiandong-Guo commented on #212
![image](https://user-images.githubusercontent.com/58485300/149984553-4b34ea72-77d5-45a6-af6b-67326eabacc4.png)

[2022-01-18 17:08] goodyke opened #240 "Articles in the saved items tab of the For You screen do not contain the same list of articles in English and French display"
This is a bug that was reported during the first round of mobility testing in ticket [QLTY-141](https://jirab.statcan.ca/browse/QLTY-141).

**Problem:** The saved items shown on the For You screen are saved in separate lists (one for each language)

**Solution:** Ensure the saved items list stores the information in one list (that supports both languages so that the items are the same when the use

[2022-01-18 17:10] Jiandong-Guo commented on #170
see #212,#232

[2022-01-18 17:15] Jiandong-Guo commented on #231
Fixed, Please test in next release

[2022-01-18 17:29] goodyke opened #241 "When user clicks 'See more' on For You screen in the Following tab then the max number displayed on specific screen is limited to 10 max"
This is a bug that was reported during the first round of mobility testing in ticket [QLTY-162](https://jirab.statcan.ca/browse/QLTY-162).

**Problem:** The specific subject screen is only showing a maximum of the latest 10 articles for that subject (even when there are more than 10 that should be shown)

**Solution:** Ensure the specific subject screen shows all articles belonging to a subject (n

[2022-01-18 18:12] Jiandong-Guo commented on #225
No information about subject and body are in confluence and UX

[2022-01-18 18:13] Jiandong-Guo commented on #225
Please provide them in both English and French

[2022-01-18 18:16] Jiandong-Guo commented on #226
The original order is from API, it is descending by published_data automatically

[2022-01-18 18:49] #192 closed

[2022-01-18 19:04] Rajat-Sen commented on #212
Hi Jiandong, please change the name of the app in subject as well. (For both, English and French)
Also, there needs to be space after the comma. "If not, you".

Please attach the updated screenshot.

Thanks!

[2022-01-18 19:06] Rajat-Sen commented on #212
@Jiandong-Guo, Please see the last comment.

[2022-01-18 19:16] Rajat-Sen commented on #233
@Pharste, Could you please validate that this is not a link when the article was published.

I did look into the article on the website and it is not a link. But, please double-check to make sure. Thanks!

https://www.statcan.gc.ca/o1/en/plus/212-canadian-peaks

[2022-01-18 19:20] Rajat-Sen commented on #232
Hi Steph,

For the MVP, we are not going to have the icon while sharing the publication.

We will improve it later on!

[2022-01-18 19:29] Rajat-Sen commented on #201
Hi Jiandong, when it reloads the screen after changing the language, after that the user cannot go down to all the articles.

However, if you do not change the language and open the app for the very first time. you can go all the way back to Nov 10.

[2022-01-18 19:30] Rajat-Sen commented on #181
Linked to #210

[2022-01-18 19:35] Rajat-Sen commented on #73
This ticket will create confusion for the users, if not fixed from Usability and Accessibility viewpoint.

[2022-01-18 19:39] Rajat-Sen commented on #158
Linked to #202

[2022-01-18 19:40] payeisa commented on #212
The subject of the email should be: Do you have the StatsCAN app? / Avez-vous l’appli StatsCAN? 
The body of the email should be: If not, you should download it. / Sinon, vous devriez la télécharger.
The message should also include the app's icon.
See User story 4b: https://confluence.statcan.ca/pages/editpage.action?pageId=904555691

[2022-01-18 20:55] goodyke commented on #223
Rajat could you please have a look at this bug to see if it is a true bug or simply that the Mobility team did not have the correct settings when using voiceover?  The Jira ticket associated with this is QLTY-136

[2022-01-18 21:16] Jiandong-Guo commented on #241
scroll problem is fixed, Please test in next release.
But  there is no article(id=269) found in api returns.
There are total 2 pages,
10 articles on first page(399,374,356,326,319,315,303,302,296,283)
3 articles on second page(279,233,191).
there is an article(id=296) in page one, is the a typo ? but it is in page 1.

[2022-01-18 21:29] Jiandong-Guo commented on #240
See ticket#92,  there are 2 separated saving list, one for english, one for french.  the reason is we save  the article info(such as title) in english or french based on the setting at saving point.

[2022-01-19 10:59] Rajat-Sen commented on #217
on iOS, remove should be in red colour and cancel in blue, like we have used in clearing the search functionality.

[2022-01-19 11:22] Rajat-Sen commented on #223
I looked into this and I think it is functioning properly.

The reason they would be having this issue due to:
Device language is in English and the app language in French. By changing the language of app, we cannot change the system language settings.

Kerry, would you be able to ask them if they have faced any issues if both the device language and the app language are same. Until we hear back,

[2022-01-19 11:22] #223 closed

[2022-01-19 13:54] Rajat-Sen opened #242 "Unfollow functionality not working"
Hi,

The unfollow functionality is partially working. For instance, if the user goes to manage subjects on the For you screen and unchecks the subject that the user does not want to follow anymore, it works.

On the other hand, if the user goes to a particular subject, clicks on the three dots and unfollows subject from there, it does not work. I have tried closing the app and opening it again and