[2022-06-10 13:22] Rajat-Sen commented on #293
It's not fixed properly, please see the prototype to verify. Thanks!

https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/55cd66da-e424-4b99-90d2-451edc7fedc7

[2022-06-10 13:24] zhuelle commented on #284
@Jiandong-Guo Rajat tested again and still cannot see the fix. Would you please check it and maybe it is a good idea to attach some pictures to show your fix in the ticket? Thanks!

[2022-06-10 13:37] Rajat-Sen commented on #315
@giftydeep, it is still the same!

[2022-06-10 13:51] Rajat-Sen commented on #316
Validated!

[2022-06-10 13:51] #316 closed

[2022-06-10 15:44] Jiandong-Guo commented on #284
@Rajat-Sen, It was roll back due to #381,will re-do it next week

[2022-06-10 17:47] weglmar commented on #122
Tested in Alpha and using "tel:PHONE_NUMBER" as described works. The app team will begin to ensure phone numbers are formatted this way.
FYI @payeisa

[2022-06-10 17:47] #122 closed

[2022-06-10 18:06] giftydeep commented on #315
https://user-images.githubusercontent.com/8207028/173125291-b65d79da-0c3c-4ead-9196-2d8b137d817c.MOV

@Rajat-Sen i have tested this on two different iPhones but it is working fine for me.

[2022-06-13 15:42] giftydeep commented on #338
@zhuelle @Jiandong-Guo suggested putting this ticket on hold. As I have tried a couple of libraries but the issue doesn't seem to resolve. Jiandong is going to update the view of the whole page next week.

[2022-06-13 17:55] Rajat-Sen commented on #318
@payeisa, this is not a priority issue! Thanks!

[2022-06-13 17:57] payeisa commented on #318
Thanks @Rajat-Sen !
@zhuelle Prioritization has been completed.

[2022-06-13 17:59] #349 closed

[2022-06-13 18:01] Rajat-Sen commented on #315
@giftydeep As per the recording of video, it is correct. However, when testing on a personal device. It does not work the same way.

[2022-06-13 18:17] #273 closed

[2022-06-13 18:25] Rajat-Sen commented on #181
@zhuelle, This ticket is not working as intended. I will reframe this again.

This ticket is divided into two categories:
1. Auto: When the app's colour theme is set to Auto. It should follow the OS settings. For instance, when my device is in light mode and I open the app, it should open the app in Light mode. And, when I change the OS colour mode to dark, it should instantly change the app to da

[2022-06-13 18:33] Rajat-Sen opened #383 "Hide bottom tab bar on Publication screen"
When the user goes to Publication screen thus, level-2 (Inside an article). The bottom tar should be hidden on that screen. Whether the person is accessing the screen from Publications screen, Notification screen, For you or Search screen.

[2022-06-13 18:54] Rajat-Sen opened #384 "Wrong Screen flow"
After following a subject, When the user taps on See more on the following screen and selects an article on the page. The screen goes back, rather than going in the front. Also, when clicking on the back button, the screen goes forward instead of going back.

[2022-06-14 15:07] levegab opened #385 "Blinking white screen when loading in dark mode"
When in dark mode, and a user first goes to a Publication (Level 2 article), the screen goes white/blank for a split second before the story appears (see below).

![DarkMode-White Screen](https://user-images.githubusercontent.com/106617357/173611753-f308105e-37ce-497b-a9fc-cf43903f4c5f.png)

[2022-06-14 15:22] levegab opened #386 "StatsCAN (v1.0.9): Colour Issues in Dark Mode (For You)"
When in “For you” and “Following” in dark mode, if the user only selects one subject, the screen colour for half the screen is white (see attached).  This is resolved if the user selects multiple subjects.

![Testing-FYP-Colour](https://user-images.githubusercontent.com/106617357/173615003-cb6b2132-f561-41bb-abff-1afd2784105e.jpg)

[2022-06-14 15:22] levegab commented on #386
Tagging @Rajat-Sen as this is design-related.

[2022-06-14 15:50] Pharste commented on #385
Here's a video of the issue:

https://user-images.githubusercontent.com/89025880/173620984-56581f33-ac08-4f75-acb3-bbe0f1758fed.mov

[2022-06-14 16:26] Rajat-Sen commented on #386
The background behind the article should be extended to the bottom.

[2022-06-14 19:27] Rajat-Sen opened #388 "French button off on Pixel 3"

[2022-06-14 19:45] Rajat-Sen opened #390 "Flashing Settings screen"
When the user goes to For you screen first time > Taps Select subjects > user can see the Settings screen flashing.

It can be replicated on iOS and Android both. Please see the attached video for reference.

[2022-06-14 19:45] Rajat-Sen commented on #390
https://user-images.githubusercontent.com/38566088/173675482-4c178528-4bac-4d39-baa9-10230f341a4c.mp4

[2022-06-14 19:51] Rajat-Sen opened #391 "Update checkmark icon on settings and Search screen"
The checkmark icon used on sub-screens of Settings needs to be updated. The assets were provided earlier.

List of screens that need to be updated:
1. Language screen
2. Colour theme
3. Search screen > Search anything > Sort > checkmark icon.

[2022-06-14 19:58] Rajat-Sen opened #392 "Search screen bug again!"
When the user goes to search screen for the first time and taps on Search input field. The text shifts down to the middle of screen. On some devices, the image disappears after taping on Search screen.

Attached videos for reference:

[2022-06-14 19:59] Rajat-Sen commented on #392
https://user-images.githubusercontent.com/38566088/173677883-0d4ce09d-8695-44e9-acca-454b4baf035f.mp4

[2022-06-14 20:03] Rajat-Sen opened #393 "Cancel button on Search screen"
The cancel button margin on the right is too much for the search screen. Please refer to the prototype for right specifications and see the attached screenshot.

Link for prototype: https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/22242a0c-4534-4bdb-9a06-f1e23e0b5e10/

[2022-06-14 20:05] Rajat-Sen commented on #393
![image](https://user-images.githubusercontent.com/38566088/173678831-a1a511cc-054f-41ee-ac23-92a331b49cd6.jpeg)

[2022-06-14 20:07] Rajat-Sen opened #394 "Inconsistent card sizes on search screen"
When searching for results, the card sizes are shown in different sizes.

Screenshot attached for reference:

[2022-06-14 20:08] Rajat-Sen commented on #394
![image](https://user-images.githubusercontent.com/38566088/173679362-e65323e4-bed4-4337-828b-ce17a33e1d8b.jpeg)

[2022-06-14 20:12] Rajat-Sen opened #395 "Padding for clear text icon"
In the search input field, clear text button on the right should have padding of 4px.

[2022-06-14 20:13] Rajat-Sen commented on #395
![image](https://user-images.githubusercontent.com/38566088/173680232-39c99b32-7985-4186-af33-3ab10ab5321b.jpeg)

[2022-06-14 20:19] Rajat-Sen commented on #294
@ForumG-SC, Please make it consistent on Search screen sort option with other sub-menus. Thanks! I will update the designs for Android devices.

[2022-06-14 20:24] Rajat-Sen opened #396 "Checkbox icon quality on Manage subjects"
Please use the original asset provided for checkbox or modify the one used in the app as, it is cutting the edges inside the app.

[2022-06-14 20:25] Rajat-Sen commented on #396
![image](https://user-images.githubusercontent.com/38566088/173682045-161200a3-f2c2-4138-a9a5-80321067d847.jpeg)

[2022-06-14 20:26] Rajat-Sen opened #397 "horizontal alignment on Android"

[2022-06-15 20:02] Pharste opened #398 "DUE JULY 13: Update Apple Promo text"
Hi,

We would like to update the Apple promo text on June 22 with the following:

EN: 2021 Census: Portrait of Canada's families and households, the Canadian Military Experience, and the income profile of Canadians will be available July 13, 2022.

FR: Recensement de 2021 : Le portrait des familles et des ménages du Canada, l’expérience militaire et le profil du revenu des Canadiens seront disponi

[2022-06-16 13:50] zhuelle commented on #293
Has not been worked on. Require prioritization.

[2022-06-16 13:57] zhuelle commented on #386
Require Prioritization.

[2022-06-16 13:58] zhuelle commented on #384
Require Prioritization.

[2022-06-16 15:10] Pharste opened #399 "Investigate desktop version of StatsCAN app"
Hi,

As discussed in our Comms/IT meeting on June 16, please investigate the 500 desktop downloads from the Apple store on June 9.

I've attached a screenshot of the store analytics, filtered by type 'desktop'.

It appears these were from an institutional purchase.
(https://apple.stackexchange.com/questions/428955/what-is-meant-by-institutional-purchase-in-app-store-connect)

![Desktop devices Jun

[2022-06-16 18:01] giftydeep commented on #237
@Rajat-Sen can you please send the update file if you have one.

[2022-06-17 18:14] lamokar10 commented on #116
@Pharste, has the message been approved and translated to indicate to the users that only 20 results can be shown?

[2022-06-17 18:16] Rajat-Sen opened #401 "Light mode colours"
Button colours on the Following screen and Saved screen, Search screen (Save button, when filtered by subjects) is not matching with the Onboarding screens.

On Publication screen, the link colour is not matching with the prototype.

[2022-06-17 18:17] Rajat-Sen opened #402 "Dark mode colours"
The colour of following items needs to be updated.

App Level :
1. Background
2. Buttons

Publications:
1. Card

Publication:
1. Links
2. Button at the bottom
3. Menu options

Search screen:
1. After searching, the sort and Filter by subjects button
2. Menu options of Sort button
3. Save button when clicked on Filter by subject(s).

For you:
1. Buttons

[2022-06-17 19:18] Rajat-Sen opened #403 "Cannot see the prompt after marking all notifications as read"
After following a subject, when the user sees notifications and presses. All notifications, marked as read; the user cannot see the message.

For reference: https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/726296dc-7d63-4365-9c04-2c29ecd1cb6f

[2022-06-20 12:24] ForumG-SC commented on #399
@Pharste Hi Stephanie, apple have updated/added option on the app store side which is as follow:
![image](https://user-images.githubusercontent.com/84411852/174600112-ebbcdc1d-fe95-46db-a5e8-83e67634deb4.png)
https://help.apple.com/app-store-connect/#/dev275598f16
When the app is selected as public, app will be publicly available on the App Store in the territories you selected and available to an

[2022-06-20 12:58] zhuelle commented on #294
@Rajat-Sen I assigned this ticket to you as it seems waiting for your design action.

[2022-06-20 13:51] Jiandong-Guo commented on #284
@Rajat-Sen Please test it in next release

[2022-06-20 13:57] weglmar commented on #281
Hi @zhuelle , I am attaching the results of the test we did. You will see that there are a few articles that were delayed. We're not really sure why. Sometimes it seemed like it was the last one or two articles that we published that morning.

[StatsCAN app test May 31 to June 10.xlsx](https://github.com/StatCan/StatcanPublicationUAT/files/8941226/StatsCAN.app.test.May.31.to.June.10.xlsx)

[2022-06-20 14:39] Rajat-Sen opened #404 "Snackbar text alignment"
When clicked on the Heart icon on the Publication screen, the text is not left-aligned in the Snackbar.

[2022-06-20 16:10] ForumG-SC commented on #302
@Pharste Hi Stephanie, I am not sure why is it not working because the keywords in the store are added as per apple's guidelines. However, I have contacted apple regarding the same, Once I get a response from them, I will update it here.
![image](https://user-images.githubusercontent.com/84411852/174642502-351a1dbc-3099-4fb7-a16b-6df8806eb7d5.png)

[2022-06-20 16:16] ForumG-SC opened #405 "Blocker for the release: non-compliant SDK version"
Received mail from the Google:
![image](https://user-images.githubusercontent.com/84411852/174643288-51a4208b-66ac-48d7-b2f0-6661bd1050e7.png)

[2022-06-20 19:00] ForumG-SC commented on #342
IOS copyright logo has been added:
![image](https://user-images.githubusercontent.com/84411852/174661589-a238d193-3e6c-4559-ab57-7d937a77c4ef.png)
Android Alignment fixes and copyright logo added:
![image](https://user-images.githubusercontent.com/84411852/174663898-5cb7d2f2-a386-48e9-83d3-6ab2ea1d6725.png)

[2022-06-20 19:01] ForumG-SC commented on #342
@Rajat-Sen Please test this on Wednesday once the deployment is done.

[2022-06-20 19:31] giftydeep commented on #315
@Rajat-Sen Please test this in the release since i forgot to merge this into master earlier.

[2022-06-21 16:14] zhuelle commented on #390
@giftydeep I saw your picked up this ticket without priority. Would you please provide a work effort estimate on the ticket so that I can ask business to provide a priority on it.

[2022-06-21 16:44] zhuelle commented on #237
![Screenshot_20220621-124112_One UI Home](https://user-images.githubusercontent.com/58314003/174853468-78f3b438-8078-4119-8aef-7e4c0f59aa50.jpg)

Samsung Galaxy S9, Android 10

[2022-06-22 12:30] ForumG-SC commented on #398
@Pharste Assigning it back to you, June 22nd promo text has been updated

[2022-06-22 13:31] zhuelle opened #406 "Monitor App stores mailbox and MobileApplication Mailbox to ensure the dev team is not missing any important message from App stores (Google and Apple). The developer who is responsible for deployment should be responsible to monitor it."

[2022-06-22 14:12] zhuelle commented on #403
Need priority.

[2022-06-22 14:14] zhuelle commented on #396
Need priority.

[2022-06-22 14:14] zhuelle commented on #393
Need priority.

[2022-06-22 14:15] zhuelle commented on #388
Need priority.

[2022-06-22 14:16] zhuelle commented on #391
Need priority.

[2022-06-22 14:25] ForumG-SC commented on #406
Deployment: 22/06/22
Mailbox Monitored: 22/06/22 ( No new email, last email was sent to our inbox on 11th june).

[2022-06-22 14:26] Jiandong-Guo commented on #385
Same issue as #361

[2022-06-22 14:30] ForumG-SC commented on #385
@levegab closing this ticket as it is duplicate to https://github.com/StatCan/StatcanPublicationUAT/issues/361

[2022-06-22 14:30] #385 closed

[2022-06-22 14:31] zhuelle commented on #335
@ForumG-SC , this ticket is closed. But it is still showing up in the Sprint back log. Do we need to do anything to get it removed from the backlog?

[2022-06-22 14:37] ForumG-SC commented on #361
I will have quick word with Rajat today and update the status here.

[2022-06-22 14:44] zhuelle commented on #202
@Pharste Would you please provide a status update on this ticket? It is in Backlog now. Does it require any work from the dev team? Thanks!

[2022-06-22 14:45] Rajat-Sen commented on #361
Closing the ticket as discussed!

[2022-06-22 14:45] #361 closed

[2022-06-22 14:47] Rajat-Sen opened #407 "Alternative solution for Web-view on level-2"
Please research another solution instead of using web-view on Level-2

[2022-06-22 14:49] Rajat-Sen commented on #407
This ticket is related to #383

[2022-06-22 14:50] Rajat-Sen commented on #383
Closing this ticket as discussed!

[2022-06-22 14:50] #383 closed

[2022-06-22 17:09] Jiandong-Guo commented on #338
@Rajat-Sen, In iOS, in publication, when you double tap the "more" button, it will show the menus, and when you swipe to right, it will read "publication", and then when you swipe right, it will read menu items, here is a problem, it shouldn't read "publication", the order will be fixed next time.
Better test in the search screen, it is working the same way when you double tap "sort" button withou

[2022-06-22 17:16] lamokar10 commented on #281
There is already a JIRA ticket with ORPS from March : https://jirab.statcan.ca/browse/ORPS-34

[2022-06-22 18:44] payeisa commented on #393
Priority added.

[2022-06-22 18:44] payeisa commented on #388
Priority added.

[2022-06-22 18:45] payeisa commented on #402
Priority added.

[2022-06-22 18:46] payeisa commented on #401
Priority added.

[2022-06-22 18:47] payeisa commented on #391
Priority added.

[2022-06-22 18:47] payeisa commented on #396
Priority added.

[2022-06-23 12:16] Rajat-Sen commented on #295
This ticket has been sub-divided into smaller tickets.

[2022-06-23 12:16] #295 closed

[2022-06-23 12:21] Rajat-Sen opened #408 "Implementation of temporary screen"
On Search screen> Filter by subject was designed to have a temporary screen.

On For you> Manage subjects was also designed as a temporary screen.

[2022-06-23 13:26] ForumG-SC opened #409 "31 Security Threats found in the repository"
![image](https://user-images.githubusercontent.com/84411852/175357144-a6276b41-c1ed-4ac8-9785-5d12e77ab152.png)

For example:
By passing invalid javascript code where await and yield were called upon non-async and non-generator getter/setter functions, Hermes would invoke generator functions and error out on invalid await/yield positions. This could result in segmentation fault as a consequence of

[2022-06-23 13:41] weglmar opened #410 "StatsCAN (v1.0.10): Article level 2 text not centered"
Hello,
With the new release, the article level 2 screen has been modified.
The text carries over too far to the right and cuts off (see screenshot).

![image](https://user-images.githubusercontent.com/98898969/175313124-7c48f1ce-970c-4aca-8d04-669024addbd9.png)

Similar to issue reported in last release; https://github.com/StatCan/StatcanPublicationUAT/issues/381

Testing on iPhone X, iOS 15.5.

F

[2022-06-23 13:50] Pharste commented on #398
Thank you Forum! closing this ticket for now and will re-open for the July 13th update.

[2022-06-23 13:55] Pharste commented on #202
Closing this issue, and will re-open a new ticket with different iPad issues.

[2022-06-23 14:08] ForumG-SC commented on #409
Hermes is a JavaScript engine optimized for fast start-up of React Native apps. It features ahead-of-time static optimization and compact bytecode. Therefore, we cannot simply remove it from our yarn file. Investigating the threats and will be updating it to the their patched versions.

[2022-06-23 15:39] Rajat-Sen commented on #294
@ForumG-SC, does React-native support transparency, one option that can be explored is changing the opacity of the menu items to differentiate from rest of the content in the app?

[2022-06-23 15:40] Rajat-Sen commented on #237
It seems Good on Android too!

[2022-06-23 15:43] Rajat-Sen commented on #284
Validated!

[2022-06-23 15:43] #284 closed

[2022-06-23 15:54] Rajat-Sen commented on #286
Please check the prototype to see how it has been implemented!

Link: https://xd.adobe.com/view/ba93d6fc-6df6-445a-b4c0-a31e8c15c6e1-efc0/screen/16031f7c-3125-46ab-8fc2-0ccb76b2a590

[2022-06-23 15:56] Rajat-Sen commented on #342
Validated!

[2022-06-23 15:56] #342 closed

[2022-06-23 16:00] Rajat-Sen opened #411 "Canada wordmark description"
Please hide the Canada wordmark logo on language screen while using voiceover as it is only for decorative purposes only.

[2022-06-23 16:05] Rajat-Sen opened #412 "Focus order after accepting Terms of use"
While using voiceover, after accepting the Terms of use; the focus goes to a random article instead of going to the title of the screen which should be Publications.

[2022-06-23 16:53] zhuelle commented on #410
@weglmar Please confirm if a new deployment is required to fix the issue before deploy it production. I would assume so but would like to get confirmation. Thanks!

[2022-06-23 17:22] Jiandong-Guo commented on #338
@Rajat-Sen A new version was released

[2022-06-23 17:55] ForumG-SC commented on #409
Npm packages often get new releases (adding new functionalities, fixing bugs or vulnerabilities). It is important to keep the packages updated as much as possible during the development of the application.

Wrote some scripts and implemented automation system where, everyday at 8 am dependablebot would scan packages and if required would update them automatically,create pull request and merge it.

[2022-06-23 18:26] Jiandong-Guo commented on #286
![image](https://user-images.githubusercontent.com/58485300/175367322-0f8a6477-138d-4c8c-9dec-d0fdccf49abd.png)
Not sure what you want to change:
1)Do you want to leave a part of lower layer area on top (identified with red circle)?
        If yes, we have to test, because the potential issue is that the screen reader will read "Filter by subject(s)", then read "Canada's oceans and ....", then rea

[2022-06-23 18:39] Rajat-Sen commented on #286
You are only testing it on Android devices. Please test on iOS Devices and bigger screen sizes like we discussed in the morning meeting. An example of that would be #342. That ticket has been tested on different devices.

See the attached screenshot to see what I am seeing on my iPhone.

[2022-06-23 18:40] weglmar commented on #410
@zhuelle Yes, a deployment would be required before we deploy to Production. Thank you!

[2022-06-23 18:40] Rajat-Sen commented on #286
![image](https://user-images.githubusercontent.com/38566088/175373092-4867c883-6bfa-4129-87b2-5949501daa1b.jpeg)

[2022-06-23 18:44] Rajat-Sen commented on #338
@Jiandong-Guo, it's not fixed yet!

Next time, please attach a video showing proper fix and then I will test.

[2022-06-23 19:02] ForumG-SC commented on #409
![image](https://user-images.githubusercontent.com/84411852/175377426-c2773419-7e57-4e6f-b47d-3a7ab65e404d.png)
****
No Longer vulnerable.

[2022-06-23 19:02] #409 closed

[2022-06-23 19:52] Jiandong-Guo commented on #338
@Rajat-Sen,
![image](https://user-images.githubusercontent.com/58485300/175385556-7519d76b-c8fc-48ec-bd86-839307ffe481.png)
I will try the email

[2022-06-23 20:16] Pharste opened #414 "UX iPad issues: v 1.0.10"
Hi,

As mentioned this morning, the display on iPad seems off on several screens. (Please see images attached)

Is it possible to reduce the size of the text? It seems quite large, especially vs. the web browser view of the publications when clicking through the 'continue reading' link.

Thanks,
Stephanie

![1](https://user-images.githubusercontent.com/89025880/175391227-c3ba4098-0553-456c-98f9-39

[2022-06-23 20:17] Pharste commented on #414
@Rajat-Sen Can you please add additional information on what should be changed to match the prototype?

@weglmar @levegab @payeisa FYI

[2022-06-24 13:01] Jiandong-Guo commented on #286
OK, what need to change are the height of popup title and footer

[2022-06-24 15:29] Jiandong-Guo commented on #410
This issue happens for some articles in iOS side, and it is existing in old version too, will fix it in next release

[2022-06-24 18:15] Jiandong-Guo commented on #410
![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-06-24 at 14 09 43](https://user-images.githubusercontent.com/58485300/175619849-86a914c0-94da-4313-bc1b-5a8f11e77c52.png)
![Simulator Screen Shot - iPhone 12 Pro - 2022-06-24 at 14 15 22](https://user-images.githubusercontent.com/58485300/175619916-cf1f9c88-57c3-4d40-aeea-3471357ee33a.png)

[2022-06-24 18:21] zhuelle commented on #410
@Jiandong-Guo Do you mean this issue is existing in current Production version 1.0.6? I thought this issue is introduced in the new version 1.0.10. Please confirm!

[2022-06-24 23:44] ForumG-SC commented on #302
@Pharste
![image](https://user-images.githubusercontent.com/84411852/175749014-5768116f-9350-40ca-83c8-022234172b51.png)

[2022-06-24 23:47] ForumG-SC commented on #399
@Pharste Do you want to leave this option as default or want to make it private?

[2022-06-24 23:48] ForumG-SC commented on #405
Didn't get any mail from the google, seems that this issue has been resolved, will reopen the ticket if it's not.

[2022-06-24 23:48] #405 closed

[2022-06-27 13:29] Jiandong-Guo commented on #410
Yes, It is a new issue related to content instead of styling. It was fixed and ready to test in next release

[2022-06-27 13:37] Rajat-Sen commented on #338
Tested again, still not working and the flow for voiceover is not right!

[2022-06-27 14:05] Rajat-Sen opened #415 "Planning the user research"

[2022-06-27 19:44] zhuelle commented on #116
A CR (https://jirab.statcan.ca/browse/ORPS-118) has been sent on the ORPS (backend) project and the request for changing the API is rejected by the Business Owner.

For short term, the decision is to add a message to the search results screen to let the users know that only 20 results were returned. The final messaging has not yet been provided, but will be available soon.

[2022-06-27 21:41] Jiandong-Guo commented on #338
Test steps:
Step1)open StatCanTest app, Make sure you turn on VoiceOver. if VoiceOver is off, the layout will not change

![image](https://user-images.githubusercontent.com/58485300/176039829-78075b1e-485c-438e-bb4c-c8e2e0acf8f4.png)

Step 2) Move the Voiceover focus rectangle to an article, Double tap anywhere on the screen,
you will hear "Go back button" and see
![image](https://user-images.gith

[2022-06-28 11:57] zhuelle opened #416 "EAS Build expo"
https://expo.dev/eas?msclkid=e5bb9b49a56711ecb0ef2b084684c462

Expiry date of classic Build:
https://docs.expo.dev/classic/building-standalone-apps/
January 4th, 2023

Right now, we are using classic Expo build system , if we switch to EAS build system which is more flexible , it supports way more npm packages that have native bits of codes it would resolve our adobe analytics issue as with EAS bu

[2022-06-28 12:03] zhuelle opened #417 "Onbording package documentation"
This ticket is to track the progress of creating on-boarding documentation package for any new mobile app developer.

https://confluenceb.statcan.ca/display/SPMA/Mobile+application+Onboarding+Process

[2022-06-28 13:09] ForumG-SC opened #418 "For you Screen- Following Screen - Remove extra spaces above the select subjects button"
Issue detected in IOS:
The cause of this issue seems to be, after the changes were done in the Following screen file,Line 42,248 .
Commit id : 1fc6a1f6dc668880ca985e789c3e6e7d0cadfa4a
Once resolved, please test this in different screen sizes in IOS and android.

Current Screen:
![image](https://user-images.githubusercontent.com/84411852/176185161-0fe112c1-056a-4f1a-b93b-24f9273688ed.png)

Expected

[2022-06-28 14:17] Jiandong-Guo commented on #418
This is iPhone 12 Pro:
![Simulator Screen Shot - iPhone 12 Pro - 2022-06-28 at 10 14 08](https://user-images.githubusercontent.com/58485300/176201108-2061348c-76e0-4448-bada-38c644440ba1.png)

This is iPad Pro(12.9-inch):
![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2022-06-28 at 10 17 05](https://user-images.githubusercontent.com/58485300/176201791-521377a4-60c7-479d-af26-c30

[2022-06-28 14:44] Jiandong-Guo commented on #418
This is iPhone 8
![Simulator Screen Shot - iPhone 8 - 2022-06-28 at 10 40 49](https://user-images.githubusercontent.com/58485300/176207983-c02a70cc-3768-43a5-9343-bb294011fc3b.png)
:
This is iPhone 6s:
![Simulator Screen Shot - iPhone 6s - 2022-06-28 at 10 43 44](https://user-images.githubusercontent.com/58485300/176208458-cc4c808b-0952-4be6-9d02-1c7b494e7387.png)

[2022-06-28 15:18] ForumG-SC commented on #418
@Rajat-Sen Can you please share the ux prototype link of the following screen?

[2022-06-28 15:19] ForumG-SC commented on #418
@Jiandong-Guo Before it used to look like this :
![image](https://user-images.githubusercontent.com/84411852/176217036-45cf59bc-587d-48d0-b307-ca968798b896.png)

Now there is lot of spacing

[2022-06-28 15:19] ForumG-SC commented on #418
lot of extra spacing is there

[2022-06-28 15:26] ForumG-SC commented on #418
I see extra spacing before the select subject button in multiple simulators such as iphone 11,11pro,12 etc.

[2022-06-28 17:28] Jiandong-Guo commented on #418
Ok, What you want to change is to remove the space above the select subject button.

For iPad Pro 12.9-inch:
![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2022-06-28 at 13 23 45](https://user-images.githubusercontent.com/58485300/176245215-477d4608-caca-4184-b9d0-6de3dbcaae36.png)

For iPhone 12 Pro:
![Simulator Screen Shot - iPhone 12 Pro - 2022-06-28 at 13 22 38](https://user

[2022-06-28 17:33] Jiandong-Guo commented on #418
For Android pixel 5:
![Screenshot_1656437358](https://user-images.githubusercontent.com/58485300/176246196-1132ff24-87f5-4e93-b9cf-bf99e41c06aa.png)

For Android 8 fold-out:
![Screenshot_1656437574](https://user-images.githubusercontent.com/58485300/176246511-65a06a2e-0065-4d6b-883f-2a4cadcff671.png)

[2022-06-28 17:34] ForumG-SC commented on #418
@Rajat-Sen Could you please verify the above screenshots matches your prototype before the deployment? Thanks

[2022-06-28 17:35] ForumG-SC commented on #418
@Jiandong-Guo Please match the spaces with the prototype:
https://xd.adobe.com/view/06f1d9f5-3100-4957-abe8-fa36941132b6-53a2/screen/55cd66da-e424-4b99-90d2-451edc7fedc7/specs/
![image](https://user-images.githubusercontent.com/84411852/176246846-8ab89578-2757-464a-ae94-902f226e2604.png)

[2022-06-28 17:56] Rajat-Sen commented on #418
@Jiandong-Guo,
1. Please make the text centered instead of aligning it to the left.
2. Leave margin from all sides to have some space from Top, right, bottom and left
3. Between the text "Stay informed! Select your subjects of interest to automatically receive the latest info" and the button "Select subjects" add some space but no too much. For instance, in the prototype I have there is space of 2

[2022-06-28 19:02] Jiandong-Guo commented on #418
@Rajat-Sen ,
1)text align center:done,
2)Horizontal margin added 16, vertical margin add 6,
3)space between button and text added 14,plus the bottom 6 in 2) total 20px, (vertical height is valuable especial for almost square screen )
iPad:
![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2022-06-28 at 14 54 47](https://user-images.githubusercontent.com/58485300/176261771-e11e7acc-

[2022-06-28 19:05] Jiandong-Guo commented on #418
android phone:
![Screenshot_1656442128](https://user-images.githubusercontent.com/58485300/176262582-3c234b81-e2c9-4633-
![Screenshot_1656442232](https://user-images.githubusercontent.com/58485300/176262734-1c49c0de-98c6-4f5c-87f9-26ac489faa7e.png)
8786-d80558b9bbe7.png)
Android tablet:

[2022-06-28 19:07] Jiandong-Guo commented on #418
@ForumG-SC ,Please test

[2022-06-28 19:27] #418 closed

[2022-06-28 19:55] ForumG-SC commented on #410
@weglmar Please update the app and test this ticket. Deployment has been completed. Thanks.

[2022-06-29 13:24] Jiandong-Guo commented on #392
@Rajat-Sen ,Right now it is the way it works.   When user taps the input text box, the image will be removed, because the keyboard will squeeze the image space. it is not possible to keep displaying keyboard and this image without cut-off and keep its original display ratio.

[2022-06-29 16:53] zhuelle commented on #375
@Jiandong-Guo I am not sure why this ticket is in current Spring. Since it is a minor priority ticket, I will move it back to the backlog.

[2022-06-30 12:49] weglmar commented on #410
The issue is still appearing on certain articles:

![image](https://user-images.githubusercontent.com/98898969/176680889-dcba07bb-2a29-4ad3-ab15-f29a47fb6117.png)

![image](https://user-images.githubusercontent.com/98898969/176680919-8a5eb28d-daa1-4806-8b7f-9eb5c5537855.png)

[2022-06-30 13:21] Jiandong-Guo commented on #338
@Rajat-Sen Please make sure you are using latest version

[2022-06-30 14:30] zhuelle commented on #416
@ForumG-SC The business has following questions/concerns regarding EAS VS.  Classic Expo build system:

- what are the impacts when switching to EAS
-  what are the risks of switching
-  what are the risks of not switching
- what do we gain of switch

Please elaborate a bit on each point. Thanks!

[2022-06-30 14:50] Jiandong-Guo commented on #410
@weglmar Please let me know your device name and ios version.
I didn't find this issue  from iPad ios 12 and iphone 12 pro ios 15.4 simulator.

[2022-06-30 15:33] ForumG-SC commented on #416
@zhuelle

There are many technical advantages of switching to EAS build such as:

-- No more automatic publishing before building:
 With classic builds, the default behavior is to automatically publish the app bundle as an update prior to running a build.

This had some unintended consequences; for example, sometimes developers would run a build and be surprised to learn that their existing app wa

[2022-06-30 15:39] zhuelle commented on #416
@ForumG-SC Besides the EAS build option, is there any other options to replace the Classic Expo build? Has the dev team done option analysis to choose EAS build option? Thanks!

[2022-06-30 16:54] giftydeep commented on #338
@Jiandong-Guo i tested the new version 1.0.10. and it still having the same issue. I tested from swiping left to right and it failed at step 8.

[2022-06-30 18:26] Pharste commented on #116
Hi,

Here is the final messaging. Please note that we would like to add text to the intro screen, as well as the search results screen.

Search intro screen -

EN:
Find publications published in the StatsCAN app.
Note: A maximum of 20 publications will be shown.

FR:
Trouvez les publications diffusées dans l’application StatsCAN.
Note : Le nombre de publications affichées est limité à un maximum d

[2022-06-30 19:09] Jiandong-Guo commented on #410
@weglmar Please test again after updating or uninstall/re-install. I want to hear your feedback before sending release email.
currently, the closest simulator to your device is iphoneX iOS 13.4, I tested on this one.  Have nice Canada day!

[2022-06-30 19:43] Jiandong-Guo commented on #338
Thank you @giftydeep, will discuss next week. Have good Canada Day

[2022-06-30 19:52] Rajat-Sen commented on #411
@ForumG-SC, I am referring to the wordmark on Language screen when the user is onboarding the app for the first time.

[2022-07-04 12:54] weglmar commented on #410
@Jiandong-Guo sorry for not getting back sooner, I meant to before signing off on Thursday but got caught up with something. It looks good now!
I hope you had a great and relaxing long weekend!! :)

[2022-07-04 13:17] Rajat-Sen opened #419 "Confirm spelling on Language screen"
In French, please confirm the spelling is “Selectionnez” before selecting any language button.

[2022-07-04 13:21] Rajat-Sen opened #420 "Confirm changes on Language screen"
When the default language is French of the phone and you open the app for the first time, the buttons on the language screen should be "Francais" and "Anglais" instead of "Francais" and "English"

[2022-07-04 13:28] Rajat-Sen opened #421 "Make the back button consistent on the Notifications screen"
On empty notifications screen and normally, after receiving the notifications; the back button does not have enough margin from the left. Please make it consistent with the other screens and make sure there is invisible area of 44pxX44px.

[2022-07-04 13:34] zhuelle commented on #410
@weglmar Hi Martyna, please close this ticket if the testing is good. I believe this is the ticket that blocker Production deployment. Once this is closed, the dev team can proceed production deployment. Thanks!

[2022-07-04 13:49] #410 closed

[2022-07-04 13:59] Pharste commented on #399
@ForumG-SC Can you please confirm if they're showing as desktop versions due to the distribution method? I'm not sure if I understand the connection?

As long as there is no desktop version available as discussed when the app first launched, I think we should be ok to leave it as is.

[2022-07-04 14:12] ForumG-SC commented on #399
@Pharste I have reached out to apple to confirm the same, I will post screenshot of their response once I receive it. Thanks.

[2022-07-04 15:22] #302 closed

[2022-07-05 12:49] zhuelle commented on #419
Need Prioritization.

[2022-07-05 12:50] zhuelle commented on #412
Need prioritization.

[2022-07-05 12:50] zhuelle commented on #408
need prioritization.

[2022-07-05 12:51] zhuelle commented on #407
need prioritization.

[2022-07-05 12:58] zhuelle commented on #421
Need prioritization.

[2022-07-05 13:03] zhuelle commented on #394
@Jiandong-Guo have you worked on this ticket?

[2022-07-05 13:04] zhuelle commented on #392
@Jiandong-Guo have you worked on this ticket? if not, please assign back to me. This ticket is requiring prioritization from the business.

[2022-07-05 13:05] zhuelle commented on #390
Need prioritization.

[2022-07-05 13:15] zhuelle commented on #229
@Rajat-Sen is this a ticket that Dilpreet can work on since you are busy with User Research?

[2022-07-05 16:17] payeisa commented on #421
Priority added.

[2022-07-05 16:20] payeisa commented on #419
@Rajat-Sen Can you please provide a bit more details? Where is "Selectionnez" displayed? i.e. I went to Settings - Language - French. If used by screen readers, I would also need the context in which the word is being used as well. Thanks, Isabelle

[2022-07-05 16:21] payeisa commented on #412
Priority added.

[2022-07-05 16:27] payeisa commented on #407
Priority added.

[2022-07-05 16:28] payeisa commented on #390
Priority added.

[2022-07-05 16:30] payeisa commented on #414
Priority added.

[2022-07-05 16:31] payeisa commented on #414
Sorry - assigned priority to wrong ticket.

[2022-07-05 17:12] giftydeep commented on #298
@Jiandong-Guo The tab icons are still cutting off. Here is the screenshot attached below. Please take a look.
Device Info:
Model : A10E
Screen Size: 5.83
Android Version : 11
![Screenshot_20220705-093449_Expo Go](https://user-images.githubusercontent.com/8207028/177380314-dd3422c4-7c90-4436-8aab-d20e4bd83aef.jpg)

[2022-07-05 19:07] weglmar commented on #281
Hi,
As per Kerry's solution in the Jira ticket, the following was recommended:

There are two possibilities for the discrepancies that you see in the App that the mobile team could investigate:
1. There is a problem with the call to the backend web service (such as using incorrect syntax, parameters....) - the mobile app team should verify the syntax and parameters.
2. The StatsCAN mobile app logi

[2022-07-05 19:58] Rajat-Sen commented on #229
@zhuelle Yes, I think that will be the best scenario. Assigning this to Dilpreet!

[2022-07-06 10:12] payeisa commented on #281
@zhuelle Can we please make this a top priority, amongst the major priorities? Based on the thread, the issue seems to be tied to the type of quotes used in the syntax (single vs double). Is that in fact the case? If so, should t-shirt size really be medium? Thanks, Isabelle

[2022-07-06 10:21] payeisa commented on #419
@Rajat-Sen In English, the screen reader should read "Select English" or "Select Français", and in French, the screen reader should read "Sélectionnez Français" or "Sélectionnez English".

[2022-07-06 11:25] Rajat-Sen commented on #419
@payeisa Thanks!

[2022-07-06 11:33] #420 closed

[2022-07-06 13:44] ForumG-SC commented on #399
@Pharste

![Image](https://user-images.githubusercontent.com/84411852/177564690-a5caec93-cf69-48d7-9533-ff3c1cafe7c8.png)

[2022-07-06 13:54] payeisa commented on #408
Priority added.

[2022-07-06 13:59] zhuelle commented on #394
Need prioritization.

[2022-07-06 13:59] zhuelle commented on #392
Need prioritization.

[2022-07-06 14:18] Rajat-Sen opened #423 "Make illustrations consistent on empty screens"
All illustrations need to be consistent on empty screens and properly visible in light and dark mode.

I will be sending the files via email. Thanks!

[2022-07-06 14:22] Rajat-Sen opened #424 "Make the app logo visible in Dark mode"
At present, the onboarding takes place in light mode only. We would like to make the app consistent in both colour modes.

Will be sharing the file via email.

[2022-07-06 14:28] Rajat-Sen commented on #420
@zhuelle, I wasn't sure about this that's why I created this ticket and assigned it to myself only. However, after checking out a few resources, I realized it is working as it should be. Thus, I closed the ticket.

[2022-07-06 14:38] Rajat-Sen opened #425 "Include new enhancements in the prototype"
For the features we have discussed that doesn't require user research. Please add those enhancement screens in the prototype.

For every new feature, once you start working please create a new ticket, assign it to yourself, add label enhancement and add it to the Project board.

After you finished working on the ticket, please assign it to Ellen. Thanks!

[2022-07-06 15:45] Jiandong-Guo opened #426 "SDK 44 is not accepted for build app"
Who is performing Production deployment should monitor it.

![image](https://user-images.githubusercontent.com/58485300/177590626-0a301f59-6c44-4c9f-a8f2-f0f9d4853040.png)

[2022-07-06 15:50] payeisa commented on #414
@Rajat-Sen I would like for us to fix the issues as soon as possible, if that's feasible. However, I'm not sure I understand what you mean re: designing a separate app for tablets? Would that mean two separate apps for StatCan in the stores?

[2022-07-06 15:55] payeisa commented on #392
Priority added.

[2022-07-06 16:43] Rajat-Sen commented on #414
@payeisa Sure, let's start with decreasing the font size on the tablets.

We will only have one app however, when the user is going to open the app on a tablet, it will adjust the layout accordingly.
Redesigning a separate apps is referring to a separate prototype for tablets.

I am going to create a new ticket for that as tablets have different guidelines.

[2022-07-06 17:42] Rajat-Sen commented on #404
Validated!

[2022-07-06 17:42] #404 closed

[2022-07-06 17:46] Rajat-Sen commented on #395
Still cannot see any changes

[2022-07-06 18:05] giftydeep commented on #395
@Rajat-Sen This ticket was not included in this version. Please test in the next release.

[2022-07-06 18:48] giftydeep commented on #419
We are already using the correct spelling of "Selectionnez" for the select language in French. This ticket can be closed. Please confirm @Rajat-Sen.

[2022-07-06 18:54] Rajat-Sen commented on #419
Sounds great, Thanks!

[2022-07-06 19:07] giftydeep commented on #306
All Android Version is Android 12. and 1 crash was reported for Android 9 recently.

![Image](https://user-images.githubusercontent.com/8207028/177623628-672d52ab-776b-4f04-934c-868469da5260.png)

[2022-07-07 11:06] payeisa commented on #414
@Rajat-Sen Thanks for confirming!
@zhuelle Priority added.

[2022-07-07 11:10] payeisa commented on #386
Priority added.

[2022-07-07 11:19] payeisa commented on #378
@zhuelle Per ticket #122, this can be done on the business side by editing the link, and setting the URL to: "tel:PHONE_NUMBER". I'm not sure if this will be implemented since level 3 articles are done in ORPS. Closing this ticket as no action is required from the Dev Team.

@weglmar FYI

[2022-07-07 11:37] payeisa commented on #293
Priority added.

[2022-07-07 11:38] payeisa commented on #374
Priority added.
@zhuelle This should be treated as a top priority please.

[2022-07-07 11:39] payeisa commented on #239
Priority added.

[2022-07-07 12:23] giftydeep commented on #419
@payeisa it is "selectionnez" not "sèlectionnez" (with an accent on the "e"). If required I can update it.

[2022-07-07 18:09] Rajat-Sen opened #427 "Create a separate prototype for the Bigger devices"
At this point, we will be looking to replicate the same design as we have in the app. However, there will be some layout changes which are required for the bigger devices.

[2022-07-07 18:11] Rajat-Sen commented on #303
Agreed!

[2022-07-07 19:20] Rajat-Sen opened #429 "Level-3 Accessibility button"
This ticket is a part of #239 and has been priorritized

When the user goes to level-3 from a publication.

The focus should go to
1. Close button
2. Share button
3. Content on the web-page
4. Back and forward button at the bottom.

Note: The buttons at the bottom toolbar are missing their respective labels.
1. Back arrow at the bottom should labelled as "back" button
2. Forward arrow at the botto

[2022-07-07 19:25] Rajat-Sen opened #430 "Search screen accessibility bugs"
Related to #239

Search screen (First time)
1. On the search screen, when swiping from left to right, the focus should not go to the image inside the search field. This applies to Recent searches, when the user is searching and when there are no results to be displayed.
2. There should be no Focus on the decorative image.
3. Cross icon should be labelled as "clear text icon" button as it is saying

[2022-07-07 19:26] Rajat-Sen opened #431 "Settings screen - Sub menu - Accessibility issues"
Related to #239

Settings screen
1. When a language is selected it should read as "name Language selected " button. For instance if the English language is selected it should read as "English language selected "
2. The other unselected option should be read as "French language" button and vice-versa.

[2022-07-07 19:29] Rajat-Sen opened #432 "For you screen Intro accessibility issues"
Related to #239

For you screen (Intro)
1. The focus should go to the "For you" heading and then go to More options. (It can be tested by activating voiceover on For you page).
2. On the Following screen, select subjects should be labelled as button and it should highlight the whole button instead if Select subjects.
3. On the Saved screen, Go to publications should be labelled as a button as well

[2022-07-07 19:34] Rajat-Sen opened #433 "Settings> Contact us - Accessibility issues"
Related to #239

Settings > Contact us
The focus should be "Go back" button > Heading "Contact us"> Rest of the content.

Important: When the focus goes to the bottom, it should identify "Toolbar" > "Back button" > "Forward button". If the button is disabled it should say "dimmed".

[2022-07-07 19:37] #239 closed

[2022-07-07 20:02] Rajat-Sen commented on #287
@payeisa, What's t-shirt size?

[2022-07-08 17:29] levegab opened #434 "StatsCAN (v1.0.11): Loading Screen - Text Overlap (Android)"
The language toggle needs to be repositioned to not overlap at the top of the screen. See example in image attached. Device used: Android S9
![Screenshot_20220707-072728_StatsCAN](https://user-images.githubusercontent.com/106617357/178041513-9dda7c8d-db08-415e-85f5-ad6461c3c58b.jpg)
.

[2022-07-08 17:35] levegab opened #435 "StatsCAN (v1.0.11): Terms of Use - Dark Mode Doesn't Display Properly"
During onboarding, the Terms of Use screen does not display properly in dark mode (see attached).

Happening on Samsung S9 (phone) and iPhone X, iOS 15.5 when devices are in dark mode.

![Screenshot_TermsofUSe](https://user-images.githubusercontent.com/106617357/178041798-dbef4b45-3acc-4498-8650-4eb54b72a8a1.jpg)

[2022-07-08 19:37] lamokar10 opened #436 "Create List of saved articles"
https://confluenceb.statcan.ca/display/SPMA/Feature+x.x+Create+List%28s%29+of+saved+articles

[2022-07-08 19:37] lamokar10 opened #438 "Monitor in-app metrics"

[2022-07-08 19:38] lamokar10 opened #439 "Read content in landscape mode"
https://confluenceb.statcan.ca/display/SPMA/Feature+x.x+Read+content+in+landscape+mode

[2022-07-08 19:38] lamokar10 opened #440 "Request feedback"

[2022-07-08 19:38] lamokar10 opened #441 "Related articles suggestion"

[2022-07-11 11:45] zhuelle commented on #287
@Rajat-Sen t-shirt size means work effort. Currently, the dev team is providing work effort or t-shirt size to help Isabelle to assign priority to any ticket.

@payeisa would you like that UX to provide work effort or t-shirt size as well? For this ticket specific, you would like to know how much time that Rajat spends to add more details?

[2022-07-11 11:53] zhuelle commented on #239
@Rajat-Sen Do we still need this ticket given that you have divided this ticket into sub-tickets? If not, please close it. Thanks!

[2022-07-11 11:55] payeisa commented on #287
@zhuelle Great question! So far, I believe only the Dev team has been estimating, right? We have not included design work in the t-shirt sizes. Is this something we should start doing, or should we keep the t-shirt sizes for Dev only?

[2022-07-11 12:07] Rajat-Sen commented on #239
@zhuelle, I closed this ticket 4 days ago!

[2022-07-11 12:53] ForumG-SC commented on #426
@Jiandong-Guo Please add expo-analytics-segment 11.1.2 because expo had asked everyone to install that to get rid of this error and I believe that you had removed this package in one of your previous commit.

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/84411852/178268298-767ecab5-9955-4123-8d9e-24e2f2c88ac8.png">

reference:
<img width="774" alt="image" src="https:

[2022-07-11 14:24] Jiandong-Guo commented on #426
From :https://github.com/expo/expo/issues/17845
![image](https://user-images.githubusercontent.com/58485300/178283695-c448902b-5db9-4c75-8336-08d87ef97018.png)
![image](https://user-images.githubusercontent.com/58485300/178283989-a77e87f5-8954-47d2-afc2-03eb6238f901.png)

My concern:
1)This package will collect user info, if no choice we have to use it, is it allowed by our security rule  ?
2) We

[2022-07-11 14:55] ForumG-SC commented on #426
It is not related to the package auto upgrading, this issue was also there last month and it was on Expo' side, they came up with quick fix by adding segment package. They keep on upgrading the things in their sdk. I already created new branch , Auto upgrading packages will now on get affected on separate branch called "UpgradePackages" after tested can be merged to master.

[2022-07-11 17:29] Jiandong-Guo commented on #281
@payeisa, the investigate result from front end:
1)Currently, the API call is using https://www.statcan.gc.ca/o1/en/api/plus/article?published_after="2021-11-09"&page=0
2) Every time the publication tab gets focus, the same API will be called again.
Also please provide more information on:
3) Does it happen for every day(I mean the every new publishing) ? if not, that means it's not the problem of

[2022-07-12 12:23] Rajat-Sen opened #442 "Confirm "Français" spelling"
On the following screens, please ensure "Français" is spelt correctly with the cédille “Ç”.

1. When the user launches the app for the first time, and have the option to select language.
2. On the settings > Language, where the user has the option to change the language.

[2022-07-12 12:40] Rajat-Sen opened #443 "Provide translation for back button in French"
When using voiceover in French version of the mobile app, the back button has not been translated and please provide the correct translation.

In English the label we use is "Go back" button.

[2022-07-12 14:20] zhuelle commented on #426
@Jiandong-Guo Have you read Forum's comments above? should we keep this ticket open and monitor it by who is performing deployment?

[2022-07-12 14:24] Jiandong-Guo commented on #426
@zhuelle ,Yes, as discussed yesterday, we keep it open for monitoring in next couple of deployment

[2022-07-12 14:57] zhuelle commented on #281
@weglmar and @payeisa Jiandong has completed analysis on the app front side. Please see the comment above from him. There are several items requiring the business feedback (#3, #4, #5, #8). I will assign the ticket back to Martyna for now. Thanks!

[2022-07-12 15:50] giftydeep commented on #338
@Jiandong-Guo It fails at the 2 step when we use gesture and let the screen reader to read the content. However when i use one finger to swipe Left to Right it Failed at step 8.
https://user-images.githubusercontent.com/8207028/178533787-fe888381-2125-4d68-89ff-a7e95f6ed0d4.mp4

[2022-07-13 17:43] ForumG-SC commented on #398
@Pharste Hi Stephanie, the promo text was updated this morning at 7:00 am, could you please confirm if you see it live in the stores? If so, than we can close this ticket. Thanks.

[2022-07-13 18:11] Pharste commented on #398
Thank you @ForumG-SC ! I see it live, and will close the ticket.

[2022-07-13 18:11] #398 closed

[2022-07-13 18:41] Jiandong-Guo commented on #286
iPhone 12:
![Simulator Screen Shot - iPhone 12 Pro - 2022-07-13 at 14 16 41](https://user-images.githubusercontent.com/58485300/178807261-745826e4-883d-4a1e-8ad4-e48fc357861a.png)

iPad:
![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2022-07-13 at 14 18 04](https://user-images.githubusercontent.com/58485300/178807265-7ecf196f-81c0-4492-8f68-6eb937d0c92c.png)

[2022-07-13 19:27] Jiandong-Guo commented on #270
@ForumG-SC,This is the test from Pix 5 emulator:
![image](https://user-images.githubusercontent.com/58485300/178815548-96340a0d-1203-4574-b41e-c7959d0a5cda.png)

[2022-07-14 10:48] payeisa commented on #435
@zhuelle I prioritized this ticket - can IT please add a t-shirt size? Thanks, Isabelle
@weglmar FYI

[2022-07-14 10:49] payeisa commented on #434
@zhuelle I prioritized this ticket - can IT please add a t-shirt size? Thanks, Isabelle
@weglmar FYI

[2022-07-14 11:55] levegab commented on #434
That is correct @zhuelle.

[2022-07-14 12:06] weglmar opened #444 "Change app compatibility in Google Play Store"
To remain consistent with our FAQ on the website, could the "Requires Android" portion in the "About this app" section on the Google Play Store be modified to 7.0 and up?
Thank you!

![image](https://user-images.githubusercontent.com/98898969/178977420-13541707-0b30-46b4-a70f-77a74b5553c1.png)

@payeisa assigning for priority :)

[2022-07-14 13:14] ForumG-SC commented on #435
Related to https://github.com/StatCan/StatcanPublicationUAT/issues/315

[2022-07-14 13:52] Jiandong-Guo commented on #270
This is pix5
![image](https://user-images.githubusercontent.com/58485300/178998577-7914d17a-9a59-4bd0-bf4d-ccffd8b85b59.png)

[2022-07-14 13:56] Jiandong-Guo commented on #270
This is from iPhone pro 12
<img width="340" alt="Screen Shot 2022-07-14 at 9 54 52 AM" src="https://user-images.githubusercontent.com/58485300/178999549-aafad1ea-7e5a-493c-8622-d800fb527de9.png">
:

[2022-07-14 13:59] ForumG-SC commented on #270
@Jiandong-Guo Seems to be okay on iPhone 12 Pro :
![image](https://user-images.githubusercontent.com/84411852/179000205-ac6b8aab-f1f2-432c-a832-5173dbcdfd0e.png)

[2022-07-14 14:04] Jiandong-Guo commented on #270
you can test after with different font-size

[2022-07-14 14:05] ForumG-SC commented on #270
Thanks for testing.

[2022-07-14 16:39] ForumG-SC commented on #270
@payeisa I have tested the new fix in different screen sizes and devices, issue seems to be resolved, however could you please test it in your device in the next release? Thanks.

[2022-07-14 16:50] ForumG-SC commented on #294
@Rajat-Sen Hi Rajat, this is how it looks when opacity is implemented:

![Image](https://user-images.githubusercontent.com/84411852/179036171-a84de25d-41c8-4a01-a490-26bedd3d1bfc.png)

[2022-07-14 17:07] ForumG-SC commented on #399
@Pharste Hi Stephanie, could we close this ticket ?

[2022-07-14 17:24] ForumG-SC commented on #294
@Rajat-Sen Please test in next release.

[2022-07-14 21:22] ForumG-SC commented on #434
@levegab This ticket can be closed as it is duplicate ticket, refer to https://github.com/StatCan/StatcanPublicationUAT/issues/388

[2022-07-15 12:34] zhuelle commented on #287
@payeisa You are right that currently, only Dev team is providing estimates for helping prioritization. I discussed with Rajat, it is ok to provide t-shirt sizes for UX work if required. I propose that we can keep the estimating process on all development tickets. For UX and BA, the effort can be provided when needed. Please let me know if you are ok with this approach. Thanks!

[2022-07-15 15:37] weglmar opened #445 "Share this app feature not displaying link to App store (Facebook)"
When sharing the app on Facebook, only the Google Play Store link is posted.
The default text "Do you have the StatsCAN app..." should be posted here with the Apple Store link as well.

![image](https://user-images.githubusercontent.com/98898969/179257323-fe745f37-e0a5-44c0-9129-62fbe9c8e8d4.png)
![image](https://user-images.githubusercontent.com/98898969/179257330-6b0d7944-6f4d-4f73-aaaf-6047f04b

[2022-07-15 15:38] weglmar commented on #445
Closing since this is a duplicate ticket.
https://github.com/StatCan/StatcanPublicationUAT/issues/271

[2022-07-15 15:38] #445 closed

[2022-07-15 15:44] weglmar opened #446 "Changes required to text when Sharing a publication"
When sharing a publication by email, the heading "Application StatsCAN" should be bilingual.
In French it should be "Application StatsCAN / StatsCAN app" and in English it should be "StatsCAN app / Application StatsCAN".

![image](https://user-images.githubusercontent.com/98898969/179258706-a5012e18-bd4c-4aa2-837c-3264b4dbdf35.png)

[2022-07-15 15:53] weglmar commented on #371
Hello,
The user is still experiencing the issue.

![Screenshot_20220712-114704 (004)](https://user-images.githubusercontent.com/98898969/179260154-10391115-9bc9-4bc2-98e7-556b43f5dcb5.png)

![Screenshot_20220712-114704 (006)](https://user-images.githubusercontent.com/98898969/179260188-98ef7274-95bf-48c0-80d2-e4b9dcb7a49e.png)

![Screenshot_20220712-114651](https://user-images.githubusercontent.co

[2022-07-19 17:35] ForumG-SC commented on #388
@Rajat-Sen Fixed, here is the screenshot from Pixel 3 emulator:
![image](https://user-images.githubusercontent.com/84411852/179811576-6d2808b9-80e1-4b3f-a0a0-a63fbbdf4c75.png)

Same issue was detected in the device Android S9 by @levegab in the ticket https://github.com/StatCan/StatcanPublicationUAT/issues/434

It has been fixed, here is the screenshot from the Android S9 emulator:
![image](https:

[2022-07-20 17:12] Jiandong-Guo commented on #338
It missed the deployment today, will wait for next release

[2022-07-21 00:41] ForumG-SC commented on #416
@zhuelle Hi Ellen, Migration from classic build to EAS build has been completed for the prod.

I will be doing New sprint's(August) deployment as well to finish off the process, I have created new ticket co-related to this ticket for more details please refer to:

[2022-07-21 00:41] #416 closed

[2022-07-21 00:41] ForumG-SC opened #447 "EAS Build Autosubmissions and strategy for ALPHA app deployment"
When we migrate from classic expo build to EAS Build for the first time we have to do submissions to the stores manually in the deployment as per their rules.

To get full advantage of the migration to EAS build we have to use their automation submission process for some steps to save time in the deployment,  which can only be tested and implemented in 2nd EAS build deployment.

Also, the current

[2022-07-21 13:12] zhuelle commented on #443
Hi @Rajat-Sen , do we need the translation from the business? If yes, I will assign to the business.

[2022-07-21 13:14] zhuelle commented on #434
@levegab Would you please confirm if the ticket is duplicate? If yes, please close this one. Thanks!

[2022-07-21 15:14] zhuelle commented on #181
@payeisa and @weglmar
We discussed this ticket during our IT daily stand-up. The developer is researching to find a solution to resolve the following issue:
When the app is set up as Auto in the Color Theme setting, if the user changes the OS Color Theme setting from Light to Dark, the app does not change to the Dark mode immediately if the app is open or during run-time. The app is going to pick

[2022-07-21 16:12] Rajat-Sen commented on #443
@zhuelle Yes, please assign this ticket to business.

[2022-07-21 16:25] zhuelle commented on #443
@weglmar I assign this ticket to you to get proper French translation as required. Also, if you can ask Isabelle to assign a priority to this ticket after will be great, Thanks!

[2022-07-25 13:10] zhuelle commented on #444
@weglmar I would like to confirm if you would like to change the Android version to 7.0 and up on the StatsCan web site as it currently shows 5.0 and up (from the attached picture)? Based on Forum, after EAS build migration, we can only be able to support Android 7.0 and up. Thanks!

[2022-07-25 15:32] Pharste commented on #446
Validated.

[2022-07-25 15:32] #446 closed

[2022-07-25 18:53] ForumG-SC commented on #444
@weglmar Fix has been applied, please test it in the next release. Thanks.

[2022-07-25 19:22] Rajat-Sen commented on #415
Since, the research has been postponed! It's still valuable to get the business objectives.

By doing this we can figure out the context in which users might find the features helpful!

[2022-07-27 20:32] weglmar opened #448 "Due Aug 9: Test in Alpha for delays in publishing"
Placeholder ticket for testing.

[2022-07-27 20:52] weglmar commented on #443
Hello, the French translation is " revenir en arrière "

[2022-07-28 13:43] Rajat-Sen opened #449 "Create user flow diagram"
To improve the efficiency of the common tasks for users.

[2022-07-28 17:17] radwahm commented on #439
Documentation complete. Awaiting sign off.

[2022-07-28 20:04] Jiandong-Guo commented on #426
Warning Message: expo-app-loading is deprecated

[2022-07-29 13:54] Pharste opened #450 "DUE Aug 4: Update promo text"
Hi,

We would like to update the Apple promo text on August 4 with the following:

EN: 2021 Census data on Canada's linguistic diversity and use of English and French will be available August 17, 2022.

FR: Des données du Recensement de 2021 sur la diversité linguistique et l’utilisation de l’anglais et du français au Canada seront publiées le 17 août 2022.

Thank you!

[2022-07-29 14:29] Jiandong-Guo commented on #181
@ForumG-SC ,When I run master it shows
![image](https://user-images.githubusercontent.com/58485300/181781843-ecead09a-64c7-4a6d-96ef-ff03b401e35e.png)
Which version of expo-cli are you using ?

[2022-07-29 15:22] ForumG-SC commented on #181
@Jiandong-Guo Hi Jiandong, In the pull request...I don't think you need to add yarn-error log file, it is not needed. The reason why after adding app.json it is not running because you have missing package, just run the command : expo install expo-build-properties , it will add the package and error will be resolved.
![image](https://user-images.githubusercontent.com/84411852/181780543-3b8732f8-b7

[2022-07-29 19:22] Rajat-Sen opened #451 "App not saving search keywords"
When the user searches for something, and goes to another screen. It saves the keyword and shows it.

However, if the user closes the app and opens it up back again. There won't be anymore keywords saved.

[2022-07-29 19:27] Rajat-Sen commented on #181
Not working!

[2022-07-29 19:28] Rajat-Sen commented on #395
Validated!

[2022-07-29 19:28] #395 closed

[2022-07-29 19:40] Rajat-Sen commented on #286
Validated!

[2022-07-29 19:40] Rajat-Sen commented on #388
Validated!

[2022-07-29 19:45] Rajat-Sen commented on #419
@giftydeep, Validated!

[2022-07-29 19:48] zhuelle commented on #181
@Rajat-Sen this ticket has not been released yet as it didn't make to the last release :)

BTW, on the Release board, if you see a ticket in "Require IT testing" category and assigned to you but the Version column is empty, this means the ticket has not been released yet. Once it is released, the developer who is doing the release will manually put a version number in the field.

[2022-07-29 21:20] #388 closed

[2022-07-29 21:21] #286 closed

[2022-07-29 21:21] #419 closed

[2022-08-02 13:57] weglmar commented on #116
**Search results (EN):**
Missing a period as per text above.

![image](https://user-images.githubusercontent.com/98898969/182391970-b311052e-b941-4fd4-92f4-46aeddc5511b.png)

**Search results (FR):**
Does not reflect the message provided above. It should be: Les résultats de la recherche sont limités à un maximum de 20 publications.

![image](https://user-images.githubusercontent.com/98898969/1823

[2022-08-02 14:05] weglmar commented on #399
HI @ForumG-SC, is it possible to clarify if by purchasing through iTunes via PC or Mac, this means it can also be used on PC or Mac? We would not want this to be the case, Thank you!

[2022-08-02 14:11] weglmar commented on #270
It looks good on Android, but I'm attaching an image from my iPhone X. It also displays this way on Stephanie's iPhone XR.

![image](https://user-images.githubusercontent.com/98898969/182395502-033588d0-8118-46e3-a511-5a249de45a8b.png)

[2022-08-02 14:24] ForumG-SC commented on #399
@weglmar I have contacted apple to clarify it for us, we can expect to get a reply within a day or two. Thanks.
![image](https://user-images.githubusercontent.com/84411852/182398332-16942c26-ed4a-4191-be0c-f081c58fead7.png)

[2022-08-02 14:39] ForumG-SC commented on #270
@weglmar Thanks for testing, I don't have iPhone 10 or XR simulator or real device ,  iPhone 10 has display screen of 5.85 inches, currently I am testing and working on fix on iPhone 11 Pro as it has display screen size of 5.8 inches which is not exact but closest to iPhone 10 , I will be applying new fix to resolve the issue for iPhone 10 and XR in the next release for you to test again.

[2022-08-03 13:09] giftydeep commented on #407
I have tested few third party libraries which are not fully supporting accessibility. So i think we should stick to WebView for now.

[2022-08-03 13:13] ForumG-SC commented on #426
@zhuelle This ticket can be closed as we are not using sdk44 anymore, currently we are using expo sdk 55.

[2022-08-03 15:50] #426 closed

[2022-08-03 19:38] Pharste opened #452 "Due Aug 17: Update promo text"
Hi,

We would like to update the Apple promo text on Wednesday, August 17, to:

EN: 2021 Census data on Canada's linguistic diversity and use of English and French are now available!

FR: Des données du Recensement de 2021 sur la diversité linguistique et l’utilisation de l’anglais et du français au Canada sont maintenant accessibles!

Thank you!

[2022-08-03 19:41] ForumG-SC commented on #452
@Pharste Is this duplicate ticket? https://github.com/StatCan/StatcanPublicationUAT/issues/450

[2022-08-03 19:45] Pharste commented on #452
@ForumG-SC I've removed this text from the previous ticket, and included it here to simplify the process. :)

[2022-08-04 12:05] weglmar commented on #399
Thank you, @ForumG-SC :)

[2022-08-04 12:05] #399 closed

[2022-08-04 13:59] giftydeep commented on #298
waiting on wifi to discuss this ticket in person with Jiandong.

[2022-08-04 14:00] giftydeep commented on #311
waiting on wifi to discuss this ticket in person with Jiandong.

[2022-08-04 14:01] giftydeep commented on #369
This ticket can be closed after we apply the fix for #338.

[2022-08-04 14:31] Jiandong-Guo commented on #338
Waiting for MiFi and discuss it in person.

[2022-08-04 17:12] weglmar commented on #444
![Image](https://user-images.githubusercontent.com/98898969/182910725-ee8b492d-cb77-4c0e-9e81-e394f57e4106.png)

Android 5.0 and up is still displaying on my end

[2022-08-04 17:16] weglmar commented on #116
Validated.

[2022-08-04 17:16] #116 closed

[2022-08-04 17:18] zhuelle commented on #444
@weglmar I believe this page is not managed by the mobile dev team. You need to contact dissemination to get it changed.

[2022-08-04 17:34] weglmar commented on #270
@ForumG-SC I tested on my iPhone X after release 2.0.1 and it remains the same as the image above. I changed the priority of this ticket to minor to focus on other tickets. Thank you!

[2022-08-04 17:35] weglmar commented on #444
@zhuelle the screenshot is from the Google Play Store - https://play.google.com/store/apps/details?id=com.statcan.StatCan. Is that managed by DISS?

[2022-08-04 17:45] Pharste commented on #450
validated and closed - thank you @ForumG-SC !

[2022-08-04 17:45] #450 closed

[2022-08-05 14:17] weglmar commented on #270
https://user-images.githubusercontent.com/98898969/183095506-d9ec7134-647f-4f29-b70a-5c12a51a64bc.MP4

@ForumG-SC

[2022-08-05 19:26] zhuelle commented on #448
This testing is related to issue in #281

[2022-08-08 14:30] weglmar commented on #270
@ForumG-SC Hi Forum, I think maybe this is a new issue now! The icon looks okay but the text is not centered in the box.

![Image](https://user-images.githubusercontent.com/98898969/183441034-ca51fe3a-3ad1-4a6b-b205-2c2f9637e675.png)

This issue is minor so I am not too worried but it should be fixed to ensure consistent design.
Thank you! :)

[2022-08-08 15:56] Pharste commented on #448
Hi,

This testing is scheduled for August 9, after 11:30 AM.

The following articles will be published:

1. Refined petroleum products, June 2022 (11:32 AM)
2. Employment Insurance, May 2022 (11:33:30 AM)
3. Poultry and egg statistics, June 2022 (11:35:15 AM)
4. Sawmills, April 2022 (11:36 AM)
5. Non-profit institutions and volunteering: Economic contribution, first quarter 2022 (11:37:35 AM)
6. C

[2022-08-09 12:54] weglmar commented on #439
Signed off on August 9.

[2022-08-09 13:15] zhuelle commented on #439
Hi, I would like to confirm that this ticket has its specification completed and signed off by the business. Therefore it should be in Ready for Development status instead of Resolve. Thanks!

[2022-08-09 14:04] zhuelle commented on #448
Has confirmed with @Jiandong-Guo and he will be the one to test as planned.

[2022-08-09 16:09] Jiandong-Guo commented on #448
This is my test result
![image](https://user-images.githubusercontent.com/58485300/183700971-bd3b8007-2e07-4f49-b8cb-0095f772f3de.png)

From this test, I can basically eliminate the server side problem.
The delay happens in javascript api call, seems the react native is keeping a cache for a 2 minutes of time,  will do more investigation

[2022-08-09 19:48] zhuelle commented on #407
@weglmar Gagandeep has spent a good amount of time on this new feature (I saw it in the new feature list) but he is not able to identify a third-party library to support a new solution other than web view due to accessibility limitation. The dev team is proposing to put this On-Hold and working on other major enhancement for now. Please let me know if it is ok with you. Thanks!

[2022-08-10 17:48] weglmar commented on #444
@ForumG-SC Hi Forum, thank you for the information. That makes sense about having to deploy to see the change, I didn't think of that :)

For Android version 12 and up - What does this mean for our app users? If they are not on Android 12, what will happen? Will the app not function at all? Will we potentially lose users?
Also, what is the est. development effort/time?

Thanks!

[2022-08-10 17:51] weglmar commented on #448
@Jiandong-Guo That's great news that you have eliminated the server side problem! Keep us posted on your investigation. Thank you for your work on this, Jiandong!

[2022-08-10 17:57] weglmar commented on #439
@zhuelle yes, it has been signed off. Thank you, Ellen. Moving forward I will ensure I remove the waiting for business sign off label and will assign the ticket back to @radwahm

[2022-08-10 17:58] Pharste commented on #448
@JulieBond FYI

[2022-08-10 18:19] weglmar opened #453 "StatsCAN v2.0.1: Colour theme > Auto not functioning as expected"
When selecting Colour theme > Auto from the Settings menu, the app does not adjust to the user's phone settings.

For example, my phone is in Dark mode. When I select Auto, the app remains in the Light colour theme.
This is happening on iOS and Android devices.

https://user-images.githubusercontent.com/98898969/183987339-2a82580f-8745-4b4e-8eea-de5a06bbf776.mov

[2022-08-11 13:40] zhuelle commented on #453
@Jiandong-Guo would you please evaluate this ticket and put an effort estimate to it? Thanks!

[2022-08-11 13:43] zhuelle commented on #281
Based on our testing #448 , the issue is on the mobile app side and Jiandong will look into it.

[2022-08-11 14:03] Jiandong-Guo commented on #453
@weglmar, From your video, I saw your app setting is in light mode.  the app reflects OS setting only under AUTO mode
Please test following following steps:
1)Go to App setting and choose Auto mode and keep it in AUTO mode,
2)Go to OS setting, choose light, switch back to our app screen(publication screen for example),  you may see the change based on your original setting
3)Switch to OS setting,

[2022-08-11 14:33] Jiandong-Guo commented on #453
@weglmar, Seems the change is not merged into master, let me check it.

[2022-08-11 14:52] weglmar commented on #453
@Jiandong-Guo would you like to see a screen recording from the steps above? No changes take place when I switch my OS settings to Light or Dark and keep the app in Auto. The screens remain Light.

[2022-08-11 17:26] Pharste commented on #452
@zhuelle it will have to be updated on August 17 to announce the latest census release. Thanks!

[2022-08-11 18:38] Jiandong-Guo commented on #453
Code conflicts were found in master configuration.
@weglmar, It is not working for current version. will let you know if I can build a new version in next release

[2022-08-16 03:10] Rajat-Sen commented on #408
Did someone worked on this ticket as I cannot see any changes?

[2022-08-16 03:15] Rajat-Sen commented on #294
![Screenshot_20220815-231356.png](https://user-images.githubusercontent.com/38566088/184790681-1041f80c-0f5e-4f2c-ac88-0043c9ec9b3a.png)
![Screenshot_20220815-231300.png](https://user-images.githubusercontent.com/38566088/184790691-722c1903-42fd-4098-b97d-161ee68afcdd.png)

[2022-08-16 03:16] Rajat-Sen commented on #294
On notifications screen, it hasn't been implemented properly.

[2022-08-16 17:18] giftydeep commented on #369
@zhuelle I am going to resolve this ticket and assign it to @Rajat-Sen for testing, Since we agreed to include #338 in this deployment.

[2022-08-17 13:38] zhuelle commented on #453
link to #181

[2022-08-17 14:36] giftydeep commented on #452
Updated.

[2022-08-17 18:08] Rajat-Sen commented on #393
Validated!

[2022-08-17 18:12] Rajat-Sen commented on #443
Validated!

[2022-08-17 18:12] #443 closed

[2022-08-17 18:16] Rajat-Sen commented on #294
Validated!

[2022-08-17 18:16] #294 closed

[2022-08-17 18:18] Rajat-Sen commented on #403
Validated!

[2022-08-17 18:18] #403 closed

[2022-08-17 18:21] Rajat-Sen commented on #181
Validated!

[2022-08-17 18:21] #181 closed

[2022-08-17 18:25] Rajat-Sen commented on #369
Not working! Please refer to the attached screenshot.

[2022-08-17 18:25] Rajat-Sen commented on #369
![image](https://user-images.githubusercontent.com/38566088/185215049-155214ce-fffe-4a67-be70-b9384002f026.png)

[2022-08-17 18:28] Rajat-Sen commented on #408
Validated!

[2022-08-17 18:28] #408 closed

[2022-08-17 18:29] Rajat-Sen commented on #338
Still not working correctly!

[2022-08-17 18:31] Rajat-Sen opened #456 "Translations in French language"
Could we get the translations in French?

English language selected
French language selected

[2022-08-17 19:11] weglmar commented on #456
Hey @Pharste, could you or Julie please send the above to translations? Thank you!

[2022-08-17 19:31] weglmar commented on #453
Validated

[2022-08-17 19:31] #453 closed

[2022-08-18 02:54] #452 closed

[2022-08-18 12:24] weglmar commented on #303
@ForumG-SC Hi Forum, here is my device info:

Device Type: iPhone X

Device Screen Size: 5.8 inches

Device Screen Resolution: 2436 x 1125

Device’s OS version info: 15.5

[2022-08-18 14:17] Jiandong-Guo commented on #298
Actually these are 2 issues:
1)The welcome screen is a simple style problem and nothing related to 338, and nothing related to tab, because when it shows the tab is not created yet.
2)The Tab control cut-off issue, I think it doesn't exist anymore since we changed the tab control long time ago, please check it

[2022-08-18 14:20] Jiandong-Guo commented on #338
Please tell me the order of reading in current version

[2022-08-18 14:56] Jiandong-Guo commented on #448
@weglmar @zhuelle ,Please tell me the publishing time in the next week in prod, if it is not feasible, please arrange another time of publishing in alpha same like last time.  So I can test code with it.

[2022-08-18 15:30] Jiandong-Guo commented on #414
@payeisa Please tell me the tablet name(I mainly need the screen size).   Also what do you mean "the display on iPad seems off on several screens" ?  all those screens(images above) are scrollable,  same as that in phone.
What I will do is to change the font size for tablets

[2022-08-18 18:42] weglmar commented on #448
@Jiandong-Guo we post every day in Production between 8:30 and 9 AM. we would have to provide the time to you the morning of, with short notice because we need to wait for the articles to be posted on the website first, then we create them and publish them in the app before 9 AM.
Would you be available tomorrow, Friday or sometime next week between 8:30 and 9?

[2022-08-18 18:52] weglmar commented on #414
@Pharste could you please provide Jiandong with:
Device Type
Device Screen Size
Device Screen Resolution

@Jiandong-Guo Stephanie will provide the information, she was testing on her iPad. As for the screens, the font is not consistent. For example, "Search publications" seems very small compared to the magnifcying glass and other text on the page.

![image](https://user-images.githubusercontent.c

[2022-08-18 20:08] Pharste commented on #414
@Jiandong-Guo I was testing on iPad Pro (12.9 inch) (4th generation), resolution 2048x2732 px

[2022-08-19 13:38] zhuelle commented on #293
@Rajat-Sen Please close this ticket if it is not required at current stage. Thanks!

[2022-08-19 14:06] Jiandong-Guo commented on #448
Hi @weglmar, Is Tuesday(August 23rd) good for you ?

[2022-08-19 16:02] Pharste commented on #456
Here are the translations:
Anglais sélectionné
Français sélectionné

[2022-08-19 18:00] Pharste commented on #456
@Rajat-Sen What is this text for? I'd like to update our document with all terms for the app with it. :)

[2022-08-19 18:10] Rajat-Sen commented on #456
@Pharste, When a user with disability is on the Settings screen and using voiceover, it's to make the comprehension easier. Earlier, it was only saying Anglais or Français.

[2022-08-19 18:41] weglmar commented on #448
@Jiandong-Guo yes Tuesday works for us. It will be in Production. We will comment on this ticket on Tuesday morning (between 8:30 and 9) with the times of the articles.

[2022-08-23 12:27] weglmar commented on #448
Hi @Jiandong-Guo, we are getting ready to publish this morning, we will send the publishing times shortly

[2022-08-23 12:29] Jiandong-Guo commented on #448
@weglmar Good

[2022-08-23 12:47] weglmar commented on #448
Refined petroleum products, July 2022 - 8:50 AM
Travel between Canada and other countries, June 2022 - 8:51:10 AM

@Jiandong-Guo I am sending 3 more

[2022-08-23 12:49] weglmar commented on #448
Livestock estimates - 8:52 AM
Cancer incidence in Canada, 2019 - 8:53 AM
Travel between Canada and other countries, June 2022 - 8:54:15 AM

@Jiandong-Guo That's all of them!

[2022-08-23 12:55] Jiandong-Guo commented on #448
@weglmar ,The test is good, Please test it in the next release from your side.   Thanks

[2022-08-23 12:58] weglmar commented on #448
@Jiandong-Guo thank you!! 👍

[2022-08-23 13:52] Jiandong-Guo commented on #393
This is from android emulator:
![image](https://user-images.githubusercontent.com/58485300/186175152-3c9e5ed0-32e8-4f0a-861d-1fb64bf7139b.png)

The cause is
![image](https://user-images.githubusercontent.com/58485300/186175369-96fa0bd7-8c0b-4e43-9e9b-ae1ec323339e.png)

if you switch to the original code
![image](https://user-images.githubusercontent.com/58485300/186175594-98c02ad4-1ae3-4d8e-90a1-9

[2022-08-23 14:47] Jiandong-Guo commented on #414
This is the screenshot when text size set to min(It's very small already):
![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-08-23 at 10 42 08](https://user-images.githubusercontent.com/58485300/186188948-68ec51ca-0343-41ca-b2e8-a15e27fb02d6.png)

[2022-08-23 15:03] levegab commented on #435
This issue has been resolved.

[2022-08-23 15:03] #435 closed

[2022-08-23 15:08] levegab commented on #444
This issue has been resolved!

![Image](https://user-images.githubusercontent.com/106617357/186194254-36aca5b5-cc5c-43a1-9eec-ae567c74eaf3.jpg)

[2022-08-23 15:08] #444 closed

[2022-08-23 15:24] radwahm commented on #229
Documentation complete. Awaiting Business Sign-off.

[2022-08-23 15:31] radwahm commented on #229
https://confluenceb.statcan.ca/display/SPMA/Feature+x.x+-+Back+to+Top

[2022-08-23 18:13] Rajat-Sen commented on #293
Closing this ticket as the For you screen is going to be transferred to Publications screen

[2022-08-23 18:13] #293 closed

[2022-08-24 15:32] Rajat-Sen commented on #430
Closing this ticket for now as we are going to change it.

[2022-08-24 15:32] #430 closed

[2022-08-24 15:35] Rajat-Sen commented on #390
Closing this ticket for now as we are going to change it.

[2022-08-24 15:35] #390 closed

[2022-08-24 15:37] Rajat-Sen commented on #384
Closing this ticket for now as we are going to change it.

[2022-08-24 15:37] #384 closed

[2022-08-24 15:40] Rajat-Sen commented on #153
Closing this ticket for now as we are going to change it.

[2022-08-24 15:40] #153 closed

[2022-08-24 15:41] Rajat-Sen commented on #392
Closing this ticket for now as we are going to change it.

[2022-08-24 15:41] #392 closed

[2022-08-24 18:06] Pharste opened #458 "Notifications screen message spacing issue"
On the blank notifications screen, the message that appears is indented on the page, and doesn't match the prototype.

![Notifications screen message](https://user-images.githubusercontent.com/89025880/186490645-87797978-4811-4f29-b0cb-444cf747822f.png)

[2022-08-24 18:40] weglmar commented on #229
User story signed off August 24th

[2022-08-30 14:23] Jiandong-Guo commented on #298
@giftydeep
This is the screen shot from android 8-Fold_out emulator:
![image](https://user-images.githubusercontent.com/58485300/187462551-f5b35b8c-4519-4e86-a699-d046b197b040.png)

[2022-09-06 17:00] giftydeep commented on #298
Since @Jiandong-Guo is using Samsung Fold for testing, which has very wide screen and completely different aspect ratio than other Samsung Phone. Also the Height and Width is hard coded for some of the screen that's why it is not very responsive when the screen sizes change. At this moment this issue has been fixed on all other models except Fold. I will be creating new ticket for fixing Height an

[2022-09-06 18:44] Pharste opened #459 "Due Sept 8: Update apple promo text"
Hi,

We would like to update the Apple promo text on September 8 to:

EN: Available September 21: 2021 Census data on Canada's First Nations people, Metis and Inuit; and Canada's housing portrait.

FR: Diffusion le 21 septembre : les données du Recensement de 2021 sur les Premières Nations, les Métis et les Inuits au Canada, ainsi que le portrait du logement au Canada.

Thanks,
Stephanie

[2022-09-06 18:44] Pharste commented on #459
@weglmar FYI

[2022-09-08 13:01] Jiandong-Guo commented on #459
It's done.

[2022-09-08 14:02] radwahm opened #460 "Combining the Welcome screen and Terms of Use screen"
https://confluenceb.statcan.ca/display/SPMA/Feature+1.2+-+Combining+the+Welcome+and+Terms+of+Use+screens

[2022-09-08 14:03] radwahm opened #461 "Introduce a Subjects of Interest screen in the Onboarding screen"
https://confluenceb.statcan.ca/display/SPMA/Feature+1.2+-+Introduce+a+Subjects+of+Interest+screen+in+the+Onboarding+screen

[2022-09-08 14:04] radwahm opened #462 "Implement a “lazy loading” screen"
https://confluenceb.statcan.ca/display/SPMA/Feature+x.x+-+Implement+a+Lazy+Loading+Screen

[2022-09-08 14:04] radwahm opened #463 "Modify the Home (Publications) screen to now include an “All” tab and a “For You” tab"
https://confluenceb.statcan.ca/pages/viewpage.action?pageId=978065082

[2022-09-08 14:05] radwahm opened #464 "Changes to "All" tab"

[2022-09-08 14:05] radwahm opened #465 "Changes to the navigation (bottom) bar"
https://confluenceb.statcan.ca/display/SPMA/Feature+x.x+-+Changes+to+the+Navigation+Bar

[2022-09-08 18:45] zhuelle commented on #448
@Jiandong-Guo this has been deployed to the new release right? Can you resolve this ticket following the proper process as we discussed in today's stand-up? Thanks!

[2022-09-08 19:43] Jiandong-Guo commented on #448
link to #281

[2022-09-12 18:01] #459 closed

[2022-09-12 18:05] Pharste opened #466 "Due Sept 21: Update Apple Promo Text"
Hi,

We would like to update the Apple promo text on September 21 to:

EN: 2021 Census data on Canada's First Nations people, Metis and Inuit; and Canada's housing portrait are now available!

FR: Des données du Recensement de 2021 sur les Premières Nations, Métis et Inuits au Canada; et la Portrait du logement au Canada sont maintenant accessibles!

Thanks,
Stephanie

[2022-09-12 18:05] Pharste commented on #466
@weglmar FYI

[2022-09-12 18:18] #271 closed

[2022-09-13 14:39] Jiandong-Guo commented on #433
@giftydeep ,Get latest and try test again

[2022-09-14 13:50] weglmar commented on #303
Closed.

[2022-09-14 13:50] #303 closed

[2022-09-14 18:28] levegab commented on #298
This issue has been resolved.
![Screenshot_20220914-152604_StatsCAN](https://user-images.githubusercontent.com/106617357/190233749-25147517-9552-4cda-9954-6b8cf5bb96af.jpg)

[2022-09-14 18:28] #298 closed

[2022-09-14 21:09] radwahm opened #467 "Changes to the Publication Page"
https://confluenceb.statcan.ca/display/SPMA/Feature+4.1+-+Changes+to+the+Publication+Page

[2022-09-14 21:19] radwahm opened #468 "Changes to the For You page"

[2022-09-14 21:20] radwahm commented on #468
Documentation Complete, sending to business for sign-off.

[2022-09-14 21:21] radwahm commented on #467
Documentation Complete, sending to business for sign-off.

[2022-09-14 21:22] radwahm opened #469 "Changes to the Saved Page"

[2022-09-14 21:23] radwahm commented on #469
Documentation Complete, sending to business for sign-off.

[2022-09-14 21:23] radwahm opened #470 "Search screen displays all subjects"

[2022-09-14 21:25] radwahm commented on #470
Documentation Complete, sending to business for sign-off.

[2022-09-16 14:13] weglmar commented on #281
Closing duplicate ticket

[2022-09-16 14:13] #281 closed

[2022-09-16 14:23] weglmar commented on #448
@Jiandong-Guo We believe the delay is fixed however we have noticed another issue.

Sometimes when an article is booked in the Booking Tool, the time it was booked for will pass and the Status remains as Booked (not Released).

We have to re-book the article in order for the status to change to Released and publish the article to the app.

I'm not sure if this is an issue with the app or with the

[2022-09-16 19:13] weglmar commented on #461
@radwahm Hi Ahmed, there is a scenario missing from this user story. Please assign back to me for sign off when completed. Thanks!

[2022-09-16 20:01] weglmar commented on #463
Signed off Sept 16, 2022

[2022-09-20 13:08] weglmar commented on #460
Signed off Sept 20/22

[2022-09-20 14:36] weglmar commented on #462
Signed off Sept 20/22.

[2022-09-20 14:39] radwahm commented on #462
Thank you! In the future can you please assign the tickets to Ellen after signing off.

[2022-09-20 17:25] weglmar commented on #465
Signed off Sept 20/22.

[2022-09-20 17:34] Rajat-Sen commented on #431
Validated!

[2022-09-20 17:34] #431 closed

[2022-09-20 19:29] Pharste opened #471 "App crash: Contact us button on publication screen (v. 2.0.3)"
When accessing the contact us button from the options menu (...) in the top right corner of the screen, the app crashes.

![( ) menu - contact us button](https://user-images.githubusercontent.com/89025880/191347558-34e07520-a780-4792-8255-6f1343992629.jpg)

[2022-09-21 13:51] Pharste commented on #466
validated, thank you @ForumG-SC :)

[2022-09-21 13:51] #466 closed

[2022-09-21 13:55] weglmar commented on #471
@zhuelle is it possible to estimate the amount of work required for this bug? Thank you

[2022-09-21 14:00] zhuelle commented on #471
@weglmar Forum has put a work estimate on this ticket. Thanks!

[2022-09-21 16:49] Jiandong-Guo commented on #338
@Rajat-Sen Please test it in production version

[2022-09-21 19:35] weglmar commented on #471
@ForumG-SC @zhuelle yes, please work on this ticket. thank you!

[2022-09-22 13:21] radwahm commented on #461
Added missing scenarios.

[2022-09-22 21:03] radwahm opened #472 "Changes to the search bar and how it operates"
https://confluenceb.statcan.ca/display/SPMA/Copy+of+Feature+6.2

[2022-09-22 21:06] radwahm opened #473 "Changes to notifications screen"
https://confluenceb.statcan.ca/pages/viewpage.action?pageId=978065097

[2022-09-22 21:08] radwahm opened #474 "Search results screen"
https://confluenceb.statcan.ca/display/SPMA/Feature+6.3

[2022-09-22 21:09] radwahm opened #475 "Changes to the Settings screen"
https://confluenceb.statcan.ca/display/SPMA/Feature+7.1+-+Changes+to+the+Settings+page

[2022-09-23 18:01] weglmar commented on #461
Signed off Sept 23/22.

[2022-09-27 13:19] Rajat-Sen commented on #436
Since, this is a whole separate feature by itself. I am closing this ticket

[2022-09-27 13:19] #436 closed

[2022-09-27 13:20] Rajat-Sen commented on #415
Since, the user research has been postponed. I am closing this ticket

[2022-09-27 13:20] #415 closed

[2022-09-27 13:21] Rajat-Sen commented on #449
The user flow diagram has been created and the opportunities have been identified.

[2022-09-27 13:21] #449 closed

[2022-09-27 15:20] zhuelle commented on #338
@Rajat-Sen Would you please attach the screen shot of why it is not working so that Jiandong and Gagandeep can see it. Thanks!

[2022-09-27 15:20] zhuelle commented on #338
@Rajat-Sen Would you please attach the screen shot of why it is not working so that Jiandong and Gagandeep can see it. Thanks!

[2022-09-27 15:22] Rajat-Sen commented on #338
https://user-images.githubusercontent.com/38566088/192567745-e0472e73-baf8-439c-bf75-8a1a23e874b9.MOV

[2022-09-27 15:32] Rajat-Sen commented on #338
The ticket is resolved to a certain extent but, not fully!

When the user presses the three dots; after that the focus should go to the menu items and after the menu options, the focus should go back to the three dots and labelled as "dismiss more options". And after dismissing the focus should go to the heading.

The focus should only go to heading if the "more options button" is not in active st

[2022-09-27 20:07] Jiandong-Guo commented on #465
@zhuelle @ForumG-SC @giftydeep: Please discuss how to implement the new enhancements:
1)This ticket is the architecture base, a small change will break the whole app
2)If break this ticket into many small pieces, the app will not make any sense for user to test, also If I merge small piece by small piece into master, It will confuse you because some pieces will make no sense with your code.
3)This

[2022-09-27 20:35] Jiandong-Guo commented on #338
From your video,
1) You may turn on voice over after go into publication screen,  Try to turn on voice over first.
   you can reference the screenShots on June 27 above
2)When the screen reader is at "Contact us"(the last menu item), if you continue to swipe, it will go article header("Who pays for a university education ", It won't go back the three dots again, because it is a screen reader, a pa

[2022-09-28 14:45] Rajat-Sen opened #476 "Adjust prototype for smaller devices"

[2022-09-28 15:05] weglmar commented on #439
@ForumG-SC thank you, Forum. I can confirm it's not working for those of us who have iOS devices. I see that the issue was reported by others back in November 2021 and there has still not been a fix. This means we can still be waiting a while? Are there any other solutions for iOS or the only option is to wait?

[2022-09-28 19:09] Pharste commented on #471
validated and closed

[2022-09-28 19:54] Pharste commented on #374
Hi,

Now when sharing the app via text, this is the text message that is sent:

![sharing-test_image1](https://user-images.githubusercontent.com/89025880/192870440-d45323b8-b869-4cbb-aa97-0f9baa4b2f55.jpg)

The first link is opening in web browser when sent to another person who has downloaded the app. The first link under 'test' is opening the publication in the app:

![sharing-test_image2](https

[2022-09-28 20:30] Jiandong-Guo commented on #369
still have space for tab
![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-09-28 at 16 26 53](https://user-images.githubusercontent.com/58485300/192882522-77df6d49-0a79-4160-8553-cfea1efff908.png)

[2022-09-28 20:39] giftydeep commented on #369
@Jiandong-Guo The reason i can't work on this ticket is because I use 12 mini which has a small screen and it looks fine on that. I have attached the screenshot as well.  I don't have any bigger device or MacBook to test this.

![Image](https://user-images.githubusercontent.com/8207028/192883960-7cb6a4dd-07fc-4a92-8058-4e696730a3e7.jpg)

[2022-09-29 13:22] levegab opened #477 "StatsCan Alpha 3.0.0 - App Crashing"
When opening Alpha on both IOS and Android, the app immediately crashes.

[2022-09-29 13:31] Jiandong-Guo commented on #374
@weglmar @payeisa, Thanks for your feedback.   What you see under "test"  are our test part(This test is only available under  production).
From your  feedback:
1)click stc://article/1876 will popup a dialog:   "Message" want to open "StatCan" ?   after you click open button, it will open our app and directly goes to Article screen with the article(id=1876) opened.   Please confirm it's correct.

[2022-09-29 13:35] Jiandong-Guo commented on #374
Please also tell me which phone you are using android or apple ?

[2022-09-29 14:13] Rajat-Sen opened #478 "No horizontal scrolling on Settings> Stay connected"
When the device is in Landscape mode and the user goes to this page. The user cannot scroll.

[2022-09-29 14:27] zhuelle commented on #374
@Pharste, please see Jiandong's message above and he is asking "Please also tell me which phone you are using android or apple ?"  Thanks!

[2022-09-29 15:15] Pharste commented on #374
hi,

When I sent the link to an Android user, they cannot click the first link after test:
![Image](https://user-images.githubusercontent.com/89025880/193070591-56ba0521-e69a-4fd3-99a6-e815d3875a49.jpg)

I will continue to test the other sharing methods today, as well as sharing with iPad.

I have an iPhone.

[2022-10-03 16:49] Rajat-Sen commented on #401
https://xd.adobe.com/view/e44f62bb-61f7-4195-bc45-a0276a0731c9-b11c/

[2022-10-03 17:55] Pharste commented on #471
Hi, It appears this is still happening on Android, but is fixed on iOS. I am trying to upload a video, but the file is too large.

@levegab can you please add the device/ software information?

[2022-10-03 17:57] Pharste commented on #471
[app crash video.zip](https://github.com/StatCan/StatcanPublicationUAT/files/9699801/app.crash.video.zip)

[2022-10-03 17:58] levegab commented on #471
My device is an Android Galaxy A11.

[2022-10-03 18:06] Pharste commented on #374
When sharing to Snapchat/Facebook/LinkedIn and Twitter with iPhone, the test link is not hyperlinked/selectable either:

![share snapchat](https://user-images.githubusercontent.com/89025880/193647504-9bfc4eaf-fdd2-4cfb-b6ee-daa034be64e7.jpg)

[2022-10-03 18:23] zhuelle commented on #477
@levegab is this app crashing issue happening on all testing devices? Also, is this issue only happening on Alpha but not Production? Thanks!

[2022-10-03 18:33] levegab commented on #477
Yes, only Alpha is crashing upon opening on all devices.

[2022-10-03 19:11] Pharste commented on #471
@levegab could you please create a new ticket for this, since you will be the one testing it once resolved? Thanks!

[2022-10-03 19:11] #471 closed

[2022-10-04 03:26] giftydeep commented on #401
@Rajat-Sen I am using the same color code for the links. But not sure why it looks different. Please see the attached image and lemme know if you want me to change it to original.

![Image](https://user-images.githubusercontent.com/8207028/193727900-09571aaa-43bc-4c09-8858-3c7c5576e253.jpg)

[2022-10-04 11:57] levegab opened #479 "App Crash: Help & FAQ on Android (3.0.0)"
When selecting "Help & FAQ" on Android, the app crashes immediately.

[app.crash.video.zip](https://github.com/StatCan/StatcanPublicationUAT/files/9706457/app.crash.video.zip)

[2022-10-04 16:42] Rajat-Sen commented on #402
#386, @giftydeep While you are working on this ticket, would you be able to look at this issue as well?

If the user selects only one subject in dark mode, the rest of the foreground colour stays white and it's bad UX.

[2022-10-04 19:20] Rajat-Sen commented on #338
@Jiandong-Guo, after thorough testing, it's not working properly. I repeated the steps you mentioned. It's skipping the menu options and going straight to the heading.

I am going to attach the video for reference. Thanks!

[2022-10-04 19:23] Rajat-Sen commented on #338
https://drive.google.com/file/d/1Lc2bx_XtBW7ZWb-YPrvAuF22QpppImv-/view?usp=drivesdk

[2022-10-04 19:24] Pharste commented on #414
all major issues appear to be resolved. Thank you!

[2022-10-04 19:24] #414 closed

[2022-10-04 19:30] Rajat-Sen commented on #433
It's working,

however, please make sure we are using the correct labels.

< - Back dimmed button (If greyed out)

If none of these buttons are greyed out, it should skip the word dimmed and only say back button and forward button. Presently, it's wrongfully labelled as RightArrowButton.

Thanks!

[2022-10-04 19:53] zhuelle commented on #479
@weglmar what is the priority of the ticket? Do you need someone to look into right away in this Sprint? Thanks!

[2022-10-05 13:10] weglmar commented on #439
Hi @ForumG-SC,

Here are my findings:

Device Type: iOS (iPhone X)
Device Screen Size: 5.8 inches
Device Screen Resolution: 2436 x 1125
Device’s OS version info: 15.5

Empty space on the notification card on the Notifications screen:
![image](https://user-images.githubusercontent.com/98898969/194067245-719d0a04-b3bf-48de-b22f-8f50b66e7853.png)

Publications header on Publications screen:

![image]

[2022-10-05 14:00] weglmar commented on #439
@ForumG-SC okay, that makes sense! thank you

Closing as per above, all functionality works.

[2022-10-05 14:07] weglmar commented on #439
@ForumG-SC thank you :)

[2022-10-05 14:07] #439 closed

[2022-10-05 14:35] radwahm opened #480 "Changes to the Settings Screen"
https://confluenceb.statcan.ca/display/SPMA/Feature+7.1+-+Changes+to+the+Settings+page

[2022-10-05 18:25] weglmar commented on #468
Signed off October 5, 2022.

[2022-10-06 14:16] zhuelle commented on #427
@Rajat-Sen Is this ticket for Landscape mode or just for bigger devices? Thanks

[2022-10-06 18:47] zhuelle commented on #460
the Translation should come from the business side. @weglmar , would you please help on this? Please let me know if you need  IT to provide you what need to be translated. Thanks!

[2022-10-07 15:14] weglmar commented on #460
@ForumG-SC can you confirm the only sentence that requires translation is: Read our Privacy notice. Tap "Agree & Continue" to accept the Terms of Use.

@Pharste once Forum confirms, could you please send the sentence to translation?

Thank you!

[2022-10-12 12:44] Pharste opened #481 "Due Oct 12: Update Apple promo text"
Hi,

We would like to update the Apple promo text on October 12 to:

EN: Coming soon: 2021 Census Data on citizenship & immigration; ethnocultural & religious composition; and mobility & migration.

FR: Les données du Recensement de 2021 sur la citoyenneté et l’immigration, la composition ethnoculturelle et religieuse, la mobilité et la migration seront publiées bientôt.

Thanks,
Stephanie

[2022-10-12 12:46] Pharste opened #482 "Due Oct 26: Update Apple promo text"
Hi,

We would like to update the Apple promo text on October 26 to:

EN: 2021 Census Data on citizenship & immigration; ethnocultural & religious composition; and mobility & migration are available!

FR: Les données du Recensement de 2021 sur la citoyenneté et l’immigration, la composition ethnoculturelle et religieuse, et la mobilité et la migration sont disponibles!

Thanks,
Stephanie

[2022-10-12 13:14] Pharste commented on #460
@ForumG-SC Here is the French:

Lisez notre Avis de confidentialité. Appuyez sur « Accepter et continuer » pour accepter les conditions d’utilisation .

[2022-10-12 13:23] Pharste opened #483 "Due Nov 16: Update Apple promo text"
Hi,

We would like to update the Apple promo text on November 16 to:

EN: Coming soon: 2021 Census Data on education; the changing dynamics of the labour force & how people get to work; & official minority language instruction.

FR: À venir : les données du Recensement de 2021 sur la scolarité, l’évolution du marché du travail et le navettage, et l’instruction dans la langue officielle minoritaire

[2022-10-12 13:24] Pharste opened #484 "Due Nov 30: Update Apple promo text"
Hi,

We would like to update the Apple promo text on November 30 to:

EN: Discover 2021 Census data on education; the changing dynamics of the labour force & how people get to work; & official minority language instruction.

FR: Découvrez les données du Recensement de 2021 sur la scolarité, l’évolution du marché du travail et le navettage, et l’instruction dans la langue officielle minoritaire.

T

[2022-10-12 15:23] Pharste commented on #481
Validated, thank you!

[2022-10-12 15:23] #481 closed

[2022-10-12 17:54] Jiandong-Guo commented on #465
Please test in the release 3.0.1

[2022-10-12 20:08] weglmar commented on #469
Signed off October 12, 2022.

[2022-10-13 14:34] levegab commented on #477
This issue has been resolved.

[2022-10-13 14:34] #477 closed

[2022-10-13 14:55] giftydeep commented on #433
@Rajat-Sen We are not setting any labels from ourself. Because Voiceover in iPhone is very smart so it pick up thing by itself and we have very less control in terms of Accessibility. Back and right arrow is also picked up by voiceover as these icons are called back and right arrow. However i will try to find the icon with name Forward so it can be picked up as forward. if not we can't really upda

[2022-10-14 19:05] weglmar opened #487 "StatsCAN (3.0.1): Go to publications button on Saved screen not functioning"
When on the Saved screen and no publications have been saved, the "Go to publications" button is not functional.
This is occurring on iPhone and Android devices.

Device Type: iOS (iPhone X)
Device Screen Size: 5.8 inches
Device Screen Resolution: 2436 x 1125
Device’s OS version info: 16.0

Device Type: Android Galaxy A11
Device Screen Size: 6.4 inches
Device Screen Resolution: 720x1560 pixels
Dev

[2022-10-14 19:06] weglmar commented on #487
I'm unsure if this is related to #465

[2022-10-14 19:12] weglmar opened #488 "StatsCAN (v3.0.1): Gesture to swipe backwards from the Publication screen"
The gesture to swipe backwards from the Publication screen to Publications screen no longer works. Previously, we were able to swipe right but now you have to click the back arrow in the top left corner of the screen.

This is occurring on iPhone and Android devices.

Device Type: iOS (iPhone X)
Device Screen Size: 5.8 inches
Device Screen Resolution: 2436 x 1125
Device’s OS version info: 16.0

De

[2022-10-14 19:13] levegab opened #489 "StatsCAN (3.0.1): App crashes when title of "Saved" screen is selected"
When on the "Saved" screen, the app will crash if you select "Saved items" at the top left of the screen.

Device Type: iOS (iPhone X)
Device Screen Size: 5.8 inches
Device Screen Resolution: 2436 x 1125
Device’s OS version info: 16.0

Device Type: Android Galaxy A11
Device Screen Size: 6.4 inches
Device Screen Resolution: 720x1560 pixels
Device’s OS version info: One UI 3.1

[2022-10-14 19:15] levegab opened #490 "StatsCAN (3.0.1): Unable to close web browser after clicking on a link from "Publication" Screen"
Once clicking the link from a "publication" screen, the user is unable to click on the x at the top left and return to the app.

Device Type: iOS (iPhone X)
Device Screen Size: 5.8 inches
Device Screen Resolution: 2436 x 1125
Device’s OS version info: 16.0

Device Type: Android Galaxy A11
Device Screen Size: 6.4 inches
Device Screen Resolution: 720x1560 pixels
Device’s OS version info: One UI 3.1

[2022-10-14 19:18] weglmar opened #491 "StatsCAN (v3.0.1): "see more" publications not loading (For you tab)"
When clicking 'See more', into a subject from the 'For you' tab (on the Publications screen), not all of the publications are loading right away. After scrolling up and down a few times, more publications load. It isn't clear there is more content loading.

This is occurring on iPhone and Android devices.

Device Type: iOS (iPhone X)
Device Screen Size: 5.8 inches
Device Screen Resolution: 2436 x

[2022-10-17 13:46] zhuelle commented on #338
@Rajat-Sen Please test it again and comment on your test result. Thanks!

[2022-10-17 14:47] Pharste commented on #482
@shaunnan FYI

[2022-10-17 16:21] Jiandong-Guo commented on #490
Fixed, please test in next release

[2022-10-17 16:23] Jiandong-Guo commented on #489
Fixed, please test in next release

[2022-10-17 16:24] Jiandong-Guo commented on #487
Fixed, please test in next release

[2022-10-17 16:37] Jiandong-Guo commented on #491
This is the way it's working(same as before the big tab structure change).  It's a lazy loading strategy, scrolling down to end will trigger to load more.
Not sure if it is required to change by the new enhancement, if true, will need to re-design it including the backend api,  currently, it's loaded by paging, one page is maximum 20 articles.

[2022-10-17 16:46] Jiandong-Guo commented on #488
We have no such function in previous version( tested on previous codebase), even if it has such function,  it's just a by-production for only some versions of OS.   In the new structure, the 2 screens are totally located in different tree nodes, no way to go back-forth via swipe

[2022-10-17 17:17] weglmar commented on #229
Tested, but back to top toast is displayed at all times. When the user scrolls down on the page, and then back up, the back to top toast should be displayed.

[2022-10-17 17:36] giftydeep commented on #229
This has already been discussed in daily standup and was first implemented with the given scenario on the confluence.

[2022-10-17 17:39] zhuelle commented on #229
@Rajat-Sen Have you got chance to review the prototype on the specification? Thanks!

[2022-10-17 21:24] radwahm commented on #229
Here is the scenario from confluence:

Scenario: Displaying Back to Top Toast
Given Any user
And the user is viewing the publications page
**And the user scrolls down
When the user scrolls back up**
Then the "Back to Top" toast is displayed

Please let me know if you have any questions as I am here to help.

[2022-10-18 10:49] Rajat-Sen commented on #433
@giftydeep, have you found correct labelled button?

[2022-10-18 11:12] Rajat-Sen commented on #401
Hi @giftydeep, are we able to assign this colour instead of the colour you proposed in the image?

[2022-10-18 11:14] #425 closed

[2022-10-18 11:16] Rajat-Sen opened #492 "Dark mode changes to the protoype"

[2022-10-18 13:30] giftydeep commented on #401
This works. Please test in the next release.

[2022-10-18 14:25] radwahm commented on #475
Documentation complete

[2022-10-18 16:52] Jiandong-Guo commented on #479
Please test in next release

[2022-10-19 13:09] Jiandong-Guo commented on #463
This ticket is included in #465. Please test it.

[2022-10-19 13:13] Jiandong-Guo commented on #369
@giftydeep Please use simulator, It has space in android emulator too.

[2022-10-19 17:23] zhuelle commented on #369
This is not a priority now.

[2022-10-19 17:24] zhuelle commented on #417
@giftydeep what's status of this ticket? Thanks!

[2022-10-19 17:26] zhuelle commented on #338
@weglmar , as discussed, please verify and let us know if the fix is acceptable. If not, what is the priority. Thanks!

[2022-10-21 11:42] levegab opened #494 "StatsCAN (3.0.2): Hyperlink colours difficult to see in dark mode"
When text is currently hyperlinked, the colour of the text is currently purple. This is difficult to see on dark mode, and is also typically the colour of hyperlinked text after clicking a link, which can be confusing for readers. We recommend changing it to a slightly lighter blue than was used in 3.0.1.

[2022-10-21 11:42] #494 closed

[2022-10-21 11:44] levegab commented on #402
I can see that the hyperlink colour has been updated to purple in 3.0.2. This is difficult to read on dark mode, and is typically the colour of hyperlink after you've clicked the link. We recommend a slightly light blue than the one used in 3.0.1.

[2022-10-21 11:50] levegab opened #495 "StatsCAN (3.0.2): Capitalize "s" in "sauver" (French Only)"
When in "Publications" --> "Pour vous", when the user selects "Choisir des sujets" and the list appears, at the bottom of the screen, the s in "sauver" should be capitalized. It should read "Sauver".

[2022-10-21 11:56] levegab opened #496 "StatsCAN (3.0.2): Remove added spacing on Publications/Home page"
There is currently a block of space between All/For you and the latest articles (see below). Please remove the block.
![home spacing](https://user-images.githubusercontent.com/106617357/197190468-acc5c067-5c02-4ebb-9a98-aafadd1566fb.jpg)

[2022-10-21 12:03] levegab opened #497 "StatsCAN (3.0.2): Remove blue box (iOS)/circle (android) and * where number on notification"
Where there is currently a blue box (ios)/circle (android) and * showing where number on notification bell, it should be a number. Currently experiencing this on the Publications screen [All and For You tabs]).

[2022-10-21 12:23] levegab commented on #497
![image](https://user-images.githubusercontent.com/106617357/197194563-d182664c-4ca3-439c-b34f-5f53c1ce580a.png)

[2022-10-21 12:24] levegab commented on #497
![Screenshot_20221021-092012_StatsCAN~2](https://user-images.githubusercontent.com/106617357/197195027-8830c109-11c4-4d01-96fd-797e06908362.jpg)

On Android

[2022-10-21 12:48] levegab commented on #490
This has been tested and resolved.

[2022-10-21 12:48] #490 closed

[2022-10-21 12:49] levegab commented on #489
This has been tested and resolved.

[2022-10-21 12:49] #489 closed

[2022-10-21 14:34] weglmar commented on #497
I'm unsure if this is a UX ticket or a bug that was caused from another feature being implemented. @zhuelle can you please confirm why the * is appearing, and on iOS devices this is appearing as a box?
Enhancements to the notification bell and screen are coming in #473.

[2022-10-21 14:48] levegab commented on #479
This issue has been resolved.

[2022-10-21 14:48] #479 closed

[2022-10-21 15:47] zhuelle commented on #497
@weglmar This ticket created by @levegab. We can clarify this ticket at our project meeting.

[2022-10-21 18:05] Pharste commented on #460
Hello, we do not see the new screen, on Android or Apple devices. The screen shows like this:

![Image](https://user-images.githubusercontent.com/89025880/197260769-6decebdb-7481-46d3-a649-97aeb013b772.png)

![Image](https://user-images.githubusercontent.com/89025880/197260787-97d2db61-099f-4cb9-9601-cf1fed4fbbb5.png)

[2022-10-21 18:43] weglmar opened #498 "StatsCAN 2.0.1: Landscape mode enabled on Android devices"
Landscape mode is enabled in Production (public version of the app), on v2.0.1.
Could this be investigated as we did not deploy landscape mode in 2.0.1, so we are unsure why it is appearing.
Thank you!

[2022-10-21 18:49] Pharste opened #499 "Search feature not functioning properly"
Hi,

We noticed that the search bar is not functioning properly. We tried searching several keywords from articles posted in the app, and not all results are coming up, and the results don't seem relevant.

This is happening on Android and Apple devices

For instance, when trying to search 'upcoming release' to find the upcoming release schedule posted last Friday, October 14, these are the only r

[2022-10-24 13:42] zhuelle commented on #374
Waiting for ORPS back-end change to be deployed to Production then implement the solution.

[2022-10-25 13:52] Rajat-Sen commented on #491
Hi @Jiandong-Guo, are you able to look into Multithreading, background threading or Parallel execution to reduce the UI lag?

Also, why are we limiting to 20 articles only?

[2022-10-25 14:06] Rajat-Sen commented on #488
Hi @Jiandong-Guo, I can validate that previously we could swipe back to the publications screen from publication screen. It stopped working after the bottom tab bar navigation changes. It's important to have that functionality. Thanks!

If you would like I can share video!

[2022-10-25 14:10] Rajat-Sen commented on #478
Validated!

[2022-10-25 14:10] #478 closed

[2022-10-25 14:26] Rajat-Sen commented on #465
@Jiandong-Guo, for the Tab bar, on the saved icon while using voice over it is still saying "For you" instead of "Saved". Would you please fix the label for the button? Thanks

[2022-10-25 14:59] zhuelle commented on #488
@Rajat-Sen please share a video. I am assigning this ticket back to @Jiandong-Guo.

[2022-10-25 15:20] Rajat-Sen commented on #488
https://user-images.githubusercontent.com/38566088/197814496-926688c0-b275-4de5-be47-b92ef77e8496.MOV

[2022-10-25 15:27] zhuelle commented on #497
@Rajat-Sen Please see #2 item in Jiandong's comment above.  This should be resolved in Enhancements to the notification bell and screen are coming in https://github.com/StatCan/StatcanPublicationUAT/issues/473. Thanks!

[2022-10-25 16:00] Rajat-Sen commented on #497
As per our Notifications requirements, we won't be exceeding more than 25 notifications and the it should still look fine. If needed we can reduce the size of text which shows the number of notifications.

Note to consider: We can add + sign if there are a lot of notifications. Let me know your thoughts!

[2022-10-25 16:57] zhuelle commented on #497
I like the idea of adding + sign if there are a lot of notification such as 25+. 25 is the biggest number that we display for total of notification. This should be ironed out during specification on #473.
CC: @weglmar and @radwahm

[2022-10-25 18:13] radwahm commented on #467
Updated the ticket to add a link to the documentation for 4.1.1. Which was signed off today by @weglmar

[2022-10-25 19:25] Pharste opened #500 "Publications not loading: StatsCAN Alpha (3.0.2)"
Hi,

New publications are not loading in the StatsCAN Alpha app. We believe this is due to the ORPS split-- between the app and Plus environments. I've attached an image of the message displaying.

Publications posted before the split are displaying properly.

![data not found](https://user-images.githubusercontent.com/89025880/197863407-e792bf88-fd15-43ff-bd45-1d8eb909faa8.png)

(Found on iPhone

[2022-10-25 20:08] spotzero commented on #500
@Pharste Which publication did you select that did this, or are they all doing this?

[2022-10-25 20:09] spotzero commented on #500
@Pharste nevermind, they're all doing it.  I see them problem.  It's in the backend.

[2022-10-26 15:28] giftydeep commented on #229
Please test in the next release.

[2022-10-26 15:38] giftydeep commented on #433
@Rajat-Sen the icons I found doesn't load properly. As this is not a priority ticket so either we can put this on Hold or close this ticket for now and I will look into it after the new features.

[2022-10-26 15:43] Rajat-Sen commented on #433
Okay, putting it on hold for now!

[2022-10-26 17:44] weglmar commented on #470
Signed off October 26

[2022-10-26 18:30] weglmar commented on #472
Signed off October 26 2022

[2022-10-26 18:34] weglmar commented on #474
Signed off October 26 2022

[2022-10-26 19:00] weglmar commented on #475
Signed off 26 Oct 2022 however it should be noted that the webpage information for the feedback form will need to be shared. The feedback form is under development with the Web team in Dissemination.

[2022-10-26 19:55] spotzero commented on #500
I've deployed a fix to alpha. It should work now.

[2022-10-27 13:22] zhuelle commented on #496
@weglmar should this ticket be included in current Sprint? Thanks!

[2022-10-27 13:23] zhuelle commented on #495
@weglmar Should this ticket be included in the current Sprint? This should be a simple fix.

[2022-10-27 13:38] zhuelle commented on #496
@levegab Does this issue happen on iOS or Android devices? Please provide following information when you create any bug ticket. Thanks!

Describe the issue in detail.
Specify StatsCAN App version installed on the device.
Device Type: IOS / Android.
Device Screen Size.
Device Screen Resolution.
Device’s OS version info.
Attach screen recording/screenshots .

https://confluenceb.statcan.ca/display/S

[2022-10-27 14:02] weglmar commented on #495
@zhuelle yes, please include in the current sprint. Thank you!

[2022-10-27 17:52] levegab commented on #496
@zhuelle this is currently happening on both iPhone and Android. Please find the device information below.

Device Type: iOS (iPhone X)
Device Screen Size: 5.8 inches
Device Screen Resolution: 2436 x 1125
Device’s OS version info: 16.0

Device Type: Android Galaxy A11
Device Screen Size: 6.4 inches
Device Screen Resolution: 720x1560 pixels
Device’s OS version info: One UI 3.1

[2022-10-27 20:47] #482 closed

[2022-10-31 12:50] Jiandong-Guo commented on #498
After doing some investigation, find that this is due to the app.json is shared among all the builds in google play store. so if the Landscape feature is turned on in app.json configuration, it will affect not only internal testing but also the open test, close test and prod.
Recommend:  Don't turn this feature on in app.json until all related functions are coding and testing well in a separated b

[2022-10-31 13:47] zhuelle commented on #496
@Jiandong-Guo Please provide work effort estimates to fix this bug. Thanks!

[2022-11-01 13:23] zhuelle commented on #448
@weglmar what is the status of this ticket? should we close it? Thanks!

[2022-11-01 13:25] zhuelle commented on #424
@Rajat-Sen should this ticket be assigned to you since Dilpreet is not on the project anymore? Thanks!

[2022-11-01 13:28] zhuelle commented on #229
@weglmar This ticket was created by Isabelle and since she is away at the moment, I am assigning it to you for testing in the next release. Thanks!

[2022-11-01 13:31] zhuelle commented on #401
@Rajat-Sen What is the status of this ticket? Need any modification? Thanks!

[2022-11-01 13:35] zhuelle commented on #402
@Rajat-Sen are you planning to provide the proper color code? Thanks!

[2022-11-01 14:05] zhuelle commented on #498
@weglmar Jiandong has identified the cause of why the external users can see the Landscape mode even the version has not been released to production. This is because the landscape mode has been activated in the configuration file which has been applied to all environments without choice. To solve the issue, the dev team will disable the landscape mode in the configuration and deploy it in next rel

[2022-11-01 15:17] radwahm commented on #497
This issue is ironed out in https://confluenceb.statcan.ca/display/SPMA/Feature+3.1+Changes+to+the+Notifications+screen
Github ticket https://github.com/StatCan/StatcanPublicationUAT/issues/473.

Please ensure we do not begin development on this ticket before 473 is signed off.

[2022-11-01 15:19] radwahm commented on #473
Signed off on Nov 1st, 2022

[2022-11-01 15:20] radwahm commented on #480
Signed off on October 26th, 2022.

[2022-11-01 15:23] radwahm commented on #441
Signed off on October 25th, 2022.

[2022-11-01 18:43] weglmar commented on #448
Created a ticket in ORPS Jira to investigate whether the issue is in ORPS or app.

[2022-11-01 18:54] zhuelle commented on #448
@weglmar what is the ticket number in ORPS? Can you please link it here? Thanks!

[2022-11-02 13:32] Rajat-Sen commented on #460
@zhuelle, there were no changes to UX Design after sign off.

[2022-11-02 13:34] Rajat-Sen commented on #401
Yes, it will need some modification and I will provide Hex codes for colours. Also, might need to work closely with the developers for colours accuracy.

[2022-11-02 13:36] Rajat-Sen opened #501 "Accessibility Label for Saved"
The Tab bar, on the saved icon while using voice over it is still saying "For you" instead of "Saved".

[2022-11-02 13:37] Rajat-Sen commented on #465
@zhuelle, Created a new ticket and assigned to you.

[2022-11-02 13:37] #465 closed

[2022-11-02 13:38] Rajat-Sen commented on #402
Yes, I will provide the hex code colours for both the modes.

[2022-11-02 15:25] radwahm commented on #467
@zhuelle Please break this ticket into two separate tickets based on the two features on confluence. I am not sure what the procedure is with sizing the two separate tickets.

[2022-11-03 14:00] giftydeep commented on #461
FYI the lazy loading screen is not implemented yet. So, after selecting the subject and clicking next instead of the lazy loading screen it will directly jump to For You screen. Once the lazy loading screen will be implemented, I will update that later.

[2022-11-04 18:40] giftydeep commented on #461
@weglmar Can you provide me French translations for "Next" and "What Interests you?"

[2022-11-04 19:24] weglmar commented on #461
@giftydeep

What interests you? > Qu’est-ce qui vous intéresse?
Next > Suivant

[2022-11-07 14:02] Pharste commented on #470
Translations required:
Search StatsCAN publications > Rechercher dans les publications de StatsCAN
No results found. > Aucun résultat trouvé.

[2022-11-07 14:04] Pharste commented on #467
Required translations:
New list > Nouvelle liste
Name > Titre
Related publications > Publications connexes
Show more in [subject] > Afficher plus de [sujet]
Publication saved > Publication enregistrée.
Add to list > Ajouter à la liste
Back to top > Haut de la page
Save to > Enregistrer sous

[2022-11-07 14:10] Pharste commented on #469
Required translations:
Your saved publications will appear here. > Les publications enregistrées apparaîtront ici.
Create a new list > Créer une nouvelle liste
Edit list name > Modifier le titre de la liste
Create > Créer
Update > Mettre à jour
Select all > Tout sélectionner
Unsave > Retirer
Deselect all > Tout désélectionner
Done > Terminer
Unsave publications > Retirer les publications enregistr

[2022-11-07 16:34] Pharste commented on #473
Please find the short form French months for the notifications screen here: https://icn-rci.statcan.gc.ca/10/10k/10k2/10k2_005-fra.html#40

**Note that the first letter of the months should not be in upper case in French.

Additional translations have been submitted to Editorial services and will be added here when complete.

[2022-11-07 19:00] spotzero commented on #499
Looks like the content text of app articles wasn't being included in the index, so wouldn't show up in search. I've adjusted this setting.
If it's still a problem, we should deploy a Solr instance in the backend to calculate better relevance.

[2022-11-08 13:52] Jiandong-Guo commented on #497
Please test in next releasae

[2022-11-08 13:53] Jiandong-Guo commented on #488
Please test in next release

[2022-11-08 14:02] Jiandong-Guo commented on #496
Please test in next release

[2022-11-08 19:56] giftydeep commented on #495
Please test in the next release.

[2022-11-09 20:44] Pharste commented on #473
Here are the required translations:
Select notifications > Sélectionner les notifications
Mark all as read > Tout marquer comme lu
Manage notifications > Gérer les notifications
Select all > Tout sélectionner
Delete > Supprimer
You have no notifications! > Vous n’avez pas de notifications.
Note: Notifications are automatically deleted after 30 days. > Note : Les notifications sont automatiquement

[2022-11-10 19:56] levegab commented on #495
This issue has been resolved.

[2022-11-10 19:56] #495 closed

[2022-11-10 19:57] levegab commented on #496
This is still happening on iPhone, but has been resolved on Android.

[2022-11-10 20:02] levegab commented on #497
Ticket closed by mistake.

[2022-11-10 20:07] weglmar commented on #461
Tested on iPhone X, XR and Galaxy A11.

What subjects interest you? screen is appearing every time the app is opened. The screen should only be appearing once during onboarding.

The Next button is not responsive upon first click (need to click it a lot of times to trigger a response).

Subjects in French are not listed in Alphabetical order (they are mirroring the English, and same thing happens

[2022-11-10 20:17] weglmar commented on #460
Tested on iPhone X, XR and Galaxy A11.

The Agree and Continue Screen is appearing everytime the app is opened; screen should only be appearing once during onboarding.

The French screen is missing a period at the end of the sentence (after Conditions d'utilisations.

![image](https://user-images.githubusercontent.com/98898969/201196909-7d71d316-3da5-4b2f-8ff1-1bb266895818.png)

[2022-11-10 20:28] weglmar opened #502 "StatsCAN v3.0.3: Subjects not listed in alphabetical order in French - Select subjects button on For You tab and Manage subjects screen"
When the app is opened for the first time, selecting subjects is skipped and then you access the For You tab and click Select Subjects, the subjects are not appearing in alphabetical order in French (the three subjects that begin with É are listed at the bottom - "Économie et societe numeriques, Éducation, formation et apprentissage, Énergie" all appear at the end of the list, under "voyages et to

[2022-11-10 20:36] weglmar opened #503 "StatsCAN v3.0.3: Navigation bar disappearing"
Navigation bar disappears. This is happening sporadically, and I cannot recreate it. It first happened when I was swiping back from a publication to the For you tab and clicking the bar arrow.

Happened when testing on iPhone XR too after clicking into Publication from the Publications screen, opening top menu to share/ contact us and then swiping back to Publications screen.

Tested on iPhone and

[2022-11-16 19:37] Pharste commented on #500
new articles posted to Alpha are working as expected. Thank you!

[2022-11-16 19:37] #500 closed

[2022-11-16 19:42] Pharste commented on #499
In the latest release, the search appears to be pulling more from the article content, but it doesn't seem like it's pulling from the title of each article, and doesn't seem consistent... Please see images attached as example from today.

![EX 1 search](https://user-images.githubusercontent.com/89025880/202278258-cfb03e36-a3a0-44c5-96a0-d78707d4f834.PNG)
![EX 2 search](https://user-images.githubus

[2022-11-16 20:07] Pharste commented on #100
Closing this and moving to ORPS enhancements, to ensure all publications created must have a placeholder image.

[2022-11-16 20:07] #100 closed

[2022-11-16 20:09] weglmar commented on #229
Functions as expected.

[2022-11-16 20:09] #229 closed

[2022-11-16 20:19] weglmar commented on #488
Resolved

[2022-11-16 20:19] #488 closed

[2022-11-16 20:22] weglmar commented on #491
Currently on hold

[2022-11-28 13:40] zhuelle commented on #467
@weglmar As discussed, due to its extra-large implementation effort of this feature, we agreed that we put it on hold and lower its priority to later development.

[2022-11-28 14:43] zhuelle commented on #484
Hi @giftydeep, since you are going to perform the Nov 30th deployment, I assigned this ticket to you. Please let me know if you have any questions. Thanks!

[2022-11-30 13:30] levegab opened #504 "(Google Play Store) Changing web intent on Android"
The following message appeared in the Google Play Store:
![image](https://user-images.githubusercontent.com/106617357/204808778-58f49dff-e3bf-4f7b-a8f4-15ae800a1873.png)

[2022-11-30 13:49] zhuelle commented on #504
@ForumG-SC Would you please provide work effort estimates on this issue? Thanks!

[2022-11-30 15:19] giftydeep commented on #484
Updated

[2022-11-30 15:55] ForumG-SC opened #505 "Modification to Publication Screen Level 2 and Saved Screen"
Partial requirements for https://github.com/StatCan/StatcanPublicationUAT/issues/467
a. The heart icon on the Publication screen and on the Saved screen (on the image card) must be changed to a bookmark.
b. The message when saving an article must be changed (EN and FR). The message should read: Publication saved.

[2022-11-30 16:01] zhuelle commented on #467
Partial requirements for #467 [Changes to the Publication Page · Issue #467 · StatCan/StatcanPublicationUAT (github.com)](https://github.com/StatCan/StatcanPublicationUAT/issues/467)
a.	The heart icon on the Publication screen and on the Saved screen (on the image card) must be changed to a bookmark.
b.	The message when saving an article must be changed (EN and FR). The message should read:  Publi

[2022-11-30 18:16] Pharste commented on #484
Validated & closed.

[2022-11-30 18:16] #484 closed